<div id="avatar-circle">
<%= render layout: example, locals: { heading: "Circle", section: "Avatar" } do %>

<%= render preview "gray" do %>
<div class="flex items-center gap-8">
  <%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-8 rounded-full object-cover" %>
  <%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-12 rounded-full object-cover" %>
  <%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-16 rounded-full object-cover" %>
  <%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-20 rounded-full object-cover" %>
  <%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-24 rounded-full object-cover" %>
</div>

<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<!-- size-8 -->
<%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-8 rounded-full object-cover" %>

<!-- size-12-->
<%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-12 rounded-full object-cover" %>

<!-- size-16-->
<%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-16 rounded-full object-cover" %>

<!-- size-20-->
<%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-20 rounded-full object-cover" %>

<!-- size-24-->
<%= image_tag demo_avatar_url(id: 50, variant: "women"), class: "size-24 rounded-full object-cover" %>
<% end %>

<% content_for :erb, flush: true do %>
<!-- User avatar using ActiveStorage and ImageProcessing -->
<%%= rui :avatar, src: current_user.avatar.variant(resize_to_limit: [64, 64]), size: :md, rounded: :full %>

<!-- # demo avatar. Pass 1..100 for id and "men" or "women" for variant -->
<%%= rui :avatar, demo: { id: 7, variant: "women" }, size: :md, rounded: :full %>
<% end %>

<% content_for :bash, flush: true do %>

<% end %>

<%= render_snippet active_tab: :erb %>
<% end %>
<% end %>
</div>
