<div class="lg:pb-6 pb-3 border-b border-slate-200 dark:border-slate-700 lg:flex items-center mb-6">
  <div class="flex-1 lg:mb-0 mb-3">
    <%= heading text: "Configuration", id: "configuration", tag: "h1", class: "lg:text-4xl text-2xl text-slate-800 font-bold dark:text-white mb-2" %>
    <div class="prose dark:!prose-invert max-w-full">
      <p>Configure your Rails UI install. Choose theme and optional pages, then go build 🚀.</p>
    </div>
  </div>

  <div class="prose dark:prose-invert">
    <%= link_to "Read documentation", "https://railsui.com/docs", target: :_blank %>
  </div>
</div>

<%= form_with model: @config, url: configuration_path, class: "h-full block relative", data: {
  action: "submit->configuration#saveChanges",
  controller: "configuration"
  } do |f| %>
  <div class="space-y-8">
    <%= render "railsui/admin/fields/config_overview" %>
    <%= render "railsui/admin/fields/app_preferences", f: f %>
    <%= render "railsui/admin/fields/theme", f: f %>
    <% if Railsui.config.theme.present? %>
      <%= render "railsui/admin/fields/pages", f: f %>
    <% end %>

    <%= render "railsui/admin/fields/commit", f: f %>
  </div>
  <%= render "railsui/admin/loader" %>
<% end %>
