<div class="my-24">
  <%= render "railsui/shared/sticky_subhead", title: "Modals", subtitle: "Centered dual action" %>

<div class="bg-black/80 dark:bg-zinc-900 flex items-center jusity-center p-10 rounded-t-lg dark:border-t dark:border-x dark:border-zinc-600">
  <div class="rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-800 dark:text-zinc-200">
    <div class="flex justify-center">
      <div class="w-12 h-12 rounded-full bg-emerald-50 dark:bg-emerald-600/10 flex items-center justify-center mb-3">
        <%= icon "rocket-launch", classes: "w-6 h-6 text-emerald-600 dark:text-emerald-500 flex-shrink-0" %>
      </div>
    </div>
    <h3 id="dual-action-modal-title" class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Time to launch</h3>

    <div class="prose prose-zinc dark:prose-invert my-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!</p>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
      <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->modal#close">Cancel</button>
      <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
    </div>
  </div>
</div>

<div data-controller="modal">
  <div class="flex justify-center p-6 border-x border-b border-zinc-200 rounded-b-lg relative dark:bg-zinc-700 dark:border-zinc-600 dark:border-t">
    <div class="absolute top-4 left-4">
      <%= doc_label :demo %>
    </div>
    <button type="button" data-action="click->modal#open:prevent" class="btn btn-primary" tabindex="0">Open centered dual action modal</button>
  </div>

  <div
    aria-labelledby="dual-action-modal-title"
    aria-modal="true"
    data-action="keyup@window->modal#closeWithEsc"
    data-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-800 dark:text-zinc-200">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 dark:bg-emerald-600/10 flex items-center justify-center mb-3">
            <%= icon "rocket-launch", classes: "w-6 h-6 text-emerald-600 dark:text-emerald-500 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="dual-action-modal-title" class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Time to launch</h3>

        <div class="prose prose-zinc dark:prose-invert my-4">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->modal#close">Cancel</button>
          <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :html, flush: true do %>
<div data-controller="modal">
  <button type="button" data-action="click->modal#open:prevent" class="btn btn-primary" tabindex="0">Open centered dual action modal</button>

  <div
    aria-labelledby="dual-action-modal-title"
    aria-modal="true"
    data-modal-target="container"
    data-action="keyup@window->modal#closeWithEsc"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-700 dark:text-zinc-200">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%%= icon "rocket-launch", classes: "w-6 h-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="dual-action-modal-title" class="font-semibold text-xl text-zinc-800 dark:text-zinc-100">Time to launch</h3>

        <p class="mt-2 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->modal#close">Cancel</button>
          <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div data-controller="modal">
  <%%= button_tag "Open centered dual action modal", "#", class: "btn btn-primary", data: { action: "click->modal#open:prevent" } %>

  <div
    aria-labelledby="dual-action-modal-title"
    aria-modal="true"
    data-modal-target="container"
    data-action="keyup@window->modal#closeWithEsc"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-700 dark:text-zinc-200">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%%= icon "rocket-launch", classes: "w-6 h-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="dual-action-modal-title" class="font-semibold text-xl text-zinc-800 dark:text-zinc-100">Time to launch</h3>

        <p class="mt-2 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <%%= button_tag "Cancel", type: "button", class: "btn btn-white w-full sm:order-1 order-2", data: { action: "click->modal#close" } %>
          <%%= button_tag "Proceed to launch", type: "button", class: "btn btn-primary w-full sm:order-2 order-1", data: { action: "click->modal#close" } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<% content_for :haml, flush: true do %>
%div{"data-controller" => "modal"}
  %button.btn.btn-primary{"data-action" => "click->modal#open:prevent", tabindex: "0", type: "button"} Open centered dual action modal
  .hidden.fixed.inset-0.z-50.overflow-y-auto{"aria-labelledby" => "dual-action-modal-title", "aria-modal" => "true", "data-action" => "keyup@window->modal#closeWithEsc", "data-modal-target" => "container", role: "dialog"}
    .h-screen.w-full.relative.flex.items-center.justify-center
      .hidden.rounded-xl.mx-auto.shadow-xl.max-w-lg.bg-white.m-1.p-8.origin-bottom.text-center.dark:bg-zinc-700.dark:text-zinc-200{"data-modal-target" => "content", "data-transition-enter-active" => "transition ease-out duration-300", "data-transition-enter-from" => "transform opacity-0 scale-95", "data-transition-enter-to" => "transform opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-300", "data-transition-leave-from" => "transform opacity-100 scale-100", "data-transition-leave-to" => "transform opacity-0 scale-95"}
        .flex.justify-center
          .w-12.h-12.rounded-full.bg-emerald-50.flex.items-center.justify-center.mb-3
            = icon "rocket-launch", classes: "w-6 h-6 text-emerald-600 flex-shrink-0" %>
        %h3#dual-action-modal-title.font-semibold.text-xl.text-zinc-800.dark:text-zinc-100 Time to launch
        %p.mt-2.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!
        .grid.grid-cols-1.sm:grid-cols-2.gap-3
          %button.btn.btn-white.w-full.sm:order-1.order-2{"data-action" => "click->modal#close"} Cancel
          %button.btn.btn-primary.w-full.sm:order-2.order-1 Proceed to launch
<% end %>

<% content_for :js, flush: true do %>
<%= render "railsui/themes/#{Railsui.config.theme.downcase}/components/modals/modal_js" %>
<% end %>

<%= render_snippet(js_filename: "modal_controller.js") %>
</div>
