<div class="lg:fixed relative top-0 left-0 w-full backdrop-blur flex-none transition-colors duration-500 lg:border-b lg:border-slate-900/10 dark:border-slate-50/[0.06] bg-white/80 supports-backdrop-blur:bg-white/80 dark:bg-transparent z-50">
  <div class="py-2 px-4 border-b border-slate-900/10 lg:px-4 lg:border-0 lg:dark:border-b lg:dark:border-slate-400/20 lg:mx-0 flex items-center relative">
    <%= link_to  main_app.root_path, class: "flex flex-shrink-0 lg:border bg-white w-8 h-8 items-center justify-center rounded-lg hover:shadow-sm group hover:shadow-indigo focus:ring-4 focus:ring-indigo-300 focus:ring-opacity-50 rounded-lg dark:bg-slate-800 dark:border-slate-600 hover:dark:border-slate-400", data: {tippy_content: "Back to main app", controller: "tooltip"} do %>
      <div class="flex items-center  text-sm">
        <%= render_svg "chevron-left", styles: "stroke-current text-slate-500 group-hover:text-indigo-400 lg:w-4 h-7 lg:h-4 w-7" %>
      </div>
    <% end %>
    <div class="lg:ml-8 flex justify-between items-center w-full flex-wrap">
      <div class="flex-1 flex-wrap justify-center lg:justify-start flex lg:space-x-6 items-center">
        <div class="lg:w-auto w-full flex-1 lg:flex-grow-0">
          <%= render "railsui/shared/logo" %>
        </div>
        <% if Railsui.config.css_framework.present? %>
          <div class="lg:block hidden">
            <%= render "railsui/shared/theme_label" %>
          </div>
        <% end %>
        <button role="toggle nav" class="lg:hidden block p-1 focus:ring-indigo-300 focus:ring-4 rounded-lg focus:ring-opacity-50 dark:focus:ring-slate-600" data-action="click->toggle#toggle">
          <%= render_svg "menu", styles: "stroke-current w-8 h-8 text-slate-600" %>
        </button>
      </div>
      <div class="lg:block hidden" data-toggle-target="toggleable">
        <%= render "railsui/shared/top_nav" %>
      </div>
    </div>
  </div>
</div>
