<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application", "application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "railsui/application", "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= yield :head %>

  </head>

  <body class="font-normal leading-normal text-slate-800 lg:h-screen relative selection:bg-indigo-500/25 <%= content_for?(:bg_theme).present? ? yield(:bg_theme) : "bg-white dark:bg-slate-900 dark:text-slate-100" %>" data-controller="toggle scroll">
    <%= render "railsui/shared/flash" %>
    <%= render "layouts/railsui/masthead" %>

    <div class="lg:flex" x-data="{navOpen: <%= design_system_navgiation_state %>}">
      <button
        class="lg:top-[80px] fixed z-50 px-3 py-2 rounded-r-lg shadow-sm left-2 top-2 bg-white border border-slate-200 hover:bg-slate-50 group lg:block hidden dark:bg-slate-700 dark:border-slate-600 hover:dark:bg-slate-800"
        :class="navOpen ? 'lg:left-[299px]' : 'lg:left-0'"
        @click.prevent="navOpen = ! navOpen">
        <span x-show.important="navOpen">
          <%= render_svg "eye-close", styles: "w-4 h-4 stroke-current text-slate-400 dark:text-slate-200 group-hover:text-indigo-600 group-hover:dark:text-indigo-400" %>
        </span>
        <span x-show.important="!navOpen">
          <%= render_svg "eye-open", styles: "w-4 h-4 stroke-current text-slate-400 dark:text-slate-200 group-hover:text-indigo-600 group-hover:dark:text-indigo-400" %>
        </span>
      </button>
      <div id="system-nav" class="lg:flex hidden flex-col lg:w-[300px] w-full border-r  bg-white h-full lg:fixed top-[73px] left-0 overflow-y-auto z-50 dark:bg-slate-900 dark:border-slate-700"
       x-show.important="navOpen"
       data-toggle-target="toggleable"
       data-scroll-target="scrollitem"
       >
        <div class="flex-1">
          <div class="lg:py-0 py-2 lg:border-b-0 border-b border-slate-200 dark:border-slate-700 lg:hidden lg:px-0 px-3 lg:shadow-none shadow-sm">
            <%= render "railsui/shared/top_nav" %>
          </div>
          <% if Railsui.config.css_framework.present? %>
            <%= render "railsui/themes/#{Railsui.config.css_framework}/#{Railsui.config.theme}/nav" %>
          <% else %>
            <%= render "railsui/shared/nav" %>
          <% end %>
        </div>
      </div>
      <div
      :class="navOpen ? 'lg:left-[150px]' : ''"
      class="lg:top-[72px]  flex-1 mx-auto lg:py-16 px-4 py-8 relative <%= content_for?(:fullwidth).present? ? "w-full" : "max-w-4xl" %> ">

        <%= yield %>
      </div>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
