<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= javascript_include_tag "//unpkg.com/alpinejs", defer: true %>
    <%= javascript_include_tag "railsui/application" %>
    <%= stylesheet_link_tag "railsui/application" %>

    <%= yield :head %>
  </head>
  <%= render "railsui/shared/flash" %>

  <body class="h-full overflow-x-hidden font-sans font-normal leading-normal dark:bg-neutral-900 dark:text-white bg-white text-neutral-800">
    <div class="grid lg:grid-cols-12 lg:h-full">
      <div class="col-span-3 p-6 dark:border-gray-800 lg:border-r">
        <%= link_to  main_app.root_path, class: "block mb-6" do %>
          <div class="flex items-center">
            <%= render_svg "chevron-left", styles: "stroke-current text-neutral-500 w-4 h-4 mr-2" %>
            <span>Back to main app</span>
          </div>
        <% end %>

        <%= render "railsui/shared/nav" %>
      </div>

      <div class="col-span-9 lg:px-10 lg:py-16 px-4">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
