<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application", "application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "railsui/application", "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="font-normal leading-normal text-slate-800 lg:h-screen h-full w-full relative selection:bg-indigo-500/25 <%= content_for?(:bg_theme).present? ? yield(:bg_theme) : "bg-white dark:bg-slate-900 dark:text-slate-100" %>" data-controller="toggle scroll smooth">
    <%= render "railsui/shared/flash" %>
    <%= render "layouts/railsui/masthead" %>

    <div class="max-w-8xl mx-auto sm:px-0 px-4">
      <div id="system-nav" class="sm:top-[3.6rem] left-0 right-auto w-full sm:w-[300px] border-r border-slate-200 hidden lg:block fixed z-40 inset-0 pb-10 overflow-y-auto bg-white dark:bg-slate-900 dark:border-slate-700"
        data-toggle-target="toggleable"
        data-scroll-target="scrollitem">
        <div class="flex-1">
          <div class="lg:py-0 py-2 lg:border-b-0 border-b border-slate-200 dark:border-slate-700 lg:hidden lg:px-0 px-3 lg:shadow-none shadow-sm">
            <%= render "railsui/shared/top_nav" %>
          </div>
          <% if Railsui.config.css_framework.present? %>
            <%= render "railsui/themes/#{Railsui.config.css_framework}/#{Railsui.config.theme}/nav" %>
          <% else %>
            <%= render "railsui/shared/nav" %>
          <% end %>
        </div>
      </div>
      <div class="lg:pl-[19.5rem]">
        <main class="max-w-5xl mr-auto relative z-20 lg:pt-24 lg:pb-10 py-6 sm:px-8 px-4">
          <%= yield %>
        </main>
        <%= render "railsui/shared/footer" %>
      </div>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
