<!DOCTYPE html>
<html class="h-full antialiased scrollbar-track-transparent scrollbar-thumb-neutral-200/60 dark:scrollbar-track-neutral-800 dark:scrollbar-thumb-neutral-600 selection:text-neutral-900 selection:bg-neutral-400/80">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "application", "railsui/railsui" %>

    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <% if Railsui.config.theme.present? %>
      <%= render "railsui/themes/#{Railsui.config.theme}/fonts" %>
    <% end %>

    <%= yield :head %>
  </head>

  <body class="relative antialiased font-normal leading-normal railsui text-neutral-800 lg:h-screen selection:bg-neutral-300/20 selection:text-neutral-900 dark:selection:text-white dark:bg-neutral-900 dark:text-neutral-50" data-controller="railsui-toggle railsui-scroll railsui-smooth railsui-scroll-spy" data-railsui-scroll-spy-active-class-value="text-neutral-900 hover:text-neutral-950 dark:hover:text-neutral-200 dark:text-white dark:hover:text-white truncate"
      data-railsui-scroll-spy-inactive-class-value="text-neutral-500 hover:text-neutral-900 dark:text-neutral-400 dark:hover:text-white truncate">
    <%= render "railsui/shared/flash_messages" %>
    <div class="flex md:flex-row flex-col items-start justify-between md:h-[calc(100vh-2px)] overflow-x-clip relative">

      <%= image_tag "blur.png", class: "absolute -top-[500px] -right-[500px] opacity-[0.02] dark:opacity-5 z-0" %>

      <%= render "railsui/shared/global_nav" %>

      <div class="relative z-30 w-full h-full md:flex-1 md:pt-2 md:w-auto md:overflow-y-auto scrollbar" data-railsui-scroll-spy-target="scrollContainer">
        <div class="flex flex-col p-4 mx-auto max-w-7xl h-full md:px-10 md:pt-10 md:pb-0">
          <div class="flex-1">

            <div class="grid-cols-12 gap-4 items-start md:grid">
              <div class="pb-10 <%= content_for?(:component_nav).present? ? "col-span-9" : "col-span-12" %>">
                <%= yield %>
              </div>
              <% if content_for?(:component_nav).present? %>
                <div class="sticky top-2 col-span-3">
                  <%= yield :component_nav %>
                </div>
              <% end %>
            </div>
          </div>

          <%= render "railsui/shared/scroll_to_top" unless content_for?(:noscroll).present? %>
        </div>
      </div>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
