<!DOCTYPE html>
<html class="h-full antialiased selection:text-neutral-900 selection:bg-neutral-400/80">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "railsui/application" %>
    <%= stylesheet_link_tag "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">

    <% if Railsui.config.theme.present? %>
      <%= render "railsui/themes/#{Railsui.config.theme}/fonts" %>
    <% end %>

    <%= yield :head %>
  </head>

  <body class="railsui" data-controller="railsui-toggle railsui-scroll railsui-smooth railsui-scroll-spy" data-railsui-scroll-spy-active-class-value="rui:text-neutral-900 rui:hover:text-neutral-950 rui:dark:hover:text-neutral-200 rui:dark:text-white rui:dark:hover:text-white rui:truncate"
      data-railsui-scroll-spy-inactive-class-value="rui:text-neutral-500 rui:hover:text-neutral-900 rui:dark:text-neutral-400 rui:dark:hover:text-white rui:truncate">
    <%= render "railsui/shared/flash_messages" %>
    <div class="rui:flex rui:flex-wrap rui:flex-row rui:items-start rui:justify-between md:rui:h-[calc(100vh-2px)] rui:overflow-x-clip rui:relative">

      <%= image_tag "blur.png", class: "rui:absolute -rui:top-[500px] -rui:right-[500px] rui:opacity-[0.02] dark:rui:opacity-5 rui:z-0" %>

      <%= render "railsui/shared/global_nav" %>

      <div class="rui:md:flex-1 rui:h-full rui:md:pt-2 rui:md:w-auto rui:w-full rui:md:overflow-y-auto rui:scrollbar rui:relative rui:z-30" data-railsui-scroll-spy-target="scrollContainer">
        <div class="rui:max-w-7xl rui:mx-auto rui:md:px-10 md:rui:pt-10 md:rui:pb-0 rui:p-4 rui:flex-col rui:flex rui:h-full">
          <div class="rui:flex-1">

            <div class="rui:md:grid rui:grid-cols-12 rui:items-start rui:gap-4">
              <div class="rui:pb-10 <%= content_for?(:component_nav).present? ? "rui:col-span-9" : "rui:col-span-12" %>">
                <%= yield %>
              </div>
              <% if content_for?(:component_nav).present? %>
                <div class="rui:col-span-3 rui:sticky rui:top-2">
                  <%= yield :component_nav %>
                </div>
              <% end %>
            </div>
          </div>

          <%= render "railsui/shared/scroll_to_top" unless content_for?(:noscroll).present? %>
        </div>
      </div>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
