<!DOCTYPE html>
<html class="tw-h-full tw-antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application", "application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "railsui/application", "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= yield :head %>

  </head>

  <body class="tw-font-normal tw-leading-normal tw-text-slate-800 lg:tw-h-screen tw-relative <%= content_for?(:bg_theme).present? ? yield(:bg_theme) : "tw-bg-white dark:tw-bg-slate-900 dark:tw-text-slate-100" %>" data-controller="toggle scroll">
    <%= render "railsui/shared/flash" %>
    <%= render "layouts/railsui/masthead" %>

    <div class="lg:tw-flex" x-data="{navOpen: <%= design_system_navgiation_state %>}">
      <button
        class="lg:tw-top-[80px] tw-fixed tw-z-50 tw-px-3 tw-py-2 tw-rounded-r-lg tw-shadow-sm tw-left-2 tw-top-2 tw-bg-white tw-border tw-border-slate-200 hover:tw-bg-slate-50 tw-group lg:tw-block tw-hidden dark:tw-bg-slate-700 dark:tw-border-slate-600 hover:dark:tw-bg-slate-800"
        :class="navOpen ? 'lg:tw-left-[299px]' : 'lg:tw-left-0'"
        @click.prevent="navOpen = ! navOpen">
        <span x-show="navOpen">
          <%= render_svg "eye-close", styles: "tw-w-4 tw-h-4 tw-stroke-current tw-text-slate-400 dark:tw-text-slate-200 group-hover:tw-text-indigo-600 group-hover:dark:tw-text-indigo-400" %>
        </span>
        <span x-show="!navOpen">
          <%= render_svg "eye-open", styles: "tw-w-4 tw-h-4 tw-stroke-current tw-text-slate-400 dark:tw-text-slate-200 group-hover:tw-text-indigo-600 group-hover:dark:tw-text-indigo-400" %>
        </span>
      </button>
      <div id="system-nav" class="lg:tw-flex tw-hidden tw-flex-col lg:tw-w-[300px] w-full tw-border-r  tw-bg-white tw-h-full lg:tw-fixed tw-top-[73px] tw-left-0 tw-overflow-y-auto tw-z-50 dark:tw-bg-slate-900 dark:tw-border-slate-700"
       x-show="navOpen"
       data-toggle-target="toggleable"
       data-scroll-target="scrollitem"
       >
        <div class="tw-flex-1">
          <div class="lg:tw-py-0 tw-py-2 lg:tw-border-b-0 tw-border-b tw-border-slate-200 dark:tw-border-slate-700 lg:tw-hidden lg:tw-px-0 tw-px-3 lg:tw-shadow-none tw-shadow-sm">
            <%= render "railsui/shared/top_nav" %>
          </div>
          <% if Railsui.config.css_framework.present? %>
            <%= render "railsui/themes/#{Railsui.config.css_framework}/#{Railsui.config.theme}/nav" %>
          <% else %>
            <%= render "railsui/shared/nav" %>
          <% end %>
        </div>
      </div>
      <div
      :class="navOpen ? 'lg:tw-left-[150px]' : ''"
      class="lg:tw-top-[72px]  tw-flex-1 tw-mx-auto lg:tw-py-16 tw-px-4 tw-py-8 tw-relative <%= content_for?(:fullwidth).present? ? "tw-w-full" : "tw-max-w-4xl" %> ">

        <%= yield %>
      </div>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
