<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "railsui/application" %>
    <%= stylesheet_link_tag "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= custom_colors_css %>

    <%= yield :head %>
  </head>

  <body class="railsui font-normal leading-normal text-neutral-800 lg:h-screen relative selection:bg-neutral-800/80 selection:text-neutral-100 antialiased dark:bg-neutral-900 dark:text-neutral-50" data-controller="railsui-toggle railsui-scroll railsui-smooth railsui-scroll-spy">
    <div class="flex md:flex-row flex-col items-start justify-between md:h-[calc(100vh-2px)] overflow-x-clip relative">

      <%= image_tag "blur.png", class: "absolute -top-[500px] -right-[500px] opacity-[0.09] dark:opacity-20 z-0" %>

      <%= render "railsui/shared/global_nav" %>

      <div class="md:flex-1 h-full md:pt-2 md:w-auto w-full md:overflow-y-auto scrollbar relative z-30">
        <div class="max-w-4xl mx-auto md:px-10 md:pb-10 md:pt-6 p-4">
          <%= render "railsui/shared/flash_messages" %>
          <%= yield %>
          <%= render "railsui/shared/scroll_to_top" unless content_for?(:noscroll).present? %>
        </div>
      </div>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
