<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "railsui/application" %>
    <%= stylesheet_link_tag "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:opsz,wght@14..32,100..900&display=swap" rel="stylesheet">


    <%= yield :head %>
  </head>

  <body class="railsui" data-controller="railsui-toggle railsui-scroll railsui-smooth railsui-scroll-spy">
    <div class="rui:flex rui:flex-wrap rui:items-start rui:justify-between rui:relative rui:overflow-clip rui:h-screen">

      <%= image_tag "blur.png", class: "rui:absolute rui:-top-[500px] rui:-right-[500px] rui:opacity-[0.09] rui:dark:opacity-20 z-0" %>

      <%= render "railsui/shared/global_nav" %>

      <div class="rui:md:flex-1 rui:h-full rui:md:pt-2  rui:md:overflow-y-auto rui:relative rui:z-30">
        <div class="rui:max-w-4xl rui:mx-auto rui:md:px-10 rui:md:pb-10 rui:md:pt-6 rui:p-4">
          <%= render "railsui/shared/flash_messages" %>
          <%= yield %>
          <%= render "railsui/shared/scroll_to_top" unless content_for?(:noscroll).present? %>
        </div>
      </div>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
