<!DOCTYPE html>
<html class="tw-h-full tw-antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application", "application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>
    <%= stylesheet_link_tag "railsui/application", "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="tw-font-normal tw-leading-normal tw-text-slate-800 lg:tw-h-screen tw-relative <%= content_for?(:bg_theme).present? ? yield(:bg_theme) : "tw-bg-white dark:tw-bg-slate-900 dark:tw-text-white" %>" data-controller="toggle scroll">
    <%= render "railsui/shared/flash" %>
    <%= render "layouts/railsui/masthead" %>

    <div class="tw-mx-auto lg:tw-py-32 tw-px-4 tw-py-8 tw-max-w-6xl">
      <%= yield %>
    </div>

    <%= yield :demo_scripts %>
  </body>
</html>
