<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>

    <%= stylesheet_link_tag "railsui/application" %>
    <%= stylesheet_link_tag "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="railsui font-normal leading-normal text-neutral-800 lg:h-screen relative selection:bg-neutral-50/50 antialiased dark:text-neutral-50 dark:bg-neutral-900">
    <%= render "railsui/shared/flash_messages" %>

    <div class="mx-auto lg:py-4 px-4 py-8 max-w-6xl">
      <%= yield %>
    </div>

    <%= render "railsui/shared/scroll_to_top" unless content_for?(:noscroll).present? %>
    <%= yield :demo_scripts %>
  </body>
</html>
