<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>
    <%= stylesheet_link_tag "railsui/application", "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="railsui rui:overflow-x-hidden rui:relative rui:antialiased rui:font-normal rui:leading-normal rui:bg-white rui:text-netural-800 rui:lg:h-screen rui:selection:bg-neutral-100 rui:dark:bg-neutral-900 rui:dark:text-neutral-50" data-controller="railsui-toggle railsui-scroll railsui-smooth">

    <%= image_tag "blur.png", class: "rui:absolute rui:-top-[500px] rui:-right-[500px] rui:opacity-[0.05] rui:dark:opacity-20 rui:z-10 rui:md:block rui:hidden" %>

    <%= render "railsui/shared/flash_messages" %>

    <div class="rui:container rui:px-4 rui:mx-auto rui:md:px-6">
      <%= yield %>

      <div class="rui:pt-6">
        <%= render "railsui/shared/footer" %>
      </div>

    </div>

    <%= render "railsui/shared/scroll_to_top" unless content_for?(:noscroll).present? %>
  </body>
</html>
