<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title ) %>
        <%= yield :title %>
      <% else %>
        Rails UI
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag "favicon.svg" %>
    <%= javascript_include_tag "railsui/application" %>
    <%= javascript_include_tag "https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js", defer: true %>
    <%= stylesheet_link_tag "railsui/application", "application" %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="railsui font-normal leading-normal text-netural-800 lg:h-screen relative selection:bg-neutral-100 antialiased bg-white dark:bg-neutral-900 dark:text-neutral-50 overflow-x-hidden" data-controller="railsui-toggle railsui-scroll railsui-smooth">

    <%= image_tag "blur.png", class: "absolute -top-[500px] -right-[500px] opacity-[0.05] dark:opacity-20 z-10 md:block hidden" %>

    <%= render "railsui/shared/flash_messages" %>

    <div class="container mx-auto px-4 md:px-6">
      <%= yield %>

      <div class="pt-6">
        <%= render "railsui/shared/footer" %>
      </div>

    </div>

    <%= render "railsui/shared/scroll_to_top" unless content_for?(:noscroll).present? %>
  </body>
</html>
