<div class="container mx-auto px-4">
  <div class="lg:flex items-center flex-wrap sm:space-x-2">
    <div class="lg:block flex items-center justify-between">
      <%= link_to root_path, class: "w-12 h-12 flex justify-center" do %>
        <!-- Hound logo -->
        <svg
          class="fill-current w-5 h-auto text-indigo-600 hover:text-indigo-700 duration-300 transition ease-in-out
          dark:hover:text-indigo-500"
          width="39" height="50" viewBox="0 0 39 50" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M8.55264 0C3.82915 0 0 3.82915 0 8.55265V26.1842C0 30.9077 3.82915 34.7368 8.55264 34.7368C13.2761 34.7368 17.1053 30.9077 17.1053 26.1842V8.55264C17.1053 3.82915 13.2761 0 8.55264 0ZM29.6053 0C24.8818 0 21.0527 3.82915 21.0527 8.55264V41.4474C21.0527 46.1709 24.8818 50 29.6053 50C34.3288 50 38.1579 46.1708 38.1579 41.4474V8.55264C38.1579 3.82915 34.3288 0 29.6053 0Z" />
        </svg>
        <span class="sr-only"><%= Railsui.config.application_name %></span>
      <% end %>

      <button
        id="dropdowns-nav-toggle"
        data-action="click->nav#toggle"
        class="lg:hidden block p-1 rounded focus:ring-4 focus:ring-slate-100 active:bg-white group focus:bg-white/50 dark:focus:bg-slate-800 dark:focus:ring-slate-700">
        <div role="none" data-nav-target="menuBars">
          <%= icon "bars-3-center-left", classes: "w-8 h-8 text-slate-600 group-focus:text-indigo-600
          dark:text-slate-400 dark:group-focus:text-slate-100" %>
        </div>
        <div role="none" data-nav-target="menuCross" class="hidden">
          <%= icon "x-mark", classes: "w-8 h-8 text-slate-600 group-focus:text-indigo-600 dark:text-slate-400 dark:group-focus:text-slate-100" %>
        </div>
      </button>

    </div>
    <div
      id="dropdowns-navigation"
      class="lg:flex-1 lg:block hidden lg:static absolute top-12 left-0 w-full bg-white dark:bg-slate-900 lg:bg-transparent transform origin-top px-4 pb-4 lg:p-0  rounded-b lg:shadow-none shadow-xl z-40 text-base"
      data-nav-target="nav"
      data-transition-enter-active="transition ease-out duration-200"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-200"
      data-transition-leave-to="opacity-0 scale-95"
    >
      <div
        class="lg:flex-1 lg:flex flex-wrap items-center justify-between lg:text-left text-center">
        <nav role="Primary navigation">
          <ul
            class="lg:flex block items-center flex-wrap space-x-0 lg:space-x-3 lg:text-base  lg:leading-normal leading-relaxed space-y-1 lg:space-y-0 lg:mb-0 mb-2">
            <%= render "shared/nav_links" %>
          </ul>
        </nav>

        <nav role="Secondary navigation">
          <ul class="lg:flex flex-wrap items-center lg:justify-center justify-between lg:space-x-4">
            <% if user_signed_in? %>
              <li class="lg:mt-0 mt-4 flex flex-col items-center relative" data-controller="dropdown">
                <button class="group" type="button" data-action="click->dropdown#toggle click@window->dropdown#hide">
                  <%= image_tag "https://source.unsplash.com/random/600x400/?dog", class: "rounded-full lg:w-10 w-12 lg:h-10 h-12 object-cover border-2 border-transparent group-hover:border-indigo-600 transition duration-300 ease-in-out" %>
                </button>

                <div class="hidden transition transform origin-to-right lg:absolute right-0 top-10 bg-white rounded-lg lg:shadow-xl lg:shadow-slate-900/10 lg:border border-slate-200 lg:min-w-[200px] z-50 py-1 divide-y lg:w-auto w-full lg:text-sm dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 text-base font-medium text-slate-600 dark:text-slate-200 dark:divide-gray-600" data-dropdown-target="menu"
              data-transition-enter-from="opacity-0 scale-95"
              data-transition-enter-to="opacity-100 scale-100"
              data-transition-leave-from="opacity-100 scale-100"
              data-transition-leave-to="opacity-0 scale-95">
                  <div role="none">
                    <%= link_to "Edit account", edit_user_registration_path, class: "px-4 py-2 lg:py-[.4rem] hover:text-indigo-600 dark:hover:text-indigo-400 block", data: { turbo: false } %>
                  </div>
                  <div role="none">
                    <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "px-4 py-2 lg:py-[.4rem] hover:text-indigo-600 dark:hover:text-indigo-400 block w-full lg:!text-left !text-center", data: { turbo: false  } %>
                  </div>
                </div>
              </li>
            <% else %>
              <li class="w-full lg:w-auto lg:mb-0 col-span-2 mb-2">
                <%= link_to "Sign in", new_user_session_path, class: "btn btn-transparent lg:w-auto w-full", data: { turbo: false } %>
              </li>
              <li class="lg:pl-3 w-full lg:w-auto col-span-2">
                <%= link_to "Sign up", new_user_registration_path, class: "btn btn-dark lg:w-auto w-full", data: { turbo: false } %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
