<div class="lg:text-sm relative text-base sm:pb-24 pb-4">
  <ul class="rui-primary-nav leading-loose">
    <li>
      <%= link_to systems_content_path, class:"font-semibold px-4 pb-2 pt-4 border-slate-300 bg-gradient-to-b from-slate-50 to-transparent dark:from-slate-800 dark:to-slate-900 flex items-center space-x-2 w-full mr-px hover:text-indigo-800 dark:hover:text-indigo-300 group"  do %>
        <div class="bg-white dark:bg-slate-800 dark:border-slate-700 w-7 h-7 rounded-lg shadow-sm flex items-center justify-center border border-slate-200 group-hover:shadow-indigo-200 dark:group-hover:shadow-none group-hover:border-slate-600">
          <%= render_svg "content", styles: "stroke-current w-5 h-5 text-indigo-500 group-hover:text-indigo-700 dark:group-hover:text-indigo-300" %>
        </div>
        <span>Content</span>
      <% end %>
      <ul class="lg:space-y-1 space-y-3 pb-3 ml-7 border-l border-slate-100 dark:border-slate-700">
        <li>
          <%= nav_link_to "Typography", systems_content_typography_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Tables", systems_content_tables_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Icons", systems_icons_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Images", systems_content_images_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Marketing", systems_marketing_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Scaffolds", systems_scaffolds_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to systems_forms_path, class:"font-semibold px-4 pb-2 pt-4 border-slate-300 bg-gradient-to-b from-slate-50 to-transparent dark:from-slate-800 dark:to-slate-900 flex items-center space-x-2 w-full mr-px hover:text-indigo-800 dark:hover:text-indigo-300 group border-t dark:border-slate-700"  do %>
        <div class="bg-white dark:bg-slate-800 dark:border-slate-700 w-7 h-7 rounded-lg shadow-sm flex items-center justify-center border border-slate-200 group-hover:shadow-indigo-200 dark:group-hover:shadow-none group-hover:border-slate-600">
          <%= render_svg "forms", styles: "stroke-current w-5 h-5 text-teal-500" %>
        </div>
        <span>Forms</span>
      <% end %>

      <ul class="lg:space-y-1 space-y-3 pb-3 ml-7 border-l border-slate-100 dark:border-slate-700">
        <li>
          <%= nav_link_to "Inputs", systems_forms_inputs_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Input Groups", systems_forms_input_groups_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Selects", systems_forms_selects_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Checkboxes & Radios", systems_forms_checkboxes_and_radios_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Layout", systems_forms_layout_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Validation", systems_forms_validation_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "ActionText", systems_forms_action_text_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to systems_components_path, class:"font-semibold px-4 pb-2 pt-4 border-slate-300 bg-gradient-to-b from-slate-50 to-transparent dark:from-slate-800 dark:to-slate-900 flex items-center space-x-2 w-full mr-px hover:text-indigo-800 dark:hover:text-indigo-300 group border-t dark:border-slate-700"  do %>
        <div class="bg-white dark:bg-slate-800 dark:border-slate-700 w-7 h-7 rounded-lg shadow-sm flex items-center justify-center border border-slate-200 group-hover:shadow-indigo-200 dark:group-hover:shadow-none group-hover:border-slate-600">
          <%= render_svg "components", styles: "stroke-current w-5 h-5 text-rose-500" %>
        </div>
        <span>Components</span>
      <% end %>

      <ul class="lg:space-y-1 space-y-3 pb-3 ml-7 border-l border-slate-100 dark:border-slate-700">
        <li>
          <%= nav_link_to "Accordions", systems_components_accordions_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Alerts", systems_components_alerts_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Badges", systems_components_badges_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Breadcrumbs", systems_components_breadcrumbs_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Buttons", systems_components_buttons_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Cards",systems_components_cards_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Dropdowns", systems_components_dropdowns_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Flash", systems_components_flash_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Modals", systems_components_modals_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Navigation", systems_components_navigation_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Pagination", systems_components_pagination_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Popovers", systems_components_popovers_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Tabs", systems_components_tabs_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Toasts", systems_components_toasts_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Tooltips", systems_components_tooltips_path, class:"block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
      </ul>
    </li>

    <li>
      <%= link_to systems_mailers_path, class:"font-semibold px-4 pb-2 pt-4 border-slate-300 bg-gradient-to-b from-slate-50 to-transparent dark:from-slate-800 dark:to-slate-900 flex items-center space-x-2 w-full mr-px hover:text-indigo-800 dark:hover:text-indigo-300 group border-t dark:border-slate-700"  do %>
        <div class="bg-white dark:bg-slate-800 dark:border-slate-700 w-7 h-7 rounded-lg shadow-sm flex items-center justify-center border border-slate-200 group-hover:shadow-indigo-200 dark:group-hover:shadow-none group-hover:border-slate-600">
          <%= render_svg "mail", styles: "stroke-current w-5 h-5 text-blue-500" %>
        </div>
        <span>Mailers</span>
      <% end %>

      <ul class="lg:space-y-1 space-y-3 pb-3 ml-7 border-l border-slate-100 dark:border-slate-700">
        <li>
          <%= nav_link_to "Layout", systems_mailers_layout_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Minimal", systems_mailers_minimal_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Promotion", systems_mailers_promotion_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Transactional", systems_mailers_transactional_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Devise", systems_mailers_devise_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
      </ul>
    </li>

    <li>
      <%= link_to systems_authentication_overview_path, class:"font-semibold px-4 pb-2 pt-4 border-slate-300 bg-gradient-to-b from-slate-50 to-transparent dark:from-slate-800 dark:to-slate-900 flex items-center space-x-2 w-full mr-px hover:text-indigo-800 dark:hover:text-indigo-300 group border-t dark:border-slate-700"  do %>
        <div class="bg-white dark:bg-slate-800 dark:border-slate-700 w-7 h-7 rounded-lg shadow-sm flex items-center justify-center border border-slate-200 group-hover:shadow-indigo-200 dark:group-hover:shadow-none group-hover:border-slate-600">
          <%= render_svg "components", styles: "stroke-current w-5 h-5 text-amber-500" %>
        </div>
        <span>Authentication</span>
      <% end %>

      <ul class="lg:space-y-1 space-y-3 pb-3 ml-7 border-l border-slate-100 dark:border-slate-700">
        <li>
          <%= nav_link_to "Sign up", systems_authentication_signup_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Sign in", systems_authentication_signin_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Reset password", systems_authentication_reset_password_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Change password", systems_authentication_change_password_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Confirmation", systems_authentication_confirmation_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Edit account", systems_authentication_edit_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Unlock", systems_authentication_unlocks_path, class: "block px-6 py-1 transition-colors duration-200 ease-linear relative border-r border-transparent" %>
        </li>
      </ul>
    </li>
  </ul>
</div>
