<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      <%= Railsui.config.application_name || "Rails UI" %>
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <%= railsui_head %>
  </head>

  <body class="<%= railsui_body_classes %>" data-controller="dark-mode search pricing">
    <%= render "rui/shared/flash" %>
    <% if content_for(:header).present? %>
      <%= yield :header %>
    <% else %>
      <%= render "rui/shared/nav" %>
    <% end %>
    <%= yield %>
    <%= railsui_launcher if Rails.env.development? %>
    <%= render "rui/shared/search_overlay" %>
  </body>
</html>
