<div id="typography-fonts">
  <div class="my-6">
    <%= render "railsui/shared/code_example_heading", title: "Typography", subtitle: "Fonts" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-16">
    <div>
      <h4 class="font-medium mb-3">Headings</h3>
      <p>
        <%= link_to "https://fonts.google.com/specimen/Inter", target: :_blank, class: "rui-btn rui-btn-white !inline-flex items-center gap-2" do %>
          <span>Inter</span>
          <%= icon "arrow-up-right", class:  "size-3" %>
        <% end %>
      </p>
    </div>
    <div>
      <h4 class="font-medium mb-3">Body</h4>
      <p>
        <%= link_to "https://fonts.google.com/specimen/Inter", target: :_blank, class: "rui-btn rui-btn-white !inline-flex items-center gap-2" do %>
          <span>Inter</span>
          <%= icon "arrow-up-right", class:  "size-3" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
