<div id="typography-headings">
<%= render layout: example, locals: { heading: "Headings", section: "Typography" } do %>

  <div class="mb-4">
    <h1 class="text-5xl font-extrabold text-slate-900 dark:text-slate-100 -tracking-[0.03em]">A quick brown fox jumps over <br />
      the lazy dog.</h1>
    <%= help_text do %>
      <p>h1 &mdash; 48px (3rem)</p>
    <% end %>
  </div>

  <div class="mb-4">
    <h2 class="text-4xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h2>
    <%= help_text do %>
      <p>h2 &mdash; 36px (2.25rem) / 40px (2.5rem)</p>
    <% end %>
  </div>

  <div class="mb-4">
    <h3 class="text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h3>
    <%= help_text do %>
      <p>h3 &mdash; 30px (1.875rem) / 36px (2.25rem)</p>
    <% end %>
  </div>

  <div class="mb-4">
    <h4 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h4>
    <%= help_text do %>
      <p>h4 &mdash; 24px (1.5rem) / 32px (2rem)</p>
    <% end %>
  </div>

  <div class="mb-4">
    <h5 class="text-xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h5>
    <%= help_text do %>
      <p>h5 &mdash; 20px (1.25rem) / 28px (1.75)</p>
    <% end %>
  </div>

  <div>
    <h6 class="text-lg font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h6>
    <%= help_text do %>
      <p>h6 &mdash; 16px (1rem) / 19.2px (1.5rem)</p>
    <% end %>
  </div>


<% content_for :example do %>
<%# snippet content :html %>
<% content_for :html, flush: true do %>
<h1 class="text-5xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h1>
<h2 class="text-4xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h2>
<h3 class="text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h3>
<h4 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h4>
<h5 class="text-xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h5>
<h6 class="text-lg font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h6>
<% end %>
<%# snippet content :erb %>
  <% content_for :erb, flush: true do %>
<%%= content_tag :h1, "A quick brown fox jumps over the lazy dog.", class: "text-5xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight" %>
<%%= content_tag :h2, "A quick brown fox jumps over the lazy dog.", class: "text-4xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight" %>
<%%= content_tag :h3, "A quick brown fox jumps over the lazy dog.", class: "text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight" %>
<%%= content_tag :h4, "A quick brown fox jumps over the lazy dog.", class: "text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight" %>
<%%= content_tag :h5, "A quick brown fox jumps over the lazy dog.", class: "text-xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight" %>
<%%= content_tag :h6, "A quick brown fox jumps over the lazy dog.", class: "text-lg font-extrabold text-slate-900 dark:text-slate-100 tracking-tight" %>
  <% end %>
<%# snippet content :haml %>
  <% content_for :haml, flush: true do %>
%h1.text-5xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h2.text-4xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h3.text-3xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h4.text-2xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h5.text-xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h6.text-lg.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight A quick brown fox jumps over the lazy dog.
        <% end %>
    <%= render_snippet %>
  <% end %>
<% end %>
</div>
