
<div class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-6 tw-my-8">
  <%= link_to systems_authentication_signin_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200" do %>
    <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-base">Sign in</h3>
  <% end %>

  <%= link_to systems_authentication_signup_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200" do %>
    <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-base">Sign up</h3>
  <% end %>

   <%= link_to systems_authentication_edit_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200" do %>
    <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-base">Edit Account</h3>
  <% end %>

  <%= link_to systems_authentication_reset_password_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200" do %>
    <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-base">Reset password</h3>
  <% end %>

  <%= link_to systems_authentication_confirmation_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200" do %>
    <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-base">Confirmation</h3>
  <% end %>

  <%= link_to systems_authentication_unlocks_path, class: "tw-border tw-border-slate-200 tw-rounded-lg tw-shadow-sm tw-p-5 tw-group hover:tw-shadow-lg tw-shadow-indigo-50 hover:tw-shadow-indigo-50 tw-transition tw-ease-in-out tw-duration-200" do %>
    <h3 class="tw-font-bold tw-text-transparent tw-bg-clip-text tw-bg-gradient-to-tl tw-from-salmon-500 tw-to-indigo-600 tw-block tw-mb-1 tw-text-base">Unlocks</h3>
  <% end %>
</div>

<div class="tw-my-10">
  <div class="tw-prose tw-mb-6 tw-max-w-full">
    <%= heading tag: "h1", id: "rui-auth-design-patterns", text: "Rails UI authentication design patterns." %>
  </div>
  <div class="tw-prose  tw-mb-6 tw-bg-indigo-50 tw-p-4 tw-rounded-lg tw-max-w-full tw-text-indigo-900">

   <p>Rails UI authentication templates map to the <a href="https://rubygems.org/gems/devise/" target="_blank" class="tw-font-medium tw-text-indigo-600">Devise</a> gem's <a href="https://github.com/heartcombo/devise/tree/main/app/views/devise" target="_blank" class="tw-font-medium tw-text-indigo-600">view templates</a> at this time. There may be future support for different authentication libraries or a solution built from scratch in the future.</p>
  </div>

  <div class="tw-prose tw-mb-6">
    <p>Before diving into your Rails UI configuration there are some patterns in use for more efficient front-end development. Most of those patterns involve abstractions where it makes sense and others are a bit more opinionated.</p>

    <%= heading id: "rui-global-auth-partial", text: "Use a global authentication layout partial" %>

    <p>Rails UI uses a reusable partial with a block pattern designed to repeat the existing authentication design. Because Devise ships with many different authentication strategies and forms it makes sense to extract repeatable code away.</p>
  </div>


<% content_for :erb, flush: true do %>
<!-- render auth_layout partial with block (app/views/devise/_auth_layout.html.erb) -->
<%%= render "auth_layout" do %>

  <!-- Choose what content to feature  -->
  <%% content_for :featured_block do %>

  <%% end %>

  <!-- other code -->
<%% end %>
<% end %>

<%= render_snippet(active_tab: "erb") %>

  <div class="tw-prose">
    <p>Each corresponding view makes use of the layout partial as a means to keep code DRY. From there you can simply swap out forms and featured content relative to the Rails UI theme you choose.</p>
  </div>

<% content_for :html, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
<!-- app/views/devise/_auth_layout.html.erb -->
<div class="row g-0 vh-100 align-items-center">
  <div class="col-lg-5 col-md-12 vh-100 d-flex align-items-center px-3 px-lg-6">
    <div class="rui-auth-form-wrap">
      <%%= link_to root_path do %>
        <%%= image_tag "logo.svg", alt: "logo" %>
      <%% end %>

      <%%= yield %>

      <div class="mt-4">
        <%%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="rui-auth-feature-bg col-md-7 vh-100 d-flex align-items-center justify-content-center">
    <%%= yield :featured_block %>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/_auth_layout.html.erb
.row.g-0.vh-100.align-items-center
  .col-lg-5.col-md-12.vh-100.d-flex.align-items-center.px-3.px-lg-6
    .rui-auth-form-wrap
      = link_to root_path do
        = image_tag "logo.svg" alt: "logo"
      = yield
      = render "devise/shared/links"
  .rui-auth-feature-bg.col-md-7.vh-100.d-flex.align-items-center.justify-content-center
    = yield :featured_block
<% end %>

<%= render_snippet(active_tab: "erb") %>

  <div class="tw-prose tw-mb-6">
    <%= heading text: "Modified devise links partial", id: "rui-devise-links-partial", tag: "h2" %>
    <p>Rails UI modifies the default <%= code_inline("app/views/devise/shared/_links.html.erb") %> partial supplied by the Devise gem for a more improved user experience. During the configuration phase of installing Rails UI the modified partial is copied over to your app so you needn't worry about updating this manually.</p>
    <p>If you were to ever reinstall devise or use their supplied view template generator this would be overwritten.</p>
  </div>

<% content_for :erb, flush: true do %>
<!-- app/views/devise/shared/_links -->
<%%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p class="mb-3">
    <%%= link_to "Forgot password?", new_password_path(resource_name), class: "text-muted text-decoration-underline" %>
  </p>
<%% end %>

<%%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <p class="mb-3">
    <%%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-muted text-decoration-underline" %>
  </p>
<%% end %>

<%%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p class="mb-3">
    <%%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "text-muted text-decoration-underline" %>
  </p>
<%% end %>

<%%- if devise_mapping.omniauthable? %>
  <%%- resource_class.omniauth_providers.each do |provider| %>
    <p class="mb-3">
      <%%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %>
    </p>
  <%% end %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  %p.mb-3
    = link_to "Forgot password?", new_password_path(resource_name), class: "text-muted text-decoration-underline"

- if devise_mapping.confirmable? &&  controller_name != 'confirmations'
  %p.mb-3
    = link_to Didn't receive confirmation instructions?, new_confirmation_path(resource_name), class: text-muted text-decoration-underline

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  %p.mb-3
    = link_to Didn't receive unlock instructions?, new_unlock_path(resource_name), class: text-muted text-decoration-underline

- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    %p.mb-3
      = link_to Sign in with "#{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post
<% end %>

<%= render_snippet(active_tab: "erb") %>

<div class="tw-prose tw-mb-6">
  <p>Future versions of Rails UI will support themed and branded Omniauth provider links/buttons.</p>
</div>

<div class="tw-prose tw-mb-6">
  <%= heading text: "Devise error_messages partial", id: "rui-devise-error-messages-partial", tag: "h2" %>

  <p>By default Rails UI copies over a pre-styled error partial made to work out of the box and save you time during development.</p>
</div>

<div class="rui tw-border tw-rounded-lg tw-my-6 tw-pb-10 tw-relative">
  <p class="tw-absolute tw-top-4 tw-right-4 tw-bg-black tw-bg-opacity-50 tw-text-white tw-text-[11px] tw-font-semibold tw-uppercase tw-px-1 tw-py-px tw-rounded">Example</p>
  <div class="rui-auth-form-wrap tw-select-none">
    <h1 class="display-6 mb-4 mt-6">Reset password</h1>
    <p class="text-muted mb-4">Enter your email to receive instructions on how to reset your password.</p>
      <form class="new_user" id="new_user" data-turbo="false" action="#" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="#" autocomplete="off" class="tw-pointer-events-none">

      <div class="alert alert-danger" role="alert">
        <p class="fw-bold">
          1 error prohibited this user from being saved:
        </p>
        <ul class="list-disc">
          <li>Email can't be blank</li>
        </ul>
      </div>

        <div class="mb-4">
          <div class="field_with_errors"><label class="form-label" for="user_email">Email</label></div>
          <div class="field_with_errors"><input  class="form-control tw-pointer-events-none" type="email" value="" name="user[email]" id="user_email"></div>
        </div>

        <div class="d-grid">
          <input type="submit" name="commit" value="Reset password" class="btn btn-primary btn-lg tw-pointer-events-none">
        </div>
    </form>
    </div>
</div>

<%= content_for :erb, flush: true do %>
<%% if resource.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <p class="fw-bold">
      <%%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </p>
    <ul class="list-disc">
      <%% resource.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
    </ul>
  </div>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
- if resource.errors.any?
  .alert.alert-danger{:role => "alert"}
    %p.fw-bold
      = I18n.t("errors.messages.not_saved", count: resource, resource: resource.class.model_name.human.downcase)
    %ul.list-disc
      - resource.errors.full_messages.each do |message|
        %li= message
<% end %>

<%= render_snippet active_tab: "erb" %>
