<div id="modal-centered-dual-action">
<%= render layout: example, locals: { heading: "Centered dual action", section: "Modal" } do %>

<div class="bg-black/80 dark:bg-zinc-900 flex items-center jusity-center p-10 rounded-t-lg dark:border-t dark:border-x dark:border-zinc-600">
  <div class="rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-800 dark:text-zinc-200">
    <div class="flex justify-center">
      <div class="size-12 rounded-full bg-emerald-50 dark:bg-emerald-600/10 flex items-center justify-center mb-3">
        <%= icon "rocket-launch", class: "size-6 text-emerald-600 dark:text-emerald-500 flex-shrink-0" %>
      </div>
    </div>
    <h3 id="dual-action-modal-title" class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Time to launch</h3>

    <div class="prose prose-zinc dark:prose-invert mt-4 mb-6">
      <p>Oops! We've run out of lorem ipsum. Time to launch some real words into this space-time continuum!</p>
      </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
      <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->railsui-modal#close">Cancel</button>
      <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
    </div>
  </div>
</div>

<div data-controller="railsui-modal">
  <div class="flex justify-center p-6 border-x border-b border-zinc-200 rounded-b-lg relative dark:bg-zinc-700 dark:border-zinc-600 dark:border-t">
    <div class="absolute top-4 left-4">
      <%= doc_label :demo %>
    </div>
    <button type="button" data-action="click->railsui-modal#open:prevent" class="btn btn-primary" tabindex="0">Open centered dual action modal</button>
  </div>

  <div
    aria-labelledby="dual-action-modal-title"
    aria-modal="true"
    data-action="keyup@window->railsui-modal#closeWithEsc"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-800 dark:text-zinc-200">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 dark:bg-emerald-600/10 flex items-center justify-center mb-3">
            <%= icon "rocket-launch", class: "size-6 text-emerald-600 dark:text-emerald-500 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="dual-action-modal-title" class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Time to launch</h3>

        <div class="prose prose-zinc dark:prose-invert mt-4 mb-6">
          <p>Oops! We've run out of lorem ipsum. Time to launch some real words into this space-time continuum!</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->railsui-modal#close">Cancel</button>
          <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div data-controller="railsui-modal">
  <button type="button" data-action="click->railsui-modal#open:prevent" class="btn btn-primary" tabindex="0">Open centered dual action modal</button>

  <div
    aria-labelledby="dual-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    data-action="keyup@window->railsui-modal#closeWithEsc"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-700 dark:text-zinc-200">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%%= icon "rocket-launch", class: "size-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="dual-action-modal-title" class="font-semibold text-xl text-zinc-800 dark:text-zinc-100">Time to launch</h3>

        <div class="prose prose-zinc dark:prose-invert mt-4 mb-6">
          <p>Oops! We've run out of lorem ipsum. Time to launch some real words into this space-time continuum!</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->railsui-modal#close">Cancel</button>
          <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div data-controller="railsui-modal">
  <%%= button_tag "Open centered dual action modal", "#", class: "btn btn-primary", data: { action: "click->modal#open:prevent" } %>

  <div
    aria-labelledby="dual-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    data-action="keyup@window->railsui-modal#closeWithEsc"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded-xl mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center dark:bg-zinc-700 dark:text-zinc-200">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%%= icon "rocket-launch", class: "size-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="dual-action-modal-title" class="font-semibold text-xl text-zinc-800 dark:text-zinc-100">Time to launch</h3>

        <div class="prose prose-zinc dark:prose-invert mt-4 mb-6">
          <p>Oops! We've run out of lorem ipsum. Time to launch some real words into this space-time continuum!</p>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <%%= button_tag "Cancel", type: "button", class: "btn btn-white w-full sm:order-1 order-2", data: { action: "click->railsui-modal#close" } %>
          <%%= button_tag "Proceed to launch", type: "button", class: "btn btn-primary w-full sm:order-2 order-1", data: { action: "click->railsui-modal#close" } %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<% content_for :haml, flush: true do %>
%div{"data-controller" => "railsui-modal"}
  = button_tag "Open centered dual action modal", "#", class: "btn btn-primary", data: { action: "click->modal#open:prevent" }
  .hidden.fixed.inset-0.z-50.overflow-y-auto{"aria-labelledby" => "dual-action-modal-title", "aria-modal" => "true", "data-action" => "keyup@window->railsui-modal#closeWithEsc", "data-railsui-modal-target" => "container", role: "dialog"}
    .h-screen.w-full.relative.flex.items-center.justify-center
      .hidden.rounded-xl.mx-auto.shadow-xl.max-w-lg.bg-white.m-1.p-8.origin-bottom.text-center.dark:bg-zinc-700.dark:text-zinc-200{"data-railsui-modal-target" => "content", "data-transition-enter-active" => "transition ease-out duration-300", "data-transition-enter-from" => "transform opacity-0 scale-95", "data-transition-enter-to" => "transform opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-300", "data-transition-leave-from" => "transform opacity-100 scale-100", "data-transition-leave-to" => "transform opacity-0 scale-95"}
        .flex.justify-center
          .w-12.h-12.rounded-full.bg-emerald-50.flex.items-center.justify-center.mb-3
            = icon "rocket-launch", class: "size-6 text-emerald-600 flex-shrink-0"
        %h3#dual-action-modal-title.font-semibold.text-xl.text-zinc-800.dark:text-zinc-100 Time to launch
        .prose.prose-zinc.dark:prose-invert.mt-4.mb-6
          %p Oops! We've run out of lorem ipsum. Time to launch some real words into this space-time continuum!
        .grid.grid-cols-1.sm:grid-cols-2.gap-3
          = button_tag "Cancel", type: "button", class: "btn btn-white w-full sm:order-1 order-2", data: { action: "click->railsui-modal#close" }
          = button_tag "Proceed to launch", type: "button", class: "btn btn-primary w-full sm:order-2 order-1", data: { action: "click->railsui-modal#close" }
<% end %>

<% content_for :js, flush: true do %>
import { RailsuiModal } from 'railsui-stimulus'

application.register('railsui-modal', RailsuiModal)
<% end %>

<%= render_snippet(js_filename: "index.js") %>
<% end %>
<% end %>
</div>
