<div id="modal-with-dismiss-button">
<%= render layout: example, locals: { heading: "With dismiss button", section: "Modal" } do %>

<div class="bg-black/80 flex items-center jusity-center p-10 rounded-t-lg dark:bg-zinc-900 dark:border-t dark:border-x dark:border-zinc-600">
  <div class="rounded-xl mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 px-6 pb-6 pt-8 origin-bottom flex items-start relative  dark:bg-zinc-800 dark:text-zinc-200">
    <button type="button" class="absolute top-2 right-2 size-8 bg-transparent hover:bg-zinc-50 flex items-center justify-center rounded-full group dark:hover:bg-zinc-50/50" data-action="click->railsui-modal#close">
      <%= icon "x-mark", class: "text-zinc-400 size-6 group-hover:text-zinc-500 pointer-events-none dark:group-hover:text-zinc-800 dark:text-zinc-400" %>
    </button>
    <div class="size-8 rounded-full bg-red-50 flex items-center justify-center mr-3 dark:bg-red-600/20">
      <%= icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-500" %>
    </div>

    <div class="flex-1">
      <h3 class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Delete account</h3>

      <div class="prose prose-zinc dark:prose-invert my-4">
        <p>Once your account is deleted it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?</p>
      </div>

      <div class="flex justify-end items-center space-x-3">
        <button class="btn btn-transparent" data-action="click->railsui-modal#close">Cancel</button>
        <button class="btn bg-red-600 text-white focus:ring-red-100 hover:bg-red-700 hover:shadow-sm hover:shadow-zinc-600/10 dark:focus:ring-red-600/20">Delete</button>
      </div>
    </div>
  </div>
</div>

<div data-controller="railsui-modal">
  <div class="flex justify-center p-6 border-x border-b border-zinc-200 rounded-b-lg relative dark:bg-zinc-700 dark:border-zinc-600 dark:border-t">
    <div class="absolute top-4 left-4">
      <%= doc_label :demo %>
    </div>
    <button type="button" data-action="click->railsui-modal#open" class="btn btn-primary" tabindex="0">
      Open dismissable icon modal
    </button>
  </div>
  <div
    aria-labelledby="dismissable-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-action="keyup@window->railsui-modal#closeWithEsc"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="rounded-xl mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 px-6 pb-6 pt-8 origin-bottom flex items-start relative dark:bg-zinc-800 dark:text-zinc-200">
        <button type="button" class="absolute top-2 right-2 size-8 bg-transparent hover:bg-zinc-50 flex items-center justify-center rounded-full group dark:hover:bg-zinc-50/50" data-action="click->railsui-modal#close">
          <%= icon "x-mark", class: "text-zinc-400 size-6 group-hover:text-zinc-500 pointer-events-none dark:group-hover:text-zinc-800 dark:text-zinc-400" %>
        </button>
        <div class="size-8 rounded-full bg-red-50 flex items-center justify-center mr-3 dark:bg-red-600/20">
          <%= icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-500" %>
        </div>

        <div class="flex-1">
          <h3 class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Delete account</h3>

          <div class="prose prose-zinc dark:prose-invert my-4">
            <p>Once your account is deleted it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?</p>
          </div>

          <div class="flex justify-end items-center space-x-3">
            <button class="btn btn-transparent" data-action="click->railsui-modal#close">Cancel</button>
            <button class="btn bg-red-600 text-white focus:ring-red-100 hover:bg-red-700 hover:shadow-sm hover:shadow-zinc-600/10 dark:focus:ring-red-600/20">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div data-controller="railsui-modal">
  <button type="button" data-action="click->railsui-modal#open" class="btn btn-primary" tabindex="0">Open dismissable icon modal</button>

  <div
    aria-labelledby="dismissable-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog">
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-action="keyup@window->railsui-modal#closeWithEsc"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="rounded-xl mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 px-6 pb-6 pt-8 origin-bottom flex items-start relative dark:bg-zinc-800 dark:text-zinc-200">
        <button type="button" class="absolute top-2 right-2 size-8 bg-transparent hover:bg-zinc-50 flex items-center justify-center rounded-full group dark:hover:bg-zinc-50/50" data-action="click->railsui-modal#close">
          <%%= icon "x-mark", class: "text-zinc-400 size-6 group-hover:text-zinc-500 pointer-events-none dark:group-hover:text-zinc-800 dark:text-zinc-400" %>
        </button>
        <div class="size-8 rounded-full bg-red-50 flex items-center justify-center mr-3 dark:bg-red-600/20">
          <%%= icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-500" %>
        </div>

        <div class="flex-1">
          <h3 class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Delete account</h3>

          <div class="prose prose-zinc dark:prose-invert my-4">
            <p>Once your account is deleted, it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?</p>
          </div>

          <div class="flex justify-end items-center space-x-3">
            <button class="btn btn-transparent" data-action="click->railsui-modal#close">Cancel</button>
            <button class="btn bg-red-600 text-white focus:ring-red-100 hover:bg-red-700 hover:shadow-sm hover:shadow-zinc-600/10 dark:focus:ring-red-600/20">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div data-controller="railsui-modal">
  <%%= button_tag "Open dismissable icon modal", type: "button", class: "btn btn-primary", data: { action: "click->railsui-modal#open" }, "tabindex": "0" %>

  <div
    aria-labelledby="dismissable-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog">
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-action="keyup@window->railsui-modal#closeWithEsc"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="rounded-xl mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 px-6 pb-6 pt-8 origin-bottom flex items-start relative dark:bg-zinc-800 dark:text-zinc-200">
        <%%= button_tag type: "button", class: "absolute top-2 right-2 size-8 bg-transparent hover:bg-zinc-50 flex items-center justify-center rounded-full group dark:hover:bg-zinc-50/50", data: { action: "click->railsui-modal#close" } do %>
          <%%= icon "x-mark", class: "text-zinc-400 size-6 group-hover:text-zinc-500 pointer-events-none dark:group-hover:text-zinc-800 dark:text-zinc-400" %>
        <%% end %>
        <div class="size-8 rounded-full bg-red-50 flex items-center justify-center mr-3 dark:bg-red-600/20">
          <%%= icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-500" %>
        </div>

        <div class="flex-1">
          <h3 class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Delete account</h3>

          <div class="prose prose-zinc dark:prose-invert my-4">
            <p>Once your account is deleted it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?</p>
          </div>

          <div class="flex justify-end items-center space-x-3">
            <%%= button_tag "Cancel", type: "button", class: "btn btn-transparent", data: { action: "click->railsui-modal#close" } %>
            <%%= button_tag "Delete", type: "button", class: "btn bg-red-600 text-white focus:ring-red-100 hover:bg-red-700 hover:shadow-sm hover:shadow-zinc-600/10 dark:focus:ring-red-600/20" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
%div{"data-controller" => "railsui-modal"}
  = button_tag "Open modal with form", type: "button", class: "btn btn-primary", data: { action: "click->railsui-modal#open" }, "tabindex": "0"
  .hidden.fixed.inset-0.z-50.overflow-y-auto{"aria-labelledby" => "modal-with-form", "aria-modal" => "true", "data-action" => "keyup@window->railsui-modal#closeWithEsc", "data-railsui-modal-target" => "container", role: "dialog"}
    .h-screen.w-full.relative.flex.items-center.justify-center
      .hidden.rounded-xl.shadow-xl.mx-auto.max-w-lg.bg-white.m-1.p-8.origin-bottom.relative.dark:bg-zinc-800.dark:text-zinc-200{"data-railsui-modal-target" => "content", "data-transition-enter-active" => "transition ease-out duration-300", "data-transition-enter-from" => "transform opacity-0 scale-95", "data-transition-enter-to" => "transform opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-300", "data-transition-leave-from" => "transform opacity-100 scale-100", "data-transition-leave-to" => "transform opacity-0 scale-95"}
        = button_tag type: "button", class: "absolute top-2 right-2 size-8 bg-transparent hover:bg-zinc-50 flex items-center justify-center rounded-full group dark:hover:bg-zinc-50/50" do
          = icon "x-mark", class: "text-zinc-400 size-6 group-hover:text-zinc-500 pointer-events-none dark:group-hover:text-zinc-800 dark:text-zinc-400"
        .mb-4
          %h2#modal-with-form.text-3xl.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100.tracking-tight Subscribe
          .prose.prose-zinc.my-4.dark:prose-invert
            %p Interested in learning more about real estate investing and development? Enter your information below and one of our team members will be in touch.
        = form_with(model: subscriber) do |form|
          .form-group
            = form.label :email, class: "form-label"
            = form.text_field :email, class: "form-input", placeholder: "saasquatch@railsui.com"
          .form-group
            = form.label :reason, class: "form-label"
            = form.text_area :reason, class: "form-textarea", placeholder: "In a couple sentences let us know your reason for joining the Shepherd community"
          .mt-6.flex.justify-start.items-center.flex-wrap.space-x-3
            = form.submit "Subscribe", class: "btn btn-primary"
            = link_to "Skip for now", "#", class: "btn btn-transparent", data: { action: "click->railsui-modal#close" }
<% end %>

<% content_for :js, flush: true do %>
import { RailsuiModal } from 'railsui-stimulus'

application.register('railsui-modal', RailsuiModal)
<% end %>

<%= render_snippet(js_filename: "index.js") %>
<% end %>
<% end %>
</div>
