<div id="form-rich-text">
<%= render layout: example, locals: { heading: "Rich Text Editor", section: "ActionText" } do %>
  <div class="prose dark:!prose-invert max-w-full">
    <p><%= link_to "Action Text", "https://guides.rubyonrails.org/action_text_overview.html", target: :_blank %> brings rich text content and editing to Rails. It includes the <%= link_to "Trix editor", "https://trix-editor.org/", target: :_blank %> that handles everything from formatting to links to quotes to lists to embedded images and galleries.</p>

    <p>Use the custom ActionText editor design made exclusively for the <%= Railsui.config.theme.humanize %> theme.</p>
  </div>

<% content_for :head do %>

  <script type="text/javascript" src="https://unpkg.com/trix@2.0.0/dist/trix.umd.min.js"></script>
<% end %>

<div class="my-10">
<%= render preview('gray') do %>
  <form action="#">
    <div class="form-group">
      <input id="x" type="hidden" name="content">
      <trix-editor input="x"></trix-editor>
    </div>
  </form>
<% end %>
</div>

<% content_for :example, flush: true do %>
<% content_for :erb, flush: true do %>
<%%= form_with model: message do |form| %>
  <div class="form-group">
    <%%= form.label :content, class: "form-label" %>
    <%%= form.rich_text_area :content %>
  </div>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
= form_with model: message do |form| %>
  .form-group
    = form.label :content, class: "form-label"
    = form.rich_text_area :content
<% end %>
<%= render_snippet active_tab: "erb" %>
<% end %>
<% end %>

<%= system_pagination(prev_path: systems_forms_switch_path, prev_text: "Switch", next_path: systems_forms_validation_path, next_text: "Validation") %>
</div>

<%= content_for :component_nav do %>
  <%= render layout: "railsui/shared/component_nav", locals: { title: "On this page" } do %>
    <%= component_link "Rich Text Editor", "#form-rich-text" %>
  <% end %>
<% end %>
