<div id="forms-checkbox">
<%= render layout: example, locals: { heading: "Base", section: "Checkbox" } do %>

<%= render preview('gray') do %>
<div class="flex items-center gap-3">
  <input class="form-input-checkbox" type="checkbox" value="1" id="check_default">
  <label for="check_default">
    Default checkbox
  </label>
</div>
<% end %>


<% content_for :example, flush: true do %>
<%# .html %>
<% content_for :html, flush: true do %>
<div class="flex items-center gap-3">
  <input class="form-input-checkbox" type="checkbox" value="1" id="check_default">
  <label for="check_default">
    Default checkbox
  </label>
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.div class: "flex items-center gap-3" do %>
  <%%= check_box_tag :check_default, nil, false, class: "form-input-checkbox" %>
  <%%= label_tag :check_default, "Default checkbox" %>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_with model: @form do |f| %>
  <%% tag.div class: "flex items-center gap-3" do %>
    <%%= f.check_box :check_default, class: "form-input-checkbox" %>
    <%%= f.label :check_default, "Default checkbox" %>
  <%% end %>
  <%%= f.submit class: "btn btn-primary" %>
<%% end %>
<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>

<%= system_pagination(prev_path: systems_forms_select_path, prev_text: "Select", next_path: systems_forms_radio_path, next_text: "Radio") %>

<%= content_for :component_nav do %>
  <%= render layout: "railsui/shared/component_nav", locals: { title: "On this page" } do %>
    <%= component_link "Base", "#input-group-with-label" %>
  <% end %>
<% end %>
