<div id="dropdown-base">
<%= render layout: example, locals: { heading: "Base", section: "Dropdown" } do %>

<%= render preview "zinc" do %>
<div class="flex md:flex-row flex-col flex-wrap items-center justify-start gap-3">
<%= render "railsui/themes/#{Railsui.config.theme.downcase}/components/dropdown/dropdown", label: "Dropdown", classes: "btn-primary" %>

<%= render "railsui/themes/#{Railsui.config.theme.downcase}/components/dropdown/dropdown", label: "Dropdown", classes: "btn-secondary" %>

<%= render "railsui/themes/#{Railsui.config.theme.downcase}/components/dropdown/dropdown", label: "Dropdown", classes: "btn-dark" %>

<%= render "railsui/themes/#{Railsui.config.theme.downcase}/components/dropdown/dropdown", label: "Dropdown", classes: "btn-light" %>

<%= render "railsui/themes/#{Railsui.config.theme.downcase}/components/dropdown/dropdown", label: "Dropdown", classes: "btn-white" %>
</div>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div data-controller="railsui-dropdown" class="relative inline-block">
  <button type="button" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" class="btn btn-primary pr-3">
    Dropdown
    <%%= icon "chevron-down", styles: "size-3 ml-2" %>
  </button>
  <div
    class="hidden transition transform origin-top-left absolute left-0 top-14 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[200px] w-full z-50 py-2 dark:bg-zinc-900 dark:shadow-zinc-900/50 dark:border-zinc-600/80 md:text-[15px] text-base text-zinc-600 dark:text-zinc-200 font-heading"
    data-railsui-dropdown-target="menu"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
    >
    <a href="#" class="px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white">Bookmark</a>
    <a href="#" class="px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white">Report</a>
    <a href="#" class="px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white">Export</a>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div data-controller="railsui-dropdown" class="relative inline-block">
  <%%= button_tag data: { action: "click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" }, class: "btn btn-primary pr-3" do %>
    Dropdown
    <%%= icon "chevron-down", class: "size-3 ml-2" %>
  <%% end %>
  <div
    class="hidden transition transform origin-top-left absolute left-0 top-14 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[200px] w-full z-50 py-2 dark:bg-zinc-900 dark:shadow-zinc-900/50 dark:border-zinc-600/80 md:text-[15px] text-base text-zinc-600 dark:text-zinc-200 font-heading"
    data-railsui-dropdown-target="menu"
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
    >
    <%%= link_to "Bookmark", "#", class: "px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white" %>
    <%%= link_to "Report", "#", class: "px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white" %>
    <%%= link_to "Export", "#", class: "px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white" %>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
..relative.inline-block{"data-controller" => "railsui-dropdown"}
  = button_tag data: { action: "click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" }, class: "btn btn-primary pr-3" do
    Dropdown
    \#{icon "chevron-down", class: "size-3 ml-2"}
  .hidden.transition.transform.origin-top-left.absolute.left-0.top-14.bg-white.rounded-xl.shadow-xl.border.border-zinc-200.w-full.z-50.py-2.dark:bg-zinc-900.text-base.text-zinc-600.dark:text-zinc-200.font-heading{class: "shadow-zinc-900/10 md:w-[200px] dark:shadow-zinc-900/50 dark:border-zinc-600/80 md:text-[15px]", "data-railsui-dropdown-target" => "menu", "data-transition-enter-from" => "opacity-0 scale-95", "data-transition-enter-to" => "opacity-100 scale-100", "data-transition-leave-from" => "opacity-100 scale-100", "data-transition-leave-to" => "opacity-0 scale-95"}
    = link_to "Bookmark", "#", class: "px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white"
    = link_to "Report", "#", class: "px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white"
    = link_to "Export", "#", class: "px-4 py-1.5 hover:text-zinc-950 block dark:hover:text-white"
<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
