<div id="card-user-card-with-dropdown">
<%= render layout: example, locals: { heading: "User card with dropdown", section: "Card" } do %>
<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white border border-slate-300/70 dark:border-slate-600/70 dark:shadow-slate-900/50">
  <div class="flex flex-wrap items-center gap-4">
    <%= image_tag demo_avatar_url(id: rand(1..100).to_s, variant: :men), class: "object-cover size-14 rounded-full flex-shrink-0" %>
    <div class="flex-1 flex flex-col items-start space-y-px text-slate-900 dark:text-white">
      <p class="font-bold">Jared Doe</p>
      <p class="dark:text-slate-400 text-sm"><%= Time.zone.now.strftime("%B %e at  %l:%M %p") %></p>
    </div>
    <div data-controller="railsui-dropdown" class="relative">
      <button type="button" data-action="railsui-dropdown#toggle click@window->railsui-dropdown#hide" class="relative group border-transparent border transition ease-in-out focus:ring-4 w-8 h-8 flex items-center justify-center rounded-lg hover:border-slate-200 focus:ring-slate-50 hover:bg-white hover:shadow-sm focus:border-slate-200 dark:focus:border-slate-700 dark:hover:bg-slate-700/80 dark:hover:border-slate-700 dark:focus:ring-slate-400/50">
        <%= icon "ellipsis-vertical", class:  "size-6 text-slate-500 group-hover:text-primary-500 dark:text-slate-200 dark:group-hover:text-primary-300" %>
      </button>
      <ul
      class="hidden origin-to-right absolute right-0 top-9 dropdown-menu"
      data-railsui-dropdown-target="menu"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
      >
        <li>
          <a href="#" class="dropdown-item">Follow</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Save for later</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Mute</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="prose dark:prose-invert mt-4">
    <p>Just wanted to share my thoughts on the new product launch. The attention to detail and user experience is fantastic. The interface is intuitive and the performance improvements are noticeable. Great work by the entire team on this milestone achievement!</p>
  </div>
</div>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div class="rounded-md bg-white p-6 dark:bg-slate-800 dark:text-white border border-slate-300/70 dark:border-slate-600/70 dark:shadow-slate-900/50">
  <div class="flex flex-wrap items-center gap-4">
    <%= image_tag demo_avatar_url(id: rand(1..100).to_s, variant: :men), class: "object-cover size-14 rounded-full flex-shrink-0" %>
    <div class="flex-1 flex flex-col items-start space-y-px text-slate-900 dark:text-white">
      <p class="font-bold">Jared Doe</p>
      <p class="dark:text-slate-400 text-sm"><%= Time.zone.now.strftime("%B %e at  %l:%M %p") %></p>
    </div>
    <div data-controller="railsui-dropdown" class="relative">
      <button type="button" data-action="railsui-dropdown#toggle click@window->railsui-dropdown#hide" class="relative group border-transparent border transition ease-in-out focus:ring-4 w-8 h-8 flex items-center justify-center rounded-lg hover:border-slate-200 focus:ring-slate-50 hover:bg-white hover:shadow-sm focus:border-slate-200 dark:focus:border-slate-700 dark:hover:bg-slate-700/80 dark:hover:border-slate-700 dark:focus:ring-slate-400/50">
        <%%= icon "ellipsis-vertical", class:  "size-6 text-slate-500 group-hover:text-primary-500 dark:text-slate-200 dark:group-hover:text-primary-300" %>
      </button>
      <ul
      class="hidden origin-to-right absolute right-0 top-9 dropdown-menu"
      data-railsui-dropdown-target="menu"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95">
        <li>
          <a href="#" class="dropdown-item">Follow</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Save for later</a>
        </li>
        <li>
          <a href="#" class="dropdown-item">Mute</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="prose dark:prose-invert mt-4">
    <p>Just wanted to share my thoughts on the new product launch. The attention to detail and user experience is fantastic. The interface is intuitive and the performance improvements are noticeable. Great work by the entire team on this milestone achievement!</p>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= rui :card do %>
  <div class="flex flex-wrap items-center gap-4">
    <%%= image_tag demo_avatar_url(id: "49"), class: "object-cover size-14 rounded-full flex-shrink-0" %>
    <div class="flex-1 flex flex-col items-start space-y-px text-slate-900 dark:text-white">
      <p class="font-bold">Jared Doe</p>
      <p class="dark:text-slate-400 text-sm"><%%= Time.zone.now.strftime("%B %e at  %l:%M %p") %></p>
    </div>
    <%%= rui :dropdown,
            button: {
              label: nil,
              icon: { name: "ellipsis-vertical", classes: "size-6 text-slate-500 dark:text-slate-300 shrink-0" },
              classes: "btn btn-transparent size-8 flex items-center justify-center rounded-lg"
            },
            items: [
              { name: "Follow", url: "#" },
              { name: "Save for later", url: "#" },
              { name: "Mute", url: "#" }
            ], menu_classes: "absolute dropdown-menu top-10 right-0 origin-top-right" %>
    <div class="prose dark:prose-invert mt-4">
      <p>Just wanted to share my thoughts on the new product launch. The attention to detail and user experience is fantastic. The interface is intuitive and the performance improvements are noticeable. Great work by the entire team on this milestone achievement!</p>
    </div>
  </div>
<%% end %>
<% end %>

<%= render_snippet(active_tab: :erb) %>
<% end %>
<% end %>
</div>
