<div class="tw-my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "Input field" %>

  <div class="rui-bs">
    <div class="mb-3">
      <label for="input_1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="input_1" placeholder="name@example.com">
    </div>
  </div>

<%# .html %>
<% content_for :html, flush: true do %>
<div class="mb-3">
  <label for="input_1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="input_1" placeholder="name@example.com">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
 <!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.div class: "mb-3" do %>
  <%%= label_tag :input_1, "Email address", class: "form-label" %>
  <%%= email_field_tag "input_1", "name@example.com", class: "form-control" %>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_with @form do |f| %>
  <%%= f.label :input_1, "File input example", class: "form-label" %>
  <%%= f.email_field :input_1, placeholder: "The quick brown fox jumps over the lazy dog.", class: "form-label" %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormTagHelper
.mb-3
  = label_tag :input_1, "Email address", class: "form-label"
  = email_field_tag :input_1, "name@example.com", class: "form-control"


/ ActionView::Helpers::FormHelper
= form_with @form do |f|
  = f.label :input_1, "Email address", class: "form-label"
  = f.email_field :input_1, placeholder: "name@example.com", class: "form-control"
  = f.submit.btn.btn-primary
<% end %>
<%= render_snippet %>
</div>

<%#### input w/ icon %>
<div class="tw-my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "Input group w/ icon" %>

  <div class="rui-bs">
    <div class="input-group mb-3">
      <span class="input-group-text" id="envelope">
        <%= icon("envelope") %>
      </span>
      <input type="email" class="form-control" placeholder="john.doe@example.com" aria-label="Email" aria-describedby="envelope">
    </div>
  </div>

<div class="tw-text-lg tw-text-slate-700">
  <p class="tw-mb-3">Input groups come in a variety of applications. Refer to the official <%= link_to "Bootstrap documentation", "https://getbootstrap.com/docs/5.2/forms/input-group/#basic-example", target: :_blank, class: "rui-link" %> for additional usage documentation.</p>

  <p class="tw-mb-3">Read the <%= link_to "Rails UI documentation", docs_path, class: "rui-link", target: :_blank %> for the <code class="tw-font-mono tw-text-rose-600 tw-text-sm">icon</code> view helper as shown in the following snippets.</p>
</div>

<%# .html %>
<% content_for :html, flush: true do %>
<div class="input-group mb-3">
  <span class="input-group-text" id="envelope">
    <%%= icon("envelope") %>
  </span>
  <input type="email" class="form-control" placeholder="john.doe@example.com" aria-label="Email" aria-describedby="envelope">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
 <!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.div class: "input-group mb-3" do %>
  <%%= tag.span class: "input-group-text", id: "envelope" do %>
    <%%= icon("envelope") %>
  <%% end %>
  <%%= email_field_tag "envelope", nil, class: "form-control", "aria-describedby": "envelope", "aria-label": "Email", placeholder: "john.doe@example.com" %>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_with @form do |f| %>
  <%%= tag.div class: "input-group mb-3" do %>
    <%%= tag.span class: "input-group-text", id: "envelope" do %>
      <%%= icon("envelope") %>
    <%% end %>
    <%%= f.email_field :input_1, placeholder: "The quick brown fox jumps over the lazy dog.", class: "form-label" %>
  <%% end %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormTagHelper
.input-group mb-3
  span.input-group-text#envelope
   = icon "envelope"
   = email_field_tag "envelope", nil, class: "form-control", "aria-label": "Email", placeholder: "john.doe@example.com"


/ ActionView::Helpers::FormHelper
= form_with @form do |f|
  .input-group mb-3
    span.input-group-text#envelope
    = icon "envelope"
    = f.email_field :my_input, class: "form-control", "aria-label": "Email", placeholder: "john.doe@example.com"
  = f.submit.btn.btn-primary
<% end %>
<%= render_snippet %>
</div>


<%#### textarea %>

<div class="tw-my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "Textarea" %>

  <div class="rui-bs">
    <div class="mb-3">
      <label for="input_2" class="form-label">Speak your mind</label>
      <textarea class="form-control" id="input_2" placeholder="The quick brown fox jumps over the lazy dog."></textarea>
    </div>
  </div>

<%# .html %>
<% content_for :html, flush: true do %>
<div class="mb-3">
  <label for="input_2" class="form-label">Speak your mind</label>
  <textarea class="form-control" id="input_2" placeholder="The quick brown fox jumps over the lazy dog."></textarea>
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
 <!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.div class: "mb-3" do %>
  <%%= label_tag :input_2, "Speak your mind", class: "form-label" %>
  <%%= text_area_tag "input_2", nil, placeholder: "The quick brown fox jumps over the lazy dog.", class: "form-control" %>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_with @form do |f| %>
  <%%= f.label :input_3, "File input example", class: "form-label" %>
  <%%= f.text_area :input_3, placeholder: "The quick brown fox jumps over the lazy dog.", class: "form-label" %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormTagHelper
.mb-3
  = label_tag :input_2, "Speak your mind", class: "form-label"
  = text_area_tag :input_2, nil, placeholder: "The quick brown fox jumps over the lazy dog.", class: "form-control"

/ ActionView::Helpers::FormHelper
= form_with @form do |f|
  = f.label :input_2, "Email address", class: "form-label"
  = f.text_area :input_2, placeholder: "The quick brown fox jumps over the lazy dog.", class: "form-control"
  = f.submit.btn.btn-primary
<% end %>

<%= render_snippet %>
</div>

<%#### input[type=file] %>

<div class="tw-my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "File input" %>

  <div class="rui-bs">
    <div class="mb-3">
      <label for="input_3" class="form-label">File input example</label>
      <input class="form-control" type="file" id="input_3">
    </div>
  </div>

<%# .html %>
<% content_for :html, flush: true do %>
<div class="mb-3">
  <label for="input_3" class="form-label">File input example</label>
  <input class="form-control" type="file" id="input_3">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
 <!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.div class: "mb-3" do %>
  <%%= label_tag :input_3, "File input example", class: "form-label" %>
  <%%= file_field_tag :input_2, nil, placeholder: "The quick brown fox jumps over the lazy dog.", class: "form-control" %>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_for @form do |f| %>
  <%%= f.label :input_3, "File input example", class: "form-label" %>
  <%%= f.file_field :input_3, class: "form-label" %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormTagHelper
.mb-3
  = label_tag :input_3, "File input label", class: "form-label"
  = file_field_tag :input_3, class: "form-control"

/ ActionView::Helpers::FormHelper
= form_with @form do |f|
  = f.label :input_3, "File input label", class: "form-label"
  = f.file_field :input_3, class: "form-control"
  = f.submit.btn.btn-primary
<% end %>

<%= render_snippet %>
</div>

<%#### input[type=color] %>
<div class="tw-my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "Color input" %>

  <div class="rui-bs">
    <div class="mb-3">
      <label for="input_4" class="form-label">Color picker</label>
      <input class="form-control form-control-color" type="color" id="input_4" value="#fb7185" title="Color picker">
    </div>
  </div>

<%# .html %>
<% content_for :html, flush: true do %>
<div class="mb-3">
  <label for="input_4" class="form-label">Color picker</label>
  <input class="form-control form-control-color" type="color" id="input_4" value="#fb7185" title="Color picker">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
 <!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.div class: "mb-3" do %>
  <%%= label_tag :input_4, "Color picker", class: "form-label" %>
  <%%= color_field_tag :input_4, "#fb7185", class: "form-control form-control-color" %>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_for @form do |f| %>
  <%%= f.label :input_4, "Color picker", class: "form-label" %>
  <%%= f.color_field :input_4, value: "#fb7185", class: "form-control form-control-color" %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormTagHelper
.mb-3
  = label_tag :input_4, "File input label", class: "form-label"
  = color_field_tag :input_4, "#fb7185", class: "form-control form-control-color"

/ ActionView::Helpers::FormHelper
= form_with @form do |f|
  = f.label :input_3, "File input label", class: "form-label"
  = f.color_field :input_4, value: "#fb7185", class: "form-control form-control-color"
  = f.submit.btn.btn-primary
<% end %>

<%= render_snippet %>
</div>


<%#### datalist %>
<div class="tw-my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Forms", subtitle: "Datalists" %>

  <div class="rui-bs">
    <div class="mb-3">
      <label for="input_5" class="form-label">Datalist example</label>
      <input class="form-control" list="datalistOptions" placeholder="Type to search" id="input_5" >
      <datalist id="datalistOptions">
        <option value="San Francisco">
        <option value="New York">
        <option value="Seattle">
        <option value="Los Angeles">
        <option value="Chicago">
      </datalist>
    </div>
  </div>

<%# .html %>
<% content_for :html, flush: true do %>
<div class="mb-3">
  <label for="input_5" class="form-label">Datalist example</label>
  <input class="form-control" list="datalistOptions" placeholder="Type to search" id="input_5" >
  <datalist id="datalistOptions">
    <option value="San Francisco">
    <option value="New York">
    <option value="Seattle">
    <option value="Los Angeles">
    <option value="Chicago">
  </datalist>
</div>
<% end %>


<%# .erb %>
<% content_for :erb, flush: true do %>
 <!-- ActionView::Helpers::FormTagHelper -->
<%%= tag.div class: "mb-3" do %>
  <%%= label_tag :input_5, "Datalist example", class: "form-label" %>
  <%%= text_field_tag :input_5, "Type to search", class: "form-control", list: "datalistOptions" %>
  <datalist id="datalistOptions">
    <option value="San Francisco">
    <option value="New York">
    <option value="Seattle">
    <option value="Los Angeles">
    <option value="Chicago">
  </datalist>
<%% end %>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_for @form do |f| %>
   <%%= f.label :input_5, "Datalist example", class: "form-label" %>
  <%%= f.text_field :input_5, "Type to search", class: "form-control", list: "datalistOptions" %>
  <datalist id="datalistOptions">
    <option value="San Francisco">
    <option value="New York">
    <option value="Seattle">
    <option value="Los Angeles">
    <option value="Chicago">
  </datalist>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormTagHelper
.mb-3
  %label.form-label{:for => "input_5"} Datalist example
  %input#input_5.form-control{:list => "datalistOptions", :placeholder => "Type to search"}/
  %datalist#datalistOptions
    %option{:value => "San Francisco"}
    %option{:value => "New York"}
    %option{:value => "Seattle"}
    %option{:value => "Los Angeles"}
    %option{:value => "Chicago"}

/ ActionView::Helpers::FormHelper
= form_with @form do |f|
  = f.label :input_5, "Datalist example", class: "form-label"
  = f.text_field :input_5, class: "form-control", list: "datalistOptions", placeholder: "Type to search"
  %datalist#datalistOptions
    %option{:value => "San Francisco"}
    %option{:value => "New York"}
    %option{:value => "Seattle"}
    %option{:value => "Los Angeles"}
    %option{:value => "Chicago"}
  = f.submit.btn.btn-primary
<% end %>

<%= render_snippet %>
</div>
