<%# Card - User card with content and dropdown %>
<div class="my-16" data-controller="anchor">

  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "User card with dropdown" %>

  <%= doc_label(:javascript) %>

  <div class="prose max-w-full dark:!prose-invert mb-6">
    <p>Use the <%= code('data-controller="dropdown"') %> attribute to initialize a new dropdown component using <%= link_to "Stimulus.js", "https://stimulus.hotwired.dev/", target: :_blank %>. To add transition effects to components like dropdowns, we prefer an additional dependency called <%= link_to "stimulus-use", "https://stimulus-use.github.io/stimulus-use/", target: :_blank %>. Read the <%= link_to "Dropdown component documentation", systems_components_dropdowns_path %> for more information.</p>

    <div class="px-4 py-2 rounded-lg bg-indigo-50 flex items-center pointer-events-none select-none dark:bg-indigo-300/20 dark:text-indigo-50">
      <%= icon "bell", classes: "text-indigo-500 dark:text-indigo-300 w-5 h-5" %>
      <p class="m-0 text-indigo-900 dark:text-indigo-100 ml-2">Stimulus.js and stimulus-use are <strong>already installed</strong> as a dependency of the <%= Railsui::config.theme.titleize %> theme.</p>
    </div>
  </div>

<%= render preview("gray") do %>
  <div class="rounded-lg shadow-lg shadow-slate-300/30 bg-white p-6 flex flex-wrap items-center w-auto dark:bg-slate-800 dark:shadow-slate-900/50">
  <%= image_tag unsplash_url(item: "female portrait", width: 200, height: 200), class: "object-cover w-16 h-16 rounded-full flex-shrink-0" %>
    <div class="pl-3 flex-1 flex flex-col items-start space-y-px text-slate-700 dark:text-white">
      <p class="font-bold">Jane Doe</p>
      <p class="text-sm dark:text-slate-300"><%= Time.zone.now.strftime("%B %e at  %l:%M %p") %></p>
    </div>
    <div data-controller="dropdown" class="relative">
      <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="relative group border-transparent border transition ease-in-out focus:ring-4 w-8 h-8 flex items-center justify-center rounded-lg hover:border-slate-200 focus:ring-slate-50 hover:bg-white hover:shadow-sm focus:border-slate-200 dark:focus:border-slate-700 dark:hover:bg-slate-700/80 dark:hover:border-slate-700 dark:focus:ring-slate-400/50">
        <%= icon "ellipsis-vertical", classes: "w-6 h-6 text-slate-500 group-hover:text-indigo-500 dark:text-slate-200 dark:group-hover:text-indigo-300" %>
      </button>
      <ul
        class="hidden transition transform origin-to-right absolute right-0 top-9 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 min-w-[200px] z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 text-sm font-medium text-slate-600 dark:text-slate-200"
        data-dropdown-target="menu"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
        >
        <li>
          <a href="#" class="px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300">Follow</a>
        </li>
        <li>
          <a href="#" class="px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300">Save for later</a>
        </li>
        <li>
          <a href="#" class="px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300">Mute</a>
        </li>
      </ul>
    </div>
    <div class="prose prose-sm dark:!prose-invert mt-6 max-w-full dark:opacity-70 pointer-events-none select-none">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas quod maxime doloremque velit sapiente aut inventore laboriosam perferendis facere cumque. Rem quibusdam maxime quia temporibus, esse suscipit corrupti aperiam repudiandae.</p>
    </div>
  </div>
<% end %>

<% content_for :html, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/30 bg-white p-6 flex flex-wrap items-center w-auto dark:bg-slate-800 dark:shadow-slate-900/50">
  <%= image_tag unsplash_url(item: "female portrait", width: 200, height: 200), class: "object-cover w-16 h-16 rounded-full flex-shrink-0" %>
  <div class="pl-3 flex-1 flex flex-col items-start space-y-px text-slate-700 dark:text-white">
    <p class="font-bold">Jane Doe</p>
    <p class="text-sm dark:text-slate-300"><%= Time.zone.now.strftime("%B %e at %l:%M %p") %></p>
  </div>
  <div data-controller="dropdown" class="relative">
    <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="relative group border-transparent border transition ease-in-out focus:ring-4 w-8 h-8 flex items-center justify-center rounded-lg hover:border-slate-200 focus:ring-slate-50 hover:bg-white hover:shadow-sm focus:border-slate-200 dark:focus:border-slate-700 dark:hover:bg-slate-700/80 dark:hover:border-slate-700 dark:focus:ring-slate-400/50">
      <%%= icon "ellipsis-vertical", classes: "w-6 h-6 text-slate-500 group-hover:text-indigo-500 dark:text-slate-200 dark:group-hover:text-indigo-300" %>
    </button>
    <ul
      class="hidden transition transform origin-to-right absolute right-0 top-9 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 min-w-[200px] z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 text-sm font-medium text-slate-600 dark:text-slate-200"
      data-dropdown-target="menu"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
      >
      <li>
        <a href="#" class="px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300">Follow</a>
      </li>
      <li>
        <a href="#" class="px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300">Save for later</a>
      </li>
      <li>
        <a href="#" class="px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300">Mute</a>
      </li>
    </ul>
  </div>
  <!-- additional content -->
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/30 bg-white p-6 flex flex-wrap items-center w-auto dark:bg-slate-800 dark:shadow-slate-900/50">
  <%%= image_tag "#", class: "object-cover w-16 h-16 rounded-full flex-shrink-0" %>
  <div class="pl-3 flex-1 flex flex-col items-start space-y-px text-slate-700 dark:text-white">
    <p class="font-bold">Jane Doe</p>
    <p class="text-sm dark:text-slate-300"><%= Time.zone.now.strftime("%B %e at %l:%M %p") %></p>
  </div>
  <div data-controller="dropdown" class="relative">
    <button type="button" data-action="dropdown#toggle click@window->dropdown#hide" class="relative group border-transparent border transition ease-in-out focus:ring-4 w-8 h-8 flex items-center justify-center rounded-lg hover:border-slate-200 focus:ring-slate-50 hover:bg-white hover:shadow-sm focus:border-slate-200 dark:focus:border-slate-700 dark:hover:bg-slate-700/80 dark:hover:border-slate-700 dark:focus:ring-slate-400/50">
      <%%= icon "ellipsis-vertical", classes: "w-6 h-6 text-slate-500 group-hover:text-indigo-500 dark:text-slate-200 dark:group-hover:text-indigo-300" %>
    </button>
    <ul
      class="hidden transition transform origin-to-right absolute right-0 top-9 bg-white rounded-lg shadow-xl shadow-slate-900/10 border border-slate-200 min-w-[200px] z-50 py-2 dark:bg-slate-700 dark:shadow-slate-900/50 dark:border-slate-500/60 text-sm font-medium text-slate-600 dark:text-slate-200"
      data-dropdown-target="menu"
      data-transition-enter-from="opacity-0 scale-95"
      data-transition-enter-to="opacity-100 scale-100"
      data-transition-leave-from="opacity-100 scale-100"
      data-transition-leave-to="opacity-0 scale-95"
      >
      <li>
        <%%= link_to "Follow", "#", class: "px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300" %>
      </li>
      <li>
        <%%= link_to "Save for later", "#", class: "px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300" %>
      </li>
      <li>
        <%%= link_to "Mute", "#", class: "px-4 py-[.4rem] hover:text-indigo-600 block dark:hover:text-indigo-300" %>
      </li>
    </ul>
  </div>
  <!-- additional content -->
</div>
<% end %>

<% content_for :haml, flush: true do %>
.rounded-lg.shadow-lg.bg-white.p-6.flex.flex-wrap.items-center.w-auto.dark:bg-slate-800{class: "shadow-slate-300/30 dark:shadow-slate-900/50"}
  = image_tag unsplash_url(item: "female portrait", width: 200, height: 200), class: "object-cover w-16 h-16 rounded-full flex-shrink-0"
  .pl-3.flex-1.flex.flex-col.items-start.space-y-px.text-slate-700.dark:text-white
    %p.font-bold Jane Doe
    %p.text-sm.dark:text-slate-300= Time.zone.now.strftime("%B %e at %l:%M %p")
  .relative{"data-controller" => "dropdown"}
    %button.relative.group.border-transparent.border.transition.ease-in-out.focus:ring-4.w-8.h-8.flex.items-center.justify-center.rounded-lg.hover:border-slate-200.focus:ring-slate-50.hover:bg-white.hover:shadow-sm.focus:border-slate-200.dark:focus:border-slate-700.dark:hover:border-slate-700{class: "dark:hover:bg-slate-700/80 dark:focus:ring-slate-400/50", "data-action" => "dropdown#toggle click@window->dropdown#hide", type: "button"}
      = icon "ellipsis-vertical", classes: "w-6 h-6 text-slate-500 group-hover:text-indigo-500 dark:text-slate-200 dark:group-hover:text-indigo-300"
    %ul.hidden.transition.transform.origin-to-right.absolute.right-0.top-9.bg-white.rounded-lg.shadow-xl.border.border-slate-200.z-50.py-2.dark:bg-slate-700.text-sm.font-medium.text-slate-600{class: "shadow-slate-900/10 min-w-[200px] dark:shadow-slate-900/50 dark:border-slate-500/60 dark:text-slate-200", "data-dropdown-target" => "menu", "data-transition-enter-from" => "opacity-0 scale-95", "data-transition-enter-to" => "opacity-100 scale-100", "data-transition-leave-from" => "opacity-100 scale-100", "data-transition-leave-to" => "opacity-0 scale-95"}
      %li
        %a.px-4.hover:text-indigo-600.block.dark:hover:text-indigo-300{class: "py-[.4rem]", href: "#"} Follow
      %li
        %a.px-4.hover:text-indigo-600.block.dark:hover:text-indigo-300{class: "py-[.4rem]", href: "#"} Save for later
      %li
        %a.px-4.hover:text-indigo-600.block.dark:hover:text-indigo-300{class: "py-[.4rem]", href: "#"} Mute
  / additional content
<% end %>

<% content_for :js, flush: true do %>
// app/javascript/controllers/dropdown_controller.js

import { Controller } from '@hotwired/stimulus'
import { useTransition } from 'stimulus-use'

export default class extends Controller {
  static targets = ['menu', 'trigger']

  connect() {
    useTransition(this, {
      element: this.menuTarget,
    })
  }

  toggle() {
    this.toggleTransition()
  }

  hide(event) {
    if (
      !this.element.contains(event.target) &&
      !this.menuTarget.classList.contains('hidden')
    ) {
      this.leave()
    }
  }
}
<% end %>

<%= render_snippet js_filename: "dropdown_controller.js" %>
</div>
