<div class="my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Images", subtitle: "Responsive images" %>

  <div class="prose dark:!prose-invert mb-6">
    <p>Display images that scale proportionally relative to browser widths.</p>
  </div>

  <img src="https://source.unsplash.com/random/1600x900" class="max-w-full h-auto">
</div>

<%# .html %>
<% content_for :html, flush: true do %>
  <img src="#" class="max-w-full h-auto">
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
  <%%= image_tag "...", class: "max-w-full", alt:"..." %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
  %img.max-w-full{:alt => "...", :src => "..."}
<% end %>
<%= render_snippet %>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Images - Object Fit", subtitle: "Object Cover" %>

<div class="prose dark:!prose-invert mb-6 max-w-full">
  <p>Resize an element's content to cover it's container using <%= code(".object-cover") %></p>
</div>

<div class="bg-slate-50 flex items-center justify-center p-6 rounded-lg border border-slate-200 dark:bg-slate-700 dark:border-slate-600">
  <img src="https://source.unsplash.com/random/900×700/?dog" alt="dog" class="object-cover h-48 w-96 rounded-lg shadow-xl">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-cover h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-50...">
  <%%= image_tag "#", class: "object-cover h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-cover h-48 w-96"
<% end %>
<%= render_snippet %>
</div>


<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Images - Object Fit", subtitle: "Object Contain" %>

<div class="prose dark:!prose-invert mb-6 max-w-full">
  <p>Resize an element’s content to stay contained within its container using <%= code(".object-contain") %>.</p>
</div>

<div class="bg-slate-50 flex items-center justify-center p-6 rounded-lg border border-slate-200 dark:bg-slate-700 dark:border-slate-600">
  <img src="https://source.unsplash.com/random/900×700/?dog" alt="fruit" class="object-contain h-48 w-96 rounded-lg shadow-xl bg-blue-100">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-contain h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-50...">
  <%%= image_tag "#", class: "object-contain h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-contain h-48 w-96"
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Images - Object Fit", subtitle: "Object Fill" %>

<div class="prose dark:!prose-invert mb-6 max-w-full">
  <p>Stretch an element's content to fit its container <%= code(".object-fill") %>.</p>
</div>

<div class="bg-slate-50 flex items-center justify-center p-6 rounded-lg border border-slate-200 dark:bg-slate-700 dark:border-slate-600">
  <img src="https://source.unsplash.com/random/900×700/?dog" alt="dog" class="object-fill h-48 w-96 rounded-lg shadow-xl bg-blue-100">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-fill h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-500...">
  <%%= image_tag "#", class: "object-fill h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-fill h-48 w-96"
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Images - Object Fit", subtitle: "Object Scale Down" %>

<div class="prose dark:!prose-invert mb-6 max-w-full">
  <p>Display an element’s content at its original size but scale it down to fit its container if necessary using <%= code(".object-scale-down") %>.</p>
</div>

<div class="bg-slate-50 flex items-center justify-center p-6 rounded-lg border border-slate-200 dark:bg-slate-700 dark:border-slate-600">
  <img src="https://source.unsplash.com/random/900×700/?dog" alt="fruit" class="object-scale-down h-48 w-96 rounded-xl shadow-xl bg-blue-100">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-scale-down h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-50...">
  <%%= image_tag "#", class: "object-scale-down h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-scale-down h-48 w-96"
<% end %>
<%= render_snippet %>
</div>
