<h2>1. Initializing a dropdown</h2>

<div class="prose max-w-full dark:prose-invert my-6">
  <p>Use the <%= code('data-controller="dropdown"') %> attribute to initialize a new dropdown component using <%= link_to "Stimulus.js", "https://stimulus.hotwired.dev/", target: :_blank %>.</p>
</div>

<div class="not-prose mt-6">
<% content_for :html, flush: true do %>
<div data-controller="dropdown">
  <button>Dropdown</button>
  <div>
    <a href="#">Menu list item 1</a>
    <a href="#">Menu list item 2</a>
  </div>
</div>
<% end %>

<% content_for :js, flush: true do %>
// app/javascript/controllers/dropdown_controller.js
import { Controller } from '@hotwired/stimulus'
import { useTransition } from 'stimulus-use'

export default class extends Controller {
  static targets = ['menu', 'trigger']

  connect() {
    useTransition(this, {
      element: this.menuTarget,
    })
  }

  toggle() {
    this.toggleTransition()
  }

  hide(event) {
    if (
      !this.element.contains(event.target) &&
      !this.menuTarget.classList.contains('hidden')
    ) {
      this.leave()
    }
  }
}
<% end %>
<%= render_snippet %>
</div>

<% content_for :html, flush: true do %>

<% end %>

<div class="prose max-w-full dark:prose-invert my-6">
  Be sure the controller is registered inside <%= code "app/javascript/controllers/index.js" %>. (This should already be the case when you installed the <%= Railsui.config.theme.humanize %> theme.)
</div>

<div class="not-prose">
<% content_for :bash, flush: true do %>

<% end %>

<% content_for :js, flush: true do %>
// app/javascript/controllers/index.js

import { application } from './application'

import DropdownController from './dropdown_controller.js'
application.register('dropdown', DropdownController)
<% end %>
<%= render_snippet(active_tab: "js") %>
</div>
