<div id="auth-prerequisites">
   <div class="prose prose-neutral dark:prose-invert mb-6">
    <h3>Prerequisites</h3>

    <p>In the version 3 of Rails UI, direct integration with <a href="https://rubygems.org/gems/devise/" target="_blank">Devise</a> was dropped in favor of a more flexible approach that is based on code snippets you copy and paste into your app.</p>

    <p>If you use Devise, these snippets should give you a head start on all the views generated when running/having run <code>rails generate devise:views</code>.</p>


    <p>Here are the pages you'll find in the Devise authentication system:</p>

    <ul>
      <li><%= link_to("Sign up", systems_authentication_devise_signup_path) %></li>
      <li><%= link_to("Sign in", systems_authentication_devise_signin_path) %></li>
      <li><%= link_to("Change password", systems_authentication_devise_change_password_path) %></li>
      <li><%= link_to("Reset password", path: systems_authentication_devise_reset_password_path) %></li>
      <li><%= link_to("Confirmation", systems_authentication_devise_confirmation_path) %></li>
      <li><%= link_to("Edit account", systems_authentication_devise_edit_path) %></li>
      <li><%= link_to("Unlock", systems_authentication_devise_unlocks_path) %></li>
    </ul>
  </div>
</div>

<div id="auth-global-layout" class="pb-6">
  <div class="prose prose-neutral dark:prose-invert my-6 max-w-full">
    <h3>Main Layout</h3>
    <p>Consider extracting this to a reusable partial. For the examples shown it's assumed you've added this partial in the <code>app/views/devise</code> directory.</p>
  </div>

<% content_for :html, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
<!-- app/views/devise/_auth_layout.html.erb -->
<div class="md:flex grid flex-wrap md:w-screen md:h-[calc(100vh-60px)]">
  <div class="md:w-1/2 flex items-center justify-center p-10 md:order-1 order-2">
    <div class="md:w-[400px] w-full">
      <%%= link_to root_path, class: "group inline-block mb-6" do %>
        <!-- Swap for your logo -->
        <%%= icon "logo", custom_path: "/railsui/logo.svg", class: "group-hover:brightness-105 group-hover:scale-95 transform ease-in-out duration-200 transition-transform group-hover:-rotate-2 w-10 h-10 text-primary-500 fill-current" %>
      <%% end %>


      <!-- Add or yield form content here -->
      <%%= yield %>

      <!--
      Add additional provider SVG icons in app/assets/images/railsui/omniauth as necessary.
      Default options include: Google, LinkedIn, Twitter, Facebook.

      **You will need to install additional dependencies
      not included in Rails UI for omniauth support.**
      -->
      <%% if devise_mapping.omniauthable? && %w{ registrations sessions }.include?(controller_name) %>

      <hr class="mt-8 border-zinc-100" />

      <div class="space-y-3 mt-10">
        <%% resource_class.omniauth_providers.each do |provider| %>
          <%%= button_to omniauth_authorize_path(resource_name, provider), class: "btn btn-white w-full", data: { turbo: false } do %>
            <div class="flex items-center gap-2">
              <%%= icon provider.gsub(/\s+/, '').downcase, custom_path: "/railsui/omniauth/#{provider.gsub(/\s+/, '').downcase}.svg", class: "size-4 text-zinc-600 fill-current" %>
              <span>Continue with <%%= OmniAuth::Utils.camelize(provider) %></span>
            </div>
          <%% end %>
        <%% end %>
      </div>
      <%% end %>

      <div class="mt-4">
        <%%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:order-2 order-1 bg-zinc-900 overflow-hidden">
    <%%= image_tag ["railsui/auth-cabin.jpg", "railsui/auth-desert.jpg"].sample, class: "object-cover md:h-screen h-[140px] w-full animate-fadeIn", alt: "Sign in to Shepherd" %>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/_auth_layout.html.erb
.md:flex.grid.flex-wrap.md:w-screen{class: "md:h-[calc(100vh-60px)]"}
  .flex.items-center.justify-center.p-10.md:order-1.order-2{class: "md:w-1/2"}
    .w-full{class: "md:w-[400px]"}
      = link_to root_path, class: "group inline-block mb-6" do
        = icon "logo", custom_path: "/railsui/logo.svg", class:  "group-hover:brightness-105 group-hover:scale-95 transform ease-in-out duration-200 transition-transform group-hover:-rotate-2 w-10 h-10 text-primary-500 fill-current"

      = yield
      /
        Add additional provider SVG icons in app/assets/images/railsui/omniauth as necessary.
        Default options include: Google, LinkedIn, Twitter, Facebook.

        **You will need to install additional dependencies
        not included in Rails UI for omniauth support.**
      - if devise_mapping.omniauthable? && %w{ registrations sessions }.include?(controller_name)
        %hr.mt-8.border-zinc-100/
        .space-y-3.mt-10
          - resource_class.omniauth_providers.each do |provider|
            = button_to omniauth_authorize_path(resource_name, provider), class: "btn  btn-white w-full", data: { turbo: false } do
              .flex.items-center.space-x-2
                = icon provider.gsub(/\s+/, '').downcase, custom_path: "/railsui/omniauth/#{provider.gsub(/\s+/, '').downcase}.svg", class: "size-4 text-zinc-600 fill-current"
                %span
                  Continue with #{OmniAuth::Utils.camelize(provider)}
      .mt-4
        = render "devise/shared/links"
  .md:order-2.order-1.bg-zinc-900.overflow-hidden{class: "md:w-1/2"}
    = image_tag ["railsui/auth-cabin.jpg", "railsui/auth-desert.jpg"].sample, class: "object-cover md:h-screen h-[140px] w-full animate-fadeIn", alt: "Sign in to Shepherd"
<% end %>

<%= render_snippet(active_tab: "erb", erb_filename: "_auth_layout.html.erb", haml_filename: "_auth_layout.haml.erb") %>

<div class="prose prose-neutral dark:prose-invert my-6 max-w-full">
  <p>Then in dedicated Devise views you can render the main meat and potatoes.</p>
</div>

<% content_for :html, flush: true do %>

<% end %>

<% content_for :haml, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
<%%= render "devise/auth_layout" do %>
  <!-- Add or yield form content here -->
<%%% end %>
<% end %>

<%= render_snippet(active_tab: "erb") %>
</div>

<%= divider %>

<div id="auth-links-partial" class="py-6">
<div class="prose dark:prose-invert my-6 max-w-full prose-neutral">

<h2 class="mt-3">Modified Devise links partial</h2>

<p>If you're using Devise be sure to update the _links.html.erb partial in your app to match the following.</p>
</div>

<% content_for :erb, flush: true do %>
<!-- app/views/devise/shared/_links -->
<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<%#= link_to "Forgot your password?", new_password_path(resource_name) %>
<%# end %>

<%% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="prose prose-sm prose-zinc dark:prose-invert py-3 text-center">
  <%%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
  </div>
<%% end %>

<%% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="prose prose-sm prose-zinc dark:prose-invert py-3 text-center">
    <%%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
  </div>
<%% end %>

<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/shared/_links
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  .prose.prose-sm.prose-zinc.dark:prose-invert.py-3.text-center
    = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  .prose.prose-sm.prose-zinc.dark:prose-invert.py-3.text-center
    = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
<% end %>

<%= render_snippet(active_tab: "erb", erb_filename: "_links.html.erb", haml_filename: "_links.haml.erb") %>
</div>

<%= divider %>

<div id="auth-omniauth-ui" class="py-6">
<div class="prose prose-neutral dark:prose-invert my-6 max-w-full">

<h3>OmniAuth</h3>

<p>The <%= theme_name.humanize %> theme has support for themed and branded Omniauth provider icons. Icons for those providers are rendered from <code>app/assets/images/railsui/omniauth</code>.</p>

<%= render callout do %>
  <%= link_to "OmniAuth", "https://github.com/omniauth/omniauth", target: :_blank %> will need to be installed and configured to work with the <%= theme_name.humanize %> theme.
<% end %>

<p>Here's an example of the UI with various providers:</p>

<%= render preview('zinc') do %>
<div class="flex flex-col gap-4 items-center justify-center max-w-xs mx-auto">
  <button class="btn btn-white w-full">
    <div class="flex items-center gap-2">
      <%= icon "google", custom_path: "/railsui/omniauth/google.svg", class: "size-4 text-[#4285f4] fill-current" %>
      <span>Continue with Google</span>
    </div>
  </button>

   <button class="btn btn-white w-full">
    <div class="flex items-center gap-2">
      <%= icon "github", custom_path: "/railsui/omniauth/github.svg", class: "size-4 text-zinc-900 fill-current" %>
      <span>Continue with GitHub</span>
    </div>
  </button>

  <button class="btn btn-white w-full">
    <div class="flex items-center gap-2">
      <%= icon "x", custom_path: "/railsui/omniauth/x.svg", class: "size-4 text-zinc-900 fill-current" %>
      <span>Continue with X</span>
    </div>
  </button>

  <button class="btn btn-white w-full">
    <div class="flex items-center gap-2">
      <%= icon "linkedin", custom_path: "/railsui/omniauth/linkedin.svg", class: "size-4 text-[#0a66c2] fill-current" %>
      <span>Continue with LinkedIn</span>
    </div>
  </button>
</div>
<% end %>
</div>
</div>

<%= divider %>

<div id="auth-error-messages" class="py-6">
<%= render layout: example, locals: { heading: "_error_messages partial" } do %>
<div class="prose prose-neutral dark:prose-invert mb-6">
<p>By default Rails UI copies over a pre-styled error partial made to work out of the box and save you time during development. This file is called <code>_error_messages.html.erb</code>.</p>

<p>The <%= theme_name.humanize %> theme leverages this partial for all form error rendering to keep the error/validation handling experience consistent.</p>

<p>You may optionally swap the default Devise error_messages partial for this one.</p>
</div>

<%= render preview 'zinc' do %>
<div class="bg-primary-50/50 text-primary-700 sm:px-9 sm:py-6 px-6 py-6 rounded-lg mb-6 dark:bg-primary-400/10 dark:border dark:border-primary-400/20 dark:text-primary-50 text-sm" role="alert">
  <p class="font-semibold font-heading">1 error prohibited this post from being saved:</p>
  <ul class="list-disc mt-3 ml-4">
    <li>Title must exist</li>
  </ul>
</div>
<% end %>

<% content_for :example, flush: true do %>
<%= content_for :erb, flush: true do %>
<!-- app/views/rui/shared/_error_messages.html.erb -->
<%% if resource.errors.any? %>
<div class="bg-primary-50/50 text-primary-700 sm:px-9 sm:py-6 px-6 py-6 rounded-lg mb-6 dark:bg-primary-400/10 dark:border dark:border-primary-400/20 dark:text-primary-50 text-sm" role="alert">
  <p class="font-semibold font-heading"><%%= pluralize(resource.errors.count, "error") %> prohibited this post from being saved:</p>
  <ul class="list-disc mt-3 ml-4">
    <%% resource.errors.each do |error| %>
      <li><%%= error.full_message %></li>
      <%% end %>
    </ul>
  </div>
<%% end %>
<% end %>

  <% content_for :haml, flush: true do %>
/ app/views/rui/shared/_error_messages.html.erb
- if resource.errors.any?
  .text-primary-700.sm:px-9.sm:py-6.px-6.py-6.rounded-lg.mb-6.dark:border.dark:text-primary-50.text-sm(class="bg-primary-50/50 dark:bg-primary-400/10 dark:border-primary-400/20" role="alert")
  %p.font-semibold.font-heading
  = pluralize(resource.errors.count, "error")
    prohibited this post from being saved:
    %ul.list-disc.mt-3.ml-4
      - resource.errors.each do |error|
        %li= error.full_message
  <% end %>

  <%= render_snippet active_tab: "erb", erb_filename: "_error_messages.html.erb", haml_filename: "_error_messages.haml.erb" %>
<% end %>
<% end %>
</div>

<%= system_pagination(prev_path: systems_components_tooltip_path, prev_text: "Tooltip", next_path: systems_authentication_devise_signup_path, next_text: "Sign up") %>

<%= content_for :component_nav do %>
<%= render layout: "railsui/shared/component_nav", locals: { title: "On this page" } do %>
<%= component_link "Prerequisites", "#auth-prerequisites" %>
<%= component_link "Main layout", "#auth-global-layout" %>
<%= component_link "Links partial", "#auth-links-partial" %>
<%= component_link "OmniAuth", "#auth-omniauth-ui" %>
<%= component_link "Error messages", "#auth-error-messages" %>
<% end %>
<% end %>
