<div class="mb-16 mt-6 relative">
  <%= render "railsui/shared/sticky_subhead", title: "Tables", subtitle: "Bordered" %>
  <div class="rui">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Andy</td>
          <td>L.</td>
          <td>@railsui_</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Web</td>
          <td>Crunch</td>
          <td>@webcrunchblog</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">justalever</td>
          <td>@justalever</td>
        </tr>
      </tbody>
    </table>
  </div>
  <%# .html %>
<% content_for :html, flush: true do %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andy</td>
      <td>L.</td>
      <td>@railsui_</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Web</td>
      <td>Crunch</td>
      <td>@webcrunchblog</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">justalever</td>
      <td>@justalever</td>
    </tr>
  </tbody>
</table>
<% end %>

  <%# .erb %>
<% content_for :erb, flush: true do %>
<%%= tag.table class: "table table-bordered" do %>
  <%%= tag.thead do %>
    <%%= tag.tr do %>
      <%%= tag.th "#", scope: "col" %>
      <%%= tag.th "First", scope: "col" %>
      <%%= tag.th "Last", scope: "col" %>
      <%%= tag.th "Handle", scope: "col" %>
    <%% end %>
  <%% end %>
  <%%= tag.tbody do %>
    <%%= tag.tr do %>
      <%%= tag.th "1", scope: "row" %>
      <%%= tag.td "Andy" %>
      <%%= tag.td "L." %>
      <%%= tag.td "@railsui_" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "2", scope: "row" %>
      <%%= tag.td "Web" %>
      <%%= tag.td "Crunch" %>
      <%%= tag.td "@webcrunchblog" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "3", scope: "row" %>
      <%%= tag.td "justalever", colspan: "2" %>
      <%%= tag.td "@justalever" %>
    <%% end %>
  <%% end %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%table.table.table-bordered
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First
      %th{:scope => "col"} Last
      %th{:scope => "col"} Handle
  %tbody
    %tr
      %th{:scope => "row"} 1
      %td Andy
      %td L.
      %td @railsui_
    %tr
      %th{:scope => "row"} 2
      %td Web
      %td Crunch
      %td @webcrunchblog
    %tr
      %th{:scope => "row"} 3
      %td{:colspan => "2"} justalever
      %td @justalever
<% end %>
<%= render_snippet %>
</div>

<div class="my-6">
<%= render "railsui/shared/sticky_subhead", title: "Tables", subtitle: "Borderless" %>
<div class="rui">
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andy</td>
      <td>L.</td>
      <td>@railsui_</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Web</td>
      <td>Crunch</td>
      <td>@webcrunchblog</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">justalever</td>
      <td>@justalever</td>
    </tr>
  </tbody>
</table>
</div>
<%# .html %>
<% content_for :html, flush: true do %>
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andy</td>
      <td>L.</td>
      <td>@railsui_</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Web</td>
      <td>Crunch</td>
      <td>@webcrunchblog</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">justalever</td>
      <td>@justalever</td>
    </tr>
  </tbody>
</table>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%%= tag.table class: "table table-borderless" do %>
  <%%= tag.thead do %>
    <%%= tag.tr do %>
      <%%= tag.th "#", scope: "col" %>
      <%%= tag.th "First", scope: "col" %>
      <%%= tag.th "Last", scope: "col" %>
      <%%= tag.th "Handle", scope: "col" %>
    <%% end %>
  <%% end %>
  <%%= tag.tbody do %>
    <%%= tag.tr do %>
      <%%= tag.th "1", scope: "row" %>
      <%%= tag.td "Andy" %>
      <%%= tag.td "L." %>
      <%%= tag.td "@railsui_" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "2", scope: "row" %>
      <%%= tag.td "Web" %>
      <%%= tag.td "Crunch" %>
      <%%= tag.td "@webcrunchblog" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "3", scope: "row" %>
      <%%= tag.td "justalever", colspan: "2" %>
      <%%= tag.td "@justalever" %>
    <%% end %>
  <%% end %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%table.table.table-borderless
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First
      %th{:scope => "col"} Last
      %th{:scope => "col"} Handle
  %tbody
    %tr
      %th{:scope => "row"} 1
      %td Andy
      %td L.
      %td @railsui_
    %tr
      %th{:scope => "row"} 2
      %td Web
      %td Crunch
      %td @webcrunchblog
    %tr
      %th{:scope => "row"} 3
      %td{:colspan => "2"} justalever
      %td @justalever
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
<%= render "railsui/shared/sticky_subhead", title: "Tables", subtitle: "Light" %>
<div class="rui">
  <table class="table">
    <thead class="table-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andy</td>
      <td>L.</td>
      <td>@railsui_</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Web</td>
      <td>Crunch</td>
      <td>@webcrunchblog</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">justalever</td>
      <td>@justalever</td>
    </tr>
  </tbody>
</table>
</div>

<%# .html %>
<% content_for :html, flush: true do %>
<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andy</td>
      <td>L.</td>
      <td>@railsui_</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Web</td>
      <td>Crunch</td>
      <td>@webcrunchblog</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">justalever</td>
      <td>@justalever</td>
    </tr>
  </tbody>
</table>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%%= tag.table class: "table" do %>
  <%%= tag.thead, class: "table-light" do %>
    <%%= tag.tr do %>
      <%%= tag.th "#", scope: "col" %>
      <%%= tag.th "First", scope: "col" %>
      <%%= tag.th "Last", scope: "col" %>
      <%%= tag.th "Handle", scope: "col" %>
    <%% end %>
  <%% end %>
  <%%= tag.tbody do %>
    <%%= tag.tr do %>
      <%%= tag.th "1", scope: "row" %>
      <%%= tag.td "Andy" %>
      <%%= tag.td "L." %>
      <%%= tag.td "@railsui_" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "2", scope: "row" %>
      <%%= tag.td "Web" %>
      <%%= tag.td "Crunch" %>
      <%%= tag.td "@webcrunchblog" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "3", scope: "row" %>
      <%%= tag.td "justalever", colspan: "2" %>
      <%%= tag.td "@justalever" %>
    <%% end %>
  <%% end %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%table.table
  %thead.table-light
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First
      %th{:scope => "col"} Last
      %th{:scope => "col"} Handle
  %tbody
    %tr
      %th{:scope => "row"} 1
      %td Andy
      %td L.
      %td @railsui_
    %tr
      %th{:scope => "row"} 2
      %td Web
      %td Crunch
      %td @webcrunchblog
    %tr
      %th{:scope => "row"} 3
      %td{:colspan => "2"} justalever
      %td @justalever
<% end %>
<%= render_snippet %>
</div>

<div class="my-6">
<%= render "railsui/shared/sticky_subhead", title: "Tables", subtitle: "Dark" %>
<div class="rui">
<table class="table table-dark">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andy</td>
      <td>L.</td>
      <td>@railsui_</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Web</td>
      <td>Crunch</td>
      <td>@webcrunchblog</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">justalever</td>
      <td>@justalever</td>
    </tr>
  </tbody>
</table>
</div>

<%# .html %>
<% content_for :html, flush: true do %>
<table class="table table-dark">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Andy</td>
      <td>L.</td>
      <td>@railsui_</td>
    </tr>
    <tr>
    <th scope="row">2</th>
      <td>Web</td>
      <td>Crunch</td>
      <td>@webcrunchblog</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">justalever</td>
      <td>@justalever</td>
    </tr>
  </tbody>
</table>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%%= tag.table class: "table table-dark" do %>
  <%%= tag.thead, class: "table-dark" do %>
    <%%= tag.tr do %>
      <%%= tag.th "#", scope: "col" %>
      <%%= tag.th "First", scope: "col" %>
      <%%= tag.th "Last", scope: "col" %>
      <%%= tag.th "Handle", scope: "col" %>
    <%% end %>
  <%% end %>
  <%%= tag.tbody do %>
    <%%= tag.tr do %>
      <%%= tag.th "1", scope: "row" %>
      <%%= tag.td "Andy" %>
      <%%= tag.td "L." %>
      <%%= tag.td "@railsui_" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "2", scope: "row" %>
      <%%= tag.td "Web" %>
      <%%= tag.td "Crunch" %>
      <%%= tag.td "@webcrunchblog" %>
    <%% end %>
    <%%= tag.tr do %>
      <%%= tag.th "3", scope: "row" %>
      <%%= tag.td "justalever", colspan: "2" %>
      <%%= tag.td "@justalever" %>
    <%% end %>
  <%% end %>
<%% end %>
<% end %>

  <%# .haml %>
  <% content_for :haml, flush: true do %>
%table.table.table-dark
  %thead.table-dark
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} First
      %th{:scope => "col"} Last
      %th{:scope => "col"} Handle
    %tbody
      %tr
        %th{:scope => "row"} 1
        %td Andy
        %td L.
        %td @railsui_
      %tr
        %th{:scope => "row"} 2
        %td Web
        %td Crunch
        %td @webcrunchblog
      %tr
        %th{:scope => "row"} 3
        %td{:colspan => "2"} justalever
        %td @justalever
<% end %>
  <%= render_snippet %>
</div>

<%= render "railsui/shared/read_more", subject: "tables", link: "https://getbootstrap.com/docs/#{Railsui::Default::BOOTSTRAP_VERSION}/content/tables/" %>
