<div id="typography-display-headings" %>
<%= render layout: example, locals: { heading: "Display headings", section: "Typography" } do %>
<div class="mb-4">
  <h1 class="display-1">A quick brown fox jumps over the lazy dog.</h1>
  <%= help_text do %>
    <p>h1</p>
  <% end %>
</div>

<div class="mb-4">
  <h2 class="display-2">A quick brown fox jumps over the lazy dog.</h2>
  <%= help_text do %>
    <p>h2</p>
  <% end %>
</div>

<div class="mb-4">
  <h3 class="display-3">A quick brown fox jumps over the lazy dog.</h3>
  <%= help_text do %>
    <p>h3</p>
  <% end %>
</div>

<div class="mb-4">
  <h4 class="display-4">A quick brown fox jumps over the lazy dog.</h4>
  <%= help_text do %>
    <p>h4</p>
  <% end %>
</div>

<div class="mb-4">
  <h5 class="display-5">A quick brown fox jumps over the lazy dog.</h5>
  <%= help_text do %>
    <p>h5</p>
  <% end %>
</div>

<div class="mb-4">
  <h6 class="display-6">A quick brown fox jumps over the lazy dog.</h6>
  <%= help_text do %>
    <p>h6</p>
  <% end %>
</div>


<% content_for :example, flush: true do %>
<%# .html %>
<% content_for :html, flush: true do %>
<h1 class="display-1">A quick brown fox jumps over the lazy dog.</h1>
<h2 class="display-2">A quick brown fox jumps over the lazy dog.</h2>
<h3 class="display-3">A quick brown fox jumps over the lazy dog.</h3>
<h4 class="display-4">A quick brown fox jumps over the lazy dog.</h4>
<h5 class="display-5">A quick brown fox jumps over the lazy dog.</h5>
<h6 class="display-6">A quick brown fox jumps over the lazy dog.</h6>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%%= content_tag :h1, "A quick brown fox jumps over the lazy dog.", class: "display-1" %>
<%%= content_tag :h2, "A quick brown fox jumps over the lazy dog.", class: "display-2" %>
<%%= content_tag :h3, "A quick brown fox jumps over the lazy dog.", class: "display-3" %>
<%%= content_tag :h4, "A quick brown fox jumps over the lazy dog.", class: "display-4" %>
<%%= content_tag :h5, "A quick brown fox jumps over the lazy dog.", class: "display-5" %>
<%%= content_tag :h6, "A quick brown fox jumps over the lazy dog.", class: "display-6" %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%h1.display-1 A quick brown fox jumps over the lazy dog.
%h2.display-2 A quick brown fox jumps over the lazy dog.
%h3.display-3 A quick brown fox jumps over the lazy dog.
%h4.display-4 A quick brown fox jumps over the lazy dog.
%h5.display-5 A quick brown fox jumps over the lazy dog.
%h6.display-6 A quick brown fox jumps over the lazy dog.
<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
