<div class="row g-0 vh-100 align-items-center">
  <div class="col-lg-5 col-md-12 vh-100 d-flex align-items-center px-3 px-lg-6">
    <div class="rui-auth-form-wrap">
      <%= link_to root_path do %>
        <%= image_tag Railsui.theme_logo_url, alt: "#{Railsui.config.theme.humanize} logo" %>
      <% end %>

      <%= yield %>

      <div class="mt-4">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="rui-auth-feature-bg col-md-7 vh-100 d-flex align-items-center justify-content-center">
    <%= yield :featured_block %>
  </div>
</div>
