<div class="text-zinc-600 dark:text-zinc-100 sm:px-10 px-4 sm:justify-center flex font-heading text-base">
  <nav role="navigation" class="overflow-y-hidden overflow-x-auto snap-x flex">

    <%= nav_link_to "Profile", "#", active_class: "py-4 px-4 border-b border-primary-500 inline-block bg-white whitespace-nowrap dark:bg-zinc-900 text-primary-500", inactive_class: "py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap" %>

    <%= nav_link_to "Payment Methods", rui_account_payment_methods_path, active_class: "py-4 px-4 border-b border-primary-500 inline-block bg-white whitespace-nowrap dark:bg-zinc-900 text-primary-500", inactive_class: "py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap" %>

    <%= nav_link_to "Payouts", rui_account_payouts_path, active_class: "py-4 px-4 border-b border-primary-500 inline-block bg-white whitespace-nowrap dark:bg-zinc-900 text-primary-500", inactive_class: "py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap" %>

    <%= nav_link_to "Notifications", rui_account_notifications_path, active_class: "py-4 px-4 border-b border-primary-500 inline-block bg-white whitespace-nowrap dark:bg-zinc-900 text-primary-500", inactive_class: "py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap"%>

    <%= nav_link_to "Preferences", rui_account_preferences_path, active_class: "py-4 px-4 border-b border-primary-500 inline-block bg-white whitespace-nowrap dark:bg-zinc-900 text-primary-500", inactive_class: "py-4 px-4 bg-white dark:bg-zinc-900 inline-block whitespace-nowrap" %>
  </nav>
</div>
