<% content_for :header do %>
  <header class="bg-cover bg-center relative bg-no-repeat" style="background-image: url(<%= asset_url("railsui/fusion.png") %>);" data-controller="nav">
    <div class="dark:bg-slate-900">
      <%= render "rui/shared/nav_menu" %>
    </div>
    <div class="container mx-auto sm:py-24 pb-10 px-4 relative z-10 flex flex-wrap items-center justify-between">
      <div class="xl:w-2/5 w-full xl:text-left text-center xl:pr-16">
        <p class="text-primary-600 font-medium mb-6 lg:mt-0 mt-2 dark:text-primary-500">Our Company</p>
        <h1 class="h2 md:display-5">Soaring to <br class="md:block hidden" /> new heights in tech</h1>
        <p class="my-6 text-slate-700 dark:text-slate-400 text-lg">We empower each other to build great software one line
          of code and one team member at a time.</p>
        <div class="xl:flex grid grid-cols-1 gap-4">
          <%= link_to "Join our team", "#", class: "btn btn-primary btn-lg" %>
          <%= link_to "#", class: "btn btn-lg  btn-white gap-2 group" do %>
            <%= icon "play", class: "size-5 stroke-slate-400 group-hover:stroke-primary-600" %>
            <span>Watch video</span>
          <% end %>
        </div>
      </div>
      <div class="xl:w-3/5 w-full xl:my-0 mt-6 mb-10">
        <div class="flex justify-center relative">
          <%= image_tag "railsui/hero-image.jpg", alt: "Team", class: "max-w-full xl:max-w-2xl 2xl:max-w-3xl object-cover rounded-3xl relative z-20 shadow-2xl shadow-slate-500/20" %>
          <div
          class="w-[650px] h-[650px] bg-primary-500/10 absolute -bottom-10 left-5 rounded-full z-0 blur-2xl sm:block hidden">
          </div>
          <div
          class="w-[450px] h-[450px] bg-pink-500/10 absolute -top-10 left-5 rounded-full z-0 blur-2xl sm:block hidden">
          </div>
        </div>
      </div>
    </div>
  </header>
<% end %>

<div class="container mx-auto sm:px-16 px-4 lg:py-24 pb-16 pt-0">
  <div class="flex flex-wrap items-center justify-between">
    <div class="lg:w-1/2 w-full">
      <span class="block w-20 bg-slate-300 dark:bg-slate-700 h-px"></span>
      <h2 class="h3 pt-10">The challenges that lie ahead</h2>
      <div class="max-w-lg mt-6 prose prose-primary dark:prose-invert">
        <p>At Startup Inc., we are committed to pushing the boundaries of technology to create solutions that not only meet today's needs but also anticipate tomorrow's challenges. Our journey has been marked by a relentless pursuit of excellence, and we take pride in the transformative impact our products have had on businesses around the world.</p>
        <p>Our team of dedicated professionals brings together a wealth of experience and expertise, driving us to innovate continuously. From cutting-edge software development to groundbreaking AI integrations, we strive to stay ahead of the curve, ensuring that our clients can leverage the best that technology has to offer.</p>
        <p>We understand that the road ahead is filled with challenges, but we see these as opportunities to grow and excel. By embracing change and fostering a culture of continuous improvement, we aim to build solutions that not only address current market demands but also pave the way for future advancements.</p>
        <p>Join us as we navigate this exciting journey, where every challenge is an opportunity to learn, grow, and succeed. Together, we can shape the future of technology and create a world where possibilities are endless.</p>
        <%= link_to "#", class: "flex gap-2 items-center group" do %>
          <span>View open roles</span>
          <%= icon "chevron-right", class: "group-hover:transform group-hover:translate-x-1 group-hover:transition-transform group-hover:duration-300 size-3 fill-current transform transition duration-300", variant: :solid %>
        <% end %>
      </div>
    </div>
    <div class="lg:w-1/2 w-full">
      <%= image_tag "railsui/challenges.png", alt: "Challenges", class: "max-w-full h-auto w-full" %>
    </div>
  </div>
</div>

<div class="bg-slate-900 dark:bg-slate-800 py-16 text-slate-100 sm:px-16 px-4">
  <div class="mx-auto max-w-lg text-center">
    <div class="flex items-center justify-center">
      <%= image_tag "railsui/brad-jost.png", alt: "Brad Jost", class: "size-20 rounded-full mb-2" %>
    </div>
    <blockquote class="text-center font-light text-lg">"Rails UI has transformed the way we build and maintain our web applications. The pre-built components and templates save us countless hours, allowing our team to focus on delivering value to our users."
      <cite class="mt-2 block font-semibold text-white">Brad Jost</cite>
    </blockquote>
  </div>
</div>

<div class="container mx-auto py-16 sm:px-16 px-4">
  <div class="flex justify-center mb-6">
    <div class="rounded bg-primary-100 dark:bg-primary-500/50 w-12 h-12 flex items-center justify-center">
      <%= icon "globe-americas", class: "text-primary-700 dark:text-primary-300 size-6 stroke-current" %>
    </div>
  </div>
  <h3 class="h3 mb-2 text-center">Work from across the globe</h3>
  <p class="text-center text-slate-700 dark:text-slate-300">We're actively looking to fill over 100 roles. Join us!</p>

  <div class="max-w-4xl mx-auto">
    <ul class="divide-y divide-dashed divide-slate-300 my-6 dark:divide-slate-600">
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Designer", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Engineer", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Design Manager", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Engineering Manager", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Designer", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Engineer", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Design Manager", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
      <li class="flex items-center flex-wrap justify-between py-5">
        <%= link_to "Product Engineering Manager", "#", class: "text-primary-600 dark:text-primary-400 font-medium hover:underline" %>
        <p class="text-slate-600">Remote</p>
      </li>
    </ul>

    <%= link_to "View all open roles", "#", class: "btn btn-primary" %>
  </div>
</div>

<div class="bg-gradient-to-br from-slate-800 to-slate-900 text-white px-4">
  <div class="max-w-6xl mx-auto grid lg:grid-cols-2 grid-cols-1 gap-10 relative lg:py-24 py-16">
    <div class="flex items-start md:justify-center">
      <div
        style="background-image: url(<%= asset_url('railsui/checkboard-pattern.svg') %>)"
        class="bg-repeat-y w-32 absolute top-0 left-0 h-full lg:opacity-100 opacity-50">
      </div>

      <%= image_tag "railsui/process.png", alt: "Process description", class: "lg:max-w-lg max-w-full inline text-center relative z-50 h-full" %>
    </div>
    <div>
      <p class="text-primary-300 uppercase tracking-wider text-sm font-medium dark:text-primary-500">Work with us</p>
      <h3 class="text-white h3 my-2">Our Process</h3>
      <div class="prose prose-primary text-white max-w-lg">
        <p>At Startup Inc., our process is designed to ensure the highest quality of work while fostering creativity and innovation. We believe in a collaborative approach where every team member’s input is valued and integral to our success.</p>

        <p>From the initial consultation to the final delivery, we maintain transparency and open communication with our clients. Our process begins with a thorough understanding of your needs and objectives. This is followed by meticulous planning and execution, ensuring every detail aligns with your vision and goals.</p>

        <h4 class="text-white h5">What Sets Us Apart</h4>

        <p>What truly sets us apart is our commitment to excellence and our passion for innovation. We don't just deliver products; we create solutions that drive growth and efficiency. Our team is dedicated to staying ahead of industry trends, ensuring that our clients benefit from the latest advancements in technology.</p>

        <p>Our process is characterized by continuous improvement and adaptability. We believe in learning from each project and refining our methods to better serve our clients. This dedication to excellence has earned us a reputation as a trusted partner in the tech industry.</p>

        <p>Join us on this journey of innovation and success. Let’s work together to turn your vision into reality and achieve extraordinary results.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-slate-100 dark:bg-slate-900 lg:py-20 py-16">
  <div class="container mx-auto sm:px-16 px-4">
    <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-24 gap-12">
      <div>
        <h3 class="text-3xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Enabling collaboration <br class="lg:block hidden" />
          at exponential rates
        </h3>
        <p class="my-6 text-slate-700 text-lg leading-relaxed dark:text-slate-300">At Startup Inc., we are dedicated to fostering seamless collaboration, driving productivity, and accelerating growth. Our innovative solutions are designed to enable teams to work together more efficiently and effectively than ever before.</p>
        <div class="prose prose-slate dark:prose-invert">
          <p>We believe that the key to success lies in the ability to collaborate effortlessly. Our platform is built with this core principle in mind, ensuring that communication and project management are streamlined, intuitive, and powerful. Our solutions are tailored to meet the unique needs of each team, providing the tools and resources necessary to achieve their goals.</p>
          <p>Our commitment to excellence and innovation has made us a trusted partner for businesses around the world. We continually strive to enhance our platform, integrating the latest technologies and best practices to provide unparalleled support for our users.</p>
          <%= link_to "#", class: "flex items-center gap-2 group" do %>
            Read more about what we've been working on
            <%= icon "chevron-right", class: "group-hover:transform group-hover:translate-x-1 group-hover:transition-transform group-hover:duration-300 size-3 fill-current transform transition duration-300", variant: :solid %>
          <% end %>
        </div>
      </div>
      <div>
        <div class="bg-primary-600 text-white lg:rounded-xl shadow-lg">
          <%= image_tag "railsui/enabling-collaboration.png", alt: "Enabling collaboration", class: "lg:rounded-t-lg" %>
          <blockquote class="relative text-white text-xl leading-relaxed lg:p-10 p-8">
            <svg class="size-6 fill-current text-white opacity-20 shrink-0" height="22" viewBox="0 0 28 22"
              width="28" xmlns="http://www.w3.org/2000/svg">
              <path
                d="m12.5312 16.9375c0 1.3333-.5416 2.5-1.625 3.5-1.06245 1-2.32287 1.5-3.7812 1.5-2.29167 0-4.05208-.7604-5.28125-2.2813-1.229167-1.5208-1.84375-3.625-1.84375-6.3124 0-2.5 1.05208-5.02088 3.15625-7.56255 2.125-2.54167 4.67708-4.46875 7.65625-5.78125l1.375 2.21875c-2.35417 1.14583-4.19792 2.47917-5.53125 4s-2.10417 3.36458-2.3125 5.53125h1.75c1.29167 0 2.34375.1458 3.15625.4375s1.4688.6979 1.9688 1.2187c.4791.5.8124 1.0521 1 1.6563.2083.6042.3124 1.2292.3124 1.875zm15.4063 0c0 1.3333-.5417 2.5-1.625 3.5-1.0625 1-2.3229 1.5-3.7813 1.5-2.2916 0-4.052-.7604-5.2812-2.2813-1.2292-1.5208-1.8438-3.625-1.8438-6.3124 0-2.5 1.0521-5.02088 3.1563-7.56255 2.125-2.54167 4.6771-4.46875 7.6563-5.78125l1.375 2.21875c-2.3542 1.14583-4.198 2.47917-5.5313 4s-2.1042 3.36458-2.3125 5.53125h1.75c1.2917 0 2.3438.1458 3.1562.4375.8126.2917 1.4688.6979 1.9688 1.2187.4792.5.8125 1.0521 1 1.6563.2083.6042.3125 1.2292.3125 1.875z">
              </path>
            </svg>
            "Our platform has revolutionized the way we work. The ability to collaborate in real-time has significantly increased our productivity and efficiency. We are able to deliver better results, faster."
            <cite class="font-semibold text-base block mt-4">&mdash; Jane Smith, Janice Ross</cite>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 lg:grid-cols-4 gap-8 w-full mt-16">
      <div>
        <p class="text-slate-600 dark:text-slate-400">Founded</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl tracking-tight">2009</h4>
      </div>
      <div>
        <p class="text-slate-600 dark:text-slate-400">Active Users</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl tracking-tight">23,503</h4>
      </div>
      <div>
        <p class="text-slate-600 dark:text-slate-400">Employees</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl tracking-tight">18</h4>
      </div>
      <div>
        <p class="text-slate-600 dark:text-slate-400">Raised</p>
        <h4 class="font-extrabold text-3xl lg:text-5xl tracking-tight">$0</h4>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto lg:py-20 py-10 sm:px-16 px-4">
  <h5 class="uppercase tracking-wider text-primary-600 dark:text-primary-500 text-sm text-center mb-6 font-semibold">From the blog</h5>

  <div class="flex items-start justify-between flex-wrap">
    <article class="lg:w-1/3 w-full lg:p-6 p-3">
      <%= link_to "#", class: "group" do %>
        <%= image_tag "railsui/blog-1.png", alt: "Description for this image", class: "shadow-none group-hover:shadow-xl duration-300 transition" %>
        <h1 class="mt-6 mb-4 h6">5 Tips for Boosting Productivity in Remote Teams</h1>
        <div class="prose prose-slate dark:prose-invert">
          <p>Discover effective strategies to enhance collaboration and efficiency in your remote team, ensuring everyone stays connected and productive.</p>
        </div>
      <% end %>
    </article>
    <article class="lg:w-1/3 w-full lg:p-6 p-3">
      <%= link_to "#", class: "group" do %>
        <%= image_tag "railsui/blog-2.png", alt: "Description for this image", class: "shadow-none group-hover:shadow-xl duration-300 transition" %>
        <h1 class="mt-6 mb-4 h6">The Future of Web Development: Trends to Watch in 2024</h1>
        <div class="prose prose-slate dark:prose-invert">
          <p>Stay ahead of the curve with insights into the latest web development trends, from new frameworks to emerging technologies.</p>
        </div>
      <% end %>
    </article>
    <article class="lg:w-1/3 w-full lg:p-6 p-3">
      <%= link_to "#", class: "group" do %>
        <%= image_tag "railsui/blog-3.png", alt: "Description for this image", class: "shadow-none group-hover:shadow-xl duration-300 transition" %>
        <h1 class="mt-6 mb-4 h6">Mastering Tailwind CSS: Best Practices and Tips</h1>
         <div class="prose prose-slate dark:prose-invert">
          <p>Learn how to effectively use Tailwind CSS to create responsive and visually appealing web designs with ease.</p>
        </div>
      <% end %>
    </article>
  </div>
</div>

<%= render "rui/shared/footer" %>
