<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Activity" } %>
<% end %>

<div class="bg-white border-b dark:bg-slate-800/50 dark:border-b dark:border-slate-700 px-4">
  <div class="container mx-auto sm:flex flex-wrap justify-between items-center">
    <nav role="messages nav">
      <ul
        class="flex items-center justify-start sm:gap-1 py-2 text-slate-600 sm:overflow-auto overflow-y-hidden scroll-smooth snap-start">
        <li class="flex justify-center items-center sm:block">
          <%= link_to "All activity", "#", class: "py-2 px-4 bg-slate-50 dark:bg-slate-900 rounded-lg transition ease-in-out duration-300 text-primary-600 dark:text-primary-400 font-medium flex items-center space-x-2 dark:hover:bg-slate-900/80 whitespace-nowrap" %>
        </li>
        <li class="flex justify-center items-center sm:block">
          <%= link_to "Events", "#", class: "py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-slate-50 hover:text-primary-600 dark:hover:text-primary-400 font-medium flex items-center space-x-2 group dark:text-slate-300 dark:hover:bg-slate-900 whitespace-nowrap" %>
        </li>
        <li class="flex justify-center items-center sm:block">
          <%= link_to "Assignments", "#", class: "py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-slate-50 hover:text-primary-600 dark:hover:text-primary-400 font-medium flex items-center space-x-2 group dark:text-slate-300 dark:hover:bg-slate-900" %>
        </li>
        <li class="flex justify-center items-center sm:block">
          <%= link_to "People", "#", class: "py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-slate-50 hover:text-primary-600 dark:hover:text-primary-400 font-medium flex items-center space-x-2 group dark:text-slate-300 dark:hover:bg-slate-900 whitespace-nowrap" %>
        </li>
        <li class="flex justify-center items-center sm:block">
          <%= link_to "Upcoming", "#", class: "py-2 px-4 rounded-lg transition ease-in-out duration-300 hover:bg-slate-50 hover:text-primary-600 dark:hover:text-primary-400 font-medium flex items-center space-x-2 group dark:text-slate-300 dark:hover:bg-slate-900 whitespace-nowrap" %>
        </li>
      </ul>
    </nav>

    <hr class="lg:hidden block my-2 dark:border-slate-700">

    <div class="relative lg:w-auto w-full lg:mt-0 md:mt-0 mt-4 sm:mt-0 lg:mb-0 mb-4">
      <%= icon "magnifying-glass", class: "size-5 text-slate-500/90 absolute left-3 top-3" %>
      <input type="search" placeholder="Search" class="form-input lg:w-[250px] pl-10 focus:shadow-inner">
    </div>
  </div>
</div>

<div class="max-w-3xl mx-auto relative mb-10">
  <div class="h-full w-px bg-slate-300/80 absolute sm:left-2 left-4 top-0 bottom-0 z-0 dark:bg-slate-700"></div>

  <ul class="pt-10 flex flex-col sm:pl-0 px-4 space-y-10">
    <li class="flex flex-wrap items-start justify-between">
      <div
        class="rounded-full bg-blue-600 text-white flex items-center justify-center shrink-0 sm:size-8 size-6 box-content relative top-0 border-4 border-slate-50 -left-3 dark:border-slate-900">
        <%= icon "calendar", class: "size-4" %>
      </div>
      <div class="flex-1 sm:flex sm:justify-between">
        <div
          class="sm:pt-2 prose prose-slate prose-a:text-primary-500 prose-a:hover:text-primary-600 prose-a:font-medium sm:pr-16 sm:w-auto w-full dark:prose-invert">
          <p><%= link_to "John Smith", "#" %> created a new event <%= link_to "Product Demo for Pork Chop", "#" %> scheduled for
            July 5, 2023, at 10:00 AM.
            (Assigned
            to: <%= link_to "Sarah Johnson", "#" %>)</p>
        </div>
        <time datetime="2023-06-30T10:30"
          class="text-sm text-slate-500/80 dark:text-slate-400/80 block sm:pt-0 pt-2">Jun 30</time>
      </div>
    </li>

    <li class="flex flex-wrap items-start">
      <div>
        <%= image_tag demo_avatar_url(id: "4", variant: "women"), class: "border-4 border-slate-50 box-content top-0 -left-3 relative sm:size-8 size-6  rounded-full dark:border-slate-900" %>
      </div>
      <div class="flex-1 sm:flex sm:flex-wrap w-full sm:justify-between">
        <div
          class="sm:pt-2 prose prose-slate prose-a:text-primary-500 prose-a:hover:text-primary-600 prose-a:font-medium sm:pr-16 sm:w-auto w-full dark:prose-invert">
          <p>
            <%= link_to "Sarah Johnson", "#" %> commented on event <%= link_to "Product Demo for Pork Chop", "#" %>.
          </p>
        </div>
        <time datetime="2023-06-30T10:30"
          class="text-sm text-slate-500/80 dark:text-slate-400/80 block sm:pt-0 pt-2">Jun 30</time>
        <div
          class="bg-white border border-gray-300 rounded p-4 w-full max-w-xl mt-4 prose relative dark:bg-slate-700 dark:text-slate-100 dark:border-slate-600">
          <p>Wow, the Product Demo for Pork Chop sounds exciting! I can't wait to see what our team has in store for this event. Let's make sure to prepare thoroughly and deliver a top-notch presentation. If anyone needs assistance or has any ideas, feel free to reach out to me. Together, we'll make it a great success!</p>
          <%= link_to "Post reply", "#", class: "font-semibold text-primary-600 hover:text-primary-700 absolute bottom-3 px-3 py-2 hover:bg-slate-50 rounded-lg no-underline right-4 text-sm focus:ring-4 focus:ring-primary-50 dark:text-primary-400 dark:hover:bg-slate-800 dark:hover:text-slate-300 dark:focus:ring-slate-600" %>
        </div>
      </div>
    </li>

    <li class="flex flex-wrap items-start justify-between">
      <div
        class="rounded-full bg-primary-600 text-white flex items-center justify-center shrink-0 sm:w-8 h-6 sm:h-8 w-6 box-content relative top-0 border-4 border-slate-50 -left-3 dark:border-slate-900">
        <%= icon "user-plus", class: "size-4" %>
      </div>
      <div class="flex-1 sm:flex sm:justify-between">
        <div
          class="sm:pt-2 prose prose-slate prose-a:text-primary-500 prose-a:hover:text-primary-600 prose-a:font-medium sm:pr-16 sm:w-auto w-full dark:prose-invert">
          <p><%= link_to "Sarah Johnson", "#" %> joined the sales team. Welcome, Sarah!</p>
        </div>
        <time datetime="2023-06-30T10:30"
          class="text-sm text-slate-500/80 dark:text-slate-400/80 block sm:pt-0 pt-2">Jun 30</time>
      </div>
    </li>

    <li class="flex flex-wrap items-start justify-between">
      <div
        class="size-4 relative flex items-center justify-center box-border border-4 border-slate-50 rounded-full bg-slate-400/50 sm:left-px -left-[7px] dark:bg-slate-300/50 dark:border-slate-700">
        <div class="size-[3px] flex items-center bg-slate-50 rounded-full shrink-0 dark:bg-slate-700">
        </div>
      </div>

      <div class="sm:pl-6 pl-4 flex-1 sm:flex sm:justify-between -mt-2">
        <div
          class="prose prose-slate prose-a:text-primary-500 prose-a:hover:text-primary-600 prose-a:font-medium sm:pr-16 sm:w-auto w-full dark:prose-invert">
          <p><%= link_to "Jennifer Thompson", "#" %> assigned the <%= link_to "Follow-up Call", "#" %> task to John Smith for the
            <%= link_to "Product Demo for Pork Chop", "#" %> event.
          </p>
        </div>
        <time datetime="2023-06-29T10:30"
          class="text-sm text-slate-500/80 dark:text-slate-400/80 block sm:pt-0 pt-2">Jun 29</time>
      </div>
    </li>

    <li class="flex flex-wrap items-start justify-between">
      <div
        class="size-4 relative flex items-center justify-center box-border border-4 border-slate-50 rounded-full bg-slate-400/50 sm:left-px -left-[7px] dark:bg-slate-300/50 dark:border-slate-700">
        <div class="size-[3px] flex items-center bg-slate-50 rounded-full shrink-0 dark:bg-slate-700">
        </div>
      </div>
      <div class="sm:pl-6 pl-4 flex-1 sm:flex sm:justify-between -mt-2">
        <div
          class="prose prose-slate prose-a:text-primary-500 prose-a:hover:text-primary-600 prose-a:font-medium sm:pr-16 sm:w-auto w-full dark:prose-invert">
          <p><%= link_to "Mark Davis", "#" %> updated the event <%= link_to "Sales Training Workshop", "#" %> scheduled for July 10, 2023, to include a new guest speaker.</p>
        </div>
        <time datetime="2023-06-28T10:30"
          class="text-sm text-slate-500/80 dark:text-slate-400/80 block sm:pt-0 pt-2">Jun 28</time>
      </div>
    </li>

    <li class="flex flex-wrap items-start justify-between">
      <div
        class="rounded-full bg-emerald-600 text-white flex items-center justify-center shrink-0 sm:w-8 sm:h-8 size-6 box-content relative top-0 border-4 border-slate-50 -left-3 dark:border-slate-900">
        <%= icon "check", class: "size-4" %>
      </div>
      <div class="flex-1 sm:flex sm:justify-between">
        <div
          class="prose prose-slate prose-a:text-primary-500 prose-a:hover:text-primary-600 prose-a:font-medium sm:pr-16 sm:w-auto w-full dark:prose-invert">
          <p><%= link_to "Emily Carter", "#" %> completed the task <%= link_to "Lead Generation Research", "#" %> assigned by <%= link_to "Mark Davis", "#" %>.
          </p>
        </div>
        <time datetime="2023-06-28T10:30" class="text-sm text-slate-500/80 dark:text-slate-400/80 block sm:pt-0 pt-2">Jun 28</time>
      </div>
    </li>
  </ul>
</div>
