<% content_for :body_classes, "text-slate-800 dark:bg-slate-900 dark:text-slate-100 bg-white" %>

<% content_for :header do %>
  <%= render "rui/shared/admin/nav", { header_title: "Integrations" } %>
<% end %>

<%= render "rui/shared/admin/settings_nav" %>

<div class="container mx-auto pb-24 px-4 my-16">
  <div class="max-w-4xl mx-auto">
    <h1 class="md:h2 h3 mb-2">Integrations</h1>
    <div class="prose-lg prose-slate dark:prose-invert mb-6">
      <p>Connect <%= Railsui.config.theme.humanize %> with your favorite third-party tools.</p>
    </div>

    <div class="pt-8">
      <h3 class="h6 mb-2">Email service providers</h3>
      <div class="prose prose-slate mb-6 dark:prose-invert">
        <p>Send emails with confidence.</p>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-8 gap-5 pb-8 mb-8">

      <div class="bg-slate-50 dark:bg-slate-800 p-6 rounded-lg flex flex-col justify-between items-start">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/mailchimp.png", alt: "Mailchimp Logo", class: "w-auto h-16 object-contain dark:invert" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Mailchimp", "https://mailchimp.com", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Powerful email marketing software to help you reach your audience and grow your business.</p>
        </div>
        <%= link_to "Connect", "#", class: "btn btn-white dark:btn-primary dark:border-none" %>
      </div>

      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/sendgrid.png", alt: "Send Grid Logo", class: "w-auto h-8 object-contain dark:invert" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "SendGrid", "https://sendgrid.com", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Email delivery service to make sure your emails reach your customers' inboxes.</p>
        </div>
        <div class="flex items-center gap-3">
          <%= link_to "Disconnect", "#", class: "btn btn-dark dark:btn-white" %>
          <%= link_to "Settings", "#", class: "btn btn-transparent" %>
        </div>
      </div>

      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/constant-contact.svg", alt: "Constant Contact Logo", class: "w-auto h-8 object-contain" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Constant Contact", "https://www.constantcontact.com/", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Email marketing solution for small businesses and nonprofits.</p>
        </div>
        <%= link_to "Connect", "#", class: "btn btn-white dark:btn-primary" %>
      </div>
    </div>

    <div class="pt-8 border-t dark:border-slate-700">
      <h3 class="h6 mb-2">Analytics</h3>
      <div class="prose prose-slate dark:prose-invert mb-6">
        <p>Get more insight on your team and users with powerful analytics.</p>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-8 gap-5 pb-8 mb-8">
      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/google-analytics.svg", alt: "Google Analytics Logo", class: "w-auto h-10 object-fit" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Google Analytics", "https://analytics.google.com/", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Track and report website traffic to gain insights into your users' behavior.</p>
        </div>
        <%= link_to "Connect", "#", class: "btn btn-white dark:btn-primary" %>
      </div>

      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/mixpanel.svg", alt: "Mixpanel logo", class: "w-auto h-8 object-fit dark:invert" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Mixpanel", "https://mixpanel.com/", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Advanced analytics platform to analyze user interactions with your product.</p>
        </div>
        <div class="flex items-center gap-3">
          <%= link_to "Disconnect", "#", class: "btn btn-dark dark:btn-white" %>
          <%= link_to "Settings", "#", class: "btn btn-transparent" %>
        </div>
      </div>

      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/segment.png", alt: "Segment Logo", class: "w-auto h-10 object-fit dark:invert" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Segment", "#", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Collect, clean, and control your customer data all in one place.</p>
        </div>
        <%= link_to "Connect", "#", class: "btn btn-white dark:btn-primary dark:border-none" %>
      </div>
    </div>

    <div class="pt-8 border-t dark:border-slate-700">
      <h3 class="h6 mb-2">Tool Add-ons</h3>
      <div class="prose prose-slate dark:prose-invert mb-6">
        <p>Super-charge your Hound experience with these third-party tool add-ons.</p>
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-8 gap-5 pb-8 mb-8">
      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/slack.svg", class: "w-auto h-16 object-fit" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Slack", "https://slack.com", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Collaborate with your team in real-time with messaging, file sharing, and more.</p>
        </div>
        <div class="flex items-center gap-3">
          <%= link_to "Disconnect", "#", class: "btn btn-dark dark:btn-white" %>
          <%= link_to "Settings", "#", class: "btn btn-transparent" %>
        </div>
      </div>

      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/trello.svg", alt: "Trello Logo", class: "w-auto h-8 object-fit dark:invert" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Trello", "https://trello.com", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Manage your projects with boards, lists, and cards to organize and prioritize your tasks.</p>
        </div>
        <%= link_to "Connect", "#", class: "btn btn-white dark:btn-primary" %>
      </div>

      <div class="bg-slate-50 p-6 rounded-lg flex flex-col justify-between items-start dark:bg-slate-800">
        <div class="flex-1">
          <div class="sm:h-16 h-auto mb-3 flex items-center sm:justify-center justify-start">
            <%= image_tag "#{Railsui.asset_url}/themes/brands/zoom.svg", alt: "Zoom logo", class: "w-auto h-6 object-fit" %>
          </div>
          <h4 class="font-semibold text-lg mb-3">
            <%= link_to "Zoom", "https://zoom.com", target: :_blank %>
          </h4>
          <p class="mb-3 text-slate-600 text-sm line-clamp-3 dark:text-slate-400">Connect with your team through secure video, voice, chat, and content sharing.</p>
        </div>
        <div class="flex items-center gap-3">
          <%= link_to "Disconnect", "#", class: "btn btn-dark dark:btn-white" %>
          <%= link_to "Settings", "#", class: "btn btn-transparent" %>
        </div>
      </div>
    </div>
  </div>
</div>
