<% content_for :header do %>
 <header class="bg-cover bg-center relative bg-no-repeat" style="background-image: url(<%= asset_url("railsui/fusion.png") %>);" data-controller="nav">
    <div class="dark:bg-slate-900 relative">
      <%= render "rui/shared/nav_menu" %>
    </div>

  <div class="container mx-auto px-4">
    <div class="text-center py-20 relative z-20">
      <p class="font-semibold text-center uppercase text-sm text-primary-600 mb-4 dark:text-primary-500">Pricing</p>
      <h1 class="md:h1 h2 mb-4">Priced with you in mind</h1>
      <p class="text-lg text-slate-700 dark:text-slate-200 max-w-2xl mx-auto">Choose the plan that fits your needs. Our flexible pricing options cater to businesses of all sizes, from startups to enterprise-level organizations.</p>
    </div>
  </div>
</header>
<% end %>

<div class="container mx-auto px-4 pt-6">
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-10 pb-4 border-b border-slate-100  dark:border-slate-800">
    <div class="font-semibold text-slate-700 dark:text-slate-200">Plans</div>
    <div class="lg:block hidden font-semibold text-slate-700 dark:text-slate-200">Startup</div>
    <div class="lg:block hidden font-semibold text-slate-700 dark:text-slate-200">Professional</div>
    <div class="lg:block hidden font-semibold text-slate-700 dark:text-slate-200">Premium</div>
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-4 gap-10 justify-between py-8">
    <div class="lg:block hidden">
      <p class="text-slate-700 dark:text-slate-200">Pricing</p>
    </div>
    <div>
      <p class="lg:hidden block font-semibold text-slate-700 dark:text-slate-200">Startup</p>
      <p class="font-extrabold text-slate-900 text-4xl dark:text-slate-200">$49<span class="text-sm font-normal text-slate-500 dark:text-slate-400">/mo</span>
      </p>
      <p class="text-slate-700 dark:text-slate-200 leading-normal my-4 text-sm">
        Ideal for growing businesses looking to scale their operations and reach.
      </p>
      <%= link_to "Try Startup for free", "#", class: "btn btn-primary w-full" %>
    </div>
    <div>
      <p class="lg:hidden block font-semibold text-slate-700 dark:text-slate-200">Professional</p>
      <p class="font-extrabold text-slate-900 text-4xl dark:text-slate-200">$99<span class="text-sm font-normal text-slate-500 dark:text-slate-400">/mo</span>
      </p>
      <p class="text-slate-700 leading-normal my-4 dark:text-slate-300 text-sm">
        Everything in startup plus advanced data insights and reporting capabilities.
      </p>
      <%= link_to "Try Professional for free", "#", class: "btn btn-secondary w-full" %>
    </div>
    <div>
      <p class="lg:hidden block font-semibold text-slate-700 dark:text-slate-200">Premium</p>
      <p class="font-extrabold text-slate-900 dark:text-slate-100 text-4xl">$199<span
          class="text-sm font-normal text-slate-500">/mo</span>
      </p>
      <p class="text-slate-700 dark:text-slate-200 leading-normal my-4 text-sm">
        Unlock all features and get dedicated support. We'll reach out to kick off the process.
      </p>
      <a href="#" class="btn btn-dark w-full">Try Premium for free</a>
    </div>
  </div>

  <div class="bg-slate-100 dark:bg-slate-700/50 p-4 w-full">Features</div>

  <ul class="list-none divide-y divide-slate-200 dark:divide-slate-700">
    <li class="py-4">
      <ul class="list-none grid grid-cols-3 lg:grid-cols-4 lg:gap-10 gap-4 items-center lg:px-4">
        <li class="lg:col-span-1 col-span-3">
          Advanced analytics dashboard
        </li>
        <li class="flex justify-center items-center">
          <div class="flex items-center">
            <%= icon "check", class: "text-green-500 size-5 shrink-0", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center items-center">
          <div class="flex items-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center items-center">
          <div class="flex items-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="list-none grid grid-cols-3 lg:grid-cols-4 lg:gap-10 gap-4 items-center lg:px-4">
        <li class="lg:col-span-1 col-span-3">
          Real-time data visualization
        </li>
        <li class="flex justify-center items-center">
          <div class="flex items-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center lg:px-4">
        <li class="col-span-3 lg:col-span-1">
          Custom report generation and export options
        </li>
        <li class="flex justify-center">
          <div class="flex justify-center items-center">
            <%= icon "minus", class: "size-5 shrink-0 text-slate-400", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center lg:px-4">
        <li class="lg:col-span-1 col-span-3">
          Advanced user segmentation
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "minus", class: "size-5 shrink-0 text-slate-400", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-4 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-4 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center lg:px-4">
        <li class="lg:col-span-1 col-span-3">
          AI-powered predictive analytics
        </li>
        <li class="flex justify-center">
          <div class="flex justify-center items-center">
            <%= icon "minus", class: "size-5 shrink-0 text-slate-400", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "minus", class: "size-5 shrink-0 text-slate-400", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>

  <div class="bg-slate-100 p-4 w-full dark:bg-slate-700/50">Customer support</div>

  <ul class="list-none divide-y divide-slate-200 dark:divide-slate-700">
    <li class="py-4">
      <ul class="list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center lg:px-4">
        <li class="lg:col-span-1 col-span-3">
          24/7 email support
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "minus", class: "size-5 shrink-0 text-slate-400", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="lg:px-4 list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center">
        <li class="lg:col-span-1 col-span-3">
          Priority phone support
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="lg:px-4 list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center">
        <li class="lg:col-span-1 col-span-3">
          Dedicated account manager
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="lg:px-4 list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center">
        <li class="lg:col-span-1 col-span-3">
          Custom onboarding
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-4 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
    <li class="py-4">
      <ul class="lg:px-4 list-none grid lg:grid-cols-4 grid-cols-3 lg:gap-10 gap-4 items-center">
        <li class="lg:col-span-1 col-span-3">
          24/7 phone support
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "minus", class: "size-5 shrink-0 text-slate-400", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Startup</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "minus", class: "size-5 shrink-0 text-slate-400", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Pro</span>
          </div>
        </li>
        <li class="flex justify-center">
          <div class="flex items-center justify-center">
            <%= icon "check", class: "size-5 shrink-0 text-green-500", variant: :solid %>
            <span class="block lg:hidden w-full ml-2">Premium</span>
          </div>
        </li>
      </ul>
    </li>
  </ul>

  <ul class="list-none hidden lg:grid grid-cols-1 lg:grid-cols-4 lg:gap-10 gap-4 items-center pt-6 mb-6">
    <li></li>
    <li>
      <%= link_to "Try Startup for free", "#", class: "btn btn-primary w-full" %>
    </li>
    <li>
      <%= link_to "Try Professional for free", "#", class: "btn btn-secondary w-full" %>
    </li>
    <li>
      <%= link_to "Try Premium for free", "#", class: "btn btn-dark w-full" %>
    </li>
  </ul>
</div>

<div class="container mx-auto px-4 my-24">

  <div class="max-w-2xl mx-auto mt-6">
    <h2 class="h3">FAQs</h2>
    <div class="my-6">
      <h3 class="mb-3 h6">What payment methods do you accept?</h3>
      <div class="prose prose-primary dark:prose-invert">
        <p>We accept all major credit cards, including Visa, MasterCard, American Express, and Discover. We also support payments through PayPal and bank transfers for annual subscriptions. If you have any specific payment requirements, please don't hesitate to contact our support team.</p>
      </div>
    </div>

    <div class="my-6">
      <h3 class="mb-3 h6">Can I upgrade or downgrade my plan at any time?</h3>
      <div class="prose prose-primary dark:prose-invert">
        <p>Yes, you can upgrade or downgrade your plan at any time. When you upgrade, the new features will be immediately available, and we'll prorate the cost for the remainder of your billing cycle. If you downgrade, the changes will take effect at the start of your next billing cycle.</p>

        <p>Keep in mind that downgrading may result in the loss of certain features or reduced usage limits. We recommend reviewing the plan details carefully before making any changes to ensure it meets your needs.</p>
      </div>
    </div>

    <div class="my-6">
      <h3 class="mb-3 h6">Is there a free trial available?</h3>
      <div class="prose prose-primary dark:prose-invert">
        <p>Yes, we offer a 14-day free trial for all our plans. During this period, you'll have full access to all the features included in your chosen plan. No credit card is required to start the trial, and you can cancel at any time before the trial period ends without any charges.</p>

        <p>If you decide to continue using our service after the trial, you can easily upgrade to a paid plan. Your data and settings will be preserved, ensuring a smooth transition from the trial to a full subscription.</p>
      </div>
    </div>
    <div class="my-6">
      <h3 class="mb-3 h6">What kind of customer support do you provide?</h3>
      <div class="prose prose-primary dark:prose-invert">
        <p>We offer comprehensive customer support to ensure you have the best experience with our product. Our support channels include email, live chat, and phone support during business hours. Additionally, we have an extensive knowledge base and FAQ section on our website, which covers most common questions and issues. For enterprise customers, we also provide dedicated account managers for personalized assistance.</p>
      </div>
    </div>
  </div>
</div>

<%= render "rui/shared/footer" %>
