<% content_for :header do%>
  <%= render "rui/shared/admin/nav", { header_title: "Projects" } do %>
    <%= render "rui/shared/admin/create_dropdown" %>
  <% end %>
<% end %>

<div class="container mx-auto sm:my-16 my-10 px-4 sm:px-4">
  <div class="flex items-center mb-6 mt-10">
    <div class="h-px w-1/2 bg-gradient-to-l from-slate-200 dark:from-slate-600"></div>
    <h2 class="text-base text-slate-600 font-semibold px-4 whitespace-nowrap dark:text-slate-300">Recent</h2>
    <div class="h-px w-1/2 bg-gradient-to-r from-slate-200 dark:from-slate-600"></div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 my-4">
    <% [
      {
        title: "Enhanced User Authentication System",
        description: "Implementing a robust multi-factor authentication system with biometric integration to enhance security and user experience across all our digital platforms.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "23", variant: "men" },
        img_3: { id: "12", variant: "women" },
        img_4: { id: "22", variant: "women" },
        img_5: { id: "19", variant: "men" },
      },
      {
        title: "Automated Data Migration Tool",
        description: "Developing a sophisticated tool to streamline the process of migrating large-scale databases, ensuring data integrity and minimizing downtime during system upgrades.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "23", variant: "men" },
        img_3: { id: "11", variant: "women" },
        img_4: { id: "21", variant: "women" },
        img_5: { id: "13", variant: "men" },
      },
      {
        title: "Real-time Data Visualization Dashboard",
        description: "Creating an interactive dashboard that transforms complex data sets into intuitive visual representations, enabling quick insights and informed decision-making for our clients.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "43", variant: "men" },
        img_3: { id: "55", variant: "women" },
        img_4: { id: "65", variant: "women" },
        img_5: { id: "87", variant: "men" },
      },
      {
        title: "Intelligent Chatbot for Customer Support",
        description: "Designing an AI-powered chatbot that leverages natural language processing to provide instant, accurate responses to customer inquiries, improving support efficiency and satisfaction.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "36", variant: "men" },
        img_3: { id: "42", variant: "women" },
        img_4: { id: "45", variant: "women" },
        img_5: { id: "56", variant: "men" },
      },
      {
        title: "Mobile App Performance Optimization",
        description: "Refactoring our mobile application to enhance load times, reduce battery consumption, and improve overall user experience across various devices and network conditions.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "55", variant: "men" },
        img_3: { id: "66", variant: "women" },
        img_4: { id: "56", variant: "women" },
        img_5: { id: "34", variant: "men" },
      }
    ].each do |item| %>
      <%= link_to rui_project_path, class: "md:col-span-6 col-span-1 lg:col-span-3 sm:col-span-6 border border-slate-300/80 hover:border-slate-400/70 dark:hover:border-slate-300/40 rounded-lg shadow-xs p-4 focus:ring-4 focus:ring-slate-200/50 dark:focus:ring-slate-200/10 bg-white group dark:bg-slate-800 dark:border-slate-600" do %>
        <h2
          class="text-base mb-2 line-clamp-1 text-slate-800 dark:text-slate-200 leading-snug group-hover:text-primary-600 dark:group-hover:text-primary-300 font-bold"><%= item[:title] %></h2>
        <p class="mb-4 text-sm text-slate-600 dark:text-slate-300 line-clamp-2"><%= item[:description] %></p>
        <div class="flex items-center -space-x-2">
          <%= image_tag demo_avatar_url(id: item[:img_1][:id], variant: item[:img_1][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_2][:id], variant: item[:img_2][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_3][:id], variant: item[:img_3][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_4][:id], variant: item[:img_4][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_5][:id], variant: item[:img_5][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>
        </div>
      <% end %>
    <% end %>

  </div>

  <div class="flex items-center mt-16 pb-3">
    <div class="h-px w-1/2 bg-gradient-to-l from-slate-200 dark:from-slate-600"></div>
    <h2 class="text-base text-slate-600 font-semibold px-4 whitespace-nowrap dark:text-slate-300">Active projects</h2>
    <div class="h-px w-1/2 bg-gradient-to-r from-slate-200 dark:from-slate-600"></div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-12 gap-4 my-4">
    <% [
      {
        title: "Enhanced User Authentication System",
        description: "Implement a robust multi-factor authentication system with biometric integration, enhancing security and user experience across all platforms.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "23", variant: "men" },
        img_3: { id: "12", variant: "women" },
        img_4: { id: "22", variant: "women" },
        img_5: { id: "19", variant: "men" },
      },
      {
        title: "Automated Data Migration Tool",
        description: "Develop a powerful tool to seamlessly transfer data between different database systems, ensuring data integrity and minimizing downtime during migrations.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "23", variant: "men" },
        img_3: { id: "11", variant: "women" },
        img_4: { id: "21", variant: "women" },
        img_5: { id: "13", variant: "men" },
      },
      {
        title: "Real-time Data Visualization Dashboard",
        description: "Create an interactive dashboard that transforms complex data into intuitive visual representations, enabling quick insights and informed decision-making for business users.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "43", variant: "men" },
        img_3: { id: "55", variant: "women" },
        img_4: { id: "65", variant: "women" },
        img_5: { id: "87", variant: "men" },
      },
      {
        title: "Intelligent Chatbot for Customer Support",
        description: "Design an AI-powered chatbot capable of understanding context, providing accurate responses, and seamlessly escalating complex issues to human agents when necessary.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "36", variant: "men" },
        img_3: { id: "42", variant: "women" },
        img_4: { id: "45", variant: "women" },
        img_5: { id: "56", variant: "men" },
      },
      {
        title: "Mobile App Performance Optimization",
        description: "Analyze and improve the performance of our mobile application, focusing on reducing load times, optimizing battery usage, and enhancing overall user experience across various devices.",
        img_1: { id: "22", variant: "men" },
        img_2: { id: "55", variant: "men" },
        img_3: { id: "66", variant: "women" },
        img_4: { id: "56", variant: "women" },
        img_5: { id: "34", variant: "men" },
      }
    ].each do |item| %>

      <%= link_to rui_project_path, class: "md:col-span-6 col-span-1 lg:col-span-3 sm:col-span-6 border border-slate-300/80 hover:border-slate-400/70 dark:hover:border-slate-300/40 rounded-lg shadow-xs p-4 focus:ring-4 focus:ring-slate-200/50 dark:focus:ring-slate-200/10 bg-white group dark:bg-slate-800 dark:border-slate-600" do %>
        <h2
          class="text-base mb-2 line-clamp-1 text-slate-800 dark:text-slate-200 leading-snug group-hover:text-primary-600 dark:group-hover:text-primary-300 font-bold"><%= item[:title] %></h2>
        <p class="mb-4 text-sm text-slate-600 dark:text-slate-300 line-clamp-2"><%= item[:description] %></p>
        <div class="flex items-center -space-x-2">
          <%= image_tag demo_avatar_url(id: item[:img_1][:id], variant: item[:img_1][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_2][:id], variant: item[:img_2][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_3][:id], variant: item[:img_3][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_4][:id], variant: item[:img_4][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>

          <%= image_tag demo_avatar_url(id: item[:img_5][:id], variant: item[:img_5][:variant]), alt: "Avatar", class: "size-8 rounded-full border-2 border-white dark:border-slate-500/50" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="py-10 sm:flex sm:space-x-6 space-y-3 sm:space-y-0">
    <%= link_to "View archived projects", "#", class: "text-center underline text-slate-500 text-sm sm:inline-block block" %>
    <%= link_to "Project settings", "#", class: "text-center underline text-slate-500 text-sm sm:inline-block block" %>
    <%= link_to "Notification settings", "#", class: "text-center underline text-slate-500 text-sm sm:inline-block block" %>
  </div>
</div>
