<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= Railsui.config.application_name || "Rails UI" %>
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= stylesheet_link_tag "application" "data-turbo-track": "reload" %>

  <%= railsui_head %>
</head>

<body class="<%= railsui_body_classes %>">
  <%= render "railsui/shared/flash" %>

  <%= yield %>

  <%= railsui_launcher if Rails.env.development? %>
</body>
</html
