<div class="my-16">
<%= render "railsui/shared/sticky_subhead", title: "Navigation", subtitle: "Dark" %>

<div class="prose dark:prose-invert max-w-4xl mb-10 dark:text-slate-200 dark:prose-a:text-slate-200">
<p>The dark nav has a dark dominant color and a new custom class called <%= code ".nav-link-dark" %> for the main navigation links.</p>
<p>By using the <%= code "nav_link_to" %> helper  method <em>(shown in the erb and haml snippets below and bundled with Rails UI)</em>, an active class of <%= code "nav-link-active" %> is applied for the current page within your application.</p>
<p>If a regular <%= code "link_to" %> view helper is preferred for links, manually append the <%= code "nav-link-active" %> class as needed. </p>
</div>

<%= render "railsui/themes/tailwind/hound/components/navigation/nav_preview", dark: true, flush: true do %>
<header class="relative bg-slate-900 rounded-t py-1" data-controller="nav prevent">
  <div class="container mx-auto px-4">
    <div class="md:flex items-center flex-wrap md:space-x-2">
      <div class="md:block flex items-center justify-between">
        <a href="/" class="w-12 h-12 flex justify-center" data-action="click->prevent#prevent">
          <!-- Hound logo -->
          <svg
            class="fill-current w-5 h-auto text-indigo-600 hover:text-indigo-700 duration-300 transition ease-in-out
            dark:hover:text-indigo-500"
            width="39" height="50" viewBox="0 0 39 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.55264 0C3.82915 0 0 3.82915 0 8.55265V26.1842C0 30.9077 3.82915 34.7368 8.55264 34.7368C13.2761 34.7368 17.1053 30.9077 17.1053 26.1842V8.55264C17.1053 3.82915 13.2761 0 8.55264 0ZM29.6053 0C24.8818 0 21.0527 3.82915 21.0527 8.55264V41.4474C21.0527 46.1709 24.8818 50 29.6053 50C34.3288 50 38.1579 46.1708 38.1579 41.4474V8.55264C38.1579 3.82915 34.3288 0 29.6053 0Z" />
          </svg>
          <span class="sr-only"><%= Railsui.config.theme.humanize %></span>
        </a>

        <button
          id="dark-nav-toggle"
          data-action="click->nav#toggle"
          class="md:hidden block p-1 rounded focus:ring-4 group focus:bg-slate-800 focus:ring-slate-700">
          <div role="none" data-nav-target="menuBars">
            <%= icon "bars-3-center-left", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200" %>
          </div>
          <div role="none" data-nav-target="menuCross" class="hidden">
            <%= icon "x-mark", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200" %>
          </div>
        </button>

      </div>
      <div
        id="dark-navigation"
        class="md:flex-1 md:block hidden md:static absolute top-14 left-0 w-full bg-slate-900 md:bg-transparent transform origin-top md:p-0 p-4 rounded-b md:shadow-none shadow-xl z-30"
        data-nav-target="nav"
        data-transition-enter-active="transition ease-out duration-200"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-active="transition ease-in duration-200"
        data-transition-leave-to="opacity-0 scale-95">
        <div
          class="md:flex-1 md:flex flex-wrap items-center justify-between lg:text-left text-center">
          <nav role="Primary navigation">
            <ul
              class="md:flex block items-center flex-wrap space-x-0 md:space-x-3 md:text-base text-lg md:leading-normal leading-relaxed space-y-1 md:space-y-0 md:mb-0 mb-4">
              <li>
                <a href="#" class="nav-link-dark" data-action="click->prevent#prevent">Product</a>
              </li>
              <li>
                <a href="#" class="nav-link-dark" data-action="click->prevent#prevent">Pricing</a>
              </li>
              <li>
                <a href="#" class="nav-link-dark nav-link-active" data-action="click->prevent#prevent">Company</a>
              </li>
            </ul>
          </nav>

          <nav role="Secondary navigation">
            <ul class="md:flex flex-wrap items-center justify-center grid grid-cols-2 md:gap-0 gap-4 md:mt-0 mt-6">
              <li class="md:pr-5">
                <a href="#" class="group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800" data-action="click->prevent#prevent">
                  <%= icon "question-mark-circle", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid %>
                </a>
              </li>
              <li class="md:pr-3">
                <a href="#" class="group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800" data-action="click->prevent#prevent">
                  <%= icon "book-open", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid %>
                </a>
              </li>
              <li class="md:block hidden md:pl-2 md:pr-4">
                <span class="h-6 w-px block bg-slate-600"></span>
              </li>
              <li class="w-full md:w-auto md:mb-0 col-span-2">
                <a href="#" class="btn btn-dark md:w-auto w-full" data-action="click->prevent#prevent">Sign in</a>
              </li>
              <li class="md:pl-3 w-full md:w-auto col-span-2">
                <a href="#" class="btn btn-primary md:w-auto w-full" data-action="click->prevent#prevent">Sign up</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<% end %>

<% content_for :html, flush: true do %>
<header class="relative bg-slate-900 py-1" data-controller="nav">
  <div class="container mx-auto px-4">
    <div class="md:flex items-center flex-wrap md:space-x-2">
      <div class="md:block flex items-center justify-between">
        <a href="/" class="w-12 h-12 flex justify-center">
          <!-- Hound logo -->
          <svg
            class="fill-current w-5 h-auto text-indigo-600 hover:text-indigo-700 duration-300 transition ease-in-out
            dark:hover:text-indigo-500"
            width="39" height="50" viewBox="0 0 39 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.55264 0C3.82915 0 0 3.82915 0 8.55265V26.1842C0 30.9077 3.82915 34.7368 8.55264 34.7368C13.2761 34.7368 17.1053 30.9077 17.1053 26.1842V8.55264C17.1053 3.82915 13.2761 0 8.55264 0ZM29.6053 0C24.8818 0 21.0527 3.82915 21.0527 8.55264V41.4474C21.0527 46.1709 24.8818 50 29.6053 50C34.3288 50 38.1579 46.1708 38.1579 41.4474V8.55264C38.1579 3.82915 34.3288 0 29.6053 0Z" />
          </svg>
          <span class="sr-only"><%= Railsui.config.theme.humanize %></span>
        </a>

        <button
          id="dark-nav-toggle"
          data-action="click->nav#toggle"
          class="md:hidden block p-1 rounded focus:ring-4 group focus:bg-slate-800 focus:ring-slate-700">
          <div role="none" data-nav-target="menuBars">
            <%%= icon "bars-3-center-left", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200" %>
          </div>
          <div role="none" data-nav-target="menuCross" class="hidden">
            <%%= icon "x-mark", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200" %>
          </div>
        </button>

      </div>
      <div id="dark-navigation"
        class="md:flex-1 md:block hidden md:static absolute top-14 left-0 w-full bg-slate-900 md:bg-transparent transform origin-top md:p-0 p-4 rounded-b md:shadow-none shadow-xl z-30"
        data-nav-target="nav"
        data-transition-enter-active="transition ease-out duration-200"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-active="transition ease-in duration-200"
        data-transition-leave-to="opacity-0 scale-95">
        <div class="md:flex-1 md:flex flex-wrap items-center justify-between lg:text-left text-center">
          <nav role="Primary navigation">
            <ul
              class="md:flex block items-center flex-wrap space-x-0 md:space-x-3 md:text-base text-lg md:leading-normal leading-relaxed space-y-1 md:space-y-0 md:mb-0 mb-4">
              <li>
                <a href="#" class="nav-link-dark">Product</a>
              </li>
              <li>
                <a href="#" class="nav-link-dark">Pricing</a>
              </li>
              <li>
                <a href="#" class="nav-link-dark nav-link-active">Company</a>
              </li>
            </ul>
          </nav>

          <nav role="Secondary navigation">
            <ul class="md:flex flex-wrap items-center justify-center grid grid-cols-2 md:gap-0 gap-4 md:mt-0 mt-6">
              <li class="md:pr-5">
                <a href="#" class="group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800">
                  <%%= icon "question-mark-circle", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid %>
                </a>
              </li>
              <li class="md:pr-3">
                <a href="#" class="group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800">
                  <%%= icon "book-open", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid %>
                </a>
              </li>
              <li class="md:block hidden md:pl-2 md:pr-4">
                <span class="h-6 w-px block bg-slate-600"></span>
              </li>
              <li class="w-full md:w-auto md:mb-0 col-span-2">
                <a href="#" class="btn btn-dark md:w-auto w-full">Sign in</a>
              </li>
              <li class="md:pl-3 w-full md:w-auto col-span-2">
                <a href="#" class="btn btn-primary md:w-auto w-full">Sign up</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<% end %>

<% content_for :erb, flush: true do %>
<header class="relative bg-slate-900 py-1" data-controller="nav">
  <div class="container mx-auto px-4">
    <div class="md:flex items-center flex-wrap md:space-x-2">
      <div class="md:block flex items-center justify-between">
        <%%= link_to root_path class: "w-12 h-12 flex justify-center" do %>
          <!-- Hound logo -->
          <svg
            class="fill-current w-5 h-auto text-indigo-600 hover:text-indigo-700 duration-300 transition ease-in-out
            dark:hover:text-indigo-500"
            width="39" height="50" viewBox="0 0 39 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.55264 0C3.82915 0 0 3.82915 0 8.55265V26.1842C0 30.9077 3.82915 34.7368 8.55264 34.7368C13.2761 34.7368 17.1053 30.9077 17.1053 26.1842V8.55264C17.1053 3.82915 13.2761 0 8.55264 0ZM29.6053 0C24.8818 0 21.0527 3.82915 21.0527 8.55264V41.4474C21.0527 46.1709 24.8818 50 29.6053 50C34.3288 50 38.1579 46.1708 38.1579 41.4474V8.55264C38.1579 3.82915 34.3288 0 29.6053 0Z" />
          </svg>
          <span class="sr-only"><%= Railsui.config.theme.humanize %></span>
        <%% end %>

        <button
          id="dark-nav-toggle"
          data-action="click->nav#toggle"
          class="md:hidden block p-1 rounded focus:ring-4 group focus:bg-slate-800 focus:ring-slate-700">
          <div role="none" data-nav-target="menuBars">
            <%%= icon "bars-3-center-left", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200" %>
          </div>
          <div role="none" data-nav-target="menuCross" class="hidden">
            <%%= icon "x-mark", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200" %>
          </div>
        </button>

      </div>
      <div
        id="dark-navigation"
        class="md:flex-1 md:block hidden md:static absolute top-14 left-0 w-full bg-slate-900 md:bg-transparent transform origin-top md:p-0 p-4 rounded-b md:shadow-none shadow-xl z-30"
        data-nav-target="nav"
        data-transition-enter-active="transition ease-out duration-200"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-active="transition ease-in duration-200"
        data-transition-leave-to="opacity-0 scale-95">
        <div class="md:flex-1 md:flex flex-wrap items-center justify-between lg:text-left text-center">
          <nav role="Primary navigation">
            <ul
              class="md:flex block items-center flex-wrap space-x-0 md:space-x-3 md:text-base text-lg md:leading-normal leading-relaxed space-y-1 md:space-y-0 md:mb-0 mb-4">
              <li>
                <%%= nav_link_to "Product", "#", class: "nav-link-dark" %>
              </li>
              <li>
                <%%= nav_link_to "Pricing", "#", class: "nav-link-dark" %>
              </li>
              <li>
                <%%= nav_link_to "Company", "#", class: "nav-link-dark" %>
              </li>
            </ul>
          </nav>

          <nav role="Secondary navigation">
            <ul class="md:flex flex-wrap items-center justify-center grid grid-cols-2 md:gap-0 gap-4 md:mt-0 mt-6">
              <li class="md:pr-5">
                <%%= link_to "#", class: "group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800" do
                  <%= icon "question-mark-circle", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid %>
                <%% end %>
              </li>
              <li class="md:pr-3">
                <%%= link_to "#", class: "group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800" do %>
                  <%%= icon "book-open", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid %>
                <%% end %>
              </li>
              <li class="md:block hidden md:pl-2 md:pr-4">
                <span class="h-6 w-px block bg-slate-600"></span>
              </li>
              <li class="w-full md:w-auto md:mb-0 col-span-2">
                <%%= link_to "Sign in", new_user_session_path, class: "btn btn-dark md:w-auto w-full" %>
              </li>
              <li class="md:pl-3 w-full md:w-auto col-span-2">
                <%%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary md:w-auto w-full" %>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<% end %>

<% content_for :haml, flush: true do %>
%header.relative.bg-slate-900.py-1{"data-controller" => "nav"}
  .container.mx-auto.px-4
    .md:flex.items-center.flex-wrap.md:space-x-2
      .md:block.flex.items-center.justify-between
        = link_to root_path class: "w-12 h-12 flex justify-center"
          / Hound logo
          %svg.fill-current.w-5.h-auto.text-indigo-600.hover:text-indigo-700.duration-300.transition.ease-in-out.dark:hover:text-indigo-500{fill: "none", height: "50", viewbox: "0 0 39 50", width: "39", xmlns: "http://www.w3.org/2000/svg"}
            %path{"clip-rule" => "evenodd", d: "M8.55264 0C3.82915 0 0 3.82915 0 8.55265V26.1842C0 30.9077 3.82915 34.7368 8.55264 34.7368C13.2761 34.7368 17.1053 30.9077 17.1053 26.1842V8.55264C17.1053 3.82915 13.2761 0 8.55264 0ZM29.6053 0C24.8818 0 21.0527 3.82915 21.0527 8.55264V41.4474C21.0527 46.1709 24.8818 50 29.6053 50C34.3288 50 38.1579 46.1708 38.1579 41.4474V8.55264C38.1579 3.82915 34.3288 0 29.6053 0Z", "fill-rule" => "evenodd"}
          %span.sr-only Hound

        %button#dark-nav-toggle.md:hidden.block.p-1.rounded.focus:ring-4.group.focus:bg-slate-800.focus:ring-slate-700{"data-action" => "click->nav#toggle", role: "Mobile navigation toggle"}
          %div{"data-nav-target" => "menuBars", role: "none"}
            = icon "bars-3-center-left", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200" %>
          .hidden{"data-nav-target" => "menuCross", role: "none"}
            = icon "x-mark", classes: "w-8 h-8 text-slate-300 group-focus:text-slate-200"
      #dark-navigation.md:flex-1.md:block.hidden.md:static.absolute.left-0.w-full.bg-slate-900.md:bg-transparent.transform.origin-top.md:p-0.p-4.rounded-b.md:shadow-none.shadow-xl.z-30.top-14{"data-nav-target" => "nav", "data-transition-enter-active" => "transition ease-out duration-200", "data-transition-enter-from" => "opacity-0 scale-95", "data-transition-enter-to" => "opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-200", "data-transition-leave-from" => "opacity-100 scale-100", "data-transition-leave-to" => "opacity-0 scale-95"}
        .md:flex-1.md:flex.flex-wrap.items-center.justify-between.lg:text-left.text-center
          %nav{role: "Primary navigation"}
            %ul.md:flex.block.items-center.flex-wrap.space-x-0.md:space-x-3.md:text-base.text-lg.md:leading-normal.leading-relaxed.space-y-1.md:space-y-0.md:mb-0.mb-4
              %li
                = nav_link_to "Product", "#", class: "nav-link-dark"
              %li
                = nav_link_to "Pricing", "#", class: "nav-link-dark"
              %li
                = nav_link_to "Company", "#", class: "nav-link-dark"
          %nav{role: "Secondary navigation"}
            %ul.md:flex.flex-wrap.items-center.justify-center.grid.grid-cols-2.md:gap-0.gap-4.md:mt-0.mt-6
              %li.md:pr-5
                = link_to "#", class: "group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800" do
                  = icon "question-mark-circle", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid

              %li.md:pr-3
                = link_to "#", class: "group md:border-none border rounded md:bg-transparent bg-slate-900 border-slate-700 flex justify-center items-center md:py-0 py-2 md:px-0 px-3 md:block md:focus:ring-none focus:ring-4 focus:ring-slate-800"
                  = icon "book-open", classes: "fill-current w-5 h-5 text-indigo-500 group-hover:text-indigo-600 transition ease-in-out duration-300 dark:text-indigo-500 dark:group-hover:text-indigo-600", variant: :solid

              %li.md:block.hidden.md:pl-2 md:pr-4
                %span.h-6.w-px.block.bg-slate-600
              %li.w-full.md:w-auto.md:mb-0.col-span-2
                = link_to "Sign in", new_user_session_path, class: "btn btn-dark md:w-auto w-full"
              %li.md:pl-3.w-full.md:w-auto.col-span-2
                = link_to "Sign up", new_user_registration_path, class: "btn btn-primary md:w-auto w-full"
<% end %>

<% content_for :js, flush: true do %>
// app/javascript/controllers/nav_controller.js

import { Controller } from '@hotwired/stimulus'
import { useTransition } from 'stimulus-use'

export default class extends Controller {
  static targets = ['nav', 'menuBars', 'menuCross']

  connect() {
    useTransition(this, {
      element: this.navTarget
    })
  }

  toggle() {
    this.toggleTransition()
    this.swapIcon()
  }

  disconnect() {
    this.leave()
  }

  swapIcon() {
    this.menuBarsTarget.classList.toggle('hidden')
    this.menuCrossTarget.classList.toggle('hidden')
  }
}
<% end %>

<%= render_snippet(html_filename: "nav.html", erb_filename: "_nav.html.erb", haml_filename: "_nav.haml.erb", js_filename: "nav_controller.js") %>
</div>
