<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 my-8">
  <%= link_to systems_authentication_signin_path, class: "border border-slate-200 rounded-lg shadow-sm p-5 group hover:shadow-lg shadow-indigo-50 hover:shadow-indigo-50 transition ease-in-out duration-200" do %>
    <h3 class="font-bold text-transparent bg-clip-text bg-gradient-to-tl from-salmon-500 to-indigo-600 block mb-1 text-base">Sign in</h3>
  <% end %>

  <%= link_to systems_authentication_signup_path, class: "border border-slate-200 rounded-lg shadow-sm p-5 group hover:shadow-lg shadow-indigo-50 hover:shadow-indigo-50 transition ease-in-out duration-200" do %>
    <h3 class="font-bold text-transparent bg-clip-text bg-gradient-to-tl from-salmon-500 to-indigo-600 block mb-1 text-base">Sign up</h3>
  <% end %>

   <%= link_to systems_authentication_edit_path, class: "border border-slate-200 rounded-lg shadow-sm p-5 group hover:shadow-lg shadow-indigo-50 hover:shadow-indigo-50 transition ease-in-out duration-200" do %>
    <h3 class="font-bold text-transparent bg-clip-text bg-gradient-to-tl from-salmon-500 to-indigo-600 block mb-1 text-base">Edit Account</h3>
  <% end %>

  <%= link_to systems_authentication_reset_password_path, class: "border border-slate-200 rounded-lg shadow-sm p-5 group hover:shadow-lg shadow-indigo-50 hover:shadow-indigo-50 transition ease-in-out duration-200" do %>
    <h3 class="font-bold text-transparent bg-clip-text bg-gradient-to-tl from-salmon-500 to-indigo-600 block mb-1 text-base">Reset password</h3>
  <% end %>

  <%= link_to systems_authentication_confirmation_path, class: "border border-slate-200 rounded-lg shadow-sm p-5 group hover:shadow-lg shadow-indigo-50 hover:shadow-indigo-50 transition ease-in-out duration-200" do %>
    <h3 class="font-bold text-transparent bg-clip-text bg-gradient-to-tl from-salmon-500 to-indigo-600 block mb-1 text-base">Confirmation</h3>
  <% end %>

  <%= link_to systems_authentication_unlocks_path, class: "border border-slate-200 rounded-lg shadow-sm p-5 group hover:shadow-lg shadow-indigo-50 hover:shadow-indigo-50 transition ease-in-out duration-200" do %>
    <h3 class="font-bold text-transparent bg-clip-text bg-gradient-to-tl from-salmon-500 to-indigo-600 block mb-1 text-base">Unlocks</h3>
  <% end %>
</div>

<div class="my-10">
  <div class="prose dark:prose-invert mb-6 max-w-full">
    <%= heading tag: "h1", id: "rui-auth-design-patterns", text: "Rails UI authentication design patterns." %>
  </div>

  <%= render callout do %>
    <p>Rails UI authentication templates map to the <a href="https://rubygems.org/gems/devise/" target="_blank" class="font-medium text-indigo-600">Devise</a> gem's <a href="https://github.com/heartcombo/devise/tree/main/app/views/devise" target="_blank" class="font-medium text-indigo-600">view templates</a> at this time. There may be future support for different authentication libraries or a solution built from scratch in the future.</p>
  <% end %>

  <div class="prose dark:prose-invert mb-6">
    <p>Before diving into your Rails UI configuration there are some patterns in use for more efficient front-end development. Most of those patterns involve abstractions where it makes sense and others are a bit more opinionated.</p>

    <%= heading id: "rui-global-auth-partial", text: "Use a global authentication layout partial" %>

    <p>Rails UI uses a reusable partial with a block pattern designed to repeat the existing authentication design. Because Devise ships with many different authentication strategies and forms it makes sense to extract repeatable code away.</p>
  </div>


<% content_for :erb, flush: true do %>
<!-- render auth_layout partial with block (app/views/devise/_auth_layout.html.erb) -->
<%%= render "auth_layout" do %>
  <!-- Devise view code -->
<%% end %>
<% end %>

<%= render_snippet(active_tab: "erb", erb_filename: "_auth_layout.html.erb") %>

  <div class="prose dark:prose-invert">
    <p>Each corresponding view makes use of the layout partial as a means to keep code DRY. From there you can simply swap out forms and featured content relative to the Rails UI theme you choose.</p>
  </div>

<% content_for :html, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
<!-- app/views/devise/_auth_layout.html.erb -->
<div class="sm:h-screen pt-10 sm:pt-0 flex flex-col items-center justify-center bg-cover bg-center px-4" style="background-image: url('<%%= asset_url('fusion.png')%>')" >
  <div class="sm:flex-1 flex flex-col justify-center sm:w-[428px] w-full">
    <div>
      <div class="flex justify-center">
        <%%= link_to root_path do %>
          <%%= image_tag "logo.svg", alt: "Hound logo", class: "w-10 h-auto" %>
        <%% end %>
      </div>

      <div class="mt-6">
        <%%= yield :masthead %>
      </div>

      <div class="bg-white shadow-sm rounded-lg p-8 border border-slate-300/60">
        <%%= yield %>

        <!-- Add additional provider svg icons in app/assets/images/omniauth as necessary. These should ideally be full color versions of each provider's logo for max consistency. File name conventions should be lowercase without hyphens or spaces (i.e., google, linkedin, twitter, facebook)
        Default: Google, LinkedIn, Twitter, Facebook. -->

        <%% if devise_mapping.omniauthable? && %w{ registrations sessions }.include?(controller_name) %>
          <hr class="my-6"/>
          <%% resource_class.omniauth_providers.each do |provider| %>
            <div class="my-2">
            <%%= button_to omniauth_authorize_path(resource_name, provider), class: "btn btn-white w-full", data: { turbo: false } do %>
              <%%= inline_svg "omniauth/#{provider.gsub(/\s+/, '').downcase}.svg", class: "mr-2 w-5 h-5" %>
              <span>"Sign in with <%%= OmniAuth::Utils.camelize(provider) %></span>
            <%% end %>
            </div>
          <%% end %>
        <%% end %>
      </div>

      <div class="mt-4">
        <%%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/_auth_layout.html.erb
.sm:h-screen.pt-10.sm:pt-0.flex.flex-col.items-center.justify-center.bg-cover.bg-center.px-4{style: "background-image: url('#{asset_url('fusion.png')}')"}
  .sm:flex-1.flex.flex-col.justify-center.w-full{class: "sm:w-[428px]"}
    %div
      .flex.justify-center
        = link_to root_path do
          = image_tag "logo.svg", alt: "Hound logo", class: "w-10 h-auto"
      .mt-6
        = yield :masthead
      .bg-white.shadow-sm.rounded-lg.p-8.border{class: "border-slate-300/60"}
        = yield
        - if devise_mapping.omniauthable? && %w{ registrations sessions }.include?(controller_name)
          %hr.my-6/
          - resource_class.omniauth_providers.each do |provider|
            .my-2
              = button_to omniauth_authorize_path(resource_name, provider), class: "btn btn-white w-full", data: { turbo: false } do
                = inline_svg "omniauth/#{provider.gsub(/\s+/, '').downcase}.svg", class: "mr-2 w-5 h-5"
                %span
                  "Sign in with #{OmniAuth::Utils.camelize(provider)}
      .mt-4
        = render "devise/shared/links"
<% end %>

<%= render_snippet(active_tab: "erb", erb_filename: "_auth_layout.html.erb", haml_filename: "_auth_layout.haml.erb") %>

  <div class="prose dark:prose-invert mb-6">
    <%= heading text: "Modified devise links partial", id: "rui-devise-links-partial", tag: "h2" %>
    <p>Rails UI modifies the default <%= code("app/views/devise/shared/_links.html.erb") %> partial supplied by the Devise gem for a more improved user experience. During the configuration phase of installing Rails UI the modified partial is copied over to your app so you needn't worry about updating this manually.</p>
    <p>If you were to ever reinstall devise or use their supplied view template generator this would be overwritten.</p>
  </div>

<% content_for :erb, flush: true do %>
<!-- app/views/devise/shared/_links -->
<%% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="text-center mb-1">
    <%%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-sm text-slate-600 hover:text-slate-800" %>
  </div>
<%% end %>

<%% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <div class="text-center mb-2">
    <%%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "text-sm text-slate-600 hover:text-slate-800" %>
  </div>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/shared/_links
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  .text-center.mb-1
    = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: "text-sm text-slate-600 hover:text-slate-800"
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  .text-center.mb-2
    = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class: "text-sm text-slate-600 hover:text-slate-800"
<% end %>

<%= render_snippet(active_tab: "erb", erb_filename: "_links.html.erb", haml_filename: "_links.haml.erb") %>



<div class="prose dark:prose-invert mb-6">
  <h3>OmniAuth</h3>
  <p>The <%= theme_name.humanize %> theme supports themed and branded Omniauth provider buttons for Facebook, Twitter, LinkedIn, and Google. Icons for those providers are dynamically service to the view from <%= code 'app/assets/images/omniauth' %>.</p>
</div>

<div class="prose dark:prose-invert mb-6">
  <%= heading text: "Devise error_messages partial", id: "rui-devise-error-messages-partial", tag: "h2" %>

  <p>By default Rails UI copies over a pre-styled error partial made to work out of the box and save you time during development.</p>

  <p>This file is called <%= code '_error_messages.html.erb' %>. Unlike what ships with Devise, this partial lives in the root view directory within <%= code "app/views/shared" %> and is used throughout the app. </p>

  <p>The <%= theme_name.humanize %> theme leverages this partial for all form error rendering to keep the error/validation handling experience consistent.</p>
</div>

<%= render preview do %>
<div class="sm:h-[700px] -m-8 flex flex-col items-center justify-center bg-cover bg-center px-4 pointer-events-none select-none" style="background-image: url('<%= asset_url('fusion.png') %>')">
  <div class="sm:flex-1 flex flex-col justify-center sm:w-[428px] w-full">
    <div>
      <div class="flex justify-center">
        <a href="/">
          <img alt="Hound logo" class="w-10 h-auto" src="https://f001.backblazeb2.com/file/railsui/themes/hound/logo.svg">
        </a>
      </div>

      <div class="mt-6">
        <div class="text-center">
          <h1 class="text-3xl my-3">Forget your password?</h1>
          <p class="mb-6 text-slate-700">Reset it in an instant</p>
        </div>
        <div class="bg-rose-50 text-rose-700 sm:px-9 sm:py-6 px-6 py-6 rounded-lg mb-6 text-sm" role="alert">
          <div class="flex items-start space-x-4">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-rose-700 flex-shrink-0" role="img" aria-labelledby="ahy3wv9uxy3kdaua336c963si7vkifdy"><title id="ahy3wv9uxy3kdaua336c963si7vkifdy">Shield exclamation</title>
          <path fill-rule="evenodd" d="M11.484 2.17a.75.75 0 011.032 0 11.209 11.209 0 007.877 3.08.75.75 0 01.722.515 12.74 12.74 0 01.635 3.985c0 5.942-4.064 10.933-9.563 12.348a.749.749 0 01-.374 0C6.314 20.683 2.25 15.692 2.25 9.75c0-1.39.223-2.73.635-3.985a.75.75 0 01.722-.516l.143.001c2.996 0 5.718-1.17 7.734-3.08zM12 8.25a.75.75 0 01.75.75v3.75a.75.75 0 01-1.5 0V9a.75.75 0 01.75-.75zM12 15a.75.75 0 00-.75.75v.008c0 .414.336.75.75.75h.008a.75.75 0 00.75-.75v-.008a.75.75 0 00-.75-.75H12z" clip-rule="evenodd"></path>
        </svg>

        <div class="flex-1">
          <p class="font-bold">1 error prohibited this post from being saved:</p>
          <ul class="list-disc mt-3 ml-4">
              <li>Email can't be blank</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white shadow-sm rounded-lg p-8 border border-slate-300/60">
    <form class="new_user" id="new_user" action="#" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="KFz5ZtupOgfCmPUrSoPOW62TqhAxjRRUVi3LC4quDw3wQCnw7Afy_IwRpt8-SqpMsNyhT8A6NlMo3-6XQ_2sMQ" autocomplete="off">

    <div class="form-group">
      <div class="field_with_errors"><label class="form-label" for="user_email">Email</label></div>
      <div class="relative">
        <div class="field_with_errors">
        <input autocomplete="email" class="form-input peer focus:pl-10 transition pointer-events-none" pattern="[^@ ]+@[^@ ]+.[^@ ]+" title="Invalid email address" type="email" value="" name="user[email]" id="user_email"></div>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" class="w-5 h-5 absolute translate-x-0 top-3 text-slate-300 peer-focus:text-indigo-500/80 opacity-0 transition transform peer-focus:opacity-100 peer-focus:translate-x-3" role="img" aria-labelledby="aq0uefjmpwf07vill1w6vyecgmjpab2q"><title id="aq0uefjmpwf07vill1w6vyecgmjpab2q">Envelope</title>
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"></path>
      </svg>
      </div>
    </div>
          <input type="submit" name="commit" value="Send me reset password instructions" class="btn btn-primary w-full pointer-events-none" data-disable-with="Send me reset password instructions">
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= content_for :erb, flush: true do %>
<%% if resource.errors.any? %>
<div class="bg-rose-50 text-rose-700 sm:px-9 sm:py-6 px-6 py-6 rounded-lg mb-6 text-sm" role="alert">
  <div class="flex items-start space-x-4">
    <%%= icon "shield-exclamation", classes: "w-6 h-6 text-rose-700 flex-shrink-0", variant: :solid %>
    <div class="flex-1">
      <p class="font-bold"><%%= pluralize(resource.errors.count, "error") %> prohibited this post from being saved:</p>
      <ul class="list-disc mt-3 ml-4">
        <%% resource.errors.each do |error| %>
          <li><%%= error.full_message %></li>
        <%% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
- if resource.errors.any?
  .bg-rose-50.text-rose-700.sm:px-9.sm:py-6.px-6.py-6.rounded-lg.mb-6.text-sm{role: "alert"}
    .flex.items-start.space-x-4
      = icon "shield-exclamation", classes: "w-6 h-6 text-rose-700 flex-shrink-0", variant: :solid
      .flex-1
        %p.font-bold
          = pluralize(resource.errors.count, "error")
          prohibited this post from being saved:
        %ul.list-disc.mt-3.ml-4
          - resource.errors.each do |error|
            %li= error.full_message
<% end %>

<%= render_snippet active_tab: "erb", erb_filename: "_error_messages.html.erb", haml_filename: "_error_messages.haml.erb" %>
