<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Flash messages", subtitle: "Dynamic" %>

  <%= doc_label(:javascript) %>

  <div class="prose max-w-full mb-6">
    <p>For some flash messages you may want to have them hide after a brief period. This requires JavaScript but is fairly simple to implement with Stimulus.js or Vanilla JavaScript.</p>
  </div>

  <div class="mb-6">
    <%= render callout do %>
      <p>The Stimulus.js <%= code "AlertController" %> is not included with Rails UI by default.</p>
    <% end %>
  </div>

<div class="bg-indigo-600 text-white text-center p-4" role="alert" data-controller="alert">
  <p>A message commonly displayed at the top of the viewport on <a href="https://rubyonrails.org" class="font-bold underline">Rails</a> apps after something changes.</p>
</div>

<% content_for :html, flush: true do %>
<div class="bg-indigo-600 text-white text-center p-4" role="alert" data-controller="alert">
  <p>This message would dissapear after 4 seconds using the Stimulus AlertController.</p>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%% if notice %>
<div class="bg-indigo-600 text-white text-center p-4" role="alert" data-controller="alert">
  <p><%%= sanitize notice %></p>
</div>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
- if notice
  .bg-indigo-600.text-white.text-center.p-4{"data-controller" => "alert", :role => "alert"}
    %p= sanitize notice
<% end %>

<% content_for :js, flush: true do %>
import { Controller } from "@hotwired/stimulus"

export default class extends Controller {
  connect() {
    if (this.element) {
      setTimeout(() => {
        this.element.remove()
      }, 4000)
    }
  }
}
<% end %>

  <%= render_snippet active_tab: "js" %>
</div>
