<div aria-labelledby="settings" aria-modal="true" data-railsui-modal-target="container"
  data-action="keyup@window->railsui-modal#closeWithEsc"
  class="fixed inset-0 z-50 hidden p-4 overflow-y-auto dark:bg-black/60 backdrop-blur-sm bg-black/30">
  <div class="relative flex items-center justify-center w-full h-screen">
    <div
      data-railsui-modal-target="content" data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded-2xl shadow-xl max-w-4xl w-[680px] bg-white overflow-hidden outline-1 outline-neutral-300/90 dark:bg-neutral-900/80 dark:backdrop-blur-sm dark:outline-neutral-600/80 dark:shadow-black/90">

      <div
        class="md:flex max-h-[500px] overflow-y-auto md:h-[500px]" data-controller="railsui-tabs"
        data-railsui-tabs-active-tab="p-2 whitespace-nowrap flex items-center gap-3 rounded-lg bg-neutral-200/90 dark:bg-neutral-700/80 hover:bg-neutral-100 dark:hover:bg-neutral-700/80 w-full text-sm dark:backdrop-blur-sm transition-colors duration-100"
        data-railsui-tabs-inactive-tab="p-2 whitespace-nowrap flex items-center gap-3 rounded-lg hover:bg-neutral-100 dark:hover:bg-neutral-700/80 dark:backdrop-blur-sm w-full text-sm transition-colors duration-100">

        <!-- Sidebar Navigation -->
        <div
          class="flex flex-col w-full border-r bg-neutral-50 dark:bg-neutral-800/50 border-neutral-200 dark:border-neutral-700 shrink-0 md:w-45 ">

          <!-- Close Button (Desktop) -->
          <div class="md:py-3 py-2 px-2.5 md:block flex justify-end">
            <button
              data-action="click->railsui-modal#close"
              class="flex items-center justify-center rounded-full size-8 hover:bg-neutral-200 dark:hover:bg-neutral-700 focus:ring-2 focus:ring-blue-500 focus:outline-none"
              aria-label="Close">
              <%= icon "x-mark" "md:size-5 size-7 stroke-current" %>
            </button>
          </div>

          <!-- Navigation Tabs -->
          <nav
            class="flex items-center px-2 pb-2 overflow-x-auto md:block md:py-0 md:space-y-1 md:flex-1 snap-x snap-mandatory shadow-transparent">
            <%= render "shared/settings/nav_item", label: "General", nav_icon: "cog-6-tooth" %>

            <%= render "shared/settings/nav_item", label: "Billing", nav_icon: "credit-card" %>

            <%= render "shared/settings/nav_item", label: "Notifications", nav_icon: "bell" %>

            <%= render "shared/settings/nav_item", label: "Personalization", nav_icon: "user-circle" %>

            <%= render "shared/settings/nav_item", label: "Data controls", nav_icon: "circle-stack" %>

            <%= render "shared/settings/nav_item", label: "Security", nav_icon: "lock-closed" %>
          </nav>
        </div>

        <!-- Content Area -->
        <div class="flex flex-col flex-1 md:overflow-hidden">
          <!-- Tab Content -->
          <div class="overflow-y-auto md:flex-1">

            <!-- General Tab -->
            <div data-railsui-tabs-target="panel" class="p-4 md:p-6">
              <%= render "shared/settings/general" %>
            </div>

            <!-- Billing Tab -->
            <div data-railsui-tabs-target="panel" class="p-4 md:p-6">
              <%= render "shared/settings/billing" %>
            </div>

            <!-- Notifications Tab -->
            <div data-railsui-tabs-target="panel" class="hidden p-4 md:p-6">
              <%= render "shared/settings/notifications" %>
            </div>

            <!-- Personalization Tab -->
            <div data-railsui-tabs-target="panel" class="hidden p-4 md:p-6">
              <%= render "shared/settings/personalization" %>
            </div>

            <!-- Data Controls Tab -->
            <div data-railsui-tabs-target="panel" class="hidden p-4 md:p-6">
              <%= render "shared/settings/data_controls" %>
            </div>

            <!-- Security Tab -->
            <div data-railsui-tabs-target="panel" class="hidden px-4 py-6">
              <%= render "shared/settings/security" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
