<div id="devise-email-changed">
<%= render layout: example, locals: { heading: "Email changed", section: "Mailers / Devise" } do %>

<%= email_viewer("Email changed") do %>
  <%= render layout: "railsui/themes/#{Railsui.config.theme.downcase}/mailers/mailer_preview" do %>

    <p>Hi john.doe@example.com,</p>

    <p>We're contacting you to notify you that your email has been changed to saasquatch@railsui.com.</p>

    <%= email_action "View account", "#" %>
  <% end %>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :erb, flush: true do %>
<!-- app/views/devise/mailer/email_changed.html.erb -->
<p>Hi <%%= @email %>,</p>

<%% if @resource.try(:unconfirmed_email?) %>
  <p>We're contacting you to notify you that your email is being changed to <%%= @resource.unconfirmed_email %>.</p>
<%% else %>
  <p>We're contacting you to notify you that your email has been changed to <%%= @resource.email %>.</p>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/mailer/email_changed.haml.erb
%p
  Hi #{@email},
- if @resource.try(:unconfirmed_email?)
  %p
    We're contacting you to notify you that your email is being changed to #{@resource.unconfirmed_email}.
- else
  %p
    We're contacting you to notify you that your email has been changed to #{@resource.email}.
<% end %>
<%= render_snippet active_tab: "erb", erb_filename: "email_changed.html.erb", haml_filename: "email_changed.haml.erb"  %>
<% end %>
<% end %>
</div>
