<div id="devise-reset-password">
<%= render layout: example, locals: { heading: "Reset password", section: "Mailers / Devise" } do %>

<%= email_viewer("Reset password instructions") do %>
  <%= render layout: "railsui/themes/#{Railsui.config.theme.downcase}/mailers/mailer_preview" do %>

<p>Hi john.doe@example.com,</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>If you didn't make this change we recommend <%= link_to "resetting your password immediately", "#" %> or <%= mail_to "some@email.com", "contacting someone from our support team" %>.</p>

<%= email_action "Reset password", "#" %>

  <% end %>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :erb, flush: true do %>
<!-- app/views/devise/mailer/reset_password_instructions.html.erb -->
<p>Hi <%%= @resource.email %>,</p>

<p>We're contacting you to notify you that your password has been changed.</p>

<p>If you didn't make this change we recommend <%%= link_to "resetting your password immediately", edit_password_url(@resource, reset_password_token: @token) %> or <%%= mail_to Railsui.config.support_email, "contacting someone from our support team" %>.</p>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/devise/mailer/reset_password_instructions.haml.erb
%p
  Hi #{@resource.email},
%p We're contacting you to notify you that your password has been changed.
%p
  If you didn't make this change we recommend #{link_to "resetting your password immediately", edit_password_url(@resource, reset_password_token: @token)} or #{mail_to "some@email.com", "contacting someone from our support team"}.
<% end %>
<%= render_snippet active_tab: "erb", erb_filename: "reset_password_instructions.html.erb", haml_filename: "reset_password_instructions.haml.erb" %>
<% end %>
<% end %>
</div>
