<% path = "railsui/themes/bootstrap/retriever/components/accordions" %>

<% content_for :demo_scripts do %>
  <%= framework_cdn_script %>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Accordion examples
      const collapseElementList = document.querySelectorAll('.collapse')
      const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
    })
  </script>
<% end %>

<div class="mb-16 mt-6">
  <div class="prose-2xl font-light dark:prose-invert mb-6">
    <p>Build vertically collapsing accordions in combination with Bootstrap's <%= link_to "Collapse JavaScript plugin", "https://getbootstrap.com/docs/5.2/components/collapse/", target: :_blank, class: "text-indigo-600 underline hover:text-indigo-600 font-medium dark:text-indigo-500 dark:hover:text-indigo-500" %>.</p>
  </div>
</div>

<%= render "#{path}/basic" %>
<%= render "#{path}/flush" %>

<%= render "railsui/shared/read_more", subject: "accordions", link: "https://getbootstrap.com/docs/#{Railsui::Default::BOOTSTRAP_VERSION}/components/accordion/" %>
