<div class="tw-mb-16 tw-mt-6">
  <div class="tw-prose-2xl tw-font-light tw-prose-indigo tw-mb-6">
    <p>Button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
  </div>

  <%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Base" %>
<div class="rui-bs">
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
</div>

<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Primary", type: "button", class: "btn btn-primary" %>
<%%= button_tag "Secondary", type: "button", class: "btn btn-secondary" %>
<%%= button_tag "Success", type: "button", class: "btn btn-success" %>
<%%= button_tag "Danger", type: "button", class: "btn btn-danger" %>
<%%= button_tag "Warning", type: "button", class: "btn btn-warning" %>
<%%= button_tag "Info", type: "button", class: "btn btn-info" %>
<%%= button_tag "Light", type: "button", class: "btn btn-light" %>
<%%= button_tag "Dark", type: "button", class: "btn btn-dark" %>
<%%= button_tag "Link", type: "button", class: "btn btn-link" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Primary", type: "button", class: "btn btn-primary"
= button_tag "Secondary", type: "button", class: "btn btn-secondary"
= button_tag "Success", type: "button", class: "btn btn-success"
= button_tag "Danger", type: "button", class: "btn btn-danger"
= button_tag "Warning", type: "button", class: "btn btn-warning"
= button_tag "Info", type: "button", class: "btn btn-info"
= button_tag "Light", type: "button", class: "btn btn-light"
= button_tag "Dark", type: "button", class: "btn btn-dark"
= button_tag "Link", type: "button", class: "btn btn-link"
<% end %>
  <%= render_snippet %>
</div>

<div class="tw-my-16">
<%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Outline" %>

<div class="tw-prose tw-mb-6">Use outline buttons for less bold treatment and areas that benefit from a dark or lighter background color.</div>

<div class="rui-bs">
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
</div>

<% content_for :html, flush: true do %>
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-secondary">Secondary</button>
<button type="button" class="btn btn-outline-success">Success</button>
<button type="button" class="btn btn-outline-danger">Danger</button>
<button type="button" class="btn btn-outline-warning">Warning</button>
<button type="button" class="btn btn-outline-info">Info</button>
<button type="button" class="btn btn-outline-light">Light</button>
<button type="button" class="btn btn-outline-dark">Dark</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Primary", type: "button", class: "btn btn-outline-primary" %>
<%%= button_tag "Secondary", type: "button", class: "btn btn-outline-secondary" %>
<%%= button_tag "Success", type: "button", class: "btn btn-outline-success" %>
<%%= button_tag "Danger", type: "button", class: "btn btn-outline-danger" %>
<%%= button_tag "Warning", type: "button", class: "btn btn-outline-warning" %>
<%%= button_tag "Info", type: "button", class: "btn btn-outline-info" %>
<%%= button_tag "Light", type: "button", class: "btn btn-outline-light" %>
<%%= button_tag "Dark", type: "button", class: "btn btn-outline-dark" %>
<%%= button_tag "Link", type: "button", class: "btn btn-outline-link" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Primary", type: "button", class: "btn btn-outline-primary"
= button_tag "Secondary", type: "button", class: "btn btn-outline-secondary"
= button_tag "Success", type: "button", class: "btn btn-outline-success"
= button_tag "Danger", type: "button", class: "btn btn-outline-danger"
= button_tag "Warning", type: "button", class: "btn btn-outline-warning"
= button_tag "Info", type: "button", class: "btn btn-outline-info"
= button_tag "Light", type: "button", class: "btn btn-outline-light"
= button_tag "Dark", type: "button", class: "btn btn-outline-dark"
= button_tag "Link", type: "button", class: "btn btn-outline-link"
<% end %>
  <%= render_snippet %>
</div>


<div class="tw-my-16">
<%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Sizes" %>

  <div class="tw-prose tw-mb-6">Choose from three default buttons sizes or customize with inline styles.</div>

  <div class="rui-bs">
    <button type="button" class="btn btn-primary btn-lg">Large button</button>
    <button type="button" class="btn btn-secondary">Button</button>
    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    <button type="button" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Custom button</button>
  </div>

  <% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-secondary">Button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-secondary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">Custom button</button>
  <% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Large button", type: "button", class: "btn btn-primary btn-lg" %>
<%%= button_tag "Button", type: "button", class: "btn btn-secondary" %>
<%%= button_tag "Small button", type: "button", class: "btn btn-primary btn-sm" %>
<%%= button_tag "Custom", type: "button", class: "btn btn-secondary", style: "--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Large button", type: "button", class: "btn btn-primary btn-lg"
= button_tag "Button", type: "button", class: "btn btn-secondary"
= button_tag "Small button", type: "button", class: "btn btn-primary btn-sm"
= button_tag "Custom", type: "button", class: "btn btn-secondary", style: "--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
<% end %>
  <%= render_snippet %>
</div>

<div class="tw-my-16">
<%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Expanded display" %>

  <div class="tw-prose tw-mb-6">
    <p>Create responsive stacks of full-width buttons with a mix of display and gap utilities.</p>
  </div>

<div class="rui-bs">
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button">Button</button>
    <button class="btn btn-secondary" type="button">Button</button>
  </div>
</div>

<% content_for :html, flush: true do %>
<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">Button</button>
  <button class="btn btn-secondary" type="button">Button</button>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<%%= tag.div class: "d-grid gap-2" do %>
  <%%= button_tag "Button", type: "button", class: "btn btn-primary" %>
  <%%= button_tag "Button", type: "button", class: "btn btn-secondary" %>
<%% end %>
<% end %>

<% content_for :haml, flush: true do %>
.d-grid.gap-2
  = button_tag "Button", type: "button", class: "btn btn-primary"
  = button_tag "Button", type: "button", class: "btn btn-secondary"
<% end %>
<%= render_snippet %>
</div>

<%= render "railsui/shared/read_more", subject: "buttons", link: "https://getbootstrap.com/docs/5.2/components/buttons/" %>
