<%# Buttons - Base %>
<div class="mb-16 mt-6">
  <div class="prose-2xl font-light prose-indigo dark:prose-invert mb-6">
    <p>Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.</p>
  </div>

  <%= render "railsui/shared/sticky_subhead", title: "Dropdowns", subtitle: "Base" %>

  <div class="rui mb-6 dark:p-6 dark:rounded-lg">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown button
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>

<% content_for :html, flush: true do %>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="dropdown">
  <%%= button_tag "Dropdown button", type: "button", class: "btn btn-primary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false" %>
  <ul class="dropdown-menu">
    <li>
      <%%= link_to "Action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Another action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Something else", "#", class: "dropdown-item" %>
    </li>
  </ul>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.dropdown
  = button_tag "Dropdown button", type: "button", class: "btn   btn-primary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false"
  %ul.dropdown-menu
    %li
      = link_to "Action", "#", class: "dropdown-item"
    %li
      = link_to "Another action", "#", class: "dropdown-item"
    %li
      = link_to "Something else here", "#", class: "dropdown-item"
<% end %>

<%= render_snippet %>
</div>

<%# Buttons - Variants %>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Dropdowns", subtitle: "Variants" %>

  <div class="rui dark:p-6 dark:rounded-lg">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Primary</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Secondary</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Success</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Info</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Warning</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Danger</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

<% content_for :html, flush: true do %>
<!-- Secondary button -->
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Secondary</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<!-- Secondary button -->
<div class="btn-group">
  <%%= button_tag "Dropdown button", type: "button", class: "btn btn-secondary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false" %>
  <ul class="dropdown-menu">
    <li>
      <%%= link_to "Action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Another action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Something else", "#", class: "dropdown-item" %>
    </li>
  </ul>
</div>
<% end %>

<% content_for :haml, flush: true do %>
/ Secondary button
.btn-group
  = button_tag "Dropdown button", type: "button", class: "btn btn-secondary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false"
  %ul.dropdown-menu
    %li
      = link_to "Action", "#", class: "dropdown-item"
    %li
      = link_to "Another action", "#", class: "dropdown-item"
    %li
      = link_to "Something else here", "#", class: "dropdown-item"
<% end %>

<%= render_snippet %>
</div>

<%# Buttons - Split %>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Dropdowns", subtitle: "Split" %>

  <div class="rui dark:p-6 dark:rounded-lg">
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-warning" >Warning</button>
      <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-danger" >Danger</button>
      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </div>
  </div>

<% content_for :html, flush: true do %>
<!-- Secondary button -->
<div class="btn-group">
  <button type="button" class="btn btn-secondary">Action</button>
  <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<!-- Secondary split button -->
<div class="btn-group">
  <%%= button_tag "Action", type: "button", class: "btn   btn-secondary" %>
  <%%= button_tag type: "button", class: "btn btn-secondary dropdown-toggle dropdown-toggle-split", data: { bs_toggle: "dropdown" }, "aria-expanded": "false" do %>
  <%%= tag.span "Toggle Dropdown", class: "visually-hidden" %>
  <%% end %>
  <ul class="dropdown-menu">
    <li>
      <%%= link_to "Action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Another action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Something else", "#", class: "dropdown-item" %>
    </li>
  </ul>
</div>
<% end %>

<% content_for :haml, flush: true do %>
/ Secondary split button
.btn-group
  = button_tag "Action", type: "button", class: "btn btn-secondary"
  = button_tag type: "button", class: "btn btn-secondary dropdown-toggle dropdown-toggle-split", data: { bs_toggle: "dropdown" }, "aria-expanded": "false"
    %span.visually-hidden Toggle Dropdown
  %ul.dropdown-menu
    %li
      = link_to "Action", "#", class: "dropdown-item"
    %li
      = link_to "Another action", "#", class: "dropdown-item"
    %li
      = link_to "Something else here", "#", class: "dropdown-item"
<% end %>

<%= render_snippet %>
</div>

  <%# Buttons - Split %>

  <div class="my-16">
    <%= render "railsui/shared/sticky_subhead", title: "Dropdowns", subtitle: "Drop up" %>

    <div class="rui dark:p-6 dark:rounded-lg">
      <div class="btn-group dropup">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Dropup
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>

<% content_for :html, flush: true do %>
<div class="btn-group dropup">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Dropup
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="btn-group dropup">
  <%%= button_tag "Dropup", type: "button", class: "btn btn-secondary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false" %>
  <ul class="dropdown-menu">
    <li>
      <%%= link_to "Action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Another action", "#", class: "dropdown-item" %>
    </li>
    <li>
      <%%= link_to "Something else", "#", class: "dropdown-item" %>
    </li>
  </ul>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.btn-group.dropup
  = button_tag "Dropup", type: "button", class: "btn btn-secondary dropdown-toggle", data: { bs_toggle: "dropdown" }, "aria-expanded": "false"
  %ul.dropdown-menu
    %li
      = link_to "Action", "#", class: "dropdown-item"
    %li
      = link_to "Another action", "#", class: "dropdown-item"
    %li
      = link_to "Something else here", "#", class: "dropdown-item"
<% end %>

<%= render_snippet %>
</div>

<%= render "railsui/shared/read_more", subject: "dropdowns", link: "https://getbootstrap.com/docs/5.2/components/dropdowns/" %>
