<div class="prose-2xl font-light dark:prose-invert my-6">
  <p>Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.</p>
</div>

<% path = "railsui/themes/bootstrap/retriever/components/dropdowns" %>

<%= render "#{path}/base" %>
<%= render "#{path}/variants" %>
<%= render "#{path}/split" %>
<%= render "#{path}/drop_up" %>

<%= system_pagination(prev_path: systems_components_cards_path, prev_text: "Cards", next_path: systems_components_flash_path, next_text: "Flash") %>

<%= render "railsui/shared/read_more", subject: "dropdowns", link: "https://getbootstrap.com/docs/#{Railsui::Default::BOOTSTRAP_VERSION}/components/dropdowns/" %>
