<div id="form-radio">
<%= render layout: example, locals: { heading: "Base" } do %>

<%= render preview "zinc" do %>
<div class="form-group mb-0">
  <div class="mb-2 flex items-center">
    <input class="form-input-radio" type="radio" name="radio_default" id="radio_default_1">
    <label class="ml-2" for="radio_default_1">
      Default radio
    </label>
  </div>
  <div class="flex items-center">
    <input class="form-input-radio" type="radio" name="radio_default" id="radio_default_2" checked>
    <label class="ml-2" for="radio_default_2">
      Default checked radio
    </label>
  </div>
</div>
<% end %>

<% content_for :example, flush: true do %>
<%# .html %>
<% content_for :html, flush: true do %>
<div class="form-group">
  <div class="mb-2 flex items-center">
    <input class="form-input-radio" type="radio" name="radio_default" id="radio_default_1">
    <label class="ml-2" for="radio_default_1">
      Default radio
    </label>
  </div>
  <div class="flex items-center">
    <input class="form-input-radio" type="radio" name="radio_default" id="radio_default_2" checked>
    <label class="ml-2" for="radio_default_2">
      Default checked radio
    </label>
  </div>
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<!-- ActionView::Helpers::FormTagHelper -->
<div class="form-group">
  <div class="mb-2 flex items-center">
    <%%= radio_button_tag "radio_default", "1", false, class: "form-input-radio" %>
    <%%= label_tag "radio_default_1", "Default radio", class: "ml-2" %>
  </div>

  <div class="flex items-center">
    <%%= radio_button_tag "radio_default", "2", true, class: "form-input-radio" %>
    <%%= label_tag "radio_default_2", "Default checked radio", class: "ml-2" %>
  </div>
</div>

<!-- ActionView::Helpers::FormHelper -->
<%%= form_with model: @form do |f| %>
  <div class="form-group">
    <div class="mb-2 flex items-center">
      <%%= f.radio_button_tag "radio_default", "1", false, class: "form-input-radio" %>
      <%%= f.label :radio_default_1, "Default radio", class: "ml-2" %>
    </div>

    <div class="flex items-center">
      <%%= f.radio_button_tag "radio_default", "2", true, class: "form-input-radio" %>
      <%%= f.label :radio_default_2, "Default checked radio", class: "ml-2" %>
    </div>
  </div>

  <%%= f.submit class: "btn btn-primary" %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
/ ActionView::Helpers::FormHelper
= form_with model: @form do |f|
  .form-group
    .mb-2.flex.items-center
      = f.radio_button_tag "radio_default", "1", false, class: "form-input-radio"
      = f.label :radio_default_1, "Default radio", class: "ml-2"
    .flex.items-center
      = f.radio_button_tag "radio_default", "2", true, class: "form-input-radio"
      = f.label :radio_default_2, "Default checked radio", class: "ml-2"
  = f.submit class: "btn btn-primary"
<% end %>
<%= render_snippet %>
<% end %>
<% end %>
</div>

<%= system_pagination(prev_path: systems_forms_checkbox_path, prev_text: "Checkbox", next_path: systems_forms_switch_path, next_text: "Switch") %>

<%= content_for :component_nav do %>
  <%= render layout: "railsui/shared/component_nav", locals: { title: "On this page" } do %>
    <%= component_link "Base", "#radio-base" %>
  <% end %>
<% end %>
