<details class="<%= details_classes %>" <%= @open ? 'open' : '' %> <%= tag.attributes(html_attributes) %>>
  <summary class="<%= summary_classes %>">
    <%= @title %>
    <div class="ml-4 mt-0.5">
      <!-- Plus icon (shown when closed) -->
      <%= icon "plus", class: "size-5 flex-none text-zinc-600 dark:text-zinc-300 group-open:text-primary-500 dark:group-open:text-primary-400 group-open:hidden block" %>
      <!-- Minus icon (shown when open) -->
      <%= icon "minus", class: "size-5 flex-none text-zinc-600 dark:text-zinc-300 group-open:text-primary-500 dark:group-open:text-primary-400 group-open:block hidden" %>
    </div>
  </summary>

  <div class="pt-6 pb-6">
    <div class="<%= content_classes %>">
      <%= content %>
    </div>
  </div>
</details>