<% if @href && !@current %>
  <%= link_to @label, @href, class: link_classes, **html_attributes_hash %>
<% else %>
  <span class="<%= current_classes %>" <%= aria_html %> <%= html_attributes %>><%= @label %></span>
<% end %>