<div id="datalist-booking-list">
  <%= render layout: example, locals: { heading: "Booking list", section: "Datalist" } do %>

    <%= render preview "zinc" do %>
      <h1 class="mb:mb-0 mb-6 text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Bookings</h1>
      <div class="my-6 font-heading overflow-x-auto">
        <table class="w-full text-left text-sm">
          <thead>
            <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Status</th>
            <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Guests</th>
            <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Arrival</th>
            <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Departure</th>
            <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Booking date</th>
            <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Property</th>
            <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Payout</th>
            <th></th>
          </thead>
          <tbody class="text-zinc-800 divide-y divide-zinc-200/80 dark:divide-zinc-700">
            <%= render "railsui/themes/shepherd/components/datalist/booking_item", locals: {
        status: "Upcoming",
        guest: "Dannie White",
        guest_counts: "3 adults, 1 child",
        arrival: "Aug 24, #{Date.today.year + 1}",
        departure: "Aug 28, #{Date.today.year + 1}",
        booking_date: "June, #{Date.today.year + 1}",
        booking_date_time: "7:38 PM CST",
        property: "Mountain Vista Chalet",
        price: "$1,165.45"
      } %>

            <%= render "railsui/themes/shepherd/components/datalist/booking_item", locals: {
        status: "Upcoming",
        guest: "John Smith",
        guest_counts: "2 adults, 2 children",
        arrival: "Sep 12, #{Date.today.year + 1}",
        departure: "Aug 28, #{Date.today.year + 1}",
        booking_date: "June, #{Date.today.year + 1}",
        booking_date_time: "4:15 PM CST",
        property: "Alpine Retreat Haven",
        price: "$1,320.75"
      } %>

            <%= render "railsui/themes/shepherd/components/datalist/booking_item", locals: {
        status: "Upcoming",
        guest: "Michael Brown",
        guest_counts: "2 adults, 1 child",
        arrival: "Nov 8, #{Date.today.year + 1}",
        departure: "Nov 12, #{Date.today.year + 1}",
        booking_date: "Sep 30, #{Date.today.year + 1}",
        booking_date_time: "9:22 AM CST",
        property: "Mountain Vista Chalet",
        price: "$1,045.90"
      } %>

            <%= render "railsui/themes/shepherd/components/datalist/booking_item", locals: {
        status: "Complete",
        guest: "James Anderson",
        guest_counts: "3 adults, 1 child",
        arrival: "Aug 3, #{Date.today.year + 1}",
        departure: "Aug 10, #{Date.today.year + 1}",
        booking_date: "May 25, #{Date.today.year + 1}",
        booking_date_time: "10:45 AM CST",
        property: "Mountain Vista Chalet",
        price: "$2,846.42"
      } %>

            <%= render "railsui/themes/shepherd/components/datalist/booking_item", locals: {
        status: "Canceled",
        guest: "Noah Hall",
        guest_counts: "3 adults",
        arrival: "Sep 10, #{Date.today.year + 1}",
        departure: "Sep 12, #{Date.today.year + 1}",
        booking_date: "Jul 18, #{Date.today.year + 1}",
        booking_date_time: "4:30 PM CST",
        property: "Cozy Mountain A-Frame",
        price: "$1,326.36"
      } %>
          </tbody>
        </table>
      </div>
    <% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div class="my-6 font-heading overflow-x-auto">
  <table class="w-full text-left text-sm">
    <thead>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Status</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Guests</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Arrival</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Departure</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Booking date</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Property</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Payout</th>
      <th></th>
    </thead>
    <tbody class="text-zinc-800 divide-y divide-zinc-200/80 dark:divide-zinc-700">
      <tr class="md:whitespace-normal whitespace-nowrap">
        <td class="align-top md:px-0 p-4 md:whitespace-normal whitespace-nowrap">
          <span class="text-xs font-medium rounded-full font-sans bg-emerald-50 text-blue-600  px-2 py-1 tracking-tight dark:bg-blue-500/20 dark:text-blue-200">Upcoming</span>
        </td>
        <td class="align-top md:px-0 p-4 dark:text-zinc-100">
          <p><a href="#">Dannie White</a></p>
          <p><small class="text-zinc-500 dark:text-zinc-400 font-sans">3 adults, 1 child</small></p>
        </td>
        <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
          Aug 24, 2024
        </td>
        <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
          Aug 28, 2024
        </td>
        <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
          <p>June, 2024</p>
          <p><small class="text-zinc-500">7:38 PM CST</small></p>
        </td>
        <td class="align-top md:px-0 p-4 dark:text-zinc-100">
          <a href="#">Mountain Vista Chalet</a>
        </td>
        <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
          $1,165.45
        </td>
        <td class="align-top pt-2">
          <div data-controller="railsui-dropdown" class="relative md:flex md:justify-end justify-start">
            <button class="flex relative z-40 md:w-10 md:h-9 py-3 px-4 md:px-0 md:py-0 w-full md:rounded-xl rounded-full bg-white focus:ring-4 focus:ring-zinc-300/30 items-center md:justify-center justify-between border md:border-transparent focus:border-zinc-300 border-zinc-300/80  hover:border-zinc-300  dark:hover:bg-zinc-800 dark:hover:border-zinc-600 dark:focus:bg-zinc-800 dark:focus:border-zinc-500 dark:bg-zinc-700/60 dark:text-white dark:border-zinc-500/30 dark:shadow-zinc-950/40 dark:hover:bg-zinc-800/90 dark:focus:ring-zinc-700/80 dark:focus:border-zinc-400/80" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">
              <%%= icon "ellipsis-horizontal", class: "md:block hidden stroke-current size-6 flex-shrink-0 text-zinc-600/80 dark:text-zinc-200" %>

              <span class="md:hidden block">Actions</span>

              <%%= icon "chevron-down", class: "md:hidden block size-4 stroke-current flex-shrink-0 text-zinc-600/80 dark:text-zinc-400" %>
            </button>

            <ul class="hidden origin-top-right absolute md:top-12 mt-3 md:mt-0 top-10 right-0 w-48 md:shadow-sm md:rounded-xl rounded-3xl py-2 shadow-zinc-300/20 z-50 bg-white md:text-[15px] text-base border dark:bg-zinc-800 dark:shadow-zinc-950/20 dark:border-zinc-600"
      data-transition-enter-active="transition ease-out duration-100"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-100"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95" data-railsui-dropdown-target="menu">
              <li>
                <a href="#"
          class="px-4 md:py-2 py-3 flex items-center justify-between hover:text-zinc-900 text-zinc-700 dark:text-zinc-200 dark:hover:text-white">
                  <span>Go to Booking</span>
                  <%%= icon "chevron-right", class:  "md:hidden block size-5 stroke-current text-zinc-500/60 dark:text-zinc-400" %>
                </a>
              </li>
            </ul>
          </div>
        </td>
      </tr>

      <!-- more booking list items -->
    </tbody>
  </table>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="my-6 font-heading overflow-x-auto">
  <table class="w-full text-left text-sm">
    <thead>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Status</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Guests</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Arrival</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Departure</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Booking date</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Property</th>
      <th class="text-zinc-600 dark:text-zinc-300 font-sans font-medium md:whitespace-normal whitespace-nowrap md:px-0 p-4">Payout</th>
      <th></th>
    </thead>
    <tbody class="text-zinc-800 divide-y divide-zinc-200/80 dark:divide-zinc-700">
      <tr class="md:whitespace-normal whitespace-nowrap">
        <td class="align-top md:px-0 p-4 md:whitespace-normal whitespace-nowrap">
          <span class="text-xs font-medium rounded-full font-sans bg-emerald-50 text-emerald-600  px-2 py-1 tracking-tight dark:bg-emerald-500/20 dark:text-emerald-200">Complete</span>
        </td>
        <td class="align-top md:px-0 p-4 dark:text-zinc-100">
          <p><%%= link_to "Dannie White", "#" %></a></p>
        <p><small class="text-zinc-500 dark:text-zinc-400 font-sans">3 adults, 1 child</small></p>
      </td>
      <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
        Aug 24, 2024
      </td>
      <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
        Aug 28, 2024
      </td>
      <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
        <p>June, 2024</p>
        <p><small class="text-zinc-500">7:38 PM CST</small></p>
      </td>
      <td class="align-top md:px-0 p-4 dark:text-zinc-100">
        <%%= link_to "Mountain Vista Chalet", "#" %></a>
      </td>
      <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
        $1,165.45
      </td>
      <td class="align-top pt-2">
        <div data-controller="railsui-dropdown" class="relative md:flex md:justify-end justify-start">
        <button class="flex relative z-40 md:w-10 md:h-9 py-3 px-4 md:px-0 md:py-0 w-full md:rounded-xl rounded-full bg-white focus:ring-4 focus:ring-zinc-300/30 items-center md:justify-center justify-between border md:border-transparent focus:border-zinc-300 border-zinc-300/80  hover:border-zinc-300  dark:hover:bg-zinc-800 dark:hover:border-zinc-600 dark:focus:bg-zinc-800 dark:focus:border-zinc-500 dark:bg-zinc-700/60 dark:text-white dark:border-zinc-500/30 dark:shadow-zinc-950/40 dark:hover:bg-zinc-800/90 dark:focus:ring-zinc-700/80 dark:focus:border-zinc-400/80" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">

          <%%= icon "ellipsis-horizontal", class:  "md:block hidden stroke-current size-6 flex-shrink-0 text-zinc-600/80 dark:text-zinc-200" %>

          <span class="md:hidden block">Actions</span>

          <%%= icon "chevron-down", class:  "md:hidden block size-4 stroke-current flex-shrink-0 text-zinc-600/80 dark:text-zinc-400" %>
        </button>

        <ul
      class="hidden origin-top-right absolute md:top-12 mt-3 md:mt-0 top-10 right-0 w-48 md:shadow-sm md:rounded-xl rounded-3xl py-2 shadow-zinc-300/20 z-50 bg-white md:text-[15px] text-base border dark:bg-zinc-800 dark:shadow-zinc-950/20 dark:border-zinc-600"
      data-transition-enter-active="transition ease-out duration-100"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-100"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95" data-railsui-dropdown-target="menu">
          <li>
            <%%= link_to "#", class: "px-4 md:py-2 py-3 flex items-center justify-between hover:text-zinc-900 text-zinc-700 dark:text-zinc-200 dark:hover:text-white" do %>
              <span>Go to Booking</span>
              <%%= icon "chevron-right", class:  "md:hidden block size-5 stroke-current text-zinc-500/60 dark:text-zinc-400" %>
              <%% end %>
            </li>
          </ul>
        </div>
      </td>
    </tr>

    <!-- more booking list items -->
  </tbody>
</table>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.my-6.font-heading.overflow-x-auto
  %table.w-full.text-left.text-sm
    %thead
      %th.text-zinc-600.dark:text-zinc-300.font-sans.font-medium.md:whitespace-normal.whitespace-nowrap.md:px-0.p-4 Status
      %th.text-zinc-600.dark:text-zinc-300.font-sans.font-medium.md:whitespace-normal.whitespace-nowrap.md:px-0.p-4 Guests
      %th.text-zinc-600.dark:text-zinc-300.font-sans.font-medium.md:whitespace-normal.whitespace-nowrap.md:px-0.p-4 Arrival
      %th.text-zinc-600.dark:text-zinc-300.font-sans.font-medium.md:whitespace-normal.whitespace-nowrap.md:px-0.p-4 Departure
      %th.text-zinc-600.dark:text-zinc-300.font-sans.font-medium.md:whitespace-normal.whitespace-nowrap.md:px-0.p-4 Booking date
      %th.text-zinc-600.dark:text-zinc-300.font-sans.font-medium.md:whitespace-normal.whitespace-nowrap.md:px-0.p-4 Property
      %th.text-zinc-600.dark:text-zinc-300.font-sans.font-medium.md:whitespace-normal.whitespace-nowrap.md:px-0.p-4 Payout
      %th
    %tbody.text-zinc-800.divide-y.dark:divide-zinc-700{class: "divide-zinc-200/80"}
      %tr.md:whitespace-normal.whitespace-nowrap
        %td.align-top.md:px-0.p-4.md:whitespace-normal.whitespace-nowrap
          %span.text-xs.font-medium.rounded-full.font-sans.bg-emerald-50.text-emerald-600.px-2.py-1.tracking-tight.dark:text-emerald-200{class: "dark:bg-emerald-500/20"} Complete
        %td.align-top.md:px-0.p-4.dark:text-zinc-100
          %p= link_to "Dannie White", "#"
          %p
            %small.text-zinc-500.dark:text-zinc-400.font-sans 3 adults, 1 child
        %td.align-top.md:px-0.p-4.dark:text-zinc-100.font-sans
          Aug 24, 2024
        %td.align-top.md:px-0.p-4.dark:text-zinc-100.font-sans
          Aug 28, 2024
        %td.align-top.md:px-0.p-4.dark:text-zinc-100.font-sans
          %p June, 2024
          %p
            %small.text-zinc-500 7:38 PM CST
        %td.align-top.md:px-0.p-4.dark:text-zinc-100
          = link_to "Mountain Vista Chalet", "#"
        %td.align-top.md:px-0.p-4.dark:text-zinc-100.font-sans
          $1,165.45
        %td.align-top.pt-2
          .relative.md:flex.md:justify-end.justify-start{"data-controller" => "railsui-dropdown"}
            %button.flex.relative.z-40.md:w-10.md:h-9.py-3.px-4.md:px-0.md:py-0.w-full.md:rounded-xl.rounded-full.bg-white.focus:ring-4.items-center.md:justify-center.justify-between.border.md:border-transparent.focus:border-zinc-300.hover:border-zinc-300.dark:hover:bg-zinc-800.dark:hover:border-zinc-600.dark:focus:bg-zinc-800.dark:focus:border-zinc-500.dark:text-white{class: "focus:ring-zinc-300/30 border-zinc-300/80 dark:bg-zinc-700/60 dark:border-zinc-500/30 dark:shadow-zinc-950/40 dark:hover:bg-zinc-800/90 dark:focus:ring-zinc-700/80 dark:focus:border-zinc-400/80", "data-action" => "click->railsui-dropdown#toggle click@window->railsui-dropdown#hide"}
              = icon "ellipsis-horizontal", class:  "md:block hidden stroke-current size-6 flex-shrink-0 text-zinc-600/80 dark:text-zinc-200"
              %span.md:hidden.block Actions
              = icon "chevron-down", class:  "md:hidden block size-4 stroke-current flex-shrink-0 text-zinc-600/80 dark:text-zinc-400"
            %ul.hidden.origin-top-right.absolute.md:top-12.mt-3.md:mt-0.top-10.right-0.w-48.md:shadow-sm.md:rounded-xl.rounded-3xl.py-2.z-50.bg-white.text-base.border.dark:bg-zinc-800.dark:border-zinc-600{class: "shadow-zinc-300/20 md:text-[15px] dark:shadow-zinc-950/20", "data-railsui-dropdown-target" => "menu", "data-transition-enter-active" => "transition ease-out duration-100", "data-transition-enter-from" => "transform opacity-0 scale-95", "data-transition-enter-to" => "transform opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-100", "data-transition-leave-from" => "transform opacity-100 scale-100", "data-transition-leave-to" => "transform opacity-0 scale-95"}
              %li
                = link_to "", class: "px-4 md:py-2 py-3 flex items-center justify-between hover:text-zinc-900 text-zinc-700 dark:text-zinc-200 dark:hover:text-white" do
                  %span Go to Booking
                  = icon "chevron-right", class:  "md:hidden block size-5 stroke-current text-zinc-500/60 dark:text-zinc-400"
      / more booking list items
<% end %>

<% content_for :js, flush: true do %>

<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
