<tr class="md:whitespace-normal whitespace-nowrap">
  <td class="align-top md:px-0 p-4 md:whitespace-normal whitespace-nowrap">
    <% if locals[:status] == "Complete" %>
      <span
      class="text-xs font-medium rounded-full font-sans bg-emerald-50 text-emerald-600  px-2 py-1 tracking-tight dark:bg-emerald-500/20 dark:text-emerald-200"><%= locals[:status] %></span>
    <% end %>

    <% if locals[:status] == "Canceled" %>
      <span
      class="text-xs font-medium rounded-full font-sans bg-red-50 text-red-600 px-2 py-1 tracking-tight dark:bg-red-500/20 dark:text-red-200"><%= locals[:status] %></span>
    <% end %>

    <% if locals[:status] == "Upcoming" %>
      <span
      class="text-xs font-medium rounded-full font-sans bg-blue-50 text-blue-600 px-2 py-1 tracking-tight dark:bg-blue-500/20 dark:text-blue-200"><%= locals[:status] %></span>
    <% end %>
  </td>
  <td class="align-top md:px-0 p-4 dark:text-zinc-100">
    <p><a href="#" data-controller="railsui-prevent" data-action="click->railsui-prevent#prevent"><%= locals[:guest] %></a></p>
    <p><small class="text-zinc-500 dark:text-zinc-400 font-sans"><%= locals[:guest_counts] %></small></p>
  </td>
  <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
    <%= locals[:arrival] %>
  </td>
  <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
    <%= locals[:departure] %>
  </td>
  <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
    <p><%= locals[:booking_date] %></p>
    <p><small class="text-zinc-500"><%= locals[:booking_date_time] %></small></p>
  </td>
  <td class="align-top md:px-0 p-4 dark:text-zinc-100">
    <a href="#" data-controller="railsui-prevent" data-action="click->railsui-prevent#prevent"><%= locals[:property] %></a>
  </td>
  <td class="align-top md:px-0 p-4 dark:text-zinc-100 font-sans">
    <%= locals[:price] %>
  </td>
  <td class="align-top pt-2">
    <div data-controller="railsui-dropdown" class="relative md:flex md:justify-end justify-start">
      <button
        class="flex relative z-40 md:w-10 md:h-9 py-3 px-4 md:px-0 md:py-0 w-full md:rounded-xl rounded-full bg-white focus:ring-4 focus:ring-zinc-300/30 items-center md:justify-center justify-between border md:border-transparent focus:border-zinc-300 border-zinc-300/80  hover:border-zinc-300  dark:hover:bg-zinc-800 dark:hover:border-zinc-600 dark:focus:bg-zinc-800 dark:focus:border-zinc-500 dark:bg-zinc-700/60 dark:text-white dark:border-zinc-500/30 dark:shadow-zinc-950/40 dark:hover:bg-zinc-800/90 dark:focus:ring-zinc-700/80 dark:focus:border-zinc-400/80"
        data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">

        <%= icon "ellipsis-horizontal", class:  "md:block hidden stroke-current size-6 flex-shrink-0 text-zinc-600/80 dark:text-zinc-200" %>

        <span class="md:hidden block">Actions</span>

        <%= icon "chevron-down", class:  "md:hidden block size-4 stroke-current flex-shrink-0 text-zinc-600/80 dark:text-zinc-400" %>
      </button>

      <ul
        class="hidden origin-top-right absolute md:top-12 mt-3 md:mt-0 top-10 right-0 w-48 md:shadow-sm md:rounded-xl rounded-3xl py-2 shadow-zinc-300/20 z-50 bg-white md:text-[15px] text-base border dark:bg-zinc-800 dark:shadow-zinc-950/20 dark:border-zinc-600"
        data-transition-enter-active="transition ease-out duration-100"
        data-transition-enter-from="transform opacity-0 scale-95"
        data-transition-enter-to="transform opacity-100 scale-100"
        data-transition-leave-active="transition ease-in duration-100"
        data-transition-leave-from="transform opacity-100 scale-100"
        data-transition-leave-to="transform opacity-0 scale-95" data-railsui-dropdown-target="menu">
        <li>
          <a href="#"
            class="px-4 md:py-2 py-3 flex items-center justify-between hover:text-zinc-900 text-zinc-700 dark:text-zinc-200 dark:hover:text-white" data-controller="railsui-prevent" data-action="click->railsui-prevent#prevent">
            <span>Go to Booking</span>
            <%= icon "chevron-right", class:  "md:hidden block size-5 stroke-current text-zinc-500/60 dark:text-zinc-400" %>
          </a>
        </li>
      </ul>
    </div>
  </td>
</tr>
