<div id="modal-with-dismiss-button">
<%= render layout: example, locals: { heading: "With dismiss button", section: "Modal" } do %>

<div class="bg-black/80 flex items-center jusity-center p-10 rounded-t-lg dark:bg-slate-800 dark:border-t dark:border-x dark:border-slate-600">
  <div class="rounded mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 p-6 origin-bottom flex items-start relative gap-4 dark:bg-slate-700 dark:text-slate-200">
    <button type="button" class="absolute top-2 right-2 size-8 bg-transparent hover:bg-slate-50 flex items-center justify-center rounded-full group dark:hover:bg-slate-50/50" data-action="click->railsui-modal#close">
      <%= icon "x-mark", class: "text-slate-400 size-6 group-hover:text-slate-500 pointer-events-none dark:group-hover:text-slate-800 dark:text-slate-400" %>
    </button>
    <div class="size-8 rounded-full bg-red-50 flex items-center justify-center dark:bg-red-500/30">
      <%= icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-300" %>
    </div>

    <div class="flex-1">
      <h3 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Delete account</h3>

      <div class="prose prose-slate dark:prose-invert mb-6 mt-2 pr-6">
        <p>Once your account is deleted it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?</p>
      </div>

      <div class="flex justify-end items-center space-x-3">
        <button class="btn btn-light">Cancel</button>
        <button class="btn bg-red-600 text-white focus:ring-red-100 hover:bg-red-700 hover:shadow-sm hover:shadow-slate-600/10">Delete</button>
      </div>
    </div>
  </div>
</div>

<div data-controller="railsui-modal">
  <div class="flex justify-center p-6 border-x border-b border-slate-200 rounded-b-lg relative dark:bg-slate-700 dark:border-slate-600 dark:border-t">
    <div class="absolute top-4 left-4">
      <%= doc_label :demo %>
    </div>
    <button type="button" data-action="click->railsui-modal#open" class="btn btn-primary" tabindex="0">
      Open dismissable with icon modal
    </button>
  </div>
  <div
    aria-labelledby="dismissable-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-action="keyup@window->railsui-modal#closeWithEsc"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 p-6 origin-bottom md:flex items-start relative gap-4 dark:bg-slate-700 dark:text-slate-200">
        <div class="flex items-start">
          <button type="button" class="absolute top-2 right-2 size-8 bg-transparent hover:bg-slate-50 flex items-center justify-center rounded-full group dark:hover:bg-slate-50/50" data-action="click->railsui-modal#close">
            <%= icon "x-mark", class: "text-slate-400 size-6 group-hover:text-slate-500 pointer-events-none dark:group-hover:text-slate-800 dark:text-slate-400" %>
          </button>
          <div class="size-8 rounded-full bg-red-50 flex items-center justify-center mr-3 dark:bg-red-500/30">
            <%= icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-300" %>
          </div>

          <div class="flex-1">
            <h3 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Delete account</h3>

            <div class="prose prose-slate dark:prose-invert mb-6 mt-2 pr-6">
              <p>Once your account is deleted it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?</p>
            </div>

            <div class="flex justify-end items-center space-x-3">
              <button class="btn btn-light" data-action="click->railsui-modal#close">Cancel</button>
              <button class="btn bg-red-600 text-white focus:ring-red-100 hover:bg-red-700 hover:shadow-sm hover:shadow-slate-600/10">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div data-controller="railsui-modal">
  <button type="button" data-action="click->railsui-modal#open" class="btn btn-primary" tabindex="0">
    Open dismissable with icon modal
  </button>
  <div
    aria-labelledby="dismissable-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog">
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-action="keyup@window->railsui-modal#closeWithEsc"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded mx-auto shadow-xl sm:w-full sm:max-w-lg bg-white m-1 p-6 origin-bottom md:flex items-start relative gap-4 dark:bg-slate-700 dark:text-slate-200">
        <div class="flex items-start">
          <button type="button" class="absolute top-2 right-2 size-8 bg-transparent hover:bg-slate-50 flex items-center justify-center rounded-full group dark:hover:bg-slate-50/50" data-action="click->railsui-modal#close">
            <%%= icon "x-mark", class: "text-slate-400 size-6 group-hover:text-slate-500 pointer-events-none dark:group-hover:text-slate-800 dark:text-slate-400" %>
          </button>
          <div class="size-8 rounded-full bg-red-50 flex items-center justify-center dark:bg-red-500/30">
            <%%= icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-300" %>
          </div>

          <div class="flex-1">
            <h3 class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Delete account</h3>

            <div class="prose prose-slate dark:prose-invert mb-6 mt-2 pr-6">
              <p>Once your account is deleted it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?</p>
            </div>

            <div class="flex justify-end items-center space-x-3">
              <button class="btn btn-light" data-action="click->railsui-modal#close">Cancel</button>
              <button class="btn bg-red-600 text-white focus:ring-red-100 hover:bg-red-700 hover:shadow-sm hover:shadow-slate-600/10">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
%div{"data-controller" => "railsui-modal"}
  %button.btn.btn-primary{"data-action" => "click->railsui-modal#open", tabindex: "0", type: "button"}
    Open dismissable with icon modal
  .hidden.fixed.inset-0.z-50.overflow-y-auto{"aria-labelledby" => "dismissable-action-modal-title", "aria-modal" => "true", "data-railsui-modal-target" => "container", role: "dialog"}
    .h-screen.w-full.relative.flex.items-center.justify-center
      .hidden.rounded.mx-auto.shadow-xl.sm:w-full.sm:max-w-lg.bg-white.m-1.p-6.origin-bottom.md:flex.items-start.relative.gap-4.dark:bg-slate-700.dark:text-slate-200{"data-action" => "keyup@window->railsui-modal#closeWithEsc", "data-railsui-modal-target" => "content", "data-transition-enter-active" => "transition ease-out duration-300", "data-transition-enter-from" => "transform opacity-0 scale-95", "data-transition-enter-to" => "transform opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-300", "data-transition-leave-from" => "transform opacity-100 scale-100", "data-transition-leave-to" => "transform opacity-0 scale-95"}
        .flex.items-start
          %button.absolute.top-2.right-2.size-8.bg-transparent.hover:bg-slate-50.flex.items-center.justify-center.rounded-full.group{class: "dark:hover:bg-slate-50/50", "data-action" => "click->railsui-modal#close", type: "button"}
            = icon "x-mark", class: "text-slate-400 size-6 group-hover:text-slate-500 pointer-events-none dark:group-hover:text-slate-800 dark:text-slate-400"
          .size-8.rounded-full.bg-red-50.flex.items-center.justify-center{class: "dark:bg-red-500/30"}
            = icon "exclamation-circle", class: "size-6 text-red-600 flex-shrink-0 dark:text-red-300"
          .flex-1
            %h3.text-2xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight Delete account
            .prose.prose-slate.dark:prose-invert.mb-6.mt-2.pr-6
              %p Once your account is deleted it is gone for good. There is no data saved that we keep on hand. Are you sure you want to continue?
            .flex.justify-end.items-center.space-x-3
              %button.btn.btn-light{"data-action" => "click->railsui-modal#close"} Cancel
              %button.btn.bg-red-600.text-white.focus:ring-red-100.hover:bg-red-700.hover:shadow-sm{class: "hover:shadow-slate-600/10"} Delete
<% end %>

<% content_for :js, flush: true do %>
import { RailsuiModal } from 'railsui-stimulus'

application.register('railsui-modal', RailsuiModal)
<% end %>

<%= render_snippet(js_filename: "index.js") %>
<% end %>
<% end %>
</div>
