<div id="breadcrumb-base">
<%= render layout: example, locals: { heading: "Base" } do %>

<%= render preview('gray') do %>
<div class="md:pl-6">
  <nav aria-label="breadcrumb" class="my-6 font-medium flex text-slate-500 dark:text-slate-200 text-sm mb-4">
    <ol class="flex flex-wrap items-center gap-3 list-none m-0 p-0">
      <li>
        <a class="hover:underline hover:text-slate-600 dark:hover:text-slate-400 flex items-center gap-2.5" href="/">
          <%= icon "home", class: "size-4 shrink-0" %>
          <span>Home</span>
        </a>
      </li>
      <li class="flex gap-3">
        <div class="flex items-center">
          <span class="text-slate-300 dark:text-slate-500">/</span>
        </div>
        <a class="hover:underline hover:text-slate-600 dark:hover:text-slate-400 flex items-center gap-2.5" href="#">
          <%= icon "book-open", class: "size-4 shrink-0" %>
          <span>Docs</span>
        </a>
      </li>
      <li class="flex gap-3">
        <div class="flex items-center">
          <span class="text-slate-300 dark:text-slate-500">/</span>
        </div>

        <div class="relative" data-controller="railsui-dropdown">
          <button type="button" class="hover:underline hover:text-slate-600 dark:hover:text-slate-400 flex gap-1.5 items-center" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" aria-haspopup="true" aria-expanded="false">
            More
            <%= icon "chevron-down", class: "size-3 shrink-0" %>
          </button>

          <div data-railsui-dropdown-target="menu" class="origin-top-left left-0 top-8 dropdown-menu hidden" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95" aria-hidden="true">
            <ul>
              <li>
                <a class="dropdown-item" href="#">Blog</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Changelog</a>
              </li>
            </ul>
          </div>
        </div>
        </li>
        <li class="flex gap-3">
          <div class="flex items-center">
            <span class="text-slate-300 dark:text-slate-500">/</span>
          </div>
          <span class="text-primary-500 dark:text-primary-500" data-aria-current="page">Current Page</span>
        </li>
    </ol>
  </nav>
</div>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-slate-500 dark:text-slate-200 text-sm mb-4">
  <ol class="flex flex-wrap items-center gap-3 list-none m-0 p-0">
    <li>
      <a class="hover:underline hover:text-slate-600 dark:hover:text-slate-400 flex items-center gap-2.5" href="/">
        <%%= icon "home", class: "size-4 shrink-0" %>
        <span>Home</span>
      </a>
    </li>
    <li class="flex gap-3">
      <div class="flex items-center">
        <span class="text-slate-300 dark:text-slate-500">/</span>
      </div>
      <a class="hover:underline hover:text-slate-600 dark:hover:text-slate-400 flex items-center gap-2.5" href="#">
        <%%= icon "book-open", class: "size-4 shrink-0" %>
        <span>Docs</span>
      </a>
    </li>
    <li class="flex gap-3">
      <div class="flex items-center">
        <span class="text-slate-300 dark:text-slate-500">/</span>
      </div>

      <div class="relative" data-controller="railsui-dropdown">
        <button type="button" class="hover:underline hover:text-slate-600 dark:hover:text-slate-400 flex gap-1.5 items-center" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" aria-haspopup="true" aria-expanded="false">
          More
          <%%= icon "chevron-down", class: "size-3 shrink-0" %>
        </button>

        <div data-railsui-dropdown-target="menu" class="origin-top-left left-0 top-8 dropdown-menu hidden" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95" aria-hidden="true">
          <ul>
            <li>
              <a class="dropdown-item" href="#">Blog</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Changelog</a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="flex gap-3">
      <div class="flex items-center">
        <span class="text-slate-300 dark:text-slate-500">/</span>
      </div>
      <span class="text-primary-500 dark:text-primary-500" data-aria-current="page">Current Page</span>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :erb, flush: true do %>
<%%= rui :breadcrumb, items: [
  { icon: "home", name: "Home", url: root_path },
  { icon: "book-open", name: "Docs", url: "#" },
  {
    name: "More",
    dropdown: [
      { name: "Blog", url: "#" },
      { name: "Changelog", url: "#" }
    ]
  },
  { name: "Current Page", active: true }
], classes: "mb-4" %>
<% end %>

<% content_for :bash, flush: true do %>

<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
