<div id="breadcrumb-contained">
  <%= render layout: example, locals: { heading: "Contained" } do %>

<%= render preview("gray") do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-slate-500 text-sm bg-white rounded items-center border-slate-300/80 border sm:py-0 py-4 dark:bg-slate-800/70 dark:border-slate-700 mb-4">
  <ol class="flex items-center justify-start gap-6 px-4 list-none">
    <li class="sm:h-12 flex items-center  justify-center">
      <a class="hover:text-slate-700 dark:hover:text-slate-200 text-slate-600 dark:text-slate-300 pl-2" href="/">Home</a>
    </li>

    <li class="sm:h-12 flex items-center gap-3 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 dark:bg-slate-600/80 flex-shrink-0 sm:block hidden"></span>
      <a class="hover:text-slate-700 dark:hover:text-slate-200 text-slate-600 dark:text-slate-300 sm:pl-4" href="#">Docs</a>
    </li>

    <li class="sm:h-12 flex items-center gap-3 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 dark:bg-slate-600/80 flex-shrink-0 sm:block hidden"></span>
      <div class="relative sm:pl-4" data-controller="railsui-dropdown">
        <button type="button" class="hover:text-slate-700 dark:hover:text-slate-200 text-slate-600 dark:text-slate-300 flex gap-2.5 items-center hover:underline" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" aria-haspopup="true" aria-expanded="false">
          More
          <%= icon "chevron-down", class: "size-3 shrink-0" %>
        </button>

        <div data-railsui-dropdown-target="menu" class="hidden origin-top-left left-0 top-10 dropdown-menu" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95" aria-hidden="true">
        <ul>
          <li>
            <a class="dropdown-item flex items-center gap-2.5" href="#">
              <%= icon "document-text", class: "size-4 shrink-0" %>
              <span>Blog</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item flex items-center gap-2.5" href="#">
              <%= icon "clock", class: "size-3 shrink-0" %>
              <span>Changelog</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sm:h-12 flex items-center gap-3 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 dark:bg-slate-600/80 flex-shrink-0 sm:block hidden"></span>
      <span class="sm:pl-4 text-primary-600 dark:text-primary-400 flex items-center gap-2.5" data-aria-current="page">
        <%= icon "star", class: "size-4 shrink-0" %>
        <span>Current Page</span>
      </span>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<nav aria-label="breadcrumb" class="my-6 font-medium flex text-slate-500 text-sm bg-white rounded items-center border-slate-300/80 border sm:py-0 py-4 dark:bg-slate-800/70 dark:border-slate-700 mb-4">
  <ol class="flex items-center justify-start gap-6 px-4 list-none">
    <li class="sm:h-12 flex items-center  justify-center">
      <a class="hover:text-slate-700 dark:hover:text-slate-200 text-slate-600 dark:text-slate-300 pl-2" href="#">Home</a>
    </li>

    <li class="sm:h-12 flex items-center gap-3 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 dark:bg-slate-600/80 flex-shrink-0 sm:block hidden"></span>
      <a class="hover:text-slate-700 dark:hover:text-slate-200 text-slate-600 dark:text-slate-300 sm:pl-4" href="#">Docs</a>
    </li>

    <li class="sm:h-12 flex items-center gap-3 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 dark:bg-slate-600/80 flex-shrink-0 sm:block hidden"></span>
      <div class="relative sm:pl-4" data-controller="railsui-dropdown">
        <button type="button" class="hover:text-slate-700 dark:hover:text-slate-200 text-slate-600 dark:text-slate-300 flex gap-2.5 items-center hover:underline" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide" aria-haspopup="true" aria-expanded="false">
          More
          <%%= icon "chevron-down", class: "size-3 shrink-0" %>
        </button>

        <div data-railsui-dropdown-target="menu" class="hidden origin-top-left left-0 top-10 dropdown-menu" data-transition-enter-from="opacity-0 scale-95" data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100" data-transition-leave-to="opacity-0 scale-95" aria-hidden="true">
        <ul>
          <li>
            <a class="dropdown-item flex items-center gap-2.5" href="#">
              <%%= icon "document-text", class: "size-4 shrink-0" %>
              <span>Blog</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item flex items-center gap-2.5" href="#">
              <%%= icon "clock", class: "size-3 shrink-0" %>
              <span>Changelog</span>
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="sm:h-12 flex items-center gap-3 justify-center">
      <span class="transform rotate-[20deg] h-14 w-px bg-slate-300/50 dark:bg-slate-600/80 flex-shrink-0 sm:block hidden"></span>
      <span class="sm:pl-4 text-primary-600 dark:text-primary-400 flex items-center gap-2.5" data-aria-current="page">
        <%%= icon "star", class: "size-4 shrink-0" %>
        <span>Current Page</span>
      </span>
    </li>
  </ol>
</nav>
<% end %>

<% content_for :erb, flush: true do %>
<%%= rui :breadcrumb, items: [
  { name: "Home", url: root_path },
  { name: "Docs", url: "#" },
  {
    name: "More",
    dropdown: [
      { icon: "document-text", name: "Blog", url: "#" },
      { icon: "clock", name: "Changelog", url: "#" }
    ]
  },
  { name: "Current Page", active: true, icon: "star" }
], classes: "mb-4", variant: :contained %>
<% end %>

<%= render_snippet %>
<% end %>
<% end %>
</div>
