<footer class="container mx-auto px-4 pb-4">
  <nav role="Utility navigation">
    <ul class="lg:flex items-center justify-center text-center lg:my-6 mb-6 lg:text-base text-lg">
      <li class="py-3 lg:py-0">
        <%= link_to "Product", "#", class: "px-3 py-2 hover:text-primary-700 dark:hover:text-primary-500" %>
      </li>
      <li class="py-3 lg:py-0">
        <%= link_to "Customers", "#", class: "px-3 py-2 hover:text-primary-700 dark:hover:text-primary-500" %>
      </li>
      <li class="py-3 lg:py-0">
        <%= link_to "Features", "#", class: "px-3 py-2 hover:text-primary-700 dark:hover:text-primary-500" %>
      </li>
      <% if defined?(rui_pricing_path) %>
        <li class="py-3 lg:py-0">
          <%= link_to "Pricing", rui_pricing_path, class: "px-3 py-2 hover:text-primary-700 dark:hover:text-primary-500" %>
        </li>
      <% end %>
      <% if defined?(rui_about_path)%>
        <li class="py-3 lg:py-0">
          <%= link_to "Company", rui_about_path, class: "px-3 py-2 hover:text-primary-700  dark:hover:text-primary-500" %>
        </li>
      <% end %>
    </ul>
  </nav>

  <ul class="flex items-center justify-center gap-6 mb-6">
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "facebook", custom_path: "/railsui/social/facebook.svg", class: "size-6 fill-current text-slate-400 group-hover:text-primary-600 dark:group-hover:text-primary-500" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "x", custom_path: "/railsui/social/x.svg", class: "size-6 fill-current text-slate-400 group-hover:text-primary-600 dark:group-hover:text-primary-500" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "linkedin", custom_path: "/railsui/social/linkedin.svg", class: "size-6 fill-current text-slate-400 group-hover:text-primary-600 dark:group-hover:text-primary-500" %>
      <% end %>
    </li>
    <li>
      <%= link_to "#", class: "group", target: :_blank do %>
        <%= icon "youtube", custom_path: "/railsui/social/youtube.svg", class: "size-6 fill-current text-slate-400 group-hover:text-primary-600 dark:group-hover:text-primary-500" %>
      <% end %>
    </li>
  </ul>

  <p class="text-center text-slate-600 text-sm">&copy; <%= Railsui.config.application_name %> All Rights Reserved. Made with <a
      href="https://railsui.com" class="underline" target="_blank">Rails UI</a></p>
</footer>
