<%# Card - User card %>
<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "User card" %>

  <div class="bg-slate-50 p-6 rounded shadow-inner">
   <div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white   py-4 px-6 flex items-center space-x-4 w-auto">
    <%= image_tag unsplash_url(item: "male portrait", width: 200, height: 200), class: "object-cover w-16 h-16 rounded-full flex-shrink-0" %>
    <div class="flex-1 flex flex-col items-start space-y-px text-slate-700">
      <p class="font-bold">John Doe</p>
        <div class="flex items-center space-x-3 pb-1">
          <%= icon("envelope", styles: "w-5 h-5 text-indigo-500") %>
          <p class="text-sm">john.doe@example.com</p>
        </div>
        <div class="flex items-center space-x-3 text-primary-400">
          <%= icon("phone", styles: "w-5 h-5 text-indigo-500") %>
          <p class="text-sm">+1-555-555-5555</p>
        </div>
      </div>
    </div>
  </div>

<% content_for :html, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white  py-4 px-6 flex items-center space-x-4">
  <%= image_tag unsplash_url(item: "male portrait", width: 200, height: 200), class: "object-cover w-16 h-16 rounded-full flex-shrink-0" %>
  <div class="flex-1 flex flex-col items-start space-y-px text-slate-700">
    <p class="font-bold">John Doe</p>
    <div class="flex items-center space-x-3 pb-1">
      <svg class="w-5 h-5 text-indigo-500">
        <!-- icons/outline/envelope.svg -->
      </svg>
      <p class="text-sm">john.doe@example.com</p>
    </div>
    <div class="flex items-center space-x-3 text-primary-400">
      <svg class="w-5 h-5 text-indigo-500">
        <!-- icons/outline/phone.svg -->
      </svg>
      <p class="text-sm">+1-555-555-5555</p>
    </div>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white py-4 px-6 flex items-center space-x-4">
  <%%= image_tag "#", class: "object-cover w-16 h-16 rounded-full flex-shrink-0" %>
  <div class="flex-1 flex flex-col items-start space-y-px text-slate-700">
    <p class="font-bold">John Doe</p>
    <div class="flex items-center space-x-3 pb-1">
      <%%= icon("envelope", styles: "w-5 h-5 text-indigo-500") %>
      <p class="text-sm">john.doe@example.com</p>
    </div>
    <div class="flex items-center space-x-3 text-primary-400">
      <%%= icon("phone", styles: "w-5 h-5 text-indigo-500") %>
      <p class="text-sm">+1-555-555-5555</p>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.rounded-lg.shadow-lg.bg-white.py-4.px-6.flex.items-center.space-x-.shadow-slate-300/70.md:w-1/2
  = image_tag "#", class: "object-cover w-16 h-16 rounded-full flex-shrink-0"
  .flex-1.flex.flex-col.items-start.space-y-px.text-slate-700
    %p.font-bold John Doe
    .flex.items-center.space-x-3.pb-1
      = icon("envelope", styles: "w-5 h-5 text-indigo-500")
      %p.text-sm john.doe@example.com
    .flex.items-center.space-x-3.text-primary-400
      = icon("phone", styles: "w-5 h-5 text-indigo-500")
      %p.text-sm +1-555-555-5555
<% end %>

<%= render_snippet %>
</div>
