<%# Card - With header %>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "Card with header" %>

  <div class="bg-slate-50 p-6 rounded shadow-inner">
    <div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
      <div class="-mx-6 border-b border-slate-200 px-6 pb-4 mb-4">
        <h3 class="h5">Job postings</h3>
        <p class="text-slate-500">Lorem ipsum dolor sit amet, consectetur adipisicin.</p>
      </div>
      <ul class="divide-y divide-slate-100 last-child:pb-0 opacity-25 pointer-events-none select-none">
        <li class="flex justify-between items-center py-3 -mx-6 px-6">
          <div>
            <a href="#" class="btn-link">Ruby Developer</a>
              <div class="flex items-center space-x-2 text-slate-500 text-sm py-1">
                <%= icon "users", styles: "w-5 h-5 text-slate-400" %>
                <p>Engineering</p>
              </div>
          </div>
          <div class="flex flex-col items-end">
            <div>
              <span class="bg-emerald-100 text-emerald-700 font-semibold px-2 py-px rounded-lg text-xs">Full-time</span>
            </div>
            <div class="flex items-center space-x-2 text-slate-500 text-sm py-1">
              <%= icon "map", styles: "w-5 h-5 text-slate-400" %>
              <p>Remote</p>
            </div>
          </div>
        </li>
        <li class="flex justify-between items-center pt-3 -mx-6 px-6">
          <div>
            <a href="#" class="btn-link">Front-end Developer</a>
              <div class="flex items-center space-x-2 text-slate-500 text-sm">
                <%= icon "users", styles: "w-5 h-5 text-slate-400" %>
                <p>Engineering</p>
              </div>
          </div>
          <div class="flex flex-col items-end">
            <div>
              <span class="bg-emerald-100 text-emerald-700 font-semibold px-2 py-px rounded-lg text-xs">Full-time</span>
            </div>
            <div class="flex items-center space-x-2 text-slate-500 text-sm py-1">
              <%= icon "map", styles: "w-5 h-5 text-slate-400" %>
              <p>Remote</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


<% content_for :html, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
  <div class="-mx-6 border-b border-slate-200 px-6 pb-4  mb-4">
    <h3 class="h5">Job postings</h3>
    <p class="text-slate-500">Lorem ipsum dolor sit amet, consectetur adipisicin.</p>
  </div>
  <!-- content -->
</div>
<% end %>

<% content_for :erb, flush: true do %>

<% end %>

<% content_for :haml, flush: true do %>
.rounded-lg.shadow-lg.bg-white.p-6.shadow-slate-300/70
  .-mx-6.border-b.border-slate-200.px-6.pb-4.mb-4
    %h3.h5 Job postings
    %p.text-slate-500 Lorem ipsum dolor sit amet, consectetur adipisicin.
  / content
<% end %>
<%= render_snippet %>
</div>
