 <nav class="rui:text-sm rui:md:pt-3 rui:pt-0 rui:bg-neutral-50/20 rui:md:h-screen rui:md:w-[280px] rui:md:border-r rui:border-neutral-200/90 rui:flex-col rui:flex rui:dark:bg-neutral-900 rui:dark:border-neutral-700/80 rui:overflow-y-auto rui:md:pl-3 rui:md:pr-0! rui:px-3 rui:md:pb-10 rui:overflow-x-hidden rui:w-full" data-railsui-scroll-target="scrollitem">
  <div class="rui:flex-1">
    <div class="rui:flex rui:flex-wrap rui:items-center rui:gap-4 rui:justify-between rui:py-2 rui:md:py-1 rui:w-full">
      <div class="rui:flex rui:items-center rui:gap-2 rui:md:mb-3">
        <%= link_to main_app.root_path, class: "rui:size-6 rui:border rui:border-transparent rui:hover:border-neutral-300 rui:dark:hover:border-neutral-500 rui:rounded-md rui:flex rui:items-center rui:justify-center rui:hover:transition rui:hover:ease-in-out rui:hover:duration-300 rui:relative rui:-left-1", data: { controller: "railsui-tooltip", railsui_tooltip_content_value: "Back to app" } do %>

          <%= icon "chevron-left", class: "rui:size-4 rui:stroke-neutral-400 rui:group-hover:stroke-neutral-600" %>
          <span class="rui:sr-only">Back to app</span>
        <% end %>

        <%= link_to params[:controller].include?('systems') ? systems_path : root_path, class: "rui:relative rui:-left-0.5" do %>
          <%= image_tag "railsui-logo.svg", class: "rui:w-20 rui:h-auto rui:dark:invert" %>
        <% end %>
      </div>

      <button role="toggle nav" class="rui:md:hidden rui:size-10 rui:focus:ring-neutral-300/20 rui:focus:ring-4 rui:rounded-lg rui:dark:focus:ring-neutral-600 rui:flex rui:items-center rui:justify-center rui:shrink-0" data-action="click->railsui-toggle#toggle">
        <%= icon "menu", custom_path: "/menu.svg", class: "rui:stroke-current rui:w-7 rui:h-7 rui:text-neutral-600 rui:dark:text-neutral-300" %>
      </button>
    </div>

    <div data-railsui-toggle-target="toggleable" class="md:block hidden">

      <%= render "railsui/shared/global_nav_item", path: root_path, icon: "cog-6-tooth", label: "Configuration" %>

      <% if params[:controller].include?('admin') %>
        <div class="rui:pl-8 rui:font-normal rui:text-[14px] rui:-mx-2 rui:pt-px">
          <a href="#configuration" data-action="click->railsui-smooth#scroll" class="rui:pl-1 rui:pr-2 rui:py-1.5 rui:block rui:relative rui:hover:transition rui:hover:duration-200 rui:hover:ease-in-out rui:dark:focus:text-white rui:hover:bg-neutral-50/90 rui:rounded-sm rui:transition rui:dark:text-neutral-200 rui:dark:hover:bg-neutral-800/70 rui:dark:hover:text-white rui:group">General</a>

          <a href="#theme" data-action="click->railsui-smooth#scroll" class="rui:pl-1 rui:pr-2 rui:py-1.5 rui:block rui:relative rui:hover:transition rui:hover:duration-200 rui:hover:ease-in-out rui:dark:focus:text-white rui:hover:bg-neutral-50/90 rui:rounded-sm rui:transition rui:dark:text-neutral-200 rui:dark:hover:bg-neutral-800/70 rui:dark:hover:text-white rui:group">Theme</a>

          <% if Railsui.config.theme.present? %>
            <a href="#color" data-action="click->railsui-smooth#scroll" class="rui:pl-1 rui:pr-2 rui:py-1.5 rui:block rui:relative rui:hover:transition rui:hover:duration-200 rui:hover:ease-in-out rui:dark:focus:text-white rui:hover:bg-neutral-50/90 rui:rounded-sm rui:transition rui:dark:text-neutral-200 rui:dark:hover:bg-neutral-800/70 rui:dark:hover:text-white rui:group">Color</a>

            <a href="#pages" data-action="click->railsui-smooth#scroll" class="rui:pl-1 rui:pr-2 rui:py-1.5 rui:block rui:relative rui:hover:transition rui:hover:duration-200 rui:hover:ease-in-out rui:dark:focus:text-white rui:hover:bg-neutral-50/90 rui:rounded-sm rui:transition rui:dark:text-neutral-200 rui:dark:hover:bg-neutral-800/70 rui:dark:hover:text-white rui:group">Pages</a>
          <% end %>
        </div>
      <% end %>

      <% if Railsui.config.theme.present? %>
        <%= render "railsui/shared/global_nav_item", path: systems_path, icon: "cube", label:"Components" %>

        <% if params[:controller].include?('systems') %>
          <%= render "railsui/shared/system_nav" %>
        <% end %>
      <% end %>

      <%= render "railsui/shared/global_nav_item", path: "https://railsui.com/docs", icon: "document-magnifying-glass", label: "Docs" %>

      <%= render "railsui/shared/global_nav_item", path: start_url, icon: "rocket-launch", label:"Launchpad" %>

      <%= render "railsui/shared/global_nav_item", path: "https://railsui.com/pricing", icon: "lock-open", label: "Get full access" %>

      <%= yield :additional_global_nav_items %>
    </div>
  </div>
</nav>
