<div>
  <% unless current_page?(local_assigns[:path]) %>
    <%= link_to local_assigns[:path],
      class: "rui:text-[14px] rui:font-medium rui:py-2.5 rui:px-2 rui:-mx-2 rui:text-neutral-800 rui:focus:text-neutral-600 rui:hover:text-neutral-900 rui:flex rui:items-center rui:gap-2 rui:relative rui:hover:transition rui:hover:duration-200 rui:hover:ease-in-out rui:dark:focus:text-white rui:hover:bg-neutral-50/80 rui:rounded-sm rui:transition rui:dark:text-neutral-200 rui:dark:hover:bg-neutral-800/70 rui:dark:hover:text-white rui:group" do %>
      <%= icon local_assigns[:icon], class: "rui:size-5 rui:stroke-current rui:text-neutral-500 rui:group-hover:text-neutral-800 rui:dark:group-hover:text-neutral-300 rui:dark:text-neutral-400", title: local_assigns[:label] %>
      <span><%= local_assigns[:label] %></span>
    <% end %>
  <% else %>
    <%= link_to local_assigns[:path],
      class: "rui:text-[14px] rui:font-medium rui:py-2.5 rui:px-2 rui:-mx-2 rui:text-neutral-900 rui:hover:text-neutral-950 rui:flex rui:items-center rui:gap-2 rui:relative rui:hover:transition rui:hover:duration-200 rui:hover:ease-in-out rui:dark:focus:text-white rui:bg-neutral-200/70 rui:rounded-sm rui:transition rui:dark:text-neutral-200 rui:dark:bg-neutral-800/70 rui:dark:text-white rui:group rui:dark:hover:text-white" do %>
      <%= icon local_assigns[:icon], class: "rui:size-5 rui:stroke-current rui:text-neutral-500
      rui:group-hover:text-netural-800 rui:dark:group-hover:text-neutral-300 rui:dark:text-neutral-400", title: local_assigns[:label]  %>
      <span><%= local_assigns[:label] %></span>
    <% end %>
  <% end %>
</div>
