<% framework = Railsui::config.css_framework.downcase %>

<% unless params[:controller] == "railsui/systems" %>
  <p class="text-slate-500"><%= params[:controller].gsub("railsui/systems/", "").titleize %></p>
<% end %>
<h1 class="tw-text-5xl text-slate-800 tw-font-bold"><%= params[:action].titleize %></h1>

<div class="tw-grid tw-grid-cols-3 tw-gap-10 tw-mt-8 tw-pb-8 tw-border-b tw-border-slate-200">
  <div>
    <p class="tw-text-slate-600">Theme</p>
    <p class="tw-font-light tw-text-slate-900 tw-text-2xl"><%= Railsui::config.theme.humanize %></p>
  </div>
  <div>
    <p class="tw-text-slate-600">Framework</p>
    <div class="tw-flex tw-items-center tw-justify-start tw-space-x-3">
      <%= render_svg "#{framework.downcase}", title: "#{framework} logo", styles: "#{framework == "bootstrap" ? "tw-text-indigo-600" : "tw-text-teal-500" } tw-fill-current" %>
      <p class="tw-font-light tw-text-slate-900 tw-text-2xl"><%= framework.humanize %></p>
    </div>
  </div>
</div>
