<div class="mb-6">
  <div class="text-neutral-500 dark:text-neutral-400 text-sm md:mb-2">
    <div class="flex items-center gap-1.5">
      <% unless params[:controller] == "railsui/systems" %>
        <p class="text-neutral-500 dark:text-neutral-400 relative text-sm"><%= params[:controller].gsub("railsui/systems/", "").titleize %></p>
      <% else %>
        <p class="text-neutral-500 dark:text-neutral-400 text-sm relative">Module</p>
      <% end %>
      <%= icon "chevron-right", class: "size-3 text-neutral-500" %>
      <div class="text-neutral-900 dark:text-white font-medium"><%= params[:action].titleize %></div>
    </div>
  </div>
  <%= heading text: params[:action].titleize, id: params[:action], tag: "h1", class: "md:text-4xl text-3xl text-neutral-800 font-bold dark:text-neutral-100 tracking-tight relative" %>
  <% if content_for?(:header_description).present? %>
    <div class="prose prose-neutral dark:prose-invert mt-3 prose-lg prose-p:text-neutral-500 dark:prose-p:text-neutral-400">
      <%= yield :header_description %>
    </div>
  <% end %>
</div>
