<!-- Rails UI Launcher - Only visible in development -->
<div data-controller="railsui-dropdown">
  <div class="rui-launcher">
    <button type="button" data-turbo="false" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">
      <svg class="rui-r" width="333" height="325" viewBox="0 0 333 325" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path d="M332.64 279.04L326.88 273.28L316.32 281.44C306.08 271.52 297.76 257.28 291.36 238.72C282.72 213.44 276 196.64 271.2 188.32C259.36 168.8 241.28 151.68 216.96 136.96L284.16 88.96L259.68 55.36C251.04 43.52 243.2 32.96 236.16 23.68C229.44 14.4 223.52 6.55999 218.4 0.159975L132.96 56.8C131.36 40.48 125.76 27.36 116.16 17.44C106.56 7.19998 93.6 2.07998 77.28 2.07998C55.2 2.07998 34.72 10.08 15.84 26.08V32.32C29.28 28.8 39.52 27.04 46.56 27.04C73.12 27.04 86.24 41.92 85.92 71.68L85.44 92.32L7.68 150.4C60.48 176.32 86.88 209.92 86.88 251.2C51.36 262.08 22.4 282.4 0 312.16L0.48 314.56C36.96 300.8 68 293.92 93.6 293.92C96.8 293.92 99.84 294.08 102.72 294.4C105.92 294.4 108.8 294.56 111.36 294.88C125.12 296.48 138.72 300.96 152.16 308.32C154.72 309.92 158.24 312 162.72 314.56C167.2 317.12 172.64 320.32 179.04 324.16L228 274.72L221.76 268.48L211.68 277.6C197.92 269.6 183.2 262.88 167.52 257.44V174.4C189.92 174.4 207.52 184.16 220.32 203.68C224.8 210.4 234.08 231.04 248.16 265.6C259.04 292.48 271.04 311.04 284.16 321.28H288.96L332.64 279.04ZM236.64 111.04L167.52 161.92V45.28L182.4 35.2L236.64 111.04ZM157.44 254.08C150.72 252.16 143.52 251.2 135.84 251.2V67.36L157.44 52.96V254.08ZM84.96 158.08L48.96 129.28L84.96 105.28V158.08Z"/>
      </svg>
    </button>
    <nav class="hidden" data-railsui-dropdown-target="menu">
      <ul>
        <li>
          <%= link_to "Configuration", railsui.root_path, data: { turbo: false } %>
        </li>

        <li>
          <%= link_to "Components", railsui.systems_path, data: { turbo: false } %>
        </li>

        <li>
          <%= link_to "Pages", railsui.root_path(anchor: "pages"), data: { turbo: false } %>
        </li>

        <li>
          <%= link_to "Docs", "https://railsui.com/docs", data: { turbo: false }, target: :_blank %>
        </li>

        <li>
          <%= link_to "Launchpad", railsui.start_url, data: { turbo: false } %>
        </li>

        <li>
          <%= link_to "Routes", railsui.routes_path, data: { turbo: false } %>
        </li>
      </ul>
    </nav>
  </div>
  <style>
    .rui-launcher {
      position: fixed;
      left: 6px;
      bottom: 6px;
      z-index: 9999;
    }

    .rui-launcher button {
      border: none;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
      background: rgb(2,0,36);
      background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(10,10,84,1) 64%, rgba(63,0,64,1) 100%);
    }

    .rui-launcher button:focus {
      outline-color: #f1f5f9;
      outline-offset: 4px;
      outline-style: solid;
    }

    .rui-launcher button:hover {
      box-shadow: none;
    }

    .rui-launcher nav.hidden {
      display: none;
      opacity: 0;
    }

    .rui-launcher nav {
      position: absolute;
      left: 0px;
      bottom: 48px;
      background: rgb(2,0,36);
      background: linear-gradient(43deg, rgba(2,0,36,1) 0%, rgba(10,10,84,1) 64%, rgba(63,0,64,1) 100%);
      border-radius: 6px;
      min-width: 220px;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      padding: 0.6rem 0;
      backdrop-filter: blur(12px);
    }

    .rui-launcher nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      font-weight: 500;
      font-size: 15px;
    }

    .rui-launcher nav a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
      display: block;
      padding: 0.3rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .rui-launcher nav a:hover {
      text-decoration: underline
    }

    .rui-launcher .rui-r {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      fill: white;
    }

    @media screen and (max-width: 767px) {
      .rui-launcher {
        display: none;
      }
    }
  </style>
</div>
