<div class="tw-text-sm tw-pb-24">
  <ul class="rui-primary-nav tw-leading-loose">
    <li x-data="{open: window.location.pathname.includes('content') || false}" x-cloak>
      <%= link_to "Content", systems_content_path, class:"tw-font-semibold tw-px-6 tw-py-2 tw-border-slate-200 tw-bg-gradient-to-b tw-from-slate-50 tw-to-transparent tw-block tw-w-full mr-px" %>
      <ul class="lg:tw-space-y-1 tw-space-y-6">
        <li>
          <%= nav_link_to "Overview", systems_content_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Typography", systems_content_typography_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Tables", systems_content_tables_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Images", systems_content_images_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Marketing", systems_marketing_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Scaffolds", systems_scaffolds_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
      </ul>
    </li>
    <li x-data="{open: window.location.pathname.includes('forms') || false}" x-cloak>

      <%= link_to "Forms", systems_forms_path, class: "tw-font-semibold tw-px-6 tw-py-2 tw-border-t tw-border-slate-200 tw-bg-gradient-to-b tw-from-slate-50 tw-to-transparent tw-block tw-w-full" %>

      <ul class="lg:tw-space-y-1 tw-space-y-6">
        <li>
          <%= nav_link_to "Overview", systems_forms_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Inputs", systems_forms_inputs_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Input Groups", systems_forms_input_groups_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Selects", systems_forms_selects_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Checkboxes & Radios", systems_forms_checkboxes_and_radios_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Layout", systems_forms_layout_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Validation", systems_forms_validation_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
      </ul>
    </li>
    <li x-data="{open: window.location.pathname.includes('components')}" x-cloak>

      <%= link_to "Components", systems_forms_path, class: "tw-font-semibold tw-px-6 tw-py-2 tw-border-t tw-border-slate-200 tw-bg-gradient-to-b tw-from-slate-50 tw-to-transparent tw-block tw-w-full" %>

      <ul class="lg:tw-space-y-1 tw-space-y-6">
        <li>
          <%= nav_link_to "Accordions", systems_components_accordions_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Alerts", systems_components_alerts_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Badges", systems_components_badges_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Breadcrumbs", systems_components_breadcrumbs_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Buttons", systems_components_buttons_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Cards",systems_components_cards_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Dropdowns", systems_components_dropdowns_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Flash", systems_components_flash_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Modals", systems_components_modals_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Navigation", systems_components_navigation_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Pagination", systems_components_pagination_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Popovers", systems_components_popovers_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Tabs", systems_components_tabs_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Toasts", systems_components_toasts_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Tooltips", systems_components_tooltips_path, class:"tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
      </ul>
    </li>

    <%#
    <li x-data="{open: window.location.pathname.includes('marketing')}" x-cloak>
      <button @click="open = !open" aria-expanded="false" class="tw-p-1 tw-rounded  tw-text-neutral-700 hover:tw-bg-indigo-50 hover:tw-text-indigo-800 tw-px-2 tw-transition tw-ease-in-out tw-duration-300 tw-flex tw-items-center tw-w-full" :class="{'tw-bg-indigo-50 tw-text-indigo-800 tw-font-semibold' : open}">
        <div :class="open ? 'tw-rotate-180' : ''" class="tw-transform">
          <%#= render_svg "chevron-down", styles: "tw-w-8 tw-h-8 tw-stroke-current" %>
    <%# </div>
        Marketing
      </button>
      <ul x-show="open" class="tw-leading-loose">
        <li>
          <%#= nav_link_to "CTAs", systems_marketing_ctas_path, class: "tw-p-1 tw-rounded tw-block tw-text-neutral-700 hover:tw-bg-indigo-50 hover:tw-text-indigo-800 tw-px-3 tw-transition tw-ease-in-out tw-duration-300" %>
    <%#</li>
        <li>
          <%#= nav_link_to "Footers", systems_marketing_footers_path, class: "tw-p-1 tw-rounded tw-block tw-text-neutral-700 hover:tw-bg-indigo-50 hover:tw-text-indigo-800 tw-px-3 tw-transition tw-ease-in-out tw-duration-300" %>
    <%#</li>
        <li>
          <%#= nav_link_to "Headers", systems_marketing_headers_path, class: "tw-p-1 tw-rounded tw-block tw-text-neutral-700 hover:tw-bg-indigo-50 hover:tw-text-indigo-800 tw-px-3 tw-transition tw-ease-in-out tw-duration-300" %>
    <%# </li>
        <li>
          <%#= nav_link_to "Longform content", systems_marketing_longform_path, class: "tw-p-1 tw-rounded tw-block tw-text-neutral-700 hover:tw-bg-indigo-50 hover:tw-text-indigo-800 tw-px-3 tw-transition tw-ease-in-out tw-duration-300" %>
    <%#</li>
      </ul>
    <%# </li>%>
    <li x-data="{open: window.location.pathname.includes('authentication')}" x-cloak>

      <%= link_to "Authentication",systems_authentication_overview_path, class: "tw-font-semibold tw-px-6 tw-py-2 tw-border-t tw-border-slate-200 tw-bg-gradient-to-b tw-from-slate-50 tw-to-transparent tw-block tw-w-full" %>

      <ul class="lg:tw-space-y-1 tw-space-y-6">
        <li>
          <%= nav_link_to "Overview", systems_authentication_overview_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Sign up", systems_authentication_signup_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Sign in", systems_authentication_signin_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Reset password", systems_authentication_reset_password_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Confirmation", systems_authentication_confirmation_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Edit account", systems_authentication_edit_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
        <li>
          <%= nav_link_to "Unlock", systems_authentication_unlocks_path, class: "tw-block tw-px-6 tw-py-1 tw-transition-colors tw-duration-200 tw-ease-linear tw-relative tw-border-r tw-border-transparent" %>
        </li>
      </ul>
    </li>
  </ul>
</div>
