<%
  html_content = yield :html
  erb_content = yield :erb
  haml_content = yield :haml
  js_content = yield :js
  bash_content = yield :bash
  ruby_content = yield :ruby
  css_content = yield :css
%>

<div data-controller="railsui-code" class="rui:mt-5 rui:mb-8 rui:first:mt-0 rui:last:mb-0 rui:bg-linear-to-br rui:from-neutral-700 rui:to-neutral-800 rui:rounded-lg rui:overflow-clip rui:dark:border rui:dark:border-neutral-700 rui:selection:bg-neutral-300/90 rui:selection:text-neutral-800 rui:relative rui:scrollbar rui:border-transparent" x-data="{ active: '<%= local_assigns[:active_tab] %>' }">
  <div class="rui:bg-neutral-800">
    <ul class="rui:flex rui:items-center rui:justify-start rui:space-x-2 rui:border-b rui:border-neutral-700 rui:px-3">
      <% if content_for?(:html) %>
        <li class="rui:flex rui:items-center">
          <a href="#html"
          @click.prevent="active = 'html'"
          :class="active == 'html' ? 'rui:text-pink-400 rui:border-pink-400' : 'rui:border-transparent rui:text-white/90'"
          class="rui:-ml-2 rui:pl-5 rui:pr-3 rui:py-3 rui:font-mono  rui:text-sm rui:border-b-2 rui:hover:text-pink-400  rui:hover:border-pink-400"><%= local_assigns[:html_filename] %></a>
          <span class="rui:w-px rui:h-11 rui:bg-linear-to-b rui:from-neutral-600 rui:to-neutral-700 rui:transform rui:rotate-[20deg] rui:block rui:ml-2"></span>
        </li>
      <% end %>
      <% if content_for?(:erb) %>
        <li class="rui:flex rui:items-center">
          <a href="#erb"
          @click.prevent="active = 'erb'"
          :class="active == 'erb' ? 'rui:text-rose-400 rui:border-rose-400' : 'rui:border-transparent rui:text-white/90'"
          class="rui:-ml-3 rui:pl-6 rui:pr-4 rui:py-3 rui:font-mono rui:text-sm rui:border-b-2 hover:text-rose-400 rui:hover:border-rose-400"><%= local_assigns[:erb_filename] %></a>
          <span class="rui:w-px rui:h-11 rui:bg-linear-to-b rui:from-neutral-600 rui:to-neutral-700 rui:transform rui:rotate-[20deg] rui:block rui:ml-2"></span>
        </li>
      <% end %>

      <% if content_for(:haml) %>
        <li class="rui:flex rui:items-center">
          <a href="#haml"
          @click.prevent="active = 'haml'"
          :class="active == 'haml' ? 'rui:text-sky-400 rui:border-sky-400' : 'rui:border-transparent rui:text-white/90'"
          class="rui:-ml-3 rui:pl-5 rui:pr-3 rui:py-3 rui:font-mono rui:text-sm rui:border-b-2 rui:hover:text-sky-400 hover:border-sky-400"><%= local_assigns[:haml_filename] %></a>
          <span class="rui:w-px rui:h-11 rui:bg-linear-to-b rui:from-neutral-600 rui:to-neutral-700 rui:transform rui:rotate-[20deg] rui:block rui:ml-2"></span>
        </li>
      <% end %>

      <% if content_for?(:bash) %>
        <li class="rui:flex rui:items-center">
          <a href="#bash"
          @click.prevent="active = 'bash'"
          :class="active == 'bash' ? 'rui:text-cyan-400 rui:border-cyan-400' : 'rui:border-transparent rui:text-white/90'"
          class="rui:-ml-2 rui:pl-5 rui:pr-3 rui:py-3 rui:font-mono  rui:text-sm rui:border-b-2 rui:hover:text-cyan-400 hover:border-cyan-400">bash</a>
          <span class="rui:w-px rui:h-11 rui:bg-linear-to-b rui:from-neutral-600 rui:to-neutral-700 rui:transform rui:rotate-[20deg] rui:block rui:ml-2"></span>
        </li>
      <% end %>

      <% if content_for(:js) %>
        <li class="rui:flex rui:items-center">
          <a href="#js"
          @click.prevent="active = 'js'"
          :class="active == 'js' ? 'rui:text-amber-400 rui:border-amber-400' : 'rui:border-transparent rui:text-white/90'"
          class="rui:-ml-3 rui:pl-5 rui:pr-3 rui:py-3 rui:font-mono rui:text-sm rui:border-b-2 rui:hover:text-amber-400 rui:hover:border-amber-400"><%= local_assigns[:js_filename] %></a>
          <span class="rui:w-px rui:h-11 rui:bg-linear-to-b rui:from-neutral-600 rui:to-neutral-700 rui:transform rui:rotate-[20deg] rui:block rui:ml-2"></span>
        </li>
      <% end %>

      <% if content_for(:ruby) %>
        <li class="rui:flex rui:items-center">
          <a href="#ruby"
          @click.prevent="active = 'ruby'"
          :class="active == 'ruby' ? 'rui:text-rose-400 rui:border-rose-400' : 'rui:border-transparent rui:text-white/90'"
          class="rui:-ml-3 rui:pl-5 rui:pr-3 rui:py-3 rui:font-mono rui:text-sm rui:border-b-2 rui:hover:text-rose-400 rui:hover:border-rose-400"><%= local_assigns[:ruby_filename] %></a>
          <span class="rui:w-px rui:h-11 rui:bg-linear-to-b rui:from-neutral-600 rui:to-neutral-700 rui:transform rui:rotate-[20deg] rui:block rui:ml-2"></span>
        </li>
      <% end %>

      <% if content_for?(:css) %>
        <li class="rui:flex rui:items-center">
          <a href="#css"
          @click.prevent="active = 'css'"
          :class="active == 'css' ? 'rui:text-fuchsia-400 rui:border-fuchsia-400' : 'rui:border-transparent rui:text-white/90'"
          class="rui:-ml-2 rui:pl-5 rui:pr-3 rui:py-3 rui:font-mono rui:text-sm rui:border-b-2 rui:hover:text-fuchsia-400 rui:hover:border-fuchsia-400"><%= local_assigns[:css_filename] %></a>
          <span class="rui:w-px rui:h-11 rui:bg-linear-to-b rui:from-neutral-600 rui:to-neutral-700 rui:transform rui:rotate-[20deg] rui:block rui:ml-2"></span>
        </li>
      <% end %>
    </ul>
  </div>
  <div role="tabpanels" class="rui:overflow-y-auto rui:max-h-[650px] rui:scrollbar rui:scrollbar-track-neutral-950 rui:scrollbar-thumb-neutral-500">
    <% if content_for?(:html) %>
      <div role="tabpanel"
      x-show="active == 'html'"
      data-controller="railsui-clipboard"
      >
        <button
    data-action="click->railsui-clipboard#copy"
          class="rui:bg-white/10 rui:backdrop-blur-xs rui:p-1 rui:rounded-lg rui:absolute rui:right-2 rui:top-2 rui:hover:bg-linear-to-br rui:hover:to-pink-600 rui:hover:from-pink-400 rui:transition rui:ease-in-out rui:duration-200"
          type="button">
          <%= icon "clipboard", class: "rui:stroke-current rui:text-white rui:select-none rui:size-5" %>
        </button>
        <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-html scrollbar"><%= html_content.to_param.strip %></code></pre>
      </div>
    <% end %>
    <% if content_for(:erb) %>
      <div
        role="tabpanel"
        x-show="active == 'erb'"
        data-controller="railsui-clipboard"
        >
        <button data-action="click->railsui-clipboard#copy"
          class="rui:bg-white/10 rui:backdrop-blur-xs rui:p-1 rui:rounded-lg rui:absolute rui:right-2 rui:top-2 rui:hover:bg-linear-to-br rui:hover:to-rose-600 rui:hover:from-rose-400 rui:transition rui:ease-in-out rui:w-duration-200"
          type="button">
          <%= icon "clipboard", class: "rui:stroke-current rui:text-white rui:select-none rui:size-5" %>
        </button>
        <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-erb scrollbar"><%= erb_content.to_param.strip %></code></pre>
      </div>
    <% end %>
    <% if content_for(:haml) %>
      <div
        role="tabpanel"
        x-show="active == 'haml'"
        data-controller="railsui-clipboard"
        >
        <button data-action="click->railsui-clipboard#copy"
          class="rui:bg-white/10 rui:backdrop-blur-xs rui:p-1 rui:rounded-lg rui:absolute rui:right-2 rui:top-2 rui:hover:bg-linear-to-br rui:hover:to-sky-600 rui:hover:from-sky-400 rui:transition rui:ease-in-out rui:duration-200"
          type="button">
          <%= icon "clipboard", class: "rui:stroke-current rui:text-white rui:select-none rui:size-5" %>
        </button>
        <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-haml scrollbar"><%= haml_content.to_param.strip %></code></pre>
      </div>
    <% end %>
    <% if content_for(:bash) %>
      <div
        role="tabpanel"
        x-show="active == 'bash'"
        data-controller="railsui-clipboard"
        >
        <button data-action="click->railsui-clipboard#copy"
          class="rui:bg-white/10 rui:backdrop-blur-xs rui:p-1 rui:rounded-lg rui:absolute rui:right-2 rui:top-2 rui:hover:bg-linear-to-br rui:hover:to-cyan-600 rui:hover:from-cyan-400 rui:transition rui:ease-in-out rui:duration-200"
          type="button">
          <%= icon "clipboard", class: "rui:stroke-current rui:text-white rui:select-none rui:size-5" %>
        </button>
        <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-bash scrollbar"><%= bash_content.to_param.strip %></code></pre>
      </div>
    <% end %>
    <% if content_for(:js) %>
      <div
        role="tabpanel"
        x-show="active == 'js'"
        data-controller="railsui-clipboard"
        >
        <button data-action="click->railsui-clipboard#copy"
          class="rui:bg-white/10 rui:backdrop-blur-xs rui:p-1 rui:rounded-lg rui:absolute rui:right-2 rui:top-2 rui:hover:bg-linear-to-br rui:hover:to-amber-600 rui:hover:from-amber-400 rui:transition rui:ease-in-out rui:duration-200"
          type="button">
          <%= icon "clipboard", class: "rui:stroke-current rui:text-white rui:select-none rui:size-5" %>
        </button>
        <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-javascript scrollbar"><%= js_content.to_param.strip %></code></pre>
      </div>
    <% end %>
    <% if content_for(:ruby) %>
      <div
        role="tabpanel"
        x-show="active == 'ruby'"
        data-controller="railsui-clipboard"
        >
        <button data-action="click->railsui-clipboard#copy"
          class="rui:bg-white/10 rui:backdrop-blur-xs rui:p-1 rui:rounded-lg rui:absolute rui:right-2 rui:top-2 rui:hover:bg-linear-to-br rui:hover:to-rose-600 rui:hover:from-rose-400 rui:transition rui:ease-in-out rui:duration-200"
          type="button">
          <%= icon "clipboard", class: "rui:stroke-current rui:text-white rui:select-none rui:size-5" %>
        </button>
        <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-ruby scrollbar"><%= ruby_content.to_param.strip %></code></pre>
      </div>
    <% end %>
     <% if content_for(:css) %>
      <div
        role="tabpanel"
        x-show="active == 'css'"
        data-controller="railsui-clipboard"
        >
        <button data-action="click->railsui-clipboard#copy"
          class="rui:bg-white/10 rui:backdrop-blur-xs rui:p-1 rui:rounded-lg rui:absolute rui:right-2 rui:top-2 rui:hover:bg-linear-to-br rui:hover:to-fuchsia-600 rui:hover:from-fuchsia-400 rui:transition rui:ease-in-out rui:duration-200"
          type="button">
          <%= icon "clipboard", class: "rui:stroke-current rui:text-white rui:select-none rui:size-5" %>
        </button>
        <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-css scrollbar"><%= css_content.to_param.strip %></code></pre>
      </div>
    <% end %>
  </div>
</div>
