<div class="rui:my-6 rui:divide-y rui:divide-neutral-100 rui:dark:divide-neutral-700 rui:rounded-lg rui:border rui:border-neutral-200 rui:dark:border-neutral-600 rui:dark:bg-neutral-800 rui:dark:shadow-neutral-800/50">
  <details class="rui:group rui:marker:content-[''] rui:open:ring-4 rui:open:ring-neutral-200/10 rui:rounded-lg">
    <summary class="rui:p-3 rui:flex rui:w-full rui:cursor-pointer rui:select-none rui:justify-between rui:items-center rui:text-left rui:text-base rui:font-semibold rui:leading-7 rui:text-neutral-900 rui:dark:text-neutral-100 rui:dark:group-open:text-yellow-400 rui:group-open:text-neutral-900 rui:[&::-webkit-details-marker]:hidden">
      <div class="rui:flex rui:items-center rui:gap-3">
        <%= icon "face-smile", class: "rui:size-5" %>
        <span><%= local_assigns[:title] %></span>
      </div>
      <%= icon "chevron-down", class: "rui:size-5 rui:flex-none rui:ml-4 rui:mt-0.5 rui:text-neutral-600 rui:dark:text-neutral-400 rui:group-open:text-neutral-900 rui:group-open:hidden rui:block" %>
      <%= icon "chevron-up", class: "rui:size-5 rui:flex-none rui:ml-4 rui:mt-0.5 rui:text-neutral-600 rui:dark:text-neutral-400 rui:group-open:text-neutral-900 rui:dark:group-open:text-neutral-300 rui:group-open:block rui:hidden" %>
    </summary>
    <article class="rui:relative rui:p-4">
      <div class="rui:prose rui:prose-neutral rui:max-w-full rui:dark:prose-invert rui:prose-h4:text-xs rui:prose-h4:font-bold rui:prose-h4:uppercase rui:prose-h4:tracking-wider rui:prose-h4:text-neutral-700">
        <%= yield %>
      </div>
    </article>
  </details>
</div>
