<div class="my-6 divide-y divide-neutral-100 dark:divide-neutral-700 rounded-lg border border-neutral-200 dark:border-neutral-600 dark:bg-neutral-800 dark:shadow-neutral-800/50">
  <details class="group marker:content-[''] open:ring-4 open:ring-neutral-200/10 rounded-lg">
    <summary class="p-3 flex w-full cursor-pointer select-none justify-between items-center text-left text-base font-semibold leading-7 text-neutral-900 dark:text-neutral-100 dark:group-open:text-yellow-400 group-open:text-neutral-900 [&::-webkit-details-marker]:hidden">
      <div class="flex items-center gap-3">
        <%= icon "face-smile", class: "size-5" %>
        <span><%= local_assigns[:title] %></span>
      </div>
      <%= icon "chevron-down", class: "size-5 flex-none ml-4 mt-0.5 text-neutral-600 dark:text-neutral-400 group-open:text-neutral-900 group-open:hidden block" %>
      <%= icon "chevron-up", class: "size-5 flex-none ml-4 mt-0.5 text-neutral-600 dark:text-neutral-400 group-open:text-neutral-900 dark:group-open:text-neutral-300 group-open:block hidden" %>
    </summary>
    <article class="relative p-4">
      <div class="prose prose-neutral max-w-full dark:!prose-invert prose-h4:text-xs prose-h4:font-bold prose-h4:uppercase prose-h4:tracking-wider prose-h4:text-neutral-700">
        <%= yield %>
      </div>
    </article>
  </details>
</div>
