<!DOCTYPE html>
<html>
  <head>
    <title><%= Railsui.config.application_name || "Rails UI " %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "https://unpkg.com/trix@2.0.0/dist/trix.css", "https://unpkg.com/photoswipe@5.4.2/dist/photoswipe.css", "data-turbo-track": "reload" %>

    <%= railsui_head %>
  </head>

  <body class="<%= railsui_body_classes %>" data-controller="dark-mode search">
    <%= render "railsui/shared/flash" %>
    <% if content_for(:header).present? %>
      <%= yield :header %>
    <% else %>
      <%= render "railsui/shared/nav" %>
    <% end %>
    <%= yield %>
    <%= railsui_launcher if Rails.env.development? %>
    <%= render "railsui/shared/search_overlay" %>
  </body>
</html>
