<h1 class="tw-font-bold tw-text-4xl tw-mb-6">Design system</h1>
<div class="tw-prose tw-prose-lg tw-prose-indigo dark:tw-prose-invert">
  <p>A design system is a pre-configured set of standards and patterns to follow as you iterate on the application building process.</p>

  <p>Use this system as a guide but not necessarily a source of truth for exact use cases. It's meant to solve those repeatable problems aimed to help you increase speed and developer happiness.</p>
</div>

<ul class="tw-grid tw-grid-cols-1 lg:tw-grid-cols-3 tw-gap-4 tw-mt-10">
  <li>
    <%= render "railsui/shared/grid_item", path: systems_content_path, title: "Content", description: "Design patterns for everyday markup and content." %>
  </li>
  <li>
    <%= render "railsui/shared/grid_item", path: systems_content_path, title: "Forms", description: "Inputs, controls, buttons, and more ready for quick use." %>
  </li>

  <li>
    <%= render "railsui/shared/grid_item", path: systems_components_path, title: "Components", description: "Scale with greater ease with the bundled component library." %>
  </li>

  <li>
    <%= render "railsui/shared/grid_item", path: systems_marketing_path, title: "Marketing", description: "Pre-built static marketing pages ready for your content." %>
  </li>

  <li>
    <%= render "railsui/shared/grid_item", path: systems_components_path, title: "Scaffolds", description: "Pre-themed Rails scaffold templates" %>
  </li>

  <li>
    <%= render "railsui/shared/grid_item", path: systems_authentication_overview_path, title: "Authentication", description: "An authentication experience ready for use." %>
  </li>

  <li>
    <%= render "railsui/shared/grid_item", path: systems_mailers_path, title: "Mailers", description: "Some help getting those pesky email templates in good shape." %>
  </li>
</ul>
