<div class="relative min-h-[320px] md:py-16 py-14 border-b border-zinc-200 dark:border-zinc-700/80">
  <div class="opacity-5 blur-4xl absolute inset-0 w-full h-full
    bg-gradient-to-r from-white via-primary-500/40 via-[24.79%] to-[#177BB5] z-0"></div>

  <% current_hour = Time.now.hour %>
  <% greeting = case current_hour
                when 0..11
                  "Good morning"
                when 12..17
                  "Good afternoon"
                else
                  "Good evening"
                end %>

  <div class="relative z-20">
    <h2 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight text-center"><%= "#{greeting}" %>, John</h2>
    <p class="font-light font-heading text-center py-4 text-zinc-700 dark:text-zinc-300">Here is what's happening today
    </p>

    <div class="grid md:grid-cols-4 grid-cols-2 px-4 md:gap-6 gap-3 md:pt-6 pt-3 max-w-5xl mx-auto">
      <%= link_to rui_inbox_path, class: "bg-white border border-zinc-300 p-4 rounded-lg shadow-sm hover:shadow-none focus:ring-4 focus:ring-zinc-100/70 md:col-span-1 col-span-2 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600" do %>
        <h3 class="font-normal text-base font-sans text-zinc-800/80 dark:text-zinc-300">Inbox</h3>
        <p class="font-heading text-4xl font-semibold text-zinc-800 dark:text-white">39</p>
      <% end %>

      <%= link_to "#", class: "bg-white border border-zinc-300 p-4 rounded-lg shadow-sm hover:shadow-none focus:ring-4 focus:ring-zinc-100/70 md:col-span-1 col-span-2 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:border-zinc-600 dark:focus:ring-zinc-600/30" do %>
        <h3 class="font-normal text-base font-sans text-zinc-800/80 dark:text-zinc-300">Sched. messages</h3>
        <p class="font-heading text-4xl font-semibold text-zinc-800 dark:text-white">46</p>
      <% end %>

      <%= link_to "#", class: "bg-white border border-zinc-300 p-4 rounded-lg shadow-sm hover:shadow-none focus:ring-4 focus:ring-zinc-100/70 md:col-span-1 col-span-2 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:border-zinc-600 dark:focus:ring-zinc-600/30" do %>
        <h3 class="font-normal text-base font-sans text-zinc-800/80 dark:text-zinc-300">Arrivals</h3>
        <p class="font-heading text-4xl font-semibold text-zinc-800 dark:text-white">2</p>
      <% end %>

      <%= link_to "#", class: "bg-white border border-zinc-300 p-4 rounded-lg shadow-sm hover:shadow-none focus:ring-4 focus:ring-zinc-100/70 md:col-span-1 col-span-2 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:border-zinc-600 dark:focus:ring-zinc-600/30" do %>
        <h3 class="font-normal text-base font-sans text-zinc-800/80 dark:text-zinc-300">Departures</h3>
        <p class="font-heading text-4xl font-semibold text-zinc-800 dark:text-white">1</p>
      <% end %>
    </div>
  </div>
</div>

<div class="container mx-auto px-4 pt-16">
  <div class="flex md:justify-between justify-center items-center flex-wrap">
    <div class="flex items-center space-x-3 flex-1 md:mb-0 mb-3">
      <button type="button" class="btn btn-primary">Arrivals (2)</button>
      <button type="button" class="btn btn-white">Departures (1)</button>
    </div>

    <%= link_to "View all bookings", rui_bookings_path, class: "btn btn-link" %>
  </div>

  <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6 my-8">

    <!-- Property user card 1 -->
    <div class="border border-zinc-300/90 shadow-sm shadow-zinc-300/20 rounded-lg p-3 dark:shadow-zinc-950/50 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600">
      <%= image_tag "railsui/property-1.jpg", alt: "Image of Alpine Retreat Haven", class: "rounded-lg h-[174px] w-full object-cover object-center shadow dark:shadow-none dark:border dark:border-zinc-600/80 border-transparent" %>
      <div class="flex items-center space-x-3 mt-4">
        <%= image_tag demo_avatar_url(variant: "men", id: "88"), class: "size-10 rounded-full object-cover", alt: "Noah Martinez" %>
        <div class="flex-1">
          <p class="font-medium dark:text-white font-heading text-zinc-900">Noah Martinez</p>
          <p class="font-light text-sm text-zinc-600 font-heading dark:text-zinc-400">Alpine Retreat Haven</p>
        </div>
      </div>
      <div class="flex justify-between items-end pt-3">
        <div class="flex items-center gap-2">
          <%= icon "clock", class: "size-5 text-zinc-500 stroke-current dark:text-zinc-300" %>
          <span class="text-zinc-600 dark:text-zinc-400 text-sm">Aug 24, 3pm</span>
        </div>
        <%= link_to "View", rui_booking_path, class: "btn btn-white" %>
      </div>
    </div>

    <!-- Property user card 2 -->
    <div class="border border-zinc-300/90 shadow-sm shadow-zinc-300/20 rounded-lg p-3 dark:shadow-zinc-950/50 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600">
      <%= image_tag "railsui/property-3.jpg", alt: "Image of Mountain Vista Chalet", class: "rounded-lg h-[174px] w-full object-cover object-center shadow dark:shadow-none dark:border dark:border-zinc-600/80 border-transparent" %>
      <div class="flex items-center gap-3 mt-4">
        <%= image_tag demo_avatar_url(variant: "women", id: "78"), class: "size-10 rounded-full object-cover", alt: "Dannie White" %>
        <div class="flex-1">
          <p class="font-medium dark:text-white font-heading text-zinc-900">Dannie White</p>
          <p class="font-light text-sm text-zinc-600 font-heading dark:text-zinc-400">Mountain Vista Chalet</p>
        </div>
      </div>
      <div class="flex justify-between items-end pt-3">
        <div class="flex items-center space-x-2">
          <%= icon "clock", class: "size-5 text-zinc-500 stroke-current dark:text-zinc-300" %>
          <span class="text-zinc-600 dark:text-zinc-400 text-sm">Aug 24, 3pm</span>
        </div>
        <%= link_to "View", rui_booking_path, class: "btn btn-white" %>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto px-4 pt-16">
  <div class="md:flex items-center justify-between">
    <div class="md:flex-1">
      <h3 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight mb-3">Recent stats</h3>
      <p class="text-zinc-500 font-sans dark:text-zinc-300">Past 30 days</p>
    </div>
    <form action="#" class="md:min-w-[250px] md:w-auto w-full md:mt-0 mt-4">
      <select name="recent_states_properties" class="form-select">
        <option value="">Select property</option>
        <option value="Alpine Retreat Haven">Alpine Retreat Haven</option>
        <option value="Mount Vista Chalet">Mountain Vista Chalet</option>
        <option value="Cozy Mountain A-Frame">Cozy Mountain A-Frame</option>
      </select>
    </form>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-5 gap-6 md:divide-x divide-x-0 mt-6 dark:divide-zinc-700">
    <div class="md:pr-6 md:py-3">
      <p class="text-zinc-600 mb-1 dark:text-zinc-200">Clicks</p>
      <h4 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">243</h4>
    </div>
    <div class="md:px-6 md:py-3">
      <p class="text-zinc-600 mb-1 dark:text-zinc-200">Impressions</p>
      <h4 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">1231</h4>
    </div>
    <div class="md:px-6 md:py-3">
      <p class="text-zinc-600 mb-1 dark:text-zinc-200">Conversion rate</p>
      <h4 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">2.2<sup class="text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight pl-1">%</sup></h4>
    </div>
    <div class="md:px-6 md:py-3">
      <p class="text-zinc-600 mb-1 dark:text-zinc-200">Bookings</p>
      <h4 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">16</h4>
    </div>
    <div class="md:pl-4 md:py-3">
      <p class="text-zinc-600 mb-1 dark:text-zinc-200">Response time</p>
      <h4 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">~1<sup class="text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight pl-1">hr</sup></h4>
    </div>
  </div>
</div>

<div class="container mx-auto px-4 py-24">
  <h3 class="mb-6 font-semibold text-zinc-700 dark:text-zinc-50">Resources</h3>

  <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-6 md:gap-4 gap-4">
    <%= link_to rui_contact_path, class: "border border-zinc-300/80 shadow-sm shadow-zinc-300/25 hover:shadow flex items-center rounded-lg px-4 py-5 space-x-3 focus:ring-4 focus:ring-zinc-100/80 group transition ease-in-out duration-200 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600 dark:shadow-zinc-950/30" do %>
      <div class="size-10 rounded-full border border-primary-300/80 flex items-center justify-center bg-white flex-shrink-0 transition ease-in-out duration-200 group-hover:bg-primary-50/50 dark:bg-zinc-800/90 dark:group-hover:bg-primary-600/20 dark:border-primary-600/80">
        <%= icon "lifebuoy", class: "size-6 text-primary-600 flex-shrink-0" %>
      </div>
      <div>
        <h5 class="text-base font-medium font-heading text-zinc-700 dark:text-zinc-100 tracking-tight">Get support</h5>
        <p class="text-sm text-zinc-500 dark:text-zinc-400">Contact our support team chat.</p>
      </div>
    <% end %>

    <%= link_to rui_help_center_path, class: "border border-zinc-300/80 shadow-sm shadow-zinc-300/25 hover:shadow flex items-center rounded-lg px-4 py-5 space-x-3 focus:ring-4 focus:ring-zinc-100/80 group transition ease-in-out duration-200 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600 dark:shadow-zinc-950/30 dark:bg-zinc-800/90" do %>
      <div class="size-10 rounded-full border border-secondary-300/80 flex items-center justify-center bg-white flex-shrink-0 group-hover:bg-secondary-50/50 transition ease-in-out duration-200 dark:bg-zinc-800/90 dark:group-hover:bg-secondary-600/20 dark:border-secondary-600/80">
        <%= icon "user-group", class: "size-6 flex-shrink-0 text-secondary-500" %>
      </div>
      <div>
        <h5 class="text-base font-medium font-heading text-zinc-700 dark:text-zinc-100 tracking-tight">Join the forum</h5>
        <p class="text-sm text-zinc-500 dark:text-zinc-400">Network with fellow hosts.</p>
      </div>
    <% end %>

    <%= link_to rui_help_center_path, class: "border border-zinc-300/80 shadow-sm shadow-zinc-300/25 hover:shadow flex items-center rounded-lg px-4 py-5 space-x-3 focus:ring-4 focus:ring-zinc-100/80 group transition ease-in-out duration-200 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600 dark:shadow-zinc-950/30" do %>
      <div class="size-10 rounded-full border border-zinc-400/80 flex items-center justify-center bg-white flex-shrink-0 transition ease-in-out duration-200 group-hover:bg-zinc-50/80 dark:bg-zinc-800/90 dark:group-hover:bg-zinc-700/70">
        <%= icon "tv", class: "text-zinc-500 size-6 flex-shrink-0 dark:group-hover:text-zinc-400" %>
      </div>
      <div>
        <h5 class="text-base font-medium font-heading text-zinc-700 dark:text-zinc-100 tracking-tight">Watch tutorials</h5>
        <p class="text-sm text-zinc-500 dark:text-zinc-400">Watch video tutorials to learn.</p>
      </div>
    <% end %>

    <%= link_to rui_help_center_path, class: "border border-zinc-300/80 shadow-sm shadow-zinc-300/25 hover:shadow flex items-center rounded-lg px-4 py-5 space-x-3 focus:ring-4 focus:ring-zinc-100/80 transition ease-in-out duration-200 group dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600 dark:shadow-zinc-950/30" do %>
      <div class="size-10 rounded-full border border-violet-500/80 dark:border-violet-600/70 flex items-center justify-center bg-white flex-shrink-0 transition ease-in-out duration-200 group-hover:bg-violet-50/50 dark:bg-zinc-800/90 dark:group-hover:bg-violet-600/20">
        <%= icon "queue-list", class: "text-violet-500 dark:group-hover:text-violet-400/80 size-6 flex-shrink-0" %>
      </div>
      <div>
        <h5 class="text-base font-medium font-heading text-zinc-700 dark:text-zinc-100 tracking-tight">Product updates</h5>
        <p class="text-sm text-zinc-500 dark:text-zinc-400">Read about upcoming changes.</p>
      </div>
    <% end %>
  </div>
</div>
