<div class="relative min-h-[100px] py-8 border-b border-zinc-200/80 dark:border-zinc-700">
  <div class="opacity-5 blur-4xl absolute inset-0 w-full h-full
    bg-gradient-to-r from-white via-primary-500/40 via-[24.79%] to-[#177BB5] z-0"></div>

  <div class="relative z-20">
    <h1 class="text-center text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Insights</h1>

    <p class="font-light font-heading text-center pt-4 text-zinc-700 dark:text-zinc-300">Tap into the stats of your business with Shepherd insights.</p>
  </div>
</div>

<div class="container mx-auto px-4 md:py-16 py-6 mb-24" data-controller="railsui-tabs" data-railsui-tabs-active-tab="px-4 py-2 bg-zinc-50 rounded-full whitespace-nowrap dark:bg-zinc-800 font-medium flex items-center justify-between dark:text-zinc-100" data-railsui-tabs-inactive-tab="px-4 py-2 bg-white whitespace-nowrap dark:bg-zinc-900 flex items-center justify-between dark:text-zinc-200">
  <div class="flex flex-wrap item-start justify-between lg:space-x-10">
    <nav class="lg:w-[240px] w-full md:mb-0 mb-6">
      <ul class="space-y-3">
        <li>
          <button type="button" data-railsui-tabs-target="tab" data-action="click->railsui-tabs#change"
            class="px-4 py-2 bg-zinc-50 rounded-full whitespace-nowrap dark:bg-zinc-800 font-medium flex items-center justify-between w-full">
            <span>Occupancy</span>
            <span>
              <%= icon "chevron-right", class: "size-4 opacity-75" %>
            </span>
          </button>
        </li>
        <li>
          <button type="button" data-railsui-tabs-target="tab" data-action="click->railsui-tabs#change"
            class="px-4 py-2 bg-white whitespace-nowrap dark:bg-zinc-900 flex items-center justify-between w-full">
            <span>Length of stay</span>
            <span>
              <%= icon "chevron-right", class: "size-4" %>
            </span>
          </button>
        </li>
        <li>
          <button type="button" data-railsui-tabs-target="tab" data-action="click->railsui-tabs#change"
            class="px-4 py-2 bg-white whitespace-nowrap dark:bg-zinc-900 flex items-center justify-between w-full">
            <span>Nightly rate</span>
            <span>
              <%= icon "chevron-right", class: "size-4" %>
            </span>
          </button>
        </li>
      </ul>
    </nav>
    <div class="flex-1">
      <!-- Occupancy tab -->
      <div class="hidden" data-railsui-tabs-target="panel">
        <div class="flex items-center justify-between pb-6">
          <h3 class="flex-1 text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Occupancy</h3>

          <!-- Utility nav -->
          <div class="flex items-center lg:justify-start justify-center">
            <button type="button" class="group btn btn-white rounded-l-full rounded-r-none group py-2">
              <%= icon "printer", class: "size-6 stroke-current text-zinc-600 group-hover:text-primary-600 dark:text-zinc-300/80 dark:group-hover:text-primary-500 pointer-events-none" %>
            </button>
            <button type="button" class="btn btn-white group rounded-r-full rounded-l-none border-l-0 py-2">
              <%= icon "arrow-down-tray", class: "size-6 stroke-current text-zinc-600 group-hover:text-primary-600 dark:text-zinc-300/80 dark:group-hover:text-primary-500 pointer-events-none" %>
            </button>
          </div>
        </div>

        <div class="sm:p-0 p-4 rounded-3xl bg-zinc-50 sm:bg-transparent sm:rounded-none">
          <ul class="flex flex-wrap sm:justify-start justify-center items-center sm:gap-3 sm:space-y-0 space-y-3">
            <!-- Property filter-->
            <li class="relative sm:w-auto w-full sm:block flex justify-center" data-controller="railsui-dropdown">
              <button type="button" class="btn btn-white whitespace-nowrap sm:w-auto w-full" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">All properties</button>
              <ul
                class="md:absolute mt-2 ml-2 md:ml-0 md:mt-0 md:shadow-xl sm:w-[360px] md:min-w-[360px] divide-y divide-zinc-300/80 text-left dark:divide-zinc-700 hidden transition transform md:origin-top origin-top-left absolute left-0 top-12 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[320px] w-full z-50 dark:bg-zinc-900 dark:shadow-zinc-950/40 dark:border-zinc-500/60 md:text-sm text-base font-medium text-zinc-600 dark:text-zinc-200"
                data-railsui-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95">
                <li>
                  <label for="property_1_natures_nook_occupancy"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800 rounded-t-xl">
                    <input type="checkbox" class="form-input-checkbox" id="property_1_natures_nook_occupancy">
                    <%= image_tag "railsui/property-1.jpg", alt: "Nature's Nook", class: "rounded-lg size-8 object-cover" %>
                    <span>Nature's Nook</span>
                  </label>
                </li>
                <li>
                  <label for="property_2_the_haven_occupancy"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800">
                    <input type="checkbox" class="form-input-checkbox" id="property_2_the_haven_occupancy">
                    <%= image_tag "railsui/property-2.jpg", alt: "The Haven", class: "rounded-lg size-8 object-cover" %>
                    <span>The Haven</span>
                  </label>
                </li>
                <li>
                  <label for="property_3_the_mountain_majesty_occupancy"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800 rounded-b-xl">
                    <input type="checkbox" class="form-input-checkbox" id="property_3_the_mountain_majesty_occupancy">
                    <%= image_tag "railsui/property-3.jpg", class: "rounded-lg size-8 object-cover", alt: "The Mountain Majesty" %>
                    <span>The Mountain Majesty</span>
                  </label>
                </li>
              </ul>
            </li>

            <!-- Date range -->
            <li class="sm:w-auto w-full sm:block flex justify-center">
              <button type="button" data-controller="railsui-date-range-picker" class="btn btn-white sm:w-[188px] gap-3 flex items-center whitespace-nowrap w-full justify-center">
                <%= icon "calendar-days", class: "size-5 text-zinc-500 dark:text-zinc-400" %>
                <span data-railsui-date-range-picker-target="label"></span>
                <input type="hidden" data-railsui-date-range-picker-target="input">
              </button>
            </li>

            <!-- Rooms and Beds -->
            <li class="relative sm:w-auto w-full sm:block flex justify-center" data-controller="railsui-dropdown">
              <button type="button" class="btn btn-white whitespace-nowrap sm:w-auto w-full" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">Rooms and beds</button>

              <div class="md:absolute mt-2 ml-2 md:ml-0 md:mt-0 md:shadow-xl sm:w-[360px] md:min-w-[360px] text-left hidden transition transform md:origin-top absolute left-0 top-12 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[320px] w-full z-50 dark:bg-zinc-900 dark:shadow-zinc-950/40 dark:border-zinc-500/60 md:text-sm text-base font-medium text-zinc-600 dark:text-zinc-200 p-4"
                data-railsui-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95">
                <div class="prose prose-zinc prose-sm font-light mb-6 font-heading dark:prose-invert">
                  <h4 class="text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Rooms and beds</h4>
                  <p>Show performance for listings with a specific number of rooms and beds.</p>
                </div>
                <form action="#">
                  <ul>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Bedrooms</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Beds</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Baths</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="flex justify-between items-center pt-4">
                    <a href="#" data-action="click->railsui-dropdown#toggle" class="underline select-none">Cancel</a>
                    <input type="submit" value="Apply" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 sm:py-16 py-10">
          <div>
            <h2 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">69.1%</h2>
            <p class="font-heading font-light text-zinc-700 dark:text-zinc-300 text-sm">Average occupancy rate</p>
          </div>

          <div>
            <h2 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">31</h2>
            <p class="font-heading font-light text-zinc-700 dark:text-zinc-300 text-sm">Average nights booked</p>
          </div>

          <div>
            <h2 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">14</h2>
            <p class="font-heading font-light text-zinc-700 dark:text-zinc-300 text-sm">Average nights blocked</p>
          </div>

          <div>
            <h2 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">9</h2>
            <p class="font-heading font-light text-zinc-700 dark:text-zinc-300 text-sm">Average booked nights</p>
          </div>
        </div>

        <div data-controller="insight-chart"
          data-insight-chart-data-value='[{"x": "10/11/2023", "y": 25 }, {"x": "10/16/2023", "y": 45 },{ "x": "10/23/2023", "y": 55 }, {"x": "10/30/2023", "y": 65 }, {"x": "11/6/2023", "y": 75 }, {"x": "11/9/2023", "y": 55 }, {"x": "11/13/2023", "y": 65 },{ "x": "11/16/2023", "y": 72 }]'
          data-insight-chart-name-value="Occupancy" data-insight-chart-y-axis-min-value="0"
          data-insight-chart-y-axis-max-value="98">
        </div>

        <h4 class="pt-16 text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Properties</h4>

        <div class="flex items-center lg:space-x-10 space-x-5 font-medium text-zinc-700 py-4 border-b border-zinc-200 text-sm dark:border-zinc-700 dark:text-zinc-300">
          <div class="flex-1">Property</div>
          <div>Change</div>
          <div>Rate</div>
        </div>

        <ul class="divide-y divide-zinc-200/80 dark:divide-zinc-800">
          <% [
            {
              title: "Cozy Mountain A-Frame",
              subtitle: "Nature's Nook",
              col_2: "80%",
              change_position: "down",
              image: "railsui/property-1.jpg",
              col_3: "0%"
            },
            {
              title: "Alpine Retreat Haven",
              subtitle: "The Haven",
              col_2: "20%",
              change_position: "up",
              image: "railsui/property-2.jpg",
              col_3: "12%"
            },
            {
              title: "Mountain Vista Chalet",
              subtitle: "The Mountain Majesty",
              col_2: "32%",
              change_position: "up",
              image: "railsui/property-3.jpg",
              col_3: "25%"
            }
          ].each do |insight| %>
            <li class="flex flex-wrap items-center justify-start space-y-3 md:space-y-0 py-6 md:py-4 lg:space-x-10 space-x-5">
              <div class="flex-1">
                <%= link_to "#", class: "flex md:items-center items-start gap-3" do %>
                  <%= image_tag insight[:image], alt: insight[:title], class: "w-16 h-10 rounded" %>
                  <div class="flex-1">
                    <h3 class="font-medium text-base leading-tight text-zinc-700 line-clamp-1 dark:text-zinc-50"><%= insight[:title] %></h3>
                    <h4 class="text-sm text-zinc-500 leading-tight line-clamp-1 dark:text-zinc-300/80"><%= insight[:subtitle] %></h4>
                  </div>
                <% end %>
              </div>
              <% if insight[:change_position] == "up" %>
                <div class="text-sm text-green-600 flex items-center gap-1">
                  <span class="flex-shrink-0">
                    <%= icon "chevron-up", class: "size-3" %>
                  </span>
                  <span><%= insight[:col_2] %></span>
                </div>
              <% else %>
                <div class="text-sm text-primary-600 flex items-center gap-1">
                  <span><%= icon "chevron-down", class: "size-3" %></span>
                  <span><%= insight[:col_2] %></span>
                </div>
              <% end %>
              <div class="text-sm"><%= insight[:col_3] %></div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- End Occupancy tab -->

      <!-- Length of stay tab -->
      <div class="hidden" data-railsui-tabs-target="panel">
        <div class="flex items-center justify-between pb-6">
          <h3 class="flex-1 text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Length of Stay</h3>

          <!-- Utility nav -->
          <div class="flex items-center lg:justify-start justify-center">
            <button type="button" class="group btn btn-white rounded-l-full rounded-r-none group py-2">
              <%= icon "printer", class: "size-6 stroke-current text-zinc-600 group-hover:text-primary-600 dark:text-zinc-300/80 dark:group-hover:text-primary-500 pointer-events-none" %>
            </button>
            <button type="button" class="btn btn-white group rounded-r-full rounded-l-none border-l-0 py-2">
              <%= icon "arrow-down-tray", class: "size-6 stroke-current text-zinc-600 group-hover:text-primary-600 dark:text-zinc-300/80 dark:group-hover:text-primary-500 pointer-events-none" %>
            </button>
          </div>
        </div>

        <div class="sm:p-0 p-4 rounded-3xl bg-zinc-50 sm:bg-transparent sm:rounded-none">
          <ul class="flex flex-wrap sm:justify-start justify-center items-center sm:gap-3 sm:space-y-0 space-y-3">
            <!-- Property filter-->
            <li class="relative sm:w-auto w-full sm:block flex justify-center" data-controller="railsui-dropdown">
              <button type="button" class="btn btn-white whitespace-nowrap sm:w-auto w-full" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">All properties</button>
              <ul
                class="md:absolute mt-2 ml-2 md:ml-0 md:mt-0 md:shadow-xl sm:w-[360px] md:min-w-[360px] divide-y divide-zinc-300/80 text-left dark:divide-zinc-700 hidden transition transform md:origin-top origin-top-left absolute left-0 top-12 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[320px] w-full z-50 dark:bg-zinc-900 dark:shadow-zinc-950/40 dark:border-zinc-500/60 md:text-sm text-base font-medium text-zinc-600 dark:text-zinc-200"
                data-railsui-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95">
                <li>
                  <label for="property_1_natures_nook_lengh_of_stay"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800 rounded-t-xl">
                    <input type="checkbox" class="form-input-checkbox" id="property_1_natures_nook_length_of_stay">
                    <%= image_tag "railsui/property-1.jpg", alt: "Nature's Nook", class: "rounded-lg size-8 object-cover" %>
                    <span>Nature's Nook</span>
                  </label>
                </li>
                <li>
                  <label for="property_2_the_haven_length_of_stay"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800">
                    <input type="checkbox" class="form-input-checkbox" id="property_2_the_haven_length_of_stay">
                    <%= image_tag "railsui/property-2.jpg", alt: "The Haven", class: "rounded-lg size-8 object-cover" %>
                    <span>The Haven</span>
                  </label>
                </li>
                <li>
                  <label for="property_3_the_mountain_majesty_length_of_stay"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800 rounded-b-xl">
                    <input type="checkbox" class="form-input-checkbox" id="property_3_the_mountain_majesty_length_of_stay">
                    <%= image_tag "railsui/property-3.jpg", class: "rounded-lg size-8 object-cover", alt: "The Mountain Majesty" %>
                    <span>The Mountain Majesty</span>
                  </label>
                </li>
              </ul>
            </li>

            <!-- Date range -->
            <li class="sm:w-auto w-full sm:block flex justify-center">
              <button type="button" data-controller="railsui-date-range-picker" class="btn btn-white sm:w-[188px] gap-3 flex items-center whitespace-nowrap w-full justify-center">
                <%= icon "calendar-days", class: "size-5 text-zinc-500 dark:text-zinc-400" %>
                <span data-railsui-date-range-picker-target="label"></span>
                <input type="hidden" data-railsui-date-range-picker-target="input">
              </button>
            </li>

            <!-- Rooms and Beds -->
            <li class="relative sm:w-auto w-full sm:block flex justify-center" data-controller="railsui-dropdown">
              <button type="button" class="btn btn-white whitespace-nowrap sm:w-auto w-full" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">Rooms and beds</button>

              <div class="md:absolute mt-2 ml-2 md:ml-0 md:mt-0 md:shadow-xl sm:w-[360px] md:min-w-[360px] text-left hidden transition transform md:origin-top absolute left-0 top-12 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[320px] w-full z-50 dark:bg-zinc-900 dark:shadow-zinc-950/40 dark:border-zinc-500/60 md:text-sm text-base font-medium text-zinc-600 dark:text-zinc-200 p-4"
                data-railsui-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95">
                <div class="prose prose-zinc prose-sm font-light mb-6 font-heading dark:prose-invert">
                  <h4 class="text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Rooms and beds</h4>
                  <p>Show performance for listings with a specific number of rooms and beds.</p>
                </div>
                <form action="#">
                  <ul>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Bedrooms</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Beds</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Baths</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="flex justify-between items-center pt-4">
                    <a href="#" data-action="click->railsui-dropdown#toggle" class="underline select-none">Cancel</a>
                    <input type="submit" value="Apply" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 sm:py-16 py-10">
          <div>
            <h2 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">3.9 days</h2>
            <p class="font-heading font-light text-zinc-700 text-sm dark:text-zinc-300">Average length of stay</p>
          </div>
        </div>

        <div data-controller="insight-chart"
          data-insight-chart-data-value='[{"x": "10/11/2023", "y": 5.85 }, {"x": "10/16/2023", "y": 3 },{ "x": "10/23/2023", "y": 3.25 }, {"x": "10/30/2023", "y": 4 }, {"x": "11/6/2023", "y": 3.1 }, {"x": "11/9/2023", "y": 3.6 }, {"x": "11/13/2023", "y": 4.6 },{ "x": "11/16/2023", "y": 2.1 }]'
          data-insight-chart-name-value="Length of stay" data-insight-chart-y-axis-min-value="0"
          data-insight-chart-y-axis-max-value="7" data-insight-chart-y-axis-denomination-value="days">
        </div>

        <h4 class="pt-16 text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Properties</h4>

        <div class="flex items-center lg:space-x-10 space-x-5 font-medium text-zinc-700 py-4 border-b border-zinc-200 text-sm dark:text-zinc-300 dark:border-zinc-700">
          <div class="flex-1">Property</div>
          <div>Change</div>
          <div>Average</div>
        </div>

        <ul class="divide-y divide-zinc-200/80 dark:divide-zinc-800">
          <% [
            {
              title: "Cozy Mountain A-Frame",
              subtitle: "Nature's Nook",
              col_2: "-0.9days",
              change_position: "down",
              image: "railsui/property-1.jpg",
              col_3: "2.8 days"
            },
            {
              title: "Alpine Retreat Haven",
              subtitle: "The Haven",
              col_2: "-0.4 days",
              change_position: "down",
              image: "railsui/property-2.jpg",
              col_3: "4.2 days"
            },
            {
              title: "Mountain Vista Chalet",
              subtitle: "The Mountain Majesty",
              col_2: "3.0 days",
              change_position: "up",
              image: "railsui/property-3.jpg",
              col_3: "5.0 days"
            }
          ].each do |insight| %>
            <li class="flex flex-wrap items-center justify-start space-y-3 md:space-y-0 py-6 md:py-4 lg:space-x-10 space-x-5">
              <div class="flex-1">
                <%= link_to "#", class: "flex md:items-center items-start gap-3" do %>
                  <%= image_tag insight[:image], alt: insight[:title], class: "w-16 h-10 rounded" %>
                  <div class="flex-1">
                    <h3 class="font-medium text-base leading-tight text-zinc-700 line-clamp-1 dark:text-zinc-50"><%= insight[:title] %></h3>
                    <h4 class="text-sm text-zinc-500 leading-tight line-clamp-1 dark:text-zinc-300/80"><%= insight[:subtitle] %></h4>
                  </div>
                <% end %>
              </div>
              <% if insight[:change_position] == "up" %>
                <div class="text-sm text-green-600 flex items-center space-x-1">
                  <span class="flex-shrink-0">
                    <%= icon "chevron-up", class: "size-3" %>
                  </span>
                  <span><%= insight[:col_2] %></span>
                </div>
              <% else %>
                <div class="text-sm text-primary-600 flex items-center space-x-1">
                  <span><%= icon "chevron-down", class: "size-3" %></span>
                  <span><%= insight[:col_2] %></span>
                </div>
              <% end %>
              <div class="text-sm"><%= insight[:col_3] %></div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- end Length of stay tab -->

      <!-- Nightly rate tab -->
      <div class="hidden" data-railsui-tabs-target="panel">
        <div class="flex items-center justify-between pb-6">
          <h3 class="flex-1 text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Nightly Rate</h3>

          <!-- Utility nav -->
          <div class="flex items-center lg:justify-start justify-center">
            <button type="button" class="group btn btn-white rounded-l-full rounded-r-none group py-2">
              <%= icon "printer", class: "size-6 stroke-current text-zinc-600 group-hover:text-primary-600 dark:text-zinc-300/80 dark:group-hover:text-primary-500 pointer-events-none" %>
            </button>
            <button type="button" class="btn btn-white group rounded-r-full rounded-l-none border-l-0 py-2">
              <%= icon "arrow-down-tray", class: "size-6 stroke-current text-zinc-600 group-hover:text-primary-600 dark:text-zinc-300/80 dark:group-hover:text-primary-500 pointer-events-none" %>
            </button>
          </div>
        </div>

        <div class="sm:p-0 p-4 rounded-3xl bg-zinc-50 sm:bg-transparent sm:rounded-none">
          <ul class="flex flex-wrap sm:justify-start justify-center items-center sm:gap-3 sm:space-y-0 space-y-3">
            <!-- Property filter-->
            <li class="relative sm:w-auto w-full sm:block flex justify-center" data-controller="railsui-dropdown">
              <button type="button" class="btn btn-white whitespace-nowrap sm:w-auto w-full" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">All properties</button>
              <ul
                class="md:absolute mt-2 ml-2 md:ml-0 md:mt-0 md:shadow-xl sm:w-[360px] md:min-w-[360px] divide-y divide-zinc-300/80 text-left dark:divide-zinc-700 hidden transition transform md:origin-top origin-top-left absolute left-0 top-12 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[320px] w-full z-50 dark:bg-zinc-900 dark:shadow-zinc-950/40 dark:border-zinc-500/60 md:text-sm text-base font-medium text-zinc-600 dark:text-zinc-200"
                data-railsui-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95">
                <li>
                  <label for="property_1_natures_nook_nightly_rate"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800 rounded-t-xl">
                    <input type="checkbox" class="form-input-checkbox" id="property_1_natures_nook_nightly_rate">
                    <%= image_tag "railsui/property-1.jpg", alt: "Nature's Nook", class: "rounded-lg size-8 object-cover" %>
                    <span>Nature's Nook</span>
                  </label>
                </li>
                <li>
                  <label for="property_2_the_haven_nightly_rate"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800">
                    <input type="checkbox" class="form-input-checkbox" id="property_2_the_haven_nightly_rate">
                    <%= image_tag "railsui/property-2.jpg", alt: "The Haven", class: "rounded-lg size-8 object-cover" %>
                    <span>The Haven</span>
                  </label>
                </li>
                <li>
                  <label for="property_3_the_mountain_majesty_nightly_rate"
                    class="flex items-center gap-3 py-2 px-4 w-full hover:bg-zinc-50/50 hover:text-zinc-900 dark:hover:text-zinc-200 dark:hover:bg-zinc-800 rounded-b-xl">
                    <input type="checkbox" class="form-input-checkbox" id="property_3_the_mountain_majesty_nightly_rate">
                    <%= image_tag "railsui/property-3.jpg", class: "rounded-lg size-8 object-cover", alt: "The Mountain Majesty" %>
                    <span>The Mountain Majesty</span>
                  </label>
                </li>
              </ul>
            </li>

            <!-- Date range -->
            <li class="sm:w-auto w-full sm:block flex justify-center">
              <button type="button" data-controller="railsui-date-range-picker" class="btn btn-white sm:w-[188px] gap-3 flex items-center whitespace-nowrap w-full justify-center">
                <%= icon "calendar-days", class: "size-5 text-zinc-500 dark:text-zinc-400" %>
                <span data-railsui-date-range-picker-target="label"></span>
                <input type="hidden" data-railsui-date-range-picker-target="input">
              </button>
            </li>

            <!-- Rooms and Beds -->
            <li class="relative sm:w-auto w-full sm:block flex justify-center" data-controller="railsui-dropdown">
              <button type="button" class="btn btn-white whitespace-nowrap sm:w-auto w-full" data-action="click->railsui-dropdown#toggle click@window->railsui-dropdown#hide">Rooms and beds</button>

              <div class="md:absolute mt-2 ml-2 md:ml-0 md:mt-0 md:shadow-xl sm:w-[360px] md:min-w-[360px] text-left hidden transition transform md:origin-top absolute left-0 top-12 bg-white rounded-xl shadow-xl shadow-zinc-900/10 border border-zinc-200 md:w-[320px] w-full z-50 dark:bg-zinc-900 dark:shadow-zinc-950/40 dark:border-zinc-500/60 md:text-sm text-base font-medium text-zinc-600 dark:text-zinc-200 p-4"
                data-railsui-dropdown-target="menu" data-transition-enter-from="opacity-0 scale-95"
                data-transition-enter-to="opacity-100 scale-100" data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95">
                <div class="prose prose-zinc prose-sm font-light mb-6 font-heading dark:prose-invert">
                  <h4 class="text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Rooms and beds</h4>
                  <p>Show performance for listings with a specific number of rooms and beds.</p>
                </div>
                <form action="#">
                  <ul>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Bedrooms</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Beds</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="py-1">
                      <div class="flex items-center justify-between">
                        <p class="select-none">Baths</p>
                        <div class="flex items-center space-x-1" data-controller="counter-input">
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#decrement" data-counter-input-target="decrementBtn" disabled="true">
                            <%= icon "minus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                          <input type="text" class="w-12 border-0 focus:border-0 focus:outline-none focus:ring-0 focus:shadow-none text-center bg-transparent" value="0" data-counter-input-target="value" />
                          <a href="#" class="btn btn-white rounded-full size-8 flex items-center justify-center p-0 cursor-pointer" data-action="click->counter-input#increment">
                            <%= icon "plus-small", class: "size-5 flex-shrink-0 stroke-current select-none pointer-events-none" %>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>

                  <div class="flex justify-between items-center pt-4">
                    <a href="#" data-action="click->railsui-dropdown#toggle" class="underline select-none">Cancel</a>
                    <input type="submit" value="Apply" class="btn btn-primary">
                  </div>
                </form>
              </div>
            </li>
          </ul>
        </div>

        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6 sm:py-16 py-10">
          <div>
            <h2 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">$289</h2>
            <p class="font-heading font-light text-zinc-700 text-sm dark:text-zinc-300">Average nightly rate</p>
          </div>
        </div>

        <div data-controller="insight-chart"
          data-insight-chart-data-value='[{"x": "10/11/2023", "y": 259 }, {"x": "10/16/2023", "y": 322 },{ "x": "10/23/2023", "y": 280 }, {"x": "10/30/2023", "y": 400 }, {"x": "11/6/2023", "y": 368 }, {"x": "11/9/2023", "y": 350 }, {"x": "11/13/2023", "y": 278 },{ "x": "11/16/2023", "y": 342 }]'
          data-insight-chart-name-value="Nightly rate" data-insight-chart-y-axis-max-value="548"
          data-insight-chart-y-axis-min-value="0" data-insight-chart-y-axis-denomination-value="$">
        </div>

        <h4 class="pt-16 text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">Properties</h4>

        <div class="flex items-center lg:space-x-10 space-x-5 font-medium text-zinc-700 py-4 border-b border-zinc-200 text-sm dark:text-zinc-300 dark:border-zinc-700">
          <div class="flex-1">Property</div>
          <div>Change</div>
          <div>Average</div>
        </div>

        <ul class="divide-y divide-zinc-200/80 dark:divide-zinc-800">
          <% [
            {
              title: "Cozy Mountain A-Frame",
              subtitle: "Nature's Nook",
              col_2: "$13.8",
              change_position: "down",
              image: "railsui/property-1.jpg",
              col_3: "$282"
            },
            {
              title: "Alpine Retreat Haven",
              subtitle: "The Haven",
              col_2: "$25.7",
              change_position: "up",
              image: "railsui/property-2.jpg",
              col_3: "$297"
            },
            {
              title: "Mountain Vista Chalet",
              subtitle: "The Mountain Majesty",
              col_2: "$13.5",
              change_position: "down",
              image: "railsui/property-3.jpg",
              col_3: "$301"
            }
          ].each do |insight| %>
            <li class="flex flex-wrap items-center justify-start space-y-3 md:space-y-0 py-6 md:py-4 lg:space-x-10 space-x-5">
              <div class="flex-1">
                <%= link_to "#", class: "flex md:items-center items-start gap-3" do %>
                  <%= image_tag insight[:image], alt: insight[:title], class: "w-16 h-10 rounded" %>
                  <div class="flex-1">
                    <h3 class="font-medium text-base leading-tight text-zinc-700 line-clamp-1 dark:text-zinc-50"><%= insight[:title] %></h3>
                    <h4 class="font-light text-sm text-zinc-500 leading-tight line-clamp-1 dark:text-zinc-300/80"><%= insight[:subtitle] %></h4>
                  </div>
                <% end %>
              </div>
              <% if insight[:change_position] == "up" %>
                <div class="text-sm text-green-600 flex items-center space-x-1">
                  <span class="flex-shrink-0">
                    <%= icon "chevron-up", class: "size-3" %>
                  </span>
                  <span><%= insight[:col_2] %></span>
                </div>
              <% else %>
                <div class="text-sm text-primary-600 flex items-center space-x-1">
                  <span><%= icon "chevron-down", class: "size-3" %></span>
                  <span><%= insight[:col_2] %></span>
                </div>
              <% end %>
              <div class="text-sm"><%= insight[:col_3] %></div>
            </li>
          <% end %>
        </ul>
      </div>
      <!-- end Nightly rate tab -->

    </div>
  </div>
</div>
