<div class="prose-lg mt-6 max-w-full dark:prose-invert prose-a:font-semibold prose-a:underline">
  <p><%= link_to "Heroicons", "https://heroicons.com/", target: :_blank %> are the default icons of choice for Rails UI. We chose these icons since they are open sourced, updated regularly, and cover a vast set of scenarios in the design world.</p>
</div>

<div class="my-6 divide-y divide-slate-100 rounded-lg shadow-xl shadow-slate-100/50 border border-slate-200">
  <details class="group p-4 marker:content-['']">
    <summary class="flex w-full cursor-pointer select-none justify-between text-left text-base font-semibold leading-7 text-slate-900 group-open:text-blue-600 [&::-webkit-details-marker]:hidden">
       <div><span class="bg-blue-500 text-white rounded-full px-3 py-1 font-semibold inline-block text-xs">Usage guide</span> <span class="ml-3">Icon usage guide</span></div>
      <%= icon "chevron-down", styles: "w-5 h-5 flex-none ml-4 mt-0.5 text-slate-600 group-open:text-blue-500 group-open:hidden block" %>
      <%= icon "chevron-up", styles: "w-5 h-5 flex-none ml-4 mt-0.5 text-slate-600 group-open:text-blue-500 group-open:block hidden" %>
    </summary>
    <article class="p-8 bg-blue-50/20 border-blue-100 border rounded-lg relative mt-6">
      <div class="absolute top-4 right-4">
        <%= doc_label(:tutorial) %>
      </div>
      <div class="prose prose-slate max-w-full dark:prose-invert prose-h4:text-xs prose-h4:font-bold prose-h4:uppercase prose-h4:tracking-wider prose-h4:text-indigo-700">
        <h3>Why SVG icons?</h3>
        <p>There are a lot of pros to using SVG icons rather than bitmap or font-based icons. The summarized take is they are more accessible, have lighter file sizes, and can scale infinitely, which is excellent for retina screens.</p>
        <p>The main downside is the way we have to render them in order to have more control. SVGs are essentially vector code and can be complex and cumbersome to drop into a new view whenever you require one. Because of this we bundled a helper into Rails UI that solves for icons.</p>

      <h3>Prerequisites</h3>

      <p class="mt-0">The complete Heroicons icon bundle is included with your theme's installation so there's no need to install those manually. You can find all icons inside the <%= code "app/assets/images/icons" %> directory. The icons folder contains solid and outline-based variants.</p>

      <p>As you build your application you may find that some designs call for a solid icon and others an outline icon. It's best to stick with a single variant per application, so if you use an outline icon in context, you should use outline icons going forward.</p>

      <h3>Dependencies</h3>

      <p>With Rails UI a handy <%= code "icon" %> helper is at your disposal which makes linking to and rendering SVG icons in your views a painless process.</p>

      <p>The <%= code "icon" %> helper leverages a gem called  <%= link_to "inline_svg", "https://github.com/jamesmartin/inline_svg", target: :_blank %> to render the SVG and pass some options along the way.</p>

    <p>Here is the helper source code for context:</p>
<div class="not-prose">
<% content_for :ruby, flush: true do %>
def icon(name, options={})
  options[:title] ||= name.underscore.humanize
  options[:aria] = true
  options[:nocomment] = true
  options[:variant] ||= :outline
  options[:class] = options.fetch(:styles, nil)

  filename = "icons/#{options[:variant]}/#{name}.svg"
  inline_svg_tag(filename, options)
end
<% end %>

<%= render_snippet active_tab: "ruby", ruby_filename: "application_helper.rb" %>
</div>
  <p>There are options you may pass. See all options <%= link_to "here", "https://github.com/jamesmartin/inline_svg#options", target: :_blank %> We've included a couple more custom options to make rendering icons a breeze.</p>

  <h4>Options</h4>
  <ul>
    <li><%= code ":title" %> &mdash; Add a <%= code" <title>" %> node inside the top level of the SVG document <em>(Enabled by default)</em>.</li>
    <li><%= code ":aria" %> &mdash; Adds common accessibility attributes to the SVG (Enabled by default).</li>
    <li>
      <%= code ":nocomment" %> &mdash; Remove comment tags from the SVG document (Enabled by default).
    </li>
    <li>
      <%= code ":variant" %> &mdash; Pass a style of icon you would like to render. (Defaults to <%= code ":outline" %>. Options include <%= code ":outline" %> or <%= code ":solid" %>).
    </li>
    <li>
      <%= code ":styles" %> &mdash; <%= code "class" %> is reserved for the <%= code "inline_svg" %> gem so we used <%= code "styles" %> an an alternate way to pass additional HTML classes to style the icon. <%= code "stroke-current" %> and <%= code "stroke-fill" %> are appended by default based on the <%= code ":variant" %> option in use.
    </li>

  </ul>
  <h3>Usage</h3>

  <p>Using and rendering a new icon is quite simple and doesn't pollute your markup. </p>

  <div class="not-prose">
    <% content_for :ruby, flush: true do %>

    <% end %>

<% content_for :erb, flush: true do %>
  <%%= icon "academic-cap", styles: "w-5 h-5 text-indigo-600" %>
<% end %>
  <%= render_snippet active_tab: "erb", erb_filename: "index.html.erb" %>
        </div>
      </div>
    </article>
  </details>
</div>

<div data-controller="smooth" class="relative">
  <div class="p-3 bg-white border-y border-slate-200">
    <p class="uppercase tracking-wide text-xs font-semibold mt-1  mb-1 text-indigo-600">Quicklinks</p>
    <p class="mb-3 text-xs text-slate-600">Quickly navigate to different icon variants below</p>

    <nav role="nav jump">
      <ul class="flex items-center space-x-3">
        <li>
          <a href="#icons-solid" data-action="click->smooth#scroll" class="text-sm py-1 px-3 rounded font-medium inline-block bg-white border border-slate-300 hover:shadow-sm hover:border-slate-400">Solid icons</a>
        </li>
        <li>
          <a href="#icons-outline"
          data-action="click->smooth#scroll" class="text-sm py-1 px-3 rounded font-medium inline-block bg-white border border-slate-300 hover:shadow-sm hover:border-slate-400">Outline icons</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="my-16">
    <%= render "railsui/shared/sticky_subhead", title: "Icons", subtitle: "Solid" %>

    <div class="mt-6 p-4 sm:p-8 bg-slate-50 rounded-lg border border-slate-200">
      <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-7 items-center justify-between sm:gap-4 gap-2 w-full">
      <% @icons.each do |icon| %>
        <div>
        <% name = icon.chomp('.svg') %>
          <div class="flex items-center justify-center h-24 w-24 rounded border shadow-sm bg-white relative group hover:shadow-indigo-500/20 hover:border-indigo-300" data-controller="clipboard">
            <%= render_svg name, title: name, styles: "fill-current text-slate-500 w-auto h-6 group-hover:transform group-hover:scale-125 transition ease-in-out duration-300 group-hover:text-indigo-500" %>
            <button class="block w-5 h-5 absolute right-1 bottom-1" type="button" data-action="click->clipboard#copy" aria-label="Copy icon label">
              <%= icon "square-2-stack", styles: "w-5 text-slate-400 opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 group-hover:text-indigo-500" %>
            </button>
            <span class="hidden" data-clipboard-target="source"><%= name.gsub("icons/solid/", "") %></span>
          </div>
          <div class="my-2 text-xs text-slate-600 truncate sm:max-w-[100px]"><%= name.gsub("icons/solid/", "") %></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="my-16">
    <%= render "railsui/shared/sticky_subhead", title: "Icons", subtitle: "Outline" %>

    <div class="mt-6 p-4 sm:p-8 bg-slate-50 rounded-lg border border-slate-200 flex justify-center">
      <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-7 items-center justify-between sm:gap-4 gap-2 w-full">
      <% @outline_icons.each do |icon| %>
        <div>
        <% name = icon.chomp('.svg') %>
          <div class="flex items-center justify-center h-24 w-24 rounded border shadow-sm bg-white relative group hover:shadow-indigo-500/20 hover:border-indigo-300" data-controller="clipboard">
            <%= render_svg name, title: name, styles: "stroke-current text-slate-500 w-auto h-6 group-hover:transform group-hover:scale-125 transition ease-in-out duration-300 group-hover:text-indigo-500" %>
            <button class="block w-5 h-5 absolute right-1 bottom-1" type="button" data-action="click->clipboard#copy" aria-label="Copy icon label">
              <%= icon "square-2-stack", styles: "w-5 text-slate-400 opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 group-hover:text-indigo-500" %>
            </button>
            <span class="hidden" data-clipboard-target="source"><%= name.gsub("icons/outline/", "") %></span>
          </div>
          <div class="my-2 text-xs text-slate-600 truncate sm:max-w-[100px]"><%= name.gsub("icons/outline/", "") %></div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
