<div id="tab-dark">
<%= render layout: example, locals: { heading: "Dark", section: "Tab" } do %>

<%= render preview("dark_zinc") do %>
<div data-controller="tabs"
    data-tabs-active-tab="py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500"
    data-tabs-inactive-tab="py-2 px-4 bg-transparent flex items-center space-x-3 whitespace-nowrap border-b border-zinc-700">

  <div class="border-zinc-700 border-b text-zinc-300 text-[15px]">
    <nav role="navigation" class="-mb-px flex items-center flex-wrap font-heading">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500">
        <%= icon "chat-bubble-oval-left-ellipsis", classes: "w-5 h-5" %>
        <span>Activity</span>
      </a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent">
        <%= icon "user-circle", classes: "w-5 h-5" %>
        <span>Account</span>
      </a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent">
        <%= icon "credit-card", classes: "w-5 h-5" %>
        <span>Billing</span>
      </a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent">
        <%= icon "users", classes: "w-5 h-5" %>
        <span>Team</span>
      </a>
    </nav>
  </div>
   <div class="p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Some activities...</p>
  </div>

  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Account information...</p>
  </div>

  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Billing information...</p>
  </div>
  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Team information...</p>
  </div>
</div>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div data-controller="tabs"
    data-tabs-active-tab="py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500"
    data-tabs-inactive-tab="py-2 px-4 bg-transparent flex items-center space-x-3 whitespace-nowrap border-b border-zinc-700">

  <div class="border-zinc-700 border-b text-zinc-300 text-[15px]">
    <nav role="navigation" class="-mb-px flex items-center flex-wrap font-heading">
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500">
        <%%= icon "chat-bubble-oval-left-ellipsis", classes: "w-5 h-5" %>
        <span>Activity</span>
      </a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent">
        <%%= icon "user-circle", classes: "w-5 h-5" %>
        <span>Account</span>
      </a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent">
        <%%= icon "credit-card", classes: "w-5 h-5" %>
        <span>Billing</span>
      </a>
      <a href="#" data-tabs-target="tab" data-action="click->tabs#change" class="py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent">
        <%%= icon "users", classes: "w-5 h-5" %>
        <span>Team</span>
      </a>
    </nav>
  </div>
   <div class="p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Some activities...</p>
  </div>

  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Account information...</p>
  </div>

  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Billing information...</p>
  </div>
  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Team information...</p>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div data-controller="tabs"
    data-tabs-active-tab="py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500"
    data-tabs-inactive-tab="py-2 px-4 bg-transparent flex items-center space-x-3 whitespace-nowrap border-b border-zinc-700">

  <div class="border-zinc-700 border-b text-zinc-300 text-[15px]">
    <nav role="navigation" class="-mb-px flex items-center flex-wrap font-heading">
      <%%= link_to "#", class: "py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500", data: { tabs_target: "tab", action: "click->tabs#change" } do %>
        <%%= icon "chat-bubble-oval-left-ellipsis", classes: "w-5 h-5" %>
        <span>Activity</span>
      <%% end %>
      <%%= link_to "#", class: "py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent", data: { action: "click->tabs#change", tabs_target: "tab" } do %>
        <%%= icon "user-circle", classes: "w-5 h-5" %>
        <span>Account</span>
      <%% end %>
      <%%= link_to "#", class: "py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent", data: { action: "click->tabs#change", tabs_target: "tab" } do %>
        <%%= icon "credit-card", classes: "w-5 h-5" %>
        <span>Billing</span>
      <%% end %>
      <%%= link_to "#", class: "py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent", data: { action: "click->tabs#change", tabs_target: "tab" } do %>
        <%%= icon "users", classes: "w-5 h-5" %>
        <span>Team</span>
      <%% end %>
    </nav>
  </div>
   <div class="p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Some activities...</p>
  </div>

  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Account information...</p>
  </div>

  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Billing information...</p>
  </div>
  <div class="hidden p-4 prose prose-zinc !prose-invert" data-tabs-target="panel">
    <p>Team information...</p>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
%div{"data-controller" => "tabs", "data-tabs-active-tab" => "py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500", "data-tabs-inactive-tab" => "py-2 px-4 bg-transparent flex items-center space-x-3 whitespace-nowrap border-b border-zinc-700"}
  .border-zinc-700.border-b.text-zinc-300{class: "text-[15px]"}
    %nav.-mb-px.flex.items-center.flex-wrap.font-heading{role: "navigation"}
      = link_to "#", class: "py-2 px-4 border-b border-primary-500 flex items-center space-x-3 whitespace-nowrap text-primary-500", data: { tabs_target: "tab", action: "click->tabs#change" } do
        = icon "chat-bubble-oval-left-ellipsis", classes: "w-5 h-5"
        %span Activity
      = link_to "#", class: "py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent", data: { action: "click->tabs#change", tabs_target: "tab" } do
        = icon "user-circle", classes: "w-5 h-5"
        %span Account
      = link_to "#", class: "py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent", data: { action: "click->tabs#change", tabs_target: "tab" } do
        = icon "credit-card", classes: "w-5 h-5"
        %span Billing
      = link_to "#", class: "py-2 px-4 flex items-center space-x-3 whitespace-nowrap border-b bg-transparent", data: { action: "click->tabs#change", tabs_target: "tab" } do
        = icon "users", classes: "w-5 h-5"
        %span Team
  .p-4.prose.prose-zinc{class: "!prose-invert", "data-tabs-target" => "panel"}
    %p Some activities...
  .hidden.p-4.prose.prose-zinc{class: "!prose-invert", "data-tabs-target" => "panel"}
    %p Account information...
  .hidden.p-4.prose.prose-zinc{class: "!prose-invert", "data-tabs-target" => "panel"}
    %p Billing information...
  .hidden.p-4.prose.prose-zinc{class: "!prose-invert", "data-tabs-target" => "panel"}
    %p Team information...
<% end %>

<% content_for :js, flush: true do %>
// Credits to @excid3 and crew
// https://github.com/excid3/tailwindcss-stimulus-components/graphs/contributors

import { Controller } from '@hotwired/stimulus'

export default class extends Controller {
  static targets = ['tab', 'panel']

  connect() {
    this.activeTabClasses = (this.data.get('activeTab') || 'active').split(' ')
    this.inactiveTabClasses = (this.data.get('inactiveTab') || 'inactive').split(' ')
    if (this.anchor) this.index = this.tabTargets.findIndex((tab) => tab.id === this.anchor)
    this.showTab()
  }

  change(event) {
    event.preventDefault()

    // If target specifies an index, use that
    if (event.currentTarget.dataset.index) {
      this.index = event.currentTarget.dataset.index

    // If target specifies an id, use that
    } else if (event.currentTarget.dataset.id) {
      this.index = this.tabTargets.findIndex((tab) => tab.id == event.currentTarget.dataset.id)

    // Otherwise, use the index of the current target
    } else {
      this.index = this.tabTargets.indexOf(event.currentTarget)
    }

    window.dispatchEvent(new CustomEvent('tsc:tab-change'))
  }

  showTab() {
    this.tabTargets.forEach((tab, index) => {
      const panel = this.panelTargets[index]

      if (index === this.index) {
        panel.classList.remove('hidden')
        tab.classList.remove(...this.inactiveTabClasses)
        tab.classList.add(...this.activeTabClasses)

        // Update URL with the tab ID if it has one
        // This will be automatically selected on page load
        if (tab.id) {
          location.hash = tab.id
        }
      } else {
        panel.classList.add('hidden')
        tab.classList.remove(...this.activeTabClasses)
        tab.classList.add(...this.inactiveTabClasses)
      }
    })
  }

  get index() {
    return parseInt(this.data.get('index') || 0)
  }

  set index(value) {
    this.data.set('index', (value >= 0 ? value : 0))
    this.showTab()
  }

  get anchor() {
    return (document.URL.split('#').length > 1) ? document.URL.split('#')[1] : null;
  }
}
<% end %>

<%= render_snippet html_filename: "tabs.html", erb_filename: "_tabs.html.erb", haml_filename: "_tabs.html.haml", js_filename: "tabs_controller.js" %>
<% end %>
<% end %>
</div>
