<nav class="navbar navbar-light bg-white navbar-expand-lg">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag Railsui.theme_logo_url, alt: "#{Railsui.config.theme.humanize} logo", class: "logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="<%= "##{Railsui.config.theme}Nav" %>"
      aria-controls="<%= "##{Railsui.config.theme}Nav" %>" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="retrieverNav">
      <ul class="navbar-nav justify-content-start flex-grow-1">
        <%= render "shared/nav_links" %>
      </ul>

      <ul class="navbar-nav justify-content-end">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= nav_link_to "Account", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, class: "nav-link bg-transparent border-0", method: :delete, data: { turbo: false } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= nav_link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= nav_link_to "Get started", new_user_registration_path, role: "button", class: "btn btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
