<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Tooltips", subtitle: "Usage" %>

  <div class="prose dark:prose-invert mb-6">
    <p>Using the <%= code('data-bs-toggle="tooltip"') %> attribute you can enable tooltips on nearly any element. Pass tooltip content to an additional data attribute titled <%= code('data-bs-title="My copy here"') %>.</p>
  </div>

  <div class="rui dark:p-6 dark:rounded-lg">
    <p class="muted mb-0">Placeholder text to demonstrate some <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip">inline links</a> with tooltips.</p>
  </div>

<% content_for :html, flush: true do %>
<p class="muted">Placeholder text to demonstrate some <a href="#" data-bs-toggle="tooltip" data-bs-title="Default tooltip">inline links</a> with tooltips.
<% end %>

<% content_for :erb, flush: true do %>
<p class="muted">Placeholder text to demonstrate some <%= link_to "inline links", "#", data: { bs_toggle: "tooltip", bs_title: "Default tooltip" } %> with tooltips.</p>
<% end %>

<% content_for :haml, flush: true do %>
%p.muted
  Placeholder text to demonstrate some #{link_to "inline links", "#", data: { bs_toggle: "tooltip", bs_title: "Default tooltip" }} with tooltips.
<% end %>

<% content_for :js, flush: true do %>

<% end %>
<%= render_snippet %>
</div>
