
<div id="icons-overview">
<div class="prose prose-neutral mt-6 max-w-full dark:prose-invert prose-a:font-semibold prose-a:underline">
  <p><%= link_to "Heroicons", "https://heroicons.com/", target: :_blank %> are the default icons of choice for Rails UI. We chose these icons since they are open sourced, updated regularly, and cover a vast set of scenarios in the design world.</p>
</div>

<%= render "railsui/shared/usage_guide", title: "Icon usage guide" do %>

<h3>Why SVG icons?</h3>

<p>There are a lot of pros to using SVG icons rather than bitmap or font-based icons. The summarized take is they are more accessible, have lighter file sizes, and can scale infinitely, which is excellent for retina screens.</p>

<p>The main downside is the way we have to render them in order to have more control. SVGs are essentially vector code and can be complex and cumbersome to drop into a new view whenever you require one. Because of this we bundled another gem called <a href="https://github.com/getrailsui/railsui_icon" target="_blank">railsui_icon</a> into Rails UI that solves for icons.</p>

<h3>Dependencies</h3>

<p><a href="https://github.com/getrailsui/railsui_icon" target="_blank">railsui_icon</a> contains all of <a href="https://heroicons.com">heroicons.com</a> with plans to expand. The gem is already included as a dependency for each Rails UI installation.</p>

<h4 class="dark:text-slate-200">Options</h4>
<ul>
  <li>
    <code>:variant</code> &mdash; Pass a style of icon you would like to render. (Defaults to <code>:outline</code>. Options include <code>:outline</code>,<code>:solid</code>, <code>:micro</code>, and <code>:mini</code>).
  </li>
  <li>
    <code>:class</code> &mdash; Add CSS classes here. <code>stroke-current</code> and <code>stroke-fill</code> are appended by default based on the <code>:variant</code> option.
  </li>
  <li>
    <code>:custom_path</code> &mdash; Pass a custom path to an icon. Treat paths as relative. A forward slash prefix is required: <code>/icon_name.svg</code>.
  </li>
</ul>

<h3>Usage</h3>

<p>Using and rendering a new icon is quite simple and doesn't pollute your markup. The default style is outline but you can render different variants as necessary. </p>

<div class="not-prose">
<% content_for :bash, flush: true do %>

<% end %>

<% content_for :ruby, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
  <%%= icon "academic-cap", class: "w-5 h-5 text-indigo-600" %>
<% end %>
<%= render_snippet active_tab: "erb", erb_filename: "index.html.erb" %>
  </div>

  <h3>Custom icons</h3>
  <p>Need to add some of your own icons? You can add those to <code>app/assets/images</code>.</p>

  <p>If you require something more custom, use the <code>custom_path</code> option to pass a unique path to the helper for rendering. Treat paths as relative. A forward slash prefix is required: <code>/icon_name.svg</code>.</p>

<div class="not-prose">
<% content_for :bash, flush: true do %>

<% end %>

<% content_for :ruby, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
  <%%= icon "eye-close", custom_path: "/eye-close.svg", class: "w-10 h-10 stroke-current text-pink-400" %>
<% end %>
<%= render_snippet active_tab: "erb" %>
</div>
<% end %>
</div>

<div id="icons-solid" class="my-10">
  <div class="mb-6">
    <%= render "railsui/shared/code_example_heading", title: "Icons", subtitle: "Solid" %>
  </div>

    <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-7 items-center justify-between sm:gap-4 gap-2 w-full">
    <% @icon_names.each do |icon_name| %>
      <div>
        <div class="flex items-center justify-center size-20 rounded border shadow-sm bg-white relative group hover:shadow-primary-500/20 hover:border-primary-300 dark:bg-neutral-900 dark:border-neutral-700/80 dark:shadow-neutral-500/20" data-controller="railsui-clipboard">
          <%= icon icon_name, class: "fill-current text-slate-500 w-auto h-6 group-hover:transform group-hover:scale-125 transition ease-in-out duration-300 group-hover:text-primary-500 dark:text-white dark:group-hover:text-white", variant: :solid %>
          <button class="block w-5 h-5 absolute right-1 bottom-1" type="button" data-action="click->railsui-clipboard#copy" aria-label="Copy icon label">
            <%= icon "square-2-stack", class: "w-5 dark:text-slate-200 text-slate-400 opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 group-hover:text-primary-500 dark:group-hover:text-primary-300" %>
          </button>
          <span class="hidden" data-railsui-clipboard-target="content"><%= icon_name %></span>
        </div>
        <div class="my-2 text-xs text-neutral-600 dark:text-neutral-100 truncate sm:max-w-[100px]"><%= icon_name %></div>
      </div>
    <% end %>
  </div>
</div>

<div id="icons-outline" class="my-10">
  <div class="mb-6">
    <%= render "railsui/shared/code_example_heading", title: "Icons", subtitle: "Outline" %>
  </div>

    <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-7 items-center justify-between sm:gap-4 gap-2 w-full">
    <% @icon_names.each do |icon_name| %>
      <div>
        <div class="flex items-center justify-center size-20 rounded border shadow-sm bg-white relative group hover:shadow-primary-500/20 hover:border-primary-300 dark:bg-neutral-900 dark:border-neutral-700/80 dark:shadow-neutral-500/20" data-controller="railsui-clipboard">
          <%= icon icon_name, class: "stroke-current text-slate-500 w-auto h-6 group-hover:transform group-hover:scale-125 transition ease-in-out duration-300 group-hover:text-primary-500 dark:text-white dark:group-hover:text-white" %>
          <button class="block w-5 h-5 absolute right-1 bottom-1" type="button" data-action="click->railsui-clipboard#copy" aria-label="Copy icon label">
            <%= icon "square-2-stack", class: "w-5 dark:text-slate-200 text-slate-400 opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 group-hover:text-primary-500 dark:group-hover:text-primary-300" %>
          </button>
          <span class="hidden" data-railsui-clipboard-target="content">"<%= icon_name %></span>
        </div>
        <div class="my-2 text-xs text-neutral-600 dark:text-neutral-100 truncate sm:max-w-[100px]"><%= icon_name %></div>
      </div>
    <% end %>
    </div>
</div>

<%= system_pagination(prev_path: systems_content_table_path, prev_text: "Table", next_path: systems_content_image_path, next_text: "Image") %>

<%= content_for :component_nav do %>
  <%= render layout: "railsui/shared/component_nav", locals: { title: "On this page" } do %>
    <%= component_link "Overview", "#icons-overview" %>
    <%= component_link "Solid", "#icons-solid" %>
		<%= component_link "Outline", "#icons-outline" %>
  <% end %>
<% end %>
