<div class="prose prose-neutral dark:prose-invert mb-16">
  <div id="mailers-overview">
    <p>There are many email programs out there. Each one handles CSS and HTML differently. Rails UI works with most of them, using some clever tricks to make your emails look good.</p>
  </div>
</div>

<div id="mailers-styling-considerations" class="prose prose-neutral dark:prose-invert mb-16">
  <h3>How to Style Your Emails</h3>

  <p>It's best to inline your CSS directly in your email. Tailwind CSS doesn't work this way. That's why we put all the CSS in the <%= link_to "mailer layout template",  systems_mailers_layout_path %>.</p>

  <p>If you want to use a separate CSS file, I suggest using a tool like <%= link_to "premailer", "https://github.com/premailer/premailer" %>. This tool inlines your CSS directly in your email, so it renders properly.</p>
</div>

<div id="mailers-helpers" class="prose prose-neutral dark:prose-invert mb-16">
  <h2>Helpful Tools</h2>

  <p>Rails UI comes with a small helper called <code>MailHelper</code>. This helper module makes it easier to add buttons and space between parts of your email. These things can be tricky in emails, so the helper saves you time.</p>
</div>

<div id="mailers-spacers" class="prose prose-neutral dark:prose-invert mb-16">
  <h3>Adding Space</h3>

  <p>The spacer helper adds space between parts of your email. It uses a table to do this, which works better than CSS-driven spacing in many email clients.</p>

<p>Pass a number to the helper to denote the amount of spacing you require.</p>

<div class="not-prose">
<% content_for :html, flush: true do %>
<!-- compiled output -->
<p>Some text...</p>
<table class="spacer">
  <tbody>
    <tr>
      <td height="16" style="font-size:16px;line-height:16px;">&nbsp;</td>
    </tr>
  </tbody>
</table>
<p>Another paragraph</p>
<% end %>
<% content_for :erb, flush: true do %>
<p>Some text....</p>
<%%= spacer(16) %>
<p>Another paragraph</p>
<% end %>

<%= render_snippet(active_tab: "erb") %>
</div>
</div>

<div id="mailers-buttons" class="mb-16">
    <div class="prose prose-neutral dark:prose-invert">
      <h3 class="font-bold text-xl mb-3">Buttons</h3>
      <div class="primary dark:primary-invert">
        <p>To make adding buttons to emails easier, we created a helper called <%= code("email_action") %>. This helper takes two main pieces of information and some extra options to customize the button.</p>

        <p>Rails UI has two button styles (primary and secondary). You can change these styles in the <%= link_to "mailer layout", systems_mailers_layout_path %> css. </p>
      </div>
    </div>
    <div class="mt-5 mb-8 first:mt-0 last:mb-0 bg-slate-800 rounded-xl shadow-lg overflow-hidden dark:ring-1 dark:ring-white/10 dark:ring-inset selection:bg-salmon-500 selection:bg-opacity-25 relative text-slate-200 p-6">
      <code class="text-white text-lg">email_action(action, path, options)</code>
      <h4 class="uppercase text-xs text-slate-400 font-semibold tracking-wider my-4 pb-2 border-b border-slate-700">Required information</h4>
      <ul class="space-y-2">
        <li>
          <p><code class="text-pink-400 font-mono font-semibold">action</code>  <em class="text-slate-400">- required</em></p>
          <p>The text on the button</p>
        </li>
        <li>
          <p><code class="text-pink-400 font-mono font-semibold">path</code> <em class="text-slate-400">- required</em></p>
          <p>The link for the button. Use url helpers, not path helpers, in an email </p>
        </li>
      </ul>
      <h4 class="uppercase text-xs text-slate-400 font-semibold tracking-wider my-4 pb-2 border-b border-slate-700">Extra options</h4>
      <ul class="space-y-2">
        <li>
          <p><code class="text-pink-400 font-mono font-semibold">theme</code></p>
          <p>
            Choose <span class="font-medium text-sky-400 font-mono">primary</span> or <span class="font-medium text-sky-400 font-mono">secondary</span>. If you don't choose, it will be <span class="font-medium text-sky-400 font-mono">primary</span>.
          </p>
        </li>
        <li>
          <p><code class="text-pink-400 font-mono font-semibold">align</code></p>
          <p>Put the button in the
            <span class="font-medium text-sky-400 font-mono">center</span>, <span class="font-medium text-sky-400 font-mono">left</span>, or <span class="font-medium text-sky-400 font-mono">right</span>.
            If you don't choose, it will be on the <span class="font-medium text-sky-400 font-mono">left</span>
          </p>
        </li>
        <li>
          <p><code class="text-pink-400 font-mono font-semibold">fullwidth</code></p>
          <p>Choose <span class="font-medium text-sky-400 font-mono">true</span> or <span class="font-medium text-sky-400 font-mono">false</span>
          </p>
        </li>
      </ul>
    </div>

<% content_for :erb, flush: true do %>
<!-- all available options shown in use -->
<%%= email_action("View notification", root_url, theme: "primary", align: "center") %>
<% end %>

<% content_for :html, flush: true do %>
<!-- what outputs from mail_action -->
<table class="action" align="center">
  <tr>
    <td align="center">
      <a href="<%= root_url %>" class="action__link  action__link--primary" target="_blank">View notification</a>
      <div itemscope itemtype="http://schema.org/EmailMessage">
        <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
          <link itemprop="target" href="#"/>
          <meta itemprop="name" content="View notification"/>
        </div>
      </div>
    </td>
  </tr>
</table>
<% end %>

<%= render_snippet(active_tab: "erb" ) %>
</div>

<div id="mailers-callouts">
<div class="prose prose-neutral dark:prose-invert">
  <h3>Callouts</h3>
  <p>Callouts help you highlight important information in an email. Rails UI has a simple helper that lets you add callouts easily. You can add your content and basic HTML to format it. You can change how callouts look in the <%= link_to "mailer layout", systems_mailers_layout_path %> CSS.</p>
</div>

<%= email_viewer("Callout example") do %>
  <%= render layout: "railsui/themes/#{Railsui.config.theme.downcase}/mailers/mailer_preview" do %>
    <h3>He made many woofs</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <p>Facere provident quia eaque dolor. Saepe consequatur illum laborum suscipit ex accusantium exercitationem dolores, aliquid mollitia recusandae ipsa iusto quas, deleniti aut.</p>

    <table class="callout">
      <tbody>
        <td>
          <p>This is my neat email callout.</p>
        </td>
      </tbody>
    </table>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur veritatis quibusdam molestias nam culpa quasi facere nulla. Nisi, eius magni, tempora cupiditate atque sed optio iure necessitatibus ad minus ratione?</p>
  <% end %>
<% end %>

<% content_for :html, flush: true do %>
<table class="callout">
  <tbody>
    <td>
      <p>This is my neat email callout.</p>
    </td>
  </tbody>
</table>
<% end %>

<% content_for :erb, flush: true do %>
<%%= email_callout do %>
  <p>This is my neat email callout.</p>
<%% end %>
<% end %>

<%= render_snippet(active_tab: "erb" ) %>
</div>

<div id="mailers-templates" class="mb-16">
<div class="prose prose-neutral dark:prose-invert mt-8 mb-6">
  <h3>Templates</h3>
</div>

<%= render layout: "railsui/shared/linkables" do %>
  <%= render "railsui/shared/linkable", path: systems_mailers_layout_path, title: "Layout", description: "The main structure of your emails." %>

  <%= render "railsui/shared/linkable", path: systems_mailers_minimal_path, title: "Minimal", description: "A basic starting point for HTML emails." %>

  <%= render "railsui/shared/linkable", path: systems_mailers_promotion_path, title: "Promotion", description: "A simple design for promotional emails." %>

  <%= render "railsui/shared/linkable", path: systems_mailers_transactional_path, title: "Transactional", description: "The most common type of email for most apps" %>

  <%= render "railsui/shared/linkable", path: systems_mailers_devise_path, title: "Devise", description: "Ready-to-use templates for Devise." %>
<% end %>
</div>

<%= content_for :component_nav do %>
  <%= render layout: "railsui/shared/component_nav", locals: { title: "On this page" } do %>
    <%= component_link "Overview", "#mailers-overview" %>
    <%= component_link "How to Style Your Emails", "#mailers-styling-considerations" %>
    <%= component_link "Helpful Tools", "#mailers-helpers" %>
    <%= component_link "Adding Space", "#mailers-spacers" %>
    <%= component_link "Buttons", "#mailers-buttons" %>
    <%= component_link "Callouts", "#mailers-callouts" %>
    <%= component_link "Templates", "#mailers-templates" %>
  <% end %>
<% end %>
