<div id="modal-single-action">
<%= render layout: example, locals: { heading: "Single action", section: "Modal" } do %>
<div class="bg-black/80 flex items-center jusity-center p-10 rounded-t-lg dark:bg-slate-800 dark:border-t dark:border-x dark:border-slate-600">
  <div class="rounded mx-auto shadow-xl max-w-xs bg-white m-1 p-8 origin-bottom text-center dark:bg-slate-700 dark:text-slate-200 text-slate-600">
    <div class="flex justify-center">
      <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
        <%= icon "rocket-launch", class: "size-6 text-emerald-600 flex-shrink-0" %>
      </div>
    </div>

    <h3 id="single-action-modal-title" class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Time to launch</h3>

    <div class="prose prose-slate dark:prose-invert mt-2 mb-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <button class="btn btn-primary w-full">Launch away</button>
  </div>
</div>

<div data-controller="railsui-modal">
  <div class="flex justify-center p-6 border-x border-b border-slate-200 rounded-b-lg relative dark:bg-slate-700 dark:border-slate-600 dark:border-t">
    <div class="absolute top-4 left-4">
      <%= doc_label :demo %>
    </div>
    <button type="button" data-action="click->railsui-modal#open:prevent" class="btn btn-primary" tabindex="0">
      Open single action modal
    </button>
  </div>
  <div
    aria-labelledby="single-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-action="keyup@window->railsui-modal#closeWithEsc"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded mx-auto shadow-xl max-w-xs bg-white m-1 p-8 origin-bottom text-center dark:bg-slate-700 dark:text-slate-200 text-slate-600">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%= icon "rocket-launch", class: "size-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>

        <h3 id="single-action-modal-title" class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Time to launch</h3>

        <div class="prose prose-slate dark:prose-invert mt-2 mb-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <button type="button" class="btn btn-primary w-full" data-action="click->railsui-modal#close">Launch away</button>
      </div>
    </div>
  </div>
</div>

<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>
<div data-controller="railsui-modal">
  <button type="button" data-action="click->railsui-modal#open" class="btn btn-primary" tabindex="0">
    Open single action modal
  </button>

  <div
    aria-labelledby="single-action-modal-title"
    aria-modal="true"
    data-railsui-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-railsui-modal-target="content"
      data-action="keyup@window->railsui-modal#closeWithEsc"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded mx-auto shadow-xl max-w-xs bg-white m-1 p-8 origin-bottom text-center dark:bg-slate-700 dark:text-slate-200 text-slate-600">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%%= icon "rocket-launch", class: "size-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>

        <h3 id="single-action-modal-title" class="text-2xl font-extrabold text-slate-900 dark:text-slate-100 tracking-tight">Time to launch</h3>

        <div class="prose prose-slate dark:prose-invert mt-2 mb-6">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <button type="button" class="btn btn-primary w-full" data-action="click->railsui-modal#close">Launch away</button>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
%div{"data-controller" => "railsui-modal"}
  %button.btn.btn-primary{"data-action" => "click->railsui-modal#open", tabindex: "0", type: "button"}
    Open single action modal
  .hidden.fixed.inset-0.z-50.overflow-y-auto{"aria-labelledby" => "single-action-modal-title", "aria-modal" => "true", "data-railsui-modal-target" => "container", role: "dialog"}
    .h-screen.w-full.relative.flex.items-center.justify-center
      .hidden.rounded.mx-auto.shadow-xl.max-w-xs.bg-white.m-1.p-8.origin-bottom.text-center.dark:bg-slate-700.dark:text-slate-200.text-slate-600{"data-action" => "keyup@window->railsui-modal#closeWithEsc", "data-railsui-modal-target" => "content", "data-transition-enter-active" => "transition ease-out duration-300", "data-transition-enter-from" => "transform opacity-0 scale-95", "data-transition-enter-to" => "transform opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-300", "data-transition-leave-from" => "transform opacity-100 scale-100", "data-transition-leave-to" => "transform opacity-0 scale-95"}
        .flex.justify-center
          .w-12.h-12.rounded-full.bg-emerald-50.flex.items-center.justify-center.mb-3
            = icon "rocket-launch", class: "size-6 text-emerald-600 flex-shrink-0"
        %h3#single-action-modal-title.text-2xl.font-extrabold.text-slate-900.dark:text-slate-100.tracking-tight Time to launch
        .prose.prose-slate.dark:prose-invert.mt-2.mb-6
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        %button.btn.btn-primary.w-full{"data-action" => "click->railsui-modal#close", type: "button"} Launch away
<% end %>

<% content_for :js, flush: true do %>
import { RailsuiModal } from 'railsui-stimulus'

application.register('railsui-modal', RailsuiModal)
<% end %>

<%= render_snippet(js_filename: "index.js") %>
<% end %>
<% end %>
</div>
