<%= render layout: example, locals: { heading: "Confirmation", section: "Authentication" } do %>
  <div class=" border border-neutral-200 rounded-3xl overflow-hidden dark:border-neutral-700">
  <div class="flex min-h-screen bg-white dark:bg-neutral-900">
    <%= render "rui/shared/flash" %>
    <div class="flex items-center justify-center w-full px-6 lg:w-5/12">
      <div class="w-full max-w-sm space-y-8">
        <div class="flex flex-col items-center justify-center gap-4">
          <%= link_to root_path, class: "flex items-center gap-2.5 shrink-0" do %>
            <!-- Corgie logo -->
            <%= icon "logo.svg", custom_path: "/railsui/logo.svg", class: "size-6 fill-current", variant: :solid %>

            <span class="h4 font-semibold">Corgie</span>
          <% end %>

          <% if content_for?(:title) %>
            <p class="text-neutral-500 dark:text-neutral-400">
              <%= yield :title %>
            </p>
          <% end %>
        </div>

        <%= form_with(url: "#", builder: Railsui::FormBuilder) do |f| %>
          <%= f.form_group do %>
            <%= f.email_field :email, label: "Email", placeholder: "Enter email", required: true %>
          <% end %>

          <%= f.submit "Resend confirmation instructions", class: "w-full btn btn-lg btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="relative hidden overflow-hidden lg:flex lg:w-7/12 bg-neutral-950">
      <%= image_tag "railsui/auth-bg.jpg", alt: "Authentication visual with pulse animation", class: "absolute inset-0 object-cover w-full h-full opacity-20 animate-auth-ambient" %>
    </div>
  </div>
</div>


<% content_for :example, flush: true do %>
<% content_for :html, flush: true do %>

<% end %>

<% content_for :erb, flush: true do %>
<!-- app/views/devise/confirmations/new.html.erb -->
<%% content_for :title, "Resend confirmation instructions" %>

<%%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, builder: Railsui::FormBuilder) do |f| %>
  <%%= render "rui/shared/error_messages", resource: f.object %>

  <%%= f.form_group do %>
    <%%= f.email_field :email, label: "Email", placeholder: "Enter email", required: true %>
  <%% end %>

  <%%= f.submit "Resend confirmation instructions", class: "btn btn-primary w-full" %>
<%% end %>
<% end %>


<%= render_snippet active_tab: "erb", erb_filename: "new.html.erb" %>
<% end %>
<% end %>

<%= system_pagination(prev_path: systems_authentication_devise_reset_password_path, prev_text: "Reset password", next_path: systems_authentication_devise_edit_path, next_text: "Edit account") %>
