<div class="mb-16 mt-6">
  <div class="prose-lg prose-slate max-w-full mb-6 dark:prose-invert">
    <p>Provide contextual feedback messages for typical user actions with the handful of flexible alert messages.</p>
  </div>

<% path = "railsui/themes/tailwind/hound/components/alerts" %>

<%= render "#{path}/with_description" %>
<%= render "#{path}/with_list" %>
<%= render "#{path}/with_actions" %>
<%= render "#{path}/with_accent_border" %>
<%= render "#{path}/dismissable" %>




