<div class="mb-16 mt-6">
  <div class="prose-2xl font-light mb-6 dark:prose-invert">
    <p>Button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more. Add spacing modifier classes to offset buttons as necessary.</p>
  </div>

<%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Base" %>

<div class="prose dark:prose-invert mb-6 max-w-full">
  <p>Buttons come as predefined components for rapid reusability. Every button will require a <%= code_inline(".btn") %> class.</p>
  <p>Add <%= code_inline(".btn-primary") %>, <%= code_inline(".btn-dark") %>, <%= code_inline(".btn-light") %>, <%= code_inline("btn-white") %>, or <%= code_inline(".btn-link") %> to a given button to adopt a style of your choosing. You may extend the styles by adding additional CSS to the file inside <%= code_inline("app/assets/stylesheets/custom/buttons.css") %>.</p>
</div>

<div class="my-6">
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-dark">Dark</button>
  <button type="button" class="btn btn-light">Light</button>
  <button type="button" class="btn btn-white">White</button>
  <button type="button" class="btn btn-link">Link</button>
</div>

<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-white">White</button>
<button type="button" class="btn btn-link">Link</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Primary", type: "button", class: "btn btn-primary" %>
<%%= button_tag "Dark", type: "button", class: "btn btn-dark" %>
<%%= button_tag "Light", type: "button", class: "btn btn-light" %>
<%%= button_tag "Light", type: "button", class: "btn btn-white" %>
<%%= button_tag "Link", type: "button", class: "btn btn-link" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Primary", type: "button", class: "btn btn-primary"
= button_tag "Light", type: "button", class: "btn btn-light"
= button_tag "Dark", type: "button", class: "btn btn-dark"
= button_tag "Dark", type: "button", class: "btn btn-white"
= button_tag "Link", type: "button", class: "btn btn-link"
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Outline" %>

  <div class="prose dark:prose-invert mb-6 max-w-full">
    <p>Use outline buttons for less bold treatment and areas that benefit from a dark or lighter background color. Add the <%= code_inline(".btn-outline") %> class to each theme-able button to achieve the outlined effect.</p>
  </div>

<button type="button" class="btn btn-primary btn-outline">Primary</button>
<button type="button" class="btn btn-dark btn-outline">Dark</button>
<button type="button" class="btn btn-light btn-outline">Light</button>
<div class="bg-slate-700 px-2 py-1 inline-block rounded">
  <button type="button" class="btn btn-white btn-outline">White</button>
</div>


<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary btn-outline">Primary</button>
<button type="button" class="btn btn-dark btn-outline">Dark</button>
<button type="button" class="btn btn-light btn-outline">Light</button>
<button type="button" class="btn btn-white btn-outline">White</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Primary", type: "button", class: "btn btn-primary btn-outline" %>
<%%= button_tag "Dark", type: "button", class: "btn btn-dark btn-outline" %>
<%%= button_tag "Light", type: "button", class: "btn btn-light btn-outline" %>
<%%= button_tag "White", type: "button", class: "btn btn-white btn-outline" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Primary", type: "button", class: "btn btn-primary btn-outline"
= button_tag "Dark", type: "button", class: "btn btn-dark btn-outline"
= button_tag "Light", type: "button", class: "btn btn-light btn-outline"
= button_tag "White", type: "button", class: "btn btn-white btn-outline"
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Sizes" %>

  <div class="prose dark:prose-invert mb-6">Choose from two additional buttons sizes outside of the default <%= code_inline(".btn") %> class (<%= code_inline(".btn-lg") %>, <%= code_inline(".btn-sm") %>) or customize size with additional Tailwind CSS classes.</div>


<div class="my-6">
  <button type="button" class="btn btn-primary btn-lg">Large button</button>
  <button type="button" class="btn btn-primary">Base button</button>
  <button type="button" class="btn btn-primary btn-sm">Small button</button>
</div>


<% content_for :html, flush: true do %>
<button type="button" class="btn btn-primary btn-lg">Large button</button>
<button type="button" class="btn btn-primary">Base button</button>
<button type="button" class="btn btn-primary btn-sm">Small button</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Large button", type: "button", class: "btn btn-primary btn-lg" %>
<%%= button_tag "Base Button", type: "button", class: "btn btn-primary" %>
<%%= button_tag "Small button", type: "button", class: "btn btn-primary btn-sm" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Large button", type: "button", class: "btn btn-primary btn-lg"
= button_tag "Base Button", type: "button", class: "btn btn-primary"
= button_tag "Small button", type: "button", class: "btn btn-primary btn-sm"
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Buttons", subtitle: "Expanded display" %>

  <div class="prose dark:prose-invert mb-6">
    <p>If you need a button to span fullwidth add the appropriate Tailwind CSS width and margin classes to existing button classes.</p>
  </div>

<button class="btn btn-primary w-full" type="button">Expanded button</button>

<% content_for :html, flush: true do %>
<button class="btn btn-primary w-full" type="button">Expanded button</button>
<% end %>

<% content_for :erb, flush: true do %>
<%%= button_tag "Expanded button", type: "button", class: "btn btn-primary w-full" %>
<% end %>

<% content_for :haml, flush: true do %>
= button_tag "Expanded button", type: "button", class: "btn btn-primary w-full"
<% end %>
<%= render_snippet %>
</div>

