<div class="mb-16 mt-6">
  <div class="prose-2xl font-light dark:prose-invert mb-6">
    <p>Flexible and extensible content containers with multiple variants and options.</p>
  </div>

  <div class="prose prose-lg dark:prose-invert mb-6">
    <p>Cards include options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.</p>
  </div>

  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "Base" %>

  <div class="bg-slate-50 p-6 rounded shadow-inner">
    <div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
      <h4>Card title</h4>
      <p class="py-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

<% content_for :html, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
  <h4>Card title</h4>
  <p class="py-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
<% end %>

<% content_for :erb, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
  <h4>Card title</h4>
  <p class="py-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
</div>
<% end %>

<% content_for :haml, flush: true do %>
.rounded-lg.shadow-lg.bg-white.p-6.shadow-slate-300/70
  %h4 Card title
  %p.py-2 Some quick example text to build on the card title and make up the bulk of the card's content.
<% end %>
<%= render_snippet %>

</div>
<%# Card - Header + Footer %>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "Card with header" %>

  <div class="bg-slate-50 p-6 rounded shadow-inner">
    <div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
      <header class="-mx-6 border-b border-slate-200 px-6 pb-4 mb-4">
        <h3 class="h5">Job postings</h3>
        <p class="text-slate-500">Lorem ipsum dolor sit amet, consectetur adipisicin.</p>
      </header>
      <ul class="divide-y divide-slate-100 last-child:pb-0 opacity-25 pointer-events-none select-none">
        <li class="flex justify-between items-center py-3 -mx-6 px-6">
          <div>
            <a href="#" class="btn-link">Ruby Developer</a>
              <div class="flex items-center space-x-2 text-slate-500 text-sm py-1">
                <%= icon "users", styles: "w-5 h-5 text-slate-400" %>
                <p>Engineering</p>
              </div>
          </div>
          <div class="flex flex-col items-end">
            <div>
              <span class="bg-emerald-100 text-emerald-700 font-semibold px-2 py-px rounded-lg text-xs">Full-time</span>
            </div>
            <div class="flex items-center space-x-2 text-slate-500 text-sm py-1">
              <%= icon "map", styles: "w-5 h-5 text-slate-400" %>
              <p>Remote</p>
            </div>
          </div>
        </li>
        <li class="flex justify-between items-center pt-3 -mx-6 px-6">
          <div>
            <a href="#" class="btn-link">Front-end Developer</a>
              <div class="flex items-center space-x-2 text-slate-500 text-sm">
                <%= icon "users", styles: "w-5 h-5 text-slate-400" %>
                <p>Engineering</p>
              </div>
          </div>
          <div class="flex flex-col items-end">
            <div>
              <span class="bg-emerald-100 text-emerald-700 font-semibold px-2 py-px rounded-lg text-xs">Full-time</span>
            </div>
            <div class="flex items-center space-x-2 text-slate-500 text-sm py-1">
              <%= icon "map", styles: "w-5 h-5 text-slate-400" %>
              <p>Remote</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


<% content_for :html, flush: true do %>
<div class="rounded-lg shadow-lg shadow-slate-300/70 bg-white p-6">
  <header class="-mx-6 border-b border-slate-200 px-6 pb-4  mb-4">
    <h3 class="h5">Job postings</h3>
    <p class="text-slate-500">Lorem ipsum dolor sit amet, consectetur adipisicin.</p>
  </header>
  <!-- content -->
</div>
<% end %>

<% content_for :erb, flush: true do %>

<% end %>

<% content_for :haml, flush: true do %>
.rounded-lg.shadow-lg.bg-white.p-6.shadow-slate-300/70
  %header.-mx-6.border-b.border-slate-200.px-6.pb-4.mb-4
    %h3.h5 Job postings
    %p.text-slate-500 Lorem ipsum dolor sit amet, consectetur adipisicin.
  / content
<% end %>
<%= render_snippet %>
</div>

<%# Card - Styles %>
<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Cards", subtitle: "Styles" %>

  <div class="rui dark:p-6 dark:rounded-lg">
    <div class="row g-3">
      <div class="col-md-6">
        <div class="card text-bg-primary mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-secondary mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-success mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-danger mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-warning mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-dark">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-info mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-dark">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-titlek">Light card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card text-bg-dark mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title text-white">Dark card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

<% content_for :html, flush: true do %>
<div class="row g-3">
  <!-- Primary -->
  <div class="col-md-6">
    <div class="card text-bg-primary mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Secondary -->
  <div class="col-md-6">
    <div class="card text-bg-secondary mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Success -->
  <div class="col-md-6">
    <div class="card text-bg-success mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Danger -->
  <div class="col-md-6">
    <div class="card text-bg-danger mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Warning -->
  <div class="col-md-6">
    <div class="card text-bg-warning mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-dark">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Info -->
  <div class="col-md-6">
    <div class="card text-bg-info mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-dark">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Light -->
  <div class="col-md-6">
    <div class="card text-bg-light mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-titlek">Light card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <!-- Dark -->
  <div class="col-md-6">
    <div class="card text-bg-dark mb-3">
      <div class="card-header">Header</div>
      <div class="card-body">
        <h5 class="card-title text-white">Dark card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :erb, flush: true do %>

<% end %>

  <% content_for :haml, flush: true do %>
.row.g-3
/ Primary
.col-md-6
  .card.text-bg-primary.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Primary card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Secondary
.col-md-6
  .card.text-bg-secondary.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Secondary card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Success
.col-md-6
  .card.text-bg-success.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Success card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Danger
.col-md-6
  .card.text-bg-danger.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Danger card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Warning
.col-md-6
  .card.text-bg-warning.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-dark Warning card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Info
.col-md-6
  .card.text-bg-info.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-dark Info card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Light
.col-md-6
  .card.text-bg-light.mb-3
    .card-header Header
    .card-body
      %h5.card-title Light card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
/ Dark
.col-md-6
  .card.text-bg-dark.mb-3
    .card-header Header
    .card-body
      %h5.card-title.text-white Dark card title
      %p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
<% end %>

<%= render_snippet %>
</div>

<%= render "railsui/shared/read_more", subject: "cards", link: "https://getbootstrap.com/docs/5.2/components/card/" %>
