<% path = "railsui/themes/tailwind/hound/components/modals" %>

<div class="mb-16 mt-6">
 <%= doc_label :javascript %>

  <div class="prose dark:!prose-invert mb-6 max-w-full">
    <p>Use the bundled model component to add dialogs to your application. These could be leveraged for notifications, notices, or custom content.</p>

    <p>All modals can be closed using an action-based element (button, close icon, etc...) or the <%= code "esc" %> key on your keyboard.</p>
  </div>

  <%= render callout do %>
  <p class="mb-1">Modals require <%= link_to "Stimulus.js", "https://stimulus.hotwired.dev/", target: :_blank %> and <%= link_to "stimulus-use", "https://github.com/stimulus-use/stimulus-use", target: :_blank %> for transition effects. The <code>modal_controller.js</code> controller is integrated to the <%= Railsui.config.theme.humanize %> theme by default.</p>
  <% end %>
</div>


<%= render "#{path}/base" %>
<%= render "#{path}/single_action" %>
<%= render "#{path}/centered_dual_action" %>
<%= render "#{path}/dismiss_icon" %>
<%= render "#{path}/with_form" %>
