<div class="rui:overflow-x-auto rui:w-full">
  <div data-railsui-search-target="result"
      data-search-route-value="<%= route[:name].downcase %> <%= route[:reqs].downcase %>" data-search-route-nested="<%= route[:name].present? ? false : true %>">
    <% if route[:name].present? %>
      <div class="rui:grid rui:items-start rui:py-6 rui:text-sm rui:md:grid-cols-11">
        <div class="rui:text-base rui:sm:col-span-5">
          <% if route[:name].present? %>
            <div class="rui:relative rui:group">
              <button type="button"
          data-controller="railsui-clipboard"
          data-action="click->railsui-clipboard#copy">
                <div class="rui:flex rui:absolute rui:top-1 rui:-left-7 rui:justify-center rui:items-center rui:p-1 rui:rounded rui:opacity-0 rui:transition rui:duration-200 rui:ease-in-out rui:group-hover:opacity-100 rui:group-hover:bg-neutral-50/50 rui:dark:group-hover:bg-neutral-700 rui:size-6">
                  <%= icon "copy", class: "rui:size-3 rui:fill-current rui:text-neutral-400 rui:dark:text-neutral-100" %>
                </div>
                <div
              data-railsui-clipboard-target="content"
              class="rui:text-lg rui:font-medium rui:group-hover:text-neutral-600 rui:dark:group-hover:text-neutral-400">
                  <%= route[:name] %><span data-railsui-helper-target="extension">_path</span>
                </div>
              </button>
            </div>
          <% end %>
          <% if route[:verb].present? %>
            <div class="rui:mt-3 rui:inline-flex rui:items-center rui:font-bold rui:px-1 rui:h-5 rui:rounded rui:text-xs rui:-ml-1 <%= route_verb_classes(route[:verb]) %>"><%= route[:verb] %></div>
          <% end %>
        </div>
        <div class="rui:pt-2 rui:sm:col-span-6 rui:md:pt-0">
          <div data-controller="railsui-code" class="rui:relative rui:mt-5 rui:mb-8 rui:text-base rui:text-white rui:bg-gradient-to-br rui:rounded-lg rui:border rui:first:mt-0 rui:last:mb-0 rui:from-neutral-900 rui:to-neutral-700 rui:border-neutral-700 rui:selection:bg-salmon-500 rui:selection:bg-opacity-25">
            <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-bash rui:text-neutral-100"># Path
<%= route[:path].to_param.strip %>

# Controller/Action
<%= route[:reqs].to_param.strip %></code></pre>
          </div>
        </div>
      </div>
    <% else %>
      <details class="rui:py-6 rui:group rui:marker:content-[''] rui:bg-gradient-to-b rui:from-neutral-50 rui:to-white rui:px-6 rui:dark:from-neutral-800 rui:dark:to-neutral-800">
        <summary class="rui:flex rui:items-center rui:w-full rui:cursor-pointer rui:select-none rui:justify-between rui:text-left rui:text-base rui:font-semibold rui:text-neutral-900 rui:dark:text-neutral-200 rui:group-open:text-indigo-300 rui:group-open:dark:text-indigo-400 rui:[&amp;::-webkit-details-marker]:hidden">
          <div class="rui:flex rui:items-center">
            <% if route[:verb].present? %>
              <div class="rui:w-16">
                <div class="rui:inline-flex rui:items-center rui:font-bold rui:px-1 rui:h-5 rui:rounded rui:text-xs rui:-ml-1 <%= route_verb_classes(route[:verb]) %>"><%= route[:verb] %></div>
              </div>
            <% end %>
            <span class="rui:text-sm rui:font-normal rui:dark:text-neutral-300 rui:text-neutral-500"
      ><%= route[:reqs] %></span>
          </div>
          <svg class="rui:flex-none rui:mt-0.5 rui:ml-4 rui:w-6 rui:h-6 rui:stroke-neutral-700 rui:dark:stroke-neutral-400 rui:group-open:stroke-neutral-600" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 12H6"></path><path class="group-open:hidden" d="M12 6v12"></path></svg>
        </summary>
        <div class="rui:grid rui:grid-cols-1 rui:items-start rui:py-4 rui:text-sm rui:md:grid-cols-11">
          <div class="rui:sm:col-span-5"></div>
          <div class="rui:sm:col-span-6">
            <div data-controller="railsui-code" class="text-white rui:overflow-hidden rui:relative rui:mt-5 rui:mb-8 rui:text-base rui:bg-gradient-to-br rui:rounded-lg rui:border rui:first:mt-0 rui:last:mb-0 rui:from-neutral-900 rui:to-neutral-700 rui:border-neutral-700 rui:selection:bg-salmon-500 rui:selection:bg-opacity-25">
              <pre><code data-railsui-code-target="snippet" data-railsui-clipboard-target="content" class="language-bash rui:text-neutral-100"># Path
<%= route[:path].to_param.strip %>

# Controller/Action
<%= route[:reqs].to_param.strip %></code></pre>
            </div>
          </div>
        </div>
      </details>
    <% end %>
  </div>
</div>
