<!DOCTYPE html>
<html>
  <head>
    <title><%= Railsui.config.application_name || "Rails UI " %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "application", "https://unpkg.com/trix@2.0.0/dist/trix.css", "data-turbo-track": "reload" %>

    <%= render "shared/fonts" %>
    <%= render "shared/meta" %>
    <%= custom_colors_css %>
    <%= yield :head %>
  </head>

  <body class="h-full antialiased text-zinc-800 leading-normal selection:bg-primary-100 selection:text-primary-700 dark:bg-zinc-900 bg-white dark:text-zinc-50 dark:selection:bg-zinc-500/40 dark:selection:text-zinc-200" data-controller="dark-mode search pricing">
    <%= render "shared/flash" %>
    <% if content_for(:header).present? %>
      <%= yield :header %>
    <% else %>
      <%= render "shared/nav" %>
    <% end %>
    <%= yield %>
    <%= railsui_launcher if Rails.env.development? %>
    <%= render "shared/search_overlay" %>
  </body>
</html>
