<div class="my-24">
  <%= render "railsui/shared/sticky_subhead", title: "Modals", subtitle: "Centered dual action" %>

<div class="bg-black/80 flex items-center jusity-center p-10 rounded-t-lg">
  <div class="rounded mx-auto shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center">
    <div class="flex justify-center">
      <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
        <%= icon "rocket-launch", styles: "w-6 h-6 text-emerald-600 flex-shrink-0" %>
      </div>
    </div>
    <h3 id="single-action-modal-title" class="font-semibold text-xl text-slate-800">Time to launch</h3>

    <p class="text-slate-600  mt-2 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!</p>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
      <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->modal#close">Cancel</button>
      <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
    </div>
  </div>
</div>

<div data-controller="modal">
  <div class="flex justify-center p-6 border-x border-b border-slate-200 rounded-b-lg relative">
    <div class="absolute top-4 left-4">
      <%= doc_label :demo %>
    </div>
    <button type="button" data-action="click->modal#open:prevent" class="btn btn-primary" tabindex="0">Open centered dual action modal</button>
  </div>

  <div
    aria-labelledby="single-action-modal-title"
    aria-modal="true"
    data-action="keyup@window->modal#closeWithEsc"
    data-modal-target="container"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%= icon "rocket-launch", styles: "w-6 h-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="single-action-modal-title" class="font-semibold text-xl text-slate-800">Time to launch</h3>

        <p class="text-slate-600  mt-2 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->modal#close">Cancel</button>
          <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :html, flush: true do %>
<div data-controller="modal">
  <button type="button" data-action="click->modal#open:prevent" class="btn btn-primary" tabindex="0">Open centered dual action modal</button>

  <div
    aria-labelledby="single-action-modal-title"
    aria-modal="true"
    data-modal-target="container"
    data-action="keyup@window->modal#closeWithEsc"
    class="hidden fixed inset-0 z-50 overflow-y-auto"
    role="dialog"
    >
    <div class="h-screen w-full relative flex items-center justify-center">
      <div
      data-modal-target="content"
      data-transition-enter-active="transition ease-out duration-300"
      data-transition-enter-from="transform opacity-0 scale-95"
      data-transition-enter-to="transform opacity-100 scale-100"
      data-transition-leave-active="transition ease-in duration-300"
      data-transition-leave-from="transform opacity-100 scale-100"
      data-transition-leave-to="transform opacity-0 scale-95"
      class="hidden rounded shadow-xl max-w-lg bg-white m-1 p-8 origin-bottom text-center">
        <div class="flex justify-center">
          <div class="w-12 h-12 rounded-full bg-emerald-50 flex items-center justify-center mb-3">
            <%%= icon "rocket-launch", styles: "w-6 h-6 text-emerald-600 flex-shrink-0" %>
          </div>
        </div>
        <h3 id="single-action-modal-title" class="font-semibold text-xl text-slate-800">Time to launch</h3>

        <p class="text-slate-600  mt-2 mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!</p>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
          <button class="btn btn-white w-full sm:order-1 order-2" data-action="click->modal#close">Cancel</button>
          <button class="btn btn-primary w-full sm:order-2 order-1">Proceed to launch</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :haml, flush: true do %>
%div{"data-controller" => "modal"}
  %button.btn.btn-primary{"data-action" => "click->modal#open:prevent", tabindex: "0", type: "button"} Open centered dual action modal
  .hidden.fixed.inset-0.z-50.overflow-y-auto{"aria-labelledby" => "single-action-modal-title", "aria-modal" => "true", "data-action" => "keyup@window->modal#closeWithEsc", "data-modal-target" => "container", role: "dialog"}
    .h-screen.w-full.relative.flex.items-center.justify-center
      .hidden.rounded.shadow-xl.max-w-lg.bg-white.m-1.p-8.origin-bottom.text-center{"data-modal-target" => "content", "data-transition-enter-active" => "transition ease-out duration-300", "data-transition-enter-from" => "transform opacity-0 scale-95", "data-transition-enter-to" => "transform opacity-100 scale-100", "data-transition-leave-active" => "transition ease-in duration-300", "data-transition-leave-from" => "transform opacity-100 scale-100", "data-transition-leave-to" => "transform opacity-0 scale-95"}
        .flex.justify-center
          .w-12.h-12.rounded-full.bg-emerald-50.flex.items-center.justify-center.mb-3
            = icon "rocket-launch", styles: "w-6 h-6 text-emerald-600 flex-shrink-0"
        %h3#single-action-modal-title.font-semibold.text-xl.text-slate-800 Time to launch
        %p.text-slate-600.mt-2.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum accusamus laudantium quis asperiores, suscipit!
        .grid.grid-cols-1.sm:grid-cols-2.gap-3
          %button.btn.btn-white.w-full.sm:order-1.order-2{"data-action" => "click->modal#close"} Cancel
          %button.btn.btn-primary.w-full.sm:order-2.order-1 Proceed to launch
<% end %>

<% content_for :js, flush: true do %>
// app/javascript/controllers/modal_controller.js

import { Controller } from "@hotwired/stimulus"
import { useTransition } from 'stimulus-use'

export default class extends Controller {
  static targets = ['container', 'content']

  connect() {
    useTransition(this, {
      element: this.contentTarget,
    })
  }

  open(e) {
    e.preventDefault()
    this.enableAppearance()
    this.toggleTransition()
  }

  close() {
    this.leave();
    this.disableAppearance()
  }

  closeWithEsc(e){
    if (e.keyCode === 27 && !this.containerTarget.classList.contains('hidden')) {
      this.close(e);
    }
  }

  enableAppearance() {
    this.containerTarget.classList.add("bg-black/80")
    this.containerTarget.classList.remove('hidden')
  }

  disableAppearance() {
    this.containerTarget.classList.add('hidden')
    this.containerTarget.classList.remove("bg-black/80")
  }

  disconnect() {
    this.toggleTransition()
  }
}
<% end %>

<%= render_snippet(js_filename: "modal_controller.js") %>
</div>
