
<div class="my-16">
  <%= render "railsui/shared/code_example_heading", title: "Images - Object Fit", subtitle: "Object Cover" %>

<div class="prose dark:!prose-invert mb-6 max-w-full">
  <p>Resize an element's content to cover it's container using <%= code(".object-cover") %></p>
</div>

<div class="bg-zinc-50 flex items-center justify-center p-6 rounded-lg border border-zinc-200 dark:bg-zinc-900 dark:border-zinc-800">
  <img src="https://picsum.photos/900/700" alt="dog" class="object-cover h-48 w-96 rounded-lg shadow-xl">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-cover h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-50...">
  <%%= image_tag "#", class: "object-cover h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-cover h-48 w-96"
<% end %>
<%= render_snippet %>
</div>


<div class="my-16">
  <%= render "railsui/shared/code_example_heading", title: "Images - Object Fit", subtitle: "Object Contain" %>

<div class="prose dark:!prose-invert mb-6 max-w-full">
  <p>Resize an element’s content to stay contained within its container using <%= code(".object-contain") %>.</p>
</div>

<div class="bg-zinc-50 flex items-center justify-center p-6 rounded-lg border border-zinc-200 dark:bg-zinc-900 dark:border-zinc-800">
  <img src="https://picsum.photos/900/700/" alt="" class="object-contain h-48 w-96 rounded-lg shadow-xl bg-rose-100">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-contain h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-50...">
  <%%= image_tag "#", class: "object-contain h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-contain h-48 w-96"
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/code_example_heading", title: "Images - Object Fit", subtitle: "Object Fill" %>

<div class="primary dark:!primary-invert mb-6 max-w-full">
  <p>Stretch an element's content to fit its container <%= code(".object-fill") %>.</p>
</div>

<div class="bg-zinc-50 flex items-center justify-center p-6 rounded-lg border border-zinc-200 dark:bg-zinc-900 dark:border-zinc-800">
  <img src="https://picsum.photos/900/700" alt="" class="object-fill h-48 w-96 rounded-lg shadow-xl bg-rose-100">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-slate-50...">
  <img src="#" class="object-fill h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-slate-500...">
  <%%= image_tag "#", class: "object-fill h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-slate-50
  image_tag "#", class: "object-fill h-48 w-96"
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/code_example_heading", title: "Images - Object Fit", subtitle: "Object Scale Down" %>

<div class="prose dark:!prose-invert mb-6 max-w-full">
  <p>Display an element’s content at its original size but scale it down to fit its container if necessary using <%= code(".object-scale-down") %>.</p>
</div>

<div class="bg-zinc-50 flex items-center justify-center p-6 rounded-lg border border-zinc-200 dark:bg-zinc-900 dark:border-zinc-800">
  <img src="https://picsum.photos/900/700" alt="" class="object-scale-down h-48 w-96 rounded-xl shadow-xl bg-rose-100">
</div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="bg-zinc-50...">
  <img src="#" class="object-scale-down h-48 w-96">
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<div class="bg-zinc-50...">
  <%%= image_tag "#", class: "object-scale-down h-48 w-96" %>
</div>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.bg-zinc-50
  image_tag "#", class: "object-scale-down h-48 w-96"
<% end %>
<%= render_snippet %>
</div>

<%= system_pagination(prev_path: systems_icons_path, prev_text: "Icons", next_path: systems_scaffolds_path, next_text: "Scaffolds") %>
