<div class="my-6">
  <%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Fonts" %>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-16">
    <div class="prose prose-zinc dark:!prose-invert">
      <h4>Headings</h3>
      <p><%= link_to "Lexend", "https://fonts.google.com/specimen/Lexend", target: :_blank %></p>
    </div>
    <div class="prose prose-zinc dark:!prose-invert">
      <h4>Body</h4>
      <p>System</p>
    </div>
  </div>


  <%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Headings" %>

  <div class="prose prose-zinc dark:!prose-invert">
    <p>Headings come in two flavors. Default and Display. Default headings are tweaked to render at predesigned styles. You can modify these in the custom CSS included with the theme.</p>

    <p>Display headings make use of new utility classes added for the sake of keeping typography more consistent.</p>

    <p>For responsive screens adjust sizes using Tailwind's class modifiers i.e,<%= code "md:text-5xl text-3xl"  %></p>
  </div>

  <div class="mb-16 mt-6 dark:p-6 dark:rounded-lg rui">
    <div class="mb-4">
      <h1 class="text-5xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 -tracking-[0.03em]">A quick brown fox jumps over <br /> the lazy dog.</h1>
      <%= help_text do %>
        <p>h1 &mdash; 48px (3rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h2 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h2>
      <%= help_text do %>
        <p>h2 &mdash; 36px (2.25rem) / 40px (2.5rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h3 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h3>
      <%= help_text do %>
        <p>h3 &mdash; 30px (1.875rem) / 36px (2.25rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h4 class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h4>
      <%= help_text do %>
        <p>h4 &mdash; 24px (1.5rem) / 32px (2rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h5 class="text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h5>
      <%= help_text do %>
        <p>h5 &mdash; 20px (1.25rem) / 28px (1.75)</p>
      <% end %>
    </div>

    <div>
      <h6 class="text-lg font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h6>
      <%= help_text do %>
        <p>h6 &mdash; 16px (1rem) / 19.2px (1.5rem)</p>
      <% end %>
    </div>
  </div>
  <%# snippet content :html %>
<% content_for :html, flush: true do %>
<h1 class="text-5xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h1>
<h2 class="text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h2>
<h3 class="text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h3>
<h4 class="text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h4>
<h5 class="text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h5>
<h6 class="text-lg font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight">A quick brown fox jumps over the lazy dog.</h6>
<% end %>
<%# snippet content :erb %>
<% content_for :erb, flush: true do %>
<%%= content_tag :h1, "A quick brown fox jumps over the lazy dog.", class: "text-5xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight" %>
<%%= content_tag :h2, "A quick brown fox jumps over the lazy dog.", class: "text-4xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight" %>
<%%= content_tag :h3, "A quick brown fox jumps over the lazy dog.", class: "text-3xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight" %>
<%%= content_tag :h4, "A quick brown fox jumps over the lazy dog.", class: "text-2xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight" %>
<%%= content_tag :h5, "A quick brown fox jumps over the lazy dog.", class: "text-xl font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight" %>
<%%= content_tag :h6, "A quick brown fox jumps over the lazy dog.", class: "text-lg font-semibold font-heading text-zinc-900 dark:text-zinc-100 tracking-tight" %>
<% end %>
  <%# snippet content :haml %>
<% content_for :haml, flush: true do %>
%h1.text-5xl.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h2.text-4xl.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h3.text-3xl.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h4.text-2xl.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h5.text-xl.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100.tracking-tight A quick brown fox jumps over the lazy dog.
%h6.text-lg.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100.tracking-tight A quick brown fox jumps over the lazy dog.
<% end %>
<%= render_snippet %>

  <hr class="my-6"/>

  <%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Display headings" do %>
    <p class="dark:text-slate-400">Useful for very large titles and high pixel-density screens (mobile and tablet devices).</p>
  <% end %>

  <div class="rui dark:p-6 dark:rounded-lg">
    <div class="mb-4">
      <h1 class="text-8xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h1>
      <%= help_text do %>
        <p>h1 &mdash; 96px (6rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h2 class="text-7xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h2>
      <%= help_text do %>
        <p>h2 &mdash; 72px (4.5rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h3 class="text-6xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h3>
      <%= help_text do %>
        <p>h3 &mdash; 60px (3.75rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h4 class="text-5xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h4>
      <%= help_text do %>
        <p>h4 &mdash; 48px (3rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h5 class="text-4xl tracking-tight font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h5>
      <%= help_text do %>
        <p>h5 &mdash; 36px (2.25rem)</p>
      <% end %>
    </div>

    <div class="mb-4">
      <h6 class="text-3xl tracking-tight font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h6>
      <%= help_text do %>
        <p>h6 &mdash; 30px (1.875rem)</p>
      <% end %>
    </div>
  </div>
</div>

<%# .html %>
<% content_for :html, flush: true do %>
<h1 class="text-8xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h1>
<h2 class="text-7xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h2>
<h3 class="text-6xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h3>
<h4 class="text-5xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h4>
<h5 class="text-4xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h5>
<h6 class="text-3xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100">A quick brown fox jumps over the lazy dog.</h6>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%%= content_tag :h1, "A quick brown fox jumps over the lazy dog.", class: "text-8xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100" %>
<%%= content_tag :h2, "A quick brown fox jumps over the lazy dog.", class: "text-7xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100" %>
<%%= content_tag :h3, "A quick brown fox jumps over the lazy dog.", class: "text-6xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100" %>
<%%= content_tag :h4, "A quick brown fox jumps over the lazy dog.", class: "text-5xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100" %>
<%%= content_tag :h5, "A quick brown fox jumps over the lazy dog.", class: "text-4xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100" %>
<%%= content_tag :h6, "A quick brown fox jumps over the lazy dog.", class: "text-3xl tracking-tighter font-semibold font-heading text-zinc-900 dark:text-zinc-100" %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%h1.text-8xl.tracking-tighter.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100 A quick brown fox jumps over the lazy dog.
%h2.text-7xl.tracking-tighter.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100 A quick brown fox jumps over the lazy dog.
%h3.text-6xl.tracking-tighter.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100 A quick brown fox jumps over the lazy dog.
%h4.text-5xl.tracking-tighter.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100 A quick brown fox jumps over the lazy dog.
%h5.text-4xl.tracking-tighter.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100 A quick brown fox jumps over the lazy dog.
%h6.text-3xl.tracking-tighter.font-semibold.font-heading.text-zinc-900.dark:text-zinc-100 A quick brown fox jumps over the lazy dog.
<% end %>

<%= render_snippet %>

<hr class="my-6"/>

<div class="mb-16 mt-8">
  <%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Lead paragraph" %>

  <div class="font-light text-base text-zinc-700 tracking-normal mt-3 mb-6 dark:text-zinc-300 font-heading">
    <p>This is a lead paragraph. It stands out from regular paragraphs.</p>
  </div>


<%# .html %>
<% content_for :html, flush: true do %>
<div class="font-light text-base text-zinc-700 tracking-normal dark:text-zinc-300 font-heading">
  <p>A lead paragraph stands out from regular paragraphs.</p>
</div>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%%= tag.div class: "font-light text-base text-zinc-700 tracking-normal dark:text-zinc-300 font-heading" do %>
  <%%= tag.p "A lead paragraph stands out from regular paragraphs.", class: "lead" %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
.font-light.text-base.text-zinc-700.tracking-normal.dark:text-zinc-300.font-heading
  %p A lead paragraph stands out from regular paragraphs.
<% end %>
<%= render_snippet %>
</div>

<div class="my-16">
  <%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Blockquote" %>

  <figure class="pl-6 border-l-2 border-primary-500 py-1">
    <blockquote class="text-xl font-heading font-light mb-1 text-zinc-600 dark:text-zinc-300">
      <p>A well-known quote, contained in a blockquote element.</p>
    </blockquote>
    <figcaption class="text-zinc-500 text-sm dark:text-zinc-300">
      Someone famous in <cite title="Source Title">Source Title</cite>
    </figcaption>
  </figure>

<%# .html %>
<% content_for :html, flush: true do %>
<figure class="pl-6 border-l-2 border-primary-500 py-1">
  <blockquote class="text-xl font-heading font-light mb-1 text-zinc-800 dark:text-zinc-100">
    <p>A well-known quote, contained in a blockquote element.</p>
  </blockquote>
  <figcaption class="text-zinc-500 text-sm dark:text-zinc-300">Someone famous in <cite title="Source Title">Source Title</cite>
  </figcaption>
</figure>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%% tag.figure class: "pl-6 border-l-2 border-primary-500 py-1" do %>
  <%%= tag.blockquote class: "text-xl font-heading font-light mb-1 text-zinc-800 dark:text-zinc-100" do %>
    <%%= tag.p "A well-known quote, contained in a blockquote element." %>
  <%% end %>
  <%%= tag.figcaption class: "text-zinc-500 text-sm dark:text-zinc-300" do %>
Someone famous in
    <%%= tag.cite "Source Title", title: "Source Title" %>
  <%% end %>
<%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%figure.pl-6.border-l-2.border-primary-500.py-1
  %blockquote.text-xl.font-heading.font-light.mb-1.text-zinc-800.dark:text-zinc-100
    %p A well-known quote, contained in a blockquote element.
  %figcaption.text-zinc-500.text-sm.dark:text-zinc-300
    Someone famous in
    %cite(title="Source Title") Source Title
<% end %>

<%= render_snippet %>
</div>

<div class="my-16">
<%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Lists" %>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
  <div>
    <p class="text-sm text-zinc-600 mt-2 dark:text-zinc-400">Standard</p>
    <ul class="list-disc">
      <li>A quick brown</li>
      <li>fox jumps over</li>
      <li>the lazy dog</li>
    </ul>
  </div>

  <div>
    <p class="text-sm text-zinc-600 mt-2 dark:text-zinc-400">Unstyled</p>
    <ul class="list-reset">
      <li>A quick brown</li>
      <li>fox jumps over</li>
      <li>the lazy dog</li>
    </ul>
  </div>

  <div>
    <p class="text-sm text-zinc-600 mt-2 dark:text-zinc-400">Decimal</p>
    <ol class="list-decimal">
      <li>A quick brown</li>
      <li>fox jumps over</li>
      <li>the lazy dog</li>
    </ol>
  </div>
</div>

<% content_for :html, flush: true do %>
<ul class="list-disc">
  <li>A quick brown</li>
  <li>fox jumps over</li>
  <li>the lazy dog</li>
</ul>

<!--Reset-->
<ul class="list-reset">
  <li>A quick brown</li>
  <li>fox jumps over</li>
  <li>the lazy dog</li>
</ul>

<!--Decimal-->
<ol class="list-decimal">
  <li>A quick brown</li>
  <li>fox jumps over</li>
  <li>the lazy dog</li>
</ol>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<!--Standard-->
<%%= tag.ul class:"list-disc" do %>
  <%%= tag.li "A quick brown" %>
  <%%= tag.li "fox jumps over" %>
  <%%= tag.li "the lazy dog" %>
<%% end %>

<!--reset-->
<%%= tag.ul class:"list-reset" do %>
  <%%= tag.li "A quick brown" %>
  <%%= tag.li "fox jumps over" %>
  <%%= tag.li "the lazy dog" %>
<%% end %>

<!--Decimal-->
<%%= tag.ol class:"list-decimal" do %>
  <%%= tag.li "A quick brown" %>
  <%%= tag.li "fox jumps over" %>
  <%%= tag.li "the lazy dog" %>
  <%% end %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%ul.list-disc
  %li A quick brown
  %li fox jumps over
  %li the lazy dog
/ Reset
%ul.list-reset
  %li A quick brown
  %li fox jumps over
  %li the lazy dog
/ Decimal
%ol.list-decimal
  %li A quick brown
  %li fox jumps over
  %li the lazy dog
<% end %>

<%= render_snippet %>
</div>

<div class="my-16">
<%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Body copy" %>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 prose prose-zinc dark:prose-invert max-w-full">
  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illo nisi distinctio neque veniam aliquam debitis architecto quaerat. Temporibus, similique dolor quia voluptates maiores in placeat laborum deleniti ratione officiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum iure non velit dignissimos laudantium modi at, eum officiis ipsam, illo vitae omnis nam, ut nisi alias odio magni qui nostrum.</p>

    <p>Id velit dolorum fugit, beatae unde sint saepe rerum impedit nihil deleniti recusandae quam amet nesciunt, eveniet maiores?</p>
  </div>
  <div>
    <p>Id velit dolorum fugit, beatae unde sint saepe rerum impedit nihil deleniti recusandae quam amet nesciunt, eveniet maiores?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illo nisi distinctio neque veniam aliquam debitis architecto quaerat. Temporibus, similique dolor quia voluptates maiores in placeat laborum deleniti ratione officiis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum iure non velit dignissimos laudantium modi at, eum officiis ipsam, illo vitae omnis nam, ut nisi alias odio magni qui nostrum.</p>
  </div>
</div>

<%= content_for :html, flush: true do %>
<div class="prose proze-zinc dark:prose-invert">
  <p>Lorem ipsum...</p>
</div>
<% end %>

<%= content_for :erb, flush: true do %>
<%%= tag.div class: "prose prose-zinc dark:prose-invert" do %>
  <%%= tag.p "Lorem ipsum" %>
<%% end %>
<% end %>

<%= content_for :haml, flush: true do %>
.prose.prose-zinc.dark:prose-invert
  %p Lorem ipsum...
<% end %>

<%= render_snippet %>
</div>

<div class="my-16">
<%= render "railsui/shared/sticky_subhead", title: "Typography", subtitle: "Inline text elements" %>
<div class="text-zinc-800 dark:text-zinc-100">
  <p class="pb-1">You can use the mark tag to <mark>highlight</mark> text.</p>
  <p class="pb-1"><del>This line of text is meant to be treated as deleted text.</del></p>
  <p class="pb-1"><s>This line of text is meant to be treated as no longer accurate.</s></p>
  <p class="pb-1"><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
  <p class="pb-1"><u>This line of text will render as underlined.</u></p>
  <p class="pb-1"><small>This line of text is meant to be treated as fine print.</small></p>
  <p class="pb-1"><strong>This line rendered as bold text.</strong></p>
  <p class="pb-1"><em>This line rendered as italicized text.</em></p>
</div>

<%# .html %>
<% content_for :html, flush: true do %>
<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined.</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>
<% end %>

<%# .erb %>
<% content_for :erb, flush: true do %>
<%%= tag.p "You can use the mark tag to #{tag.mark 'highlight'} text." %>
<%%= tag.p tag.del "This line of text is meant to be treated as deleted text." %>
<%%= tag.p tag.s "This line of text is meant to be treated as no longer accurate." %>
<%%= tag.p tag.ins "This line of text is meant to be treated as an addition to the document." %>
<%%= tag.p tag.u "This line of text will render as underlined." %>
<%%= tag.p tag.small "This line of text is meant to be treated as fine print." %>
<%%= tag.p tag.strong "This line rendered as bold text." %>
<%%= tag.p tag.em "This line rendered as italicized text." %>
<% end %>

<%# .haml %>
<% content_for :haml, flush: true do %>
%p
  You can use the mark tag to
  %mark highlight
  text.
%p
  %del This line of text is meant to be treated as deleted text.
%p
  %s This line of text is meant to be treated as no longer accurate.
%p
  %ins This line of text is meant to be treated as an addition to the document.
%p
  %u This line of text will render as underlined.
%p
  %small This line of text is meant to be treated as fine print.
%p
  %strong This line rendered as bold text.
%p
  %em This line rendered as italicized text.
<% end %>
<%= render_snippet %>
</div>

<%= system_pagination(prev_path: systems_content_path, prev_text: "Content", next_path: systems_content_tables_path, next_text: "Tables") %>
