<div class="prose-lg prose-slate dark:prose-invert max-w-full my-6">
  <p>Use badges to call attention to areas of a page or experience. Badges can be combined with other elements or used independently with comparable impact.</p>
</div>

<% path = "railsui/themes/#{Railsui.config.theme.downcase}/components/badges" %>

<%= render "#{path}/basic" %>
<%= render "#{path}/pill" %>
<%= render "#{path}/outline" %>
<%= render "#{path}/tag" %>

<%= system_pagination(prev_path: systems_components_alerts_path, prev_text: "Alerts", next_path: systems_components_breadcrumbs_path, next_text: "Breadcrumbs") %>
