<%# locals: name: "Dannie White", avatar_id: "78", avatar_variant: "women", property: image_url('themes/shepherd/property-3.jpg'), title: "Mountain Vista Chalet",booking_date: "Aug 24, 3pm" %>
<div
  class="border border-zinc-300/90 shadow-sm shadow-zinc-300/20 rounded-lg p-3 dark:shadow-zinc-950/50 dark:bg-zinc-800/90 dark:border-zinc-600/80 dark:focus:ring-zinc-600/30 dark:focus:border-zinc-600">
  <%= image_tag property, alt: "Image of #{title}", class: "rounded-lg h-[174px] w-full object-cover object-center shadow dark:shadow-none dark:border dark:border-zinc-600/80 border-transparent" %>
  <div class="flex items-center gap-3 mt-4">
    <%= image_tag demo_avatar_url(variant: avatar_variant, id: avatar_id), class: "size-10 rounded-full object-cover", alt: name %>
    <div class="flex-1">
      <p class="font-medium dark:text-white font-heading text-zinc-900"><%= name %></p>
      <p class="font-light text-sm text-zinc-600 font-heading dark:text-zinc-400"><%= title %></p>
    </div>
  </div>
  <div class="flex justify-between items-end pt-3">
    <div class="flex items-center gap-2">
      <%= icon "clock", class: "size-5 text-zinc-500 stroke-current dark:text-zinc-300" %>
      <span class="text-sm text-zinc-600 dark:text-zinc-300"><%= booking_date %></span>
    </div>

    <%= link_to "View", "#", class: "btn btn-white", data: { controller: "railsui-prevent", action: "click->railsui-prevent#prevent" } %>
  </div>
</div>
