<div class="grid grid-cols-1 lg:grid-cols-3 gap-6 my-8">

  <%= render "railsui/shared/grid_item", path: systems_forms_inputs_path, title: "Inputs", description: "The building blocks of any given form." %>

  <%= render "railsui/shared/grid_item", path: systems_forms_input_groups_path, title: "Input Groups", description: "Group inputs together for tailored user experiences." %>

  <%= render "railsui/shared/grid_item", path: systems_forms_selects_path, title: "Select", description: "Fancy select fields ready for action." %>

  <%= render "railsui/shared/grid_item", path: systems_forms_selects_path, title: "Checkboxes &amp; Radios".html_safe, description: "Enhance your forms with additional controls." %>

  <%= render "railsui/shared/grid_item", path: systems_forms_action_text_path, title: "Action Text", description: "Custom-themed ActionText UI for your rich text needs." %>

  <%= render "railsui/shared/grid_item", path: systems_forms_selects_path, title: "Validation", description: "Error handling UI is taken care of with Rails UI." %>
</div>
