<div id="icons-overview">
  <div class="prose prose-neutral mt-6 max-w-full dark:prose-invert prose-a:font-semibold prose-a:underline">
    <p><%= link_to "Heroicons", "https://heroicons.com/", target: :_blank %> are the default icons of choice for Rails UI. We chose these icons since they are open sourced, updated regularly, and cover a vast set of scenarios in the design world.</p>
  </div>

  <%= render "railsui/shared/usage_guide", title: "Icon usage guide" do %>

    <h3>Why SVG icons?</h3>

    <p>There are a lot of pros to using SVG icons rather than bitmap or font-based icons. The summarized take is they are more accessible, have lighter file sizes, and can scale infinitely, which is excellent for retina screens.</p>

    <p>The main downside is the way we have to render them in order to have more control. SVGs are essentially vector code and can be complex and cumbersome to drop into a new view whenever you require one. Because of this we bundled a helper into Rails UI that solves for icons.</p>

    <h3>Prerequisites</h3>

    <p class="mt-0">The complete Heroicons icon bundle is included with your theme's installation so there's no need to install those manually. You can find all icons inside the <%= code "app/assets/images/icons" %> directory. The icons folder contains solid and outline-based variants.</p>

    <p>As you build your application you may find that some designs call for a solid icon and others an outline icon. It's best to stick with a single variant per application, so if you use an outline icon in context, you should use outline icons going forward.</p>

    <div class="not-prose">
      <% content_for :bash do %>
        app/
        ├─ assets/
        │  ├─ images/
        │  │  ├─ icons/
        │  │  │  ├─ outline/
        │  │  │  ├─ solid/
      <% end %>
      <%= render_snippet active_tab: "bash" %>
    </div>

    <h3>Dependencies</h3>

    <p>With Rails UI a handy <%= code "icon" %> helper is at your disposal which makes linking to and rendering SVG icons in your views a painless process.</p>

    <p>The <%= code "icon" %> helper leverages a gem called  <%= link_to "inline_svg", "https://github.com/jamesmartin/inline_svg", target: :_blank %> to render the SVG and pass some options along the way.</p>

    <p>Here is the helper source code for context:</p>

    <div class="not-prose">
      <% content_for :bash, flush: true do %>

      <% end %>

      <% content_for :ruby, flush: true do %>
        def icon(name, options={})
        options[:title] ||= name.underscore.humanize
        options[:aria] = true
        options[:nocomment] = true
        options[:variant] ||= :outline
        options[:class] = options.fetch(:classes, nil)
        path = options.fetch(:path, "icons/#{options[:variant]}/#{name}.svg")

        icon = path
        inline_svg_tag(icon, options)
        end
      <% end %>

      <%= render_snippet active_tab: "ruby", ruby_filename: "application_helper.rb" %>
    </div>
    <p>There are options you may pass. See all options <%= link_to "here", "https://github.com/jamesmartin/inline_svg#options", target: :_blank %> We've included a couple more custom options to make rendering icons a breeze.</p>

    <h4 class="dark:text-slate-200">Options</h4>
    <ul>
      <li><%= code ":title" %> &mdash; Add a <%= code" <title>" %> node inside the top level of the SVG document <em>(Enabled by default)</em>.</li>
      <li><%= code ":aria" %> &mdash; Adds common accessibility attributes to the SVG (Enabled by default).</li>
      <li>
        <%= code ":nocomment" %> &mdash; Remove comment tags from the SVG document (Enabled by default).
      </li>
      <li>
        <%= code ":variant" %> &mdash; Pass a style of icon you would like to render. (Defaults to <%= code ":outline" %>. Options include <%= code ":outline" %> or <%= code ":solid" %>).
      </li>
      <li>
        <%= code ":classes" %> &mdash; <%= code "class" %> is reserved for the <%= code "inline_svg" %> gem so we used <%= code "classes" %> an an alternate way to pass additional HTML classes to style the icon. <%= code "stroke-current" %> and <%= code "stroke-fill" %> are appended by default based on the <%= code ":variant" %> option.
      </li>
      <li>
        <%= code ":path" %> &mdash; Pass a custom path to an icon.
      </li>
    </ul>
    <h3>Usage</h3>

    <p>Using and rendering a new icon is quite simple and doesn't pollute your markup. </p>

    <div class="not-prose">
      <% content_for :bash, flush: true do %>

      <% end %>

      <% content_for :ruby, flush: true do %>

      <% end %>

      <% content_for :erb, flush: true do %>
        <%%= icon "academic-cap", class:  "w-5 h-5 text-indigo-600" %>
      <% end %>
      <%= render_snippet active_tab: "erb", erb_filename: "index.html.erb" %>
    </div>

    <h3>Custom icons</h3>
    <p>Need to add some of your own icons? You can add those to <%= code "app/assets/images/icons" %>. Depending on the style of icon you can choose between the <%= code "solid" %> or <%= code "outline" %> folders.</p>

    <p>If you require something more custom, use the <% code ":path" %> option to pass a unique path to the helper for rendering.</p>

    <div class="my-6">
      <%= icon "eye-close", path: "eye-close.svg", class:  "text-pink-400 stroke-current w-10 h-10" %>
    </div>

    <div class="not-prose">
      <% content_for :bash, flush: true do %>

      <% end %>

      <% content_for :ruby, flush: true do %>

      <% end %>

      <% content_for :erb, flush: true do %>
        <%%= icon "eye-close", path: "eye-close.svg", class:  "w-10 h-10 stroke-current text-pink-400" %>
      <% end %>
      <%= render_snippet active_tab: "erb" %>
    </div>
  <% end %>
</div>

<div id="icons-solid" class="my-10">
  <div class="mb-6">
    <%= render "railsui/shared/code_example_heading", title: "Icons", subtitle: "Solid" %>
  </div>

  <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-7 items-center justify-between sm:gap-4 gap-2 w-full">
    <% @icons.each do |icon| %>
      <div>
        <% name = icon.chomp('.svg') %>
        <div class="flex items-center justify-center size-20 rounded border shadow-sm bg-white relative group hover:shadow-primary-500/20 hover:border-primary-300 dark:bg-neutral-900 dark:border-neutral-700/80 dark:shadow-neutral-500/20" data-controller="railsui-clipboard">
          <%= icon name, title: name, class: "fill-current text-zinc-500 w-auto h-6 group-hover:transform group-hover:scale-125 transition ease-in-out duration-300 group-hover:text-primary-500 dark:text-white dark:group-hover:text-white" %>
          <button class="block w-5 h-5 absolute right-1 bottom-1" type="button" data-action="click->railsui-clipboard#copy" aria-label="Copy icon label">
            <%= icon "square-2-stack", class:  "w-5 dark:text-zinc-200 text-zinc-400 opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 group-hover:text-primary-500 dark:group-hover:text-primary-300" %>
          </button>
          <span class="hidden" data-railsui-clipboard-target="source"><%= name.gsub("icons/solid/", "") %></span>
        </div>
        <div class="my-2 text-xs text-neutral-600 dark:text-neutral-100 truncate sm:max-w-[100px]"><%= name.gsub("icons/solid/", "") %></div>
      </div>
    <% end %>
  </div>
</div>

<div id="icons-outline" class="my-10">
  <div class="mb-6">
    <%= render "railsui/shared/code_example_heading", title: "Icons", subtitle: "Outline" %>
  </div>

  <div class="grid grid-cols-4 md:grid-cols-5 lg:grid-cols-7 items-center justify-between sm:gap-4 gap-2 w-full">
    <% @outline_icons.each do |icon| %>
      <div>
        <% name = icon.chomp('.svg') %>
        <div class="flex items-center justify-center size-20 rounded border shadow-sm bg-white relative group hover:shadow-primary-500/20 hover:border-primary-300 dark:bg-neutral-900 dark:border-neutral-700/80 dark:shadow-neutral-500/20" data-controller="railsui-clipboard">
          <%= icon name, title: name, class: "stroke-current text-zinc-500 w-auto h-6 group-hover:transform group-hover:scale-125 transition ease-in-out duration-300 group-hover:text-primary-500 dark:text-white dark:group-hover:text-white" %>
          <button class="block w-5 h-5 absolute right-1 bottom-1" type="button" data-action="click->railsui-clipboard#copy" aria-label="Copy icon label">
            <%= icon "square-2-stack", class:  "w-5 dark:text-slate-200 text-slate-400 opacity-0 group-hover:opacity-100 transition ease-in-out duration-300 group-hover:text-primary-500 dark:group-hover:text-primary-300" %>
          </button>
          <span class="hidden" data-railsui-clipboard-target="source"><%= name.gsub("icons/outline/", "") %></span>
        </div>
        <div class="my-2 text-xs text-neutral-600 dark:text-neutral-100 truncate sm:max-w-[100px]"><%= name.gsub("icons/outline/", "") %></div>
      </div>
    <% end %>
  </div>
</div>

<%= system_pagination(prev_path: systems_content_table_path, prev_text: "Table", next_path: systems_content_image_path, next_text: "Image") %>

<%= content_for :component_nav do %>
  <%= render layout: "railsui/shared/component_nav", locals: { title: "On this page" } do %>
    <%= component_link "Overview", "#icons-overview" %>
    <%= component_link "Solid", "#icons-solid" %>
    <%= component_link "Outline", "#icons-outline" %>
  <% end %>
<% end %>
