<nav role="documentation navigation">
  <ul class="tw-space-y-4">
    <li>
      <%= nav_link_to "Welcome", docs_path, active_class: "tw-text-indigo-600" %>
    </li>
    <li>
      <%= nav_link_to "Installation", docs_installation_path, active_class: "tw-text-indigo-600" %>
    </li>
    <li>
      <%= nav_link_to "Configuration", docs_configuration_path, active_class: "tw-text-indigo-600" %>
    </li>
    <li>
      <%= nav_link_to "Themes", docs_themes_path, active_class: "tw-text-indigo-600" %>
    </li>
    <li>
      <%= nav_link_to "Design system", docs_design_system_path, active_class: "tw-text-indigo-600" %>
    </li>
    <li>
      <%= nav_link_to "Updates", docs_updates_path, active_class: "tw-text-indigo-600" %>
    </li>
  </ul>
</nav>
