<nav role="documentation navigation" class="tw-sticky tw-top-24">
  <ul class="tw-space-y-4">
    <li>
      <%= nav_link_to "Welcome", docs_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
    <li>
      <%= nav_link_to "Installation", docs_installation_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
    <li>
      <%= nav_link_to "Configuration", docs_configuration_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
    <li>
      <%= nav_link_to "Themes", docs_themes_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
    <li>
      <%= nav_link_to "Design system", docs_design_system_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
    <li>
      <%= nav_link_to "Interaction", docs_interaction_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
    <li>
      <%= nav_link_to "Updates", docs_updates_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
    <li>
      <%= nav_link_to "FAQs", docs_faqs_path, active_class: "tw-text-indigo-600 dark:tw-text-indigo-400" %>
    </li>
  </ul>
</nav>
