<div class="prose prose-lg prose-h1:font-bold mb-10 dark:prose-invert">
  <%= heading text: "Configuration", tag: "h1", id: "docs_configuration" %>

  <p>For best results, use Rails UI for <strong>brand new</strong> Ruby on Rails applications.</p>

  <p class="italic">Once configured Rails UI will:</p>
  <ol>
    <li>Generate a custom configuration yaml file <code class="text-base dark:text-yellow-500 text-red-400">railsui.yml</code> that's required to theme your new app.</li>
    <li>Install dependencies and any necessary assets.</li>
    <li>Generate a custom tailored design system for repeatable web elements. Think of this as a system for providing design direction when creating new features. This includes typography, font elements, and SVG icons.</li>
    <li>
      Optionally install one-off templates (i.e. About us, Pricing, etc...). Use these as a starting point.
    </li>
    <li>
      Install scaffold templates that follow the theme and CSS framework you chose.
    </li>
  </ol>

  <p>After installing the Rails UI gem and running the installer, you may configure your application preferences.</p>

  <p>Configuration is a simple process that first prompts you for an application name and preferred CSS framework.</p>

  <p>Rails UI currently ships with support for <%= link_to "Bootstrap", "https://getbootstrap.com/", target: :_blank %> and <%= link_to "Tailwind CSS", "https://tailwindcss.com", target: :_blank %>.</p>

  <%= image_tag "https://f001.backblazeb2.com/file/railsui/docs/Rails-UI-Step1.jpg", alt: "Step 1 - Rails UI Configuration", class: "rounded border border-slate-200 shadow-sm" %>

  <h2>Select a theme</h2>

  <p>After selecting and saving the CSS framework, new sections appear for further tweaking.</p>

  <p>The first section is a theme gallery. This section is a place to choose a starting point for the overarching design of your application. Each theme includes a preview to get a feel for the design and layout.</p>

  <%= render "railsui/docs/callout" do %>
    Additional themes will be added as Rails UI evolve with a future goal to offer dozens of ready-to-use themes for different styles of applications.
  <% end %>

  <%= image_tag "https://f001.backblazeb2.com/file/railsui/docs/Rails-UI-Step2.jpg", alt: "Step 2 - Rails UI Configuration", class: "rounded border border-slate-200 shadow-sm" %>

  <h2>Bonus: Install pre-built pages</h2>

  <p>Because each theme is built from scratch, you may optionally configure Rails UI to generate a theme with additional pages automatically.</p>

  <p>Once installed you may view these pages right inside your application.</p>

  <p>Additional pages and templates will follow as Rails UI ages.</p>

  <%= image_tag "https://f001.backblazeb2.com/file/railsui/docs/Rails-UI-Step3.jpg", alt: "Step 3 - Rails UI Configuration", class: "rounded border border-slate-200 shadow-sm" %>

</div>

<%= render "railsui/docs/pagination", back: docs_installation_path, back_label: "Installation", next: docs_themes_path, next_label: "Themes" %>
