<div class="tw-prose tw-prose-lg tw-prose-indigo prose-h1:tw-font-bold tw-mb-10">
  <%= heading text: "Frequently asked questions", tag: "h1", id: "docs_faqs" %>

  <h3 class="tw-font-semibold tw-text-lg tw-text-slate-400">General</h3>

  <dl class="tw-mt-2 tw-divide-y tw-divide-slate-100">
    <%= render "railsui/docs/faq_item", question: "Can I share Rails UI with my team?" do  %>
      <p>For now yes, but eventually once we start charging for Rails UI, you would need a team license</p>
      <p>Once officially for sale we predict Rails UI will be sold as two different licenses. A solo developer license and a team license. A team license gives you access up to 25 people. If you require more than 25 people we recommend purchasing additional team licenses or contacting us for a more customized quote.</p>
    <% end %>

    <%= render "railsui/docs/faq_item", question: "Why don't you use ___ framework?" do  %>
      <p>Rails UI uses <%= link_to "Tailwind CSS", "https://tailwindcss.com", target: :_blank %> and <%= link_to "Bootstrap", "https://getbootstrap.com", target: :_blank %> at this time. We believe most developers today use one or the other on independent projects outside of larger organization.</p>

      <p>Future frameworks will definitely be considered!</p>
    <% end %>

    <%= render "railsui/docs/faq_item", question: "Why would I buy Rails UI?" do  %>

      <%= render "railsui/docs/callout" do %>
        Rails UI is free in alpha!
      <% end %>

      <p>There are a couple reasons:</p>

      <div class="tw-not-prose">
        <ol class="tw-list-decimal tw-space-y-6 tw-pl-4">
          <li class="marker:tw-content-['1.']">
            <p class="tw-pl-2">The same reason you might hire a designer. It's often hard to be a good programmer and a designer at the same time. Rails UI fills the design gap for Rails developers looking to save time and headache.</p>
          </li>
          <li class="marker:tw-content-['2.']">
            <p class="tw-pl-2">As time progresses more themes and components will get added to Rails UI so you gain ongoing access to all of those which might benefit that next big idea you or your team is working on.</p>
          </li>
        </ol>
      </div>
    <% end %>

    <%= render "railsui/docs/faq_item", question: "What icons are included?" do  %>
      <p>All icons we use are open source. We tend to use some favorites including <%= link_to "heroicons", "https://heroicons.com/", target: :_blank %> and <%= link_to "Iconic icons", "https://iconic.app/", target: :_blank %>. Icons come bundled in a theme by default to save you time and setup. Add or remove them at will!</p>
    <% end %>

  </dl>

  <h3 class="tw-font-semibold tw-text-lg tw-text-slate-400">Themes</h3>

  <dl class="tw-mt-2 tw-divide-y tw-divide-slate-100">

    <%= render "railsui/docs/faq_item", question: "Why are there so few themes?" do  %>
      <p>Rails UI is brand spanking new! We just kicked off the project so as time allows more themes will be added. A goal is to offer multiple themes per industry/niche.</p>
    <% end %>
    <%= render "railsui/docs/faq_item", question: "Can I change between themes?" do  %>
      <p>No.</p>
      <p>Once a theme is configured, you cannot swap themes. We can't predict what may or may not have changed when you first configured the theme, so it's assumed that you are creating a brand new Rails application with each Rails UI configuration.</p>
    <% end %>
    <%= render "railsui/docs/faq_item", question: "Will there be future themes coming to Rails UI?" do  %>
      <p>Yes!</p>
      <p>We built Rails UI around scaling a theme marketplace to cater to various use cases developers and teams may need. Themes will be added in an ongoing fashion. Those use cases are yet to be determined, but the library will grow and fit that mold.</p>

      <p>Perhaps whatever you are creating is never before been seen, or there are tough design decisions around more complicated logic that require tailor-fit design. Unfortunately, without contracting design our services privately, we can't pioneer your app design.</p>

      <p>Rails UI can give you the design and UX foundation to at least get your application off the ground quickly and professionally.</p>
    <% end %>

    <%= render "railsui/docs/faq_item", question: "Can I easily customize a theme?" do  %>
      <p>Absolutely!</p>
      <p>Think of a theme as a starting point. There's an excellent chance your needs will differ from another developer, so since Rails UI is integrated directly into your application, it is completely customizable.</p>
    <% end %>

    <%= render "railsui/docs/faq_item", question: "Can I submit my own themes somewhere?" do  %>
      <p>Great question!</p>
      <p>We aren't offering public submissions, but there will potentially be a future where that could make sense. Stay tuned for updates!</p>
    <% end %>
  </dl>

  <h3 class="tw-font-semibold tw-text-lg tw-text-slate-400">Components</h3>

  <dl class="tw-mt-2 tw-divide-y tw-divide-slate-100">
    <%= render "railsui/docs/faq_item", question: "What about ViewComponent or my favorte component framework?" do  %>
      <p>This is on our radar and likely part of the longer term roadmap for Rails UI. To start, Rails UI will support <%= code_inline("HTML") %>, <%= code_inline "ERB" %>, and <%= code_inline "HAML" %> code snippets. Let us know what we should look into adding!</p>
    <% end %>
  </dl>

  <h3 class="tw-font-semibold tw-text-lg tw-text-slate-400">Support</h3>

  <dl class="tw-mt-2 tw-divide-y tw-divide-slate-100">
    <%= render "railsui/docs/faq_item", question: "Do you offer technical/creative support?" do  %>
      <p>Rails UI is a self-serve product. We offer support for account management, billing, and licensing related concerns.</p>

      <p>If you have technicall issues that keep you from being able to use Rails UI that you think are related to bugs or some other issue do reach out to us.</p>

      <p>In order to have enough time to work on Rails UI we do not offer independent design consulting at this time.</p>
    <% end %>

    <%= render "railsui/docs/faq_item", question: "What is your refund policy?" do  %>

      <p>If you aren't satified for any reason you may email us at <%= mail_to "support@railsui.com", "support@railsui.com" %> within 30 days of purchase and we'll refund you in full, no questions asked. Following 30 days there are no refunds.</p>
    <% end %>
  </dl>
</div>
<%= render "railsui/docs/pagination", back: docs_updates_path, back_label: "Updates", next: docs_path, next_label: "Welcome" %>
