<div class="prose prose-lg prose-indigo prose-h1:font-bold mb-6 dark:prose-invert dark:prose-a:text-indigo-400">

  <%= heading text: "Installation", tag: "h1", id: "docs_installation" %>

  <p>Installing Rails UI begins by creating a new vanilla Rails application. At this time, Rails UI requires all applications to be new apps.</p>
</div>
<% content_for :bash, flush: true do %>
  rails new my_app_name
<% end %>

<%= render_snippet active_tab: "bash" %>

<div class="prose prose-lg prose-indigo prose-h1:font-bold mb-6 dark:prose-invert dark:prose-a:text-indigo-400">
  <p>You might be tempted to pass options when creating a new app to install a CSS framework or JavaScript framework. We recommend waiting to do this until completing all configuration steps.</p>

  <p>All other options related to tests, skipping APIs, and more can still be passed.</p>

  <p>During <%= link_to "configuration", docs_configuration_path %>, Rails UI automatically installs the CSS framework of your choice (in a similar manner as the <%= link_to "cssbundling-rails", "https://github.com/rails/cssbundling-rails", target: :_blank %> and <%= link_to "jsbundling-rails", "https://github.com/rails/jsbundling-rails", target: :_blank %> Ruby gems) thus making the optional flags unecessary. <%= link_to "esbuild", "https://esbuild.github.io/", target: :_blank %> is the default solution for JavaScript.</p>
</div>

<% content_for :bash, flush: true do %>

<% end %>

<div class="prose prose-lg dark:prose-invert dark:prose-a:text-indigo-400">
  <h2>Install the gem</h2>
  <p>Add the <%= code_inline("railsui") %> gem to your Gemfile</p>
</div>

<% content_for :ruby, flush: true do %>
  # Gemfile
  gem "railsui"
<% end %>

<%= render_snippet active_tab: "ruby" %>

<div class="my-10">
  <div class="prose prose-lg dark:prose-invert dark:prose-a:text-indigo-400">
    <p>Run the bundle install command to fetch the new gem and its assets</p>
  </div>

  <% content_for :bash, flush: true do %>
    bundle install
  <% end %>

  <% content_for :ruby, flush: true do %>

  <% end %>

  <%= render_snippet active_tab: "bash" %>
</div>

<div class="my-10">
  <div class="prose prose-lg dark:prose-invert dark:prose-a:text-indigo-400">
    <h2>Run the installer</h2>
    <p>Once installed, Rails UI includes several generators. Run the install generator first.</p>

    <p>This generator will fetch the foundation for Rails UI, which includes assets, templates, theme-specific templates, and more. Additionally, it installs and configures a few other handy gems Rails UI leverages inside most views.</p>
  </div>

  <% content_for :bash, flush: true do %>
    rails railsui:install
  <% end %>

  <% content_for :ruby, flush: true do %>

  <% end %>

  <%= render_snippet active_tab: "bash" %>
</div>

<div class="my-10">
  <div class="prose prose-lg dark:prose-invert">
    <h2>Boot the app</h2>
    <p>Boot the new app and visit the root path (localhost:3000). This should present a new page with some actions to areas related to Rails UI.</p>
  </div>

  <% content_for :bash, flush: true do %>
    bin/dev
  <% end %>

  <% content_for :ruby, flush: true do %>

  <% end %>

  <%= render_snippet active_tab: "bash" %>

  <div class="prose prose-lg dark:prose-invert">
    <p>From there you may proceed to configuring the app.</p>
  </div>
</div>

<%= render "railsui/docs/pagination",
  back: docs_installation_path,
  back_label: "Installation",
  next: docs_configuration_path,
  next_label: "Configuration"
%>
