<div class="prose prose-lg prose-indigo prose-h1:font-bold mb-10 dark:prose-invert dark:prose-a:text-indigo-400">
  <%= heading text: "Interaction", tag: "h1", id: "docs_interaction" %>

  <p>By default, Rails UI uses Rails defaults with regard to JavaScript in a given application.</p>

  <p>The Rails defaults leverage <%= link_to "Stimulus.js", "https://stimulus.hotwired.dev/", target: :_blank %> and <%= link_to "Turbo", "https://turbo.hotwired.dev/", target: :_blank %> from the <%= link_to "Hotwire", "https://hotwired.dev/", target: :_blank %> network of interactive tools. </p>

  <p>Rails UI isn't meant to replace any JavaScript front-end framework. However, it does leverage vanilla JavaScript, Stimulus.js, and Turbo to add dashes of interactivity to components in a given theme.</p>

  <p>Inside the design system, you will find example code snippets for specific components that require more interactivity.</p>

  <p>Rails UI supplies enough interaction logic to make basic components function but it's meant to be extended as your needs vary.</p>
</div>

<%= render "railsui/docs/pagination", back: docs_design_system_path, back_label: "Design system", next: docs_updates_path, next_label: "Updates" %>
