<% content_for :head do %>
  <%= stylesheet_link_tag "railsui/application" %>
  <%= javascript_include_tag "railsui" %>

  <%# Dumb hack to avoid CSS collision %>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.body.classList.remove('rui');
    })
  </script>
<% end %>

<div class="text-center items-center h-full antialiased dark:text-white sm:py-8 py-0">
  <div class="max-w-4xl text-center mx-auto rounded-3xl relative z-20 sm:px-16 px-0 sm:py-0 p-6 bg-white dark:bg-neutral-900">
    <div class="flex flex-wrap justify-between items-end">
      <div class="flex items-end justify-center flex-1">
        <%= image_tag "rails-logo.svg", class: "fill-current md:w-36 w-24 h-auto" %>

        <div class="bg-[var(--color-rails)]/10 inline-flex rounded-full px-3 py-px text-[var(--color-rails)] font-semibold ml-2 text-sm">
          v<%= Rails.gem_version %>
        </div>
      </div>
    </div>

    <div class="my-10">
      <h3 class="font-extrabold md:text-5xl text-3xl text-neutral-800 tracking-tight dark:text-white">All the tools for full-stack bliss.</h3>
      <p class="mt-6 md:text-2xl text-lg text-neutral-600 dark:text-neutral-300">Optimized for developer happiness, Ruby on Rails compresses the complexity of modern web app development.</p>
    </div>

    <ul class="leading-loose text-base font-medium font-medium grid sm:grid-cols-4 gap-4 text-neutral-600 dark:text-neutral-300 max-w-3xl grid-cols-2">
      <%= render "railsui/default/link", path: "https://guides.rubyonrails.org/", icon: "document-text", text: "Rails Guides" %>

      <%= render "railsui/default/link", path: "https://api.rubyonrails.org/", icon: "code-bracket", text: "Rails API" %>

      <%= render "railsui/default/link", path: "https://github.com/rails/rails", icon: "command-line", text: "Source" %>

      <%= render "railsui/default/link", path: "https://discuss.rubyonrails.org/", icon: "chat-bubble-left-ellipsis", text: "Forum" %>

      <%= render "railsui/default/link", path: "https://rubyonrails.org/category/releases", icon: "hashtag", text: "Releases" %>

      <%= render "railsui/default/link", path: "https://rubyonrails.org/blog", icon: "book-open", text: "Blog" %>

      <%= render "railsui/default/link", path: "https://jobs.rubyonrails.org/", icon: "briefcase", text: "Jobs" %>

      <%= render "railsui/default/link", path: "https://rubyonrails.org/doctrine", icon: "light-bulb", text: "Doctrine" %>
    </ul>

    <hr class="border border-dashed border-neutral-300/30 dark:border-neutral-700/80 my-6">

    <div class="relative md:p-10 p-6 rounded-xl flex md:flex-row flex-col items-center gap-10 bg-neutral-200/40 dark:bg-neutral-700/40 md:text-left mb-4 overflow-hidden">
      <div class="md:w-1/2">
        <%= link_to root_path, class:"text-xl tracking-tight font-black group transform text-black hover:text-black md:inline-flex flex justify-center sm:justify-start" do %>
          <h1 class="sr-only">RailsUI</h1>
          <%= image_tag "railsui-logo.svg", class: "w-36 h-auto dark:invert", alt: "Rails UI Logo" %>
        <% end %>

        <p class="sm:text-2xl text-xl mt-6 text-neutral-800 dark:text-neutral-300 mb-4 font-semibold tracking-tight">UI components &amp; themes <br />
          for Ruby on Rails.</p>

        <p class="text-base max-w-lg leading-relaxed text-neutral-700 dark:text-neutral-300 mb-6">Save time creating views, scaffolds, components, and making tough design decisions with the help of Rails UI.</p>

        <%= link_to railsui.root_path, class: "py-2 pl-4 pr-3 text-center md:inline-flex flex items-center rounded-lg text-gray-800 border border-neutral-800 dark:border-neutral-600/70 shadow hover:shadow-none group bg-neutral-900 dark:bg-neutral-900 text-white rounded-full sm:h-[48px] justify-center font-semibold" do %>
          <%= icon "cog-8-tooth", class: "stroke-current size-5 mr-2 font-medium text-white opacity-90 group-hover:opacity-100" %>
          <span class="text-white pr-2">Configure your app</span>
          <%= icon "chevron-right", class: "stroke-current size-4 opacity-80 group-hover:opacity-100 transform group-hover:translate-x-1 transition ease-linear duration-200 relative text-white top-px" %>
        <% end %>
      </div>

      <div class="flex items-center -space-x-24 md:w-1/2 pointer-events-none">
        <%= image_tag "tailwind-shepherd-thumbnail.jpg", class: "h-auto rounded-xl z-0 transition ease-in-out duration-200 max-w-[320px] shadow-lg relative md:-top-20", alt: "Rails UI Shepherd Theme" %>
        <%= image_tag "tailwind-hound-thumbnail.jpg", class: " h-auto rounded-xl z-10 transition ease-in-out duration-200 max-w-[320px] md:-bottom-16 -bottom-24 -left-10 relative shadow-xl", alt: "Rails UI Hound Theme" %>
      </div>
    </div>

    <ul class="leading-loose text-base font-medium font-medium grid sm:grid-cols-4 gap-4 text-neutral-600 dark:text-neutral-300 max-w-3xl grid-cols-2">
      <%= render "railsui/default/link", path: systems_path, icon: "puzzle-piece", text: "Components" %>

      <%= render "railsui/default/link", path: railsui.root_path(anchor: "pages"), icon: "window", text: "Pages" %>

      <%= render "railsui/default/link", path: "/rails/mailers", icon: "envelope", text: "Mailers" %>

      <%= render "railsui/default/link", path: railsui.routes_path, icon: "rectangle-stack", text: "Routes" %>
    </ul>

    <hr class="border border-dashed border-neutral-300/30 dark:border-neutral-700/80 my-6">

    <div class="z-50 text-xs font-mono text-neutral-600 dark:text-neutral-400 text-opacity-50 pt-6">
      Follow <%= link_to "Rails UI", "https://x.com/railsui_", target: :_blank, class: "dark:text-white text-neutral-700 underline" %> on X. <%= link_to "Grab the premium version", "https://railsui.com/pricing", target: :_blank, class: "underline" %> for more themes and components.
    </div>
