<%= render layout: example, locals: { heading: "Minimal", section: "Mailers" } do %>

  <div class="prose prose-neutral dark:prose-invert">
    <p>The <%= Railsui.config.theme.humanize %> theme minimal template gives you a good starting point for an HTML email that is primarily text. The template features basic <%= link_to "email-supported HTML markup", "https://www.caniemail.com/features/", target: :_blank %>.</p>
  </div>

<%= email_viewer("A minimal template") do %>
  <%= render layout: "railsui/themes/#{Railsui.config.theme.downcase}/mailers/mailer_preview" do %>
    <h1>This is a heading</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla rem ipsam, praesentium quisquam quidem laboriosam nihil cumque, molestias vero enim corrupti corporis quibusdam mollitia! Dolores ipsum eos animi facere.</p>

    <ul>
      <li>List item 1</li>
      <li>List item 2</li>
      <li>List item 3</li>
    </ul>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla rem ipsam, praesentium quisquam quidem laboriosam nihil cumque, molestias vero enim corrupti corporis quibusdam mollitia! Dolores ipsum eos animi facere.</p>

    <%= spacer(16) %>

    <%= link_to "Learn more", "https://railsui.com" %>
  <% end %>
<% end %>

<% content_for :example, flush: true do %>
<% content_for :erb, flush: true do %>
<!-- app/views/some_mailer/minimal.html.erb -->

<h1>This is a heading</h1>
<%%= spacer(16) %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla rem ipsam, praesentium quisquam quidem laboriosam nihil cumque, molestias vero enim corrupti corporis quibusdam mollitia! Dolores ipsum eos animi facere.</p>
<%%= spacer(16) %>
<ul>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ul>
<%%= spacer(16) %>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla rem ipsam, praesentium quisquam quidem laboriosam nihil cumque, molestias vero enim corrupti corporis quibusdam mollitia! Dolores ipsum eos animi facere.</p>

<%%= spacer(16) %>

<%%= link_to "Learn more", "https://railsui.com" %>
<% end %>

<% content_for :haml, flush: true do %>
/ app/views/some_mailer/minimal.haml.erb
%h1 This is a heading
= spacer(16)
%p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla rem ipsam, praesentium quisquam quidem laboriosam nihil cumque, molestias vero enim corrupti corporis quibusdam mollitia! Dolores ipsum eos animi facere.
= spacer(16)
%ul
  %li List item 1
  %li List item 2
  %li List item 3
= spacer(16)
%p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi nulla rem ipsam, praesentium quisquam quidem laboriosam nihil cumque, molestias vero enim corrupti corporis quibusdam mollitia! Dolores ipsum eos animi facere.
= spacer(16)
= link_to "Learn more", "https://railsui.com"
<% end %>

  <%= render_snippet active_tab: "erb", erb_filename: "minimal.html.erb", haml_filename: "minimal.haml.erb" %>
<% end %>
<% end %>

<%= system_pagination(prev_path: systems_mailers_layout_path, prev_text: "Layouts", next_path: systems_mailers_promotion_path, next_text: "Promotion") %>
