<div data-controller="railsui-search railsui-helper" data-railsui-helper-url-value="_url"
data-railsui-helper-path-value="_path">
  <div class="rui:dark:text-neutral-100 rui:text-neutral-800">
    <%= render "railsui/routes/nav" %>

    <nav aria-label="breadcrumb" class="rui:flex rui:flex-1 rui:my-6 rui:text-sm rui:font-medium rui:dark:text-neutral-200">
      <ol class="rui:flex rui:flex-wrap rui:items-center rui:gap-3">
        <li>
          <%= link_to "Rails UI", railsui.root_path, class: "rui:hover:underline" %>
        </li>

        <li class="rui:flex rui:gap-3">
          <div class="rui:flex rui:items-center">
            <span class="rui:text-neutral-300 rui:dark:text-neutral-500">/</span>
          </div>
          <a href="#" aria-current="page" class="text-underline">Routes</a>
        </li>
      </ol>
    </nav>
    <h1 class="rui:text-3xl rui:font-extrabold rui:tracking-tight rui:md:text-6xl rui:text-neutral-900 rui:dark:text-white">Routes</h1>

    <div class="rui:justify-between rui:items-center rui:py-4 rui:md:flex rui:md:pt-16 rui:md:pb-24">
      <%= form_tag railsui.routes_path, method: :get, data: { railsui_search_target: "form" } do %>
        <div class="relative">
          <%= text_field :query, nil, id: 'search', autofocus: true, placeholder: "Search routes", class: "rui:border-b rui:border-x-0 rui:focus:bg-transparent rui:border-t-0 rui:border-neutral-300 rui:focus:ring-0 rui:block rui:w-full rui:md:w-[900px] rui:shrink-0 rui:dark:bg-transparent rui:dark:border-neutral-600 rui:peer rui:text-2xl rui:px-1 rui:py-5 rui:text-neutral-800 rui:font-medium rui:dark:text-white rui:placeholder:text-neutral-400 rui:selection:bg-netural-300 rui:dark:selection:bg-neutral-700/30", data: { action: "keyup->railsui-search#search keyup.esc->railsui-search#clear" }, tabindex: 0 %>

          <span class="rui:absolute rui:opacity-0 rui:peer-focus:opacity-100 rui:transition rui:ease-in-out rui:duration-200 rui:right-4 rui:top-[20px] rui:text-sm rui:-translate-x-2 rui:peer-focus:translate-x-0 rui:text-neutral-600 rui:dark:text-neutral-400">Hit <span class="rui:inline-flex rui:items-center rui:px-1 rui:py-0 rui:h-5 rui:font-mono rui:text-xs rui:leading-none rui:rounded-sm rui:border rui:border-neutral-400 rui:text-neutral-600 rui:dark:text-neutral-100">esc</span> to reset</span>
        </div>
      <% end %>

      <div class="rui:z-50 rui:justify-between rui:items-center rui:pt-6 rui:md:flex rui:md:pt-0">
        <div class="rui:flex rui:items-center rui:w-full rui:md:w-auto">
          <button role="button" type="button" title="Returns a relative path (without the http or domain)" class="rui:px-5 rui:py-2 rui:w-full rui:text-sm rui:font-medium rui:bg-transparent rui:rounded-l-md rui:border rui:border-r rui:backdrop-blur-md rui:border-neutral-300 rui:text-neutral-700 rui:hover:bg-neutral-100 rui:focus:ring-4 rui:focus:ring-white/20 rui:focus:bg-indigo-500 rui:focus:text-white rui:focus:border-indigo-600 rui:dark:bg-neutral-800 rui:dark:border-neutral-700/80 rui:dark:text-neutral-100 rui:md:w-auto rui:dark:hover:bg-neutral-800"
          data-railsui-helper-target="btn" data-action="click->railsui-helper#togglePath">Path</button>
          <button role="button" type="button" title="Returns an absolute URL (with the http and domain)" class="rui:px-5 rui:py-2 rui:w-full rui:text-sm rui:font-medium rui:bg-transparent rui:rounded-r-md rui:border-r rui:backdrop-blur-md rui:border-y rui:border-neutral-300 rui:text-neutral-700 rui:hover:bg-neutral-100 rui:focus:ring-4 rui:focus:ring-white/20 rui:focus:bg-indigo-500 rui:focus:text-white rui:focus:border-indigo-600 rui:dark:bg-neutral-800 rui:dark:border-neutral-700/80 rui:dark:text-neutral-100 rui:md:w-auto rui:dark:hover:bg-neutral-800" data-railsui-helper-target="btn" data-action="click->railsui-helper#toggleUrl">URL</button>
        </div>
      </div>
    </div>
  </div>
  <%= @routes.format(ActionDispatch::Routing::HtmlTableFormatter.new(self))%>
</div>
