<div class="tw-p-10 tw-rounded-xl tw-border tw-border-neutral-200 tw-mb-10 tw-shadow-sm">
  <h3 class="tw-font-bold tw-text-2xl tw-mb-3">Application preferences</h3>

  <% if !Railsui.config.css_framework.present? %>
    <div class="tw-prose tw-prose-lg tw-prose-indigo tw-mb-6">
      Set your app's name, install a CSS-framework, and base font-family.
    </div>
  <% end %>

  <div class="tw-mb-8">
    <%= f.label :application_name, class: "tw-block tw-mb-2 tw-font-medium" %>
    <%= f.text_field :application_name, class: "#{input_classes} tw-w-full" %>
  </div>

  <div>
    <% if Railsui.no_framework_set? || !Railsui.config.css_framework.present? %>
      <%= f.label :css_framework, "What CSS framework would you like to use?", class: "tw-block tw-mb-2 tw-font-medium" %>
      <%= f.select :css_framework, options_for_select(Railsui::Default::CSS_FRAMEWORKS, Railsui.config.css_framework), { prompt: "Select one" }, { class:"#{select_classes} tw-w-full", data: { action: "change->configuration#toggleTheme"} }%>

    <% else %>
      <p>This app configured to use: <span class="tw-border tw-px-3 tw-py-1 tw-rounded-full tw-border-indigo-600 tw-text-indigo-700 tw-text-sm tw-select-none"><%= Railsui.config.css_framework.humanize %></span></p>
      <%= f.hidden_field :css_framework, value: Railsui.config.css_framework %>
    <% end %>
    <div class="tw-text-sm tw-mt-4 tw-flex tw-items-start">
      <div class="tw-bg-indigo-50 tw-mr-4 tw-w-10 tw-h-10 tw-rounded tw-flex tw-items-center tw-justify-center tw-flex-shrink-0">
        <%= render_svg "warning", styles: "tw-stroke-current tw-text-indigo-500 tw-w-5 tw-h-5 tw-flex-shrink-0" %>
      </div>
      <p class="tw-text-neutral-800">This choice <span class="tw-font-bold">cannot</span> be changed without creating a new app and a new Rails UI configuration. Read more about  <%= link_to "choosing a CSS framework with Rails UI",docs_css_frameworks_path, class: "tw-text-indigo-700" %>.
      </p>
    </div>
  </div>

  <%= render "railsui/admin/fields/theme", f: f %>
</div>
