<div class="py-8">
  <%= heading text: "Color", id: "color", tag: "h3", class: "font-bold text-3xl tracking-tight mb-3" %>

  <div class="prose prose-neutral dark:prose-invert max-w-full mb-6">
    <p>Rails UI includes two custom colors: <span class="size-4 bg-primary-500 inline-block rounded-sm relative top-0.5 mr-0.5"></span> primary and <span class="size-4 bg-secondary-500 inline-block rounded-sm relative top-0.5 mr-0.5"></span> secondary. You can adjust these colors in the <code>railsui.yml</code> file below using the color pickers.</p>

  </div>

  <% if @theme_colors.present? %>
    <% if @config.colors.present? %>
      <div class="divide-y divide-neutral-200/80 dark:divide-neutral-700/80">
        <% @config.colors.each do |collection, colors| %>
          <div class="py-3">
            <h3 class="font-semibold my-3"><%= collection.capitalize %> Colors</h3>
            <div class="grid grid-cols-1 md:grid-cols-11 gap-2 mb-8">
              <% colors.each do |shade, hex| %>
                <div class="color-item md:block flex items-center gap-2">
                  <%= label_tag "#{collection}_#{shade}", "#{shade.capitalize} Color", class: "sr-only" %>

                  <%= f.color_field :colors, value: @config.colors[collection][shade], name: "configuration[colors][#{collection}][#{shade}]", class: "rui-form-input-color" %>

                  <div class="text-left mt-1 leading-none">
                    <p class="text-sm font-semibold text-neutral-800 dark:text-neutral-200"><%= shade %></p>
                    <code class="font-mono text-xs text-neutral-600 selection:bg-indigo-500 selection:text-white dark:text-neutral-400"><%= hex %></code>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <div class="prose prose-neutral dark:prose-invert mb-6">
    <p>Your components and Rails UI pages will automatically update with your selected colors. All default Tailwind colors are still available.</p>

  </div>

  <%= render callout do %>
    <p>To view default theme colors, run <code>bin/rails railsui:colors</code>. For a specific theme, use <code>bin/rails 'railsui:colors[theme_name]'</code>.</p>
  <% end %>

  <%= link_to reset_colors_configuration_path, class: "font-medium underline text-sm", data: { controller: "railsui-loading", action: "click->railsui-loading#start" } do %>
    <span data-railsui-loading-target="content">Reset to default colors for active theme</span>
  <% end %>
</div>
