<div class="pb-8">
  <%= heading text: "General", id: "theme", tag: "h3", class: "font-semibold text-xl mb-3" %>

  <div class="grid grid-cols-1 gap-6 mb-6 md:grid-cols-2">
    <div>
      <%= f.label :application_name, class: label_classes %>
      <%= f.text_field :application_name, class: "#{input_classes} w-full", placeholder: "Rails UI" %>
      <div class="mt-2 opacity-75 prose-sm prose-neutral dark:prose-invert">
        <p>Only used for presentational purposes.</p>
      </div>
    </div>

    <div>
      <%= f.label :support_email, class: label_classes %>
      <%= f.text_field :support_email, class: "#{input_classes} w-full", placeholder: "support@example.com" %>
      <div class="mt-2 opacity-75 prose-sm prose-neutral dark:prose-invert">
        <p>Used in mailers and pages.</p>
      </div>
    </div>
  </div>
</div>
