<%= render "railsui/admin/field_layout" do %>

  <% content_for :explainer, flush: true do %>
    <%= heading text: "Pages", id: "configuration_overview", tag: "h3", class: "font-semibold text-xl mb-3" %>
    <p class="text-base lg:text-sm text-slate-700 dark:text-slate-400">Add pre-designed pages with sample content.</p>

    <hr class="my-4 dark:border-slate-700">

    <h4 class="font-semibold text-sm mb-2 text-indigo-600 dark:text-slate-300">Remove a page</h4>

    <p class="text-base lg:text-sm text-slate-700 dark:text-slate-400 mb-3">When you choose to remove a page with Rails UI, it is permanently deleted, resulting in the loss of all changes made to the view. However, you have the option to reinstall it later, as it is included as a default component in the <%= Railsui.config.theme.humanize %> Rails UI theme.</p>
  <% end %>

  <div class="p-6 rounded-lg bg-white border border-slate-200 shadow-sm dark:bg-slate-800 dark:border-slate-700 relative" data-controller="pages">
    <div class="prose mb-6 dark:!prose-invert">
      <h3>Add pages</h3>
      <p>Generate professionally designed pages that accompany the <%= theme_name.humanize %> template. If you previously generated a page, it will <strong>not</strong> be overwritten.</p>
    </div>

    <%= render "railsui/admin/fields/check_all" unless Railsui::Pages.all_pages_installed? %>

    <div class="divide-y divide-slate-200 dark:divide-slate-700">
      <% if @theme_pages.present? %>
        <% @theme_pages.each do |page, details| %>
          <div class="flex flex-wrap items-start justify-between py-6">
            <% if page_exists?(page) %>
              <%= render "railsui/admin/fields/active_page", page: page, details: details %>
            <% else %>
              <%= render "railsui/admin/fields/inactive_page", page: page, details: details %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="bg-yellow-50 rounded p-3 text-yellow-800 dark:bg-yellow-500/30 dark:text-yellow-50">
          <p>Hopefully you don't see this message but it looks like no pages were found for the current theme. Contact me if this persists or you can <%= link_to "create a new issue on Github", "https://github.com/getrailsui/railsui", class: "underline" %> for the free version of Rails UI.</p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
