<%= render "railsui/admin/field_layout" do %>

  <% content_for :explainer, flush: true do %>
    <%= heading text: "Pages", id: "configuration_overview", tag: "h3", class: "tw-font-semibold tw-text-xl tw-mb-3" %>
    <p class="text-sm text-slate-700">Add pre-designed marketing pages to the app.</p>
    <p class="tw-text-sm tw-bg-slate-500 tw-text-white tw-rounded tw-inline-block tw-mt-4 tw-px-1 tw-py-px">Components coming soon</p>
  <% end %>

  <div class="tw-p-6 tw-rounded-lg tw-bg-white tw-border tw-border-slate-200 tw-shadow-sm">
    <p class="tw-prose tw-prose-indigo tw-mb-6">Enabling any option below will automatically generate themed views using the CSS framework chosen. These views will contain minimal logic with clean HTML/ERB for you to take and run with.</p>
    <ul class="tw-leading-loose tw-space-y-4">
      <% if about_page_exists? %>
        <%= render "railsui/admin/fields/pages/page_present",
          label: "About page",
          description: "Placeholder markup for company or organization about page.",
          preview_link: main_app.about_path
        %>
        <%= f.hidden_field :about, value: "1" %>
      <% else %>
        <li class="tw-relative">
          <%= f.label :about, class: "tw-p-4 tw-rounded-lg tw-bg-white tw-shadow-sm tw-border tw-border-slate-200 tw-block tw-select-none hover:tw-shadow-none tw-group" do %>
            <%= f.check_box :about, class: "tw-text-indigo-600 form-checkbox tw-rounded focus:tw-outline-none tw-ring-2 tw-ring-transparent focus:tw-ring-neutral-100 dark:focus:tw-ring-neutral-800 dark:focus:tw-ring-opacity-20 tw-mr-2 tw-border-neutral-500 tw-w-5 tw-h-5", value: Railsui.config.about, checked: Railsui.config.about? %>
            <span class="group-hover:tw-text-indigo-600">Create about page</span><span class="tw-text-neutral-500 tw-text-sm tw-block tw-pl-8 lg:tw-mb-0 tw-mb-3">Placeholder markup for company or organization about page.</span>
          <% end %>
        </li>
      <% end %>
      <% if pricing_page_exists? %>
        <%= render "railsui/admin/fields/pages/page_present",
          label: "Pricing page",
          description: "Placeholder markup for company or organization about page.",
          preview_link: main_app.pricing_path
        %>
        <%= f.hidden_field :pricing, value: "1" %>
      <% else %>
        <li class="tw-relative">
          <%= f.label :pricing, class: "tw-p-4 tw-rounded-lg tw-bg-white tw-shadow-sm tw-border tw-border-slate-200 tw-block tw-select-none hover:tw-shadow-none tw-group" do %>
            <%= f.check_box :pricing, class: "tw-text-indigo-600 form-checkbox tw-rounded focus:tw-outline-none tw-ring-2 tw-ring-transparent focus:tw-ring-neutral-100 dark:focus:tw-ring-neutral-800 dark:focus:tw-ring-opacity-20 tw-mr-2 tw-border-neutral-500 tw-w-5 tw-h-5", value: Railsui.config.pricing, checked: Railsui.config.pricing? %>
            <span class="group-hover:tw-text-indigo-600">Create pricing page</span><span class="tw-text-neutral-500 tw-text-sm tw-block tw-pl-8 lg:tw-mb-0 tw-mb-3">Placeholder markup for SaaS-like pricing; 3 plans types by default.</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
