<div>
  <div class="font-semibold text-sm">
    <%  if main_app.respond_to?(details['path'].to_sym)%>
      <%= link_to details['title'], main_app.send(details['path'].to_sym), target: :_blank, class: "hover:underline" %>
    <% else %>
      <span><%= details["title"] %></span>
    <% end %>
  </div>

  <div class="prose-sm prose-p:text-neutral-500 dark:prose-invert dark:prose-p:text-neutral-300  leading-snug">
    <p><%= details["description"] %></p>
  </div>

  <div class="mt-1">
    <% details['tags'].each do |tag | %>
      <%= tag_label(tag) %>
    <% end %>
  </div>
</div>

<div class="flex items-center gap-4 md:justify-between justify-end w-full md:w-auto">
  <% if main_app.respond_to?(details['path'].to_sym) %>
    <%= link_to main_app.send(details['path'].to_sym), class: "px-1.5 py-1.5 bg-neutral-50/20 border border-neutral-300 text-neutral-600 shadow-sm rounded text-center text-sm font-medium hover:text-neutral-700 hover:border-indigo-400 hover:bg-indigo-50/50 dark:bg-neutral-800 dark:text-neutral-100 dark:border-neutral-700 dark:hover:bg-indigo-600/10 dark:hover:text-indigo-300 dark:hover:border-indigo-600 flex items-center focus:ring-4 focus:ring-neutral-50 dark:focus:ring-4 dark:focus:ring-neutral-700 group transition ease-in-out duration-200", target: :_blank do %>
      <span class="sr-only">View page</span>
      <%= icon "arrow-up-right", class: "size-4 text-neutral-400 dark:text-neutral-200 group-hover:text-indigo-500 dark:group-hover:text-indigo-400" %>
    <% end %>
  <% end %>
</div>
