<%= render "railsui/admin/field_layout" do %>

  <% content_for :explainer, flush: true do %>
    <%= heading text: "Pages", id: "configuration_overview", tag: "h3", class: "font-semibold text-xl mb-3" %>
    <p class="text-base lg:text-sm text-slate-700 dark:text-slate-300">Add pre-designed pages with sample content.</p>
  <% end %>

  <div class="p-6 rounded-lg bg-white border border-slate-200 shadow-sm dark:bg-slate-800 dark:border-slate-700">
    <div class="prose mb-6 dark:prose-invert prose-sm">
      <h3>Add pages</h3>
      <p>Generate pre-designed pages based off the <%= theme_name.humanize %> template design. If you previously generated a page, it will <strong>not</strong> be overwritten.</p>
    </div>

    <div class="divide-y">
      <% Railsui::Pages::all_pages.each do | page, details | %>
        <div class="py-4 flex flex-wrap items-center justify-between">
          <div class="flex-1">
            <%= check_box_tag "configuration[pages][]", page, Railsui::Pages.page_enabled?(page), id: page, class: "form-input-switch" %>
            <%= label_tag page, details[:title] %>

            <div class="prose prose-sm prose-slate-600 dark:prose-invert">
              <p><%= details[:description] %></p>
            </div>
          </div>
          <% if Railsui::Pages.page_exists?(page) %>
          <div>
            <%= link_to "View page", Rails.application.routes.url_for(action: details[:title].downcase, controller: "static", only_path: true), target: :_blank %>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>
