<div class="rui:py-8" data-controller="railsui-pages">
  <%= heading text: "Pages", id: "pages", tag: "h2", class: "rui:font-bold rui:text-3xl rui:tracking-tight rui:mb-6" %>

  <div class="rui:prose rui:prose-neutral rui:dark:prose-invert rui:mb-6">
    <p>Prototype rapidly with ready-made pages that look great with the <%= theme_name.humanize %> theme.</p>
  </div>

  <div class="rui:mb-10">
    <div class="rui:divide-y rui:divide-neutral-200/80 rui:dark:divide-neutral-700/80 rui:py-2.5">
      <% @theme_pages.each do |page, details| %>
        <div class="rui:flex rui:flex-wrap rui:items-start rui:justify-between rui:py-3">
          <%= render "railsui/admin/fields/page", page: page, details: details %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="rui:flex rui:items-start rui:gap-5 rui:py-5">
    <div class="rui:shrink-0">
      <div class="rui:size-10 rui:rounded-full rui:flex rui:items-center rui:justify-center rui:bg-neutral-50 rui:dark:bg-neutral-800/80">
        <%= icon "document-plus", class: "rui:size-5 rui:text-neutral-600 rui:dark:text-neutral-400" %>
      </div>
    </div>

    <div class="rui:prose rui:prose-sm rui:max-w-full rui:prose-neutral rui:dark:prose-invert">
      <h4>Adding pages</h4>
      <p>Installed pages are found inside the <code>app/views/rui/pages</code> folder.</p>
    </div>
  </div>

  <div class="rui:flex rui:items-start rui:gap-5 rui:py-5">
    <div class="rui:shrink-0">
      <div class="rui:size-10 rui:rounded-full rui:flex rui:items-center rui:justify-center rui:bg-neutral-50 rui:dark:bg-neutral-800/80">
        <%= icon "hand-thumb-up", class: "rui:size-5 rui:text-neutral-600 rui:dark:text-neutral-400" %>
      </div>
    </div>

    <div class="rui:prose rui:prose-sm rui:max-w-full rui:prose-neutral rui:dark:prose-invert">
      <h4>Best practices</h4>
      <p>Pages are a starting point. Copy them to other views you're working on and make changes there as opposed to directly inside the <code>app/views/rui/pages</code> directory. Treat this directory as read-only. <strong>Changing your Rails UI configuration will overide the directory</strong>.</p>
    </div>
  </div>
</div>
