<%= render "railsui/admin/field_layout" do %>

  <% content_for :explainer, flush: true do %>
    <%= heading text: "Color palette", id: "color_palette", tag: "h3", class: "font-semibold text-xl mb-3" %>
    <p class="text-sm text-slate-700">A two-tone color palette is at your displosal. Once configured you can customize every color directly in the CSS/SCSS if you prefer.</p>
  <% end %>

  <div class="p-6 rounded-lg bg-white border border-slate-200 shadow-sm" data-controller="color">
    <div class="grid grid-cols-2 gap-6">
      <div class="relative">
        <%= f.label :primary_color, class: "block mb-2 font-medium" %>
        <%= f.hidden_field :primary_color %>
        <hex-color-picker class="w-full h-[200px]" color="<%= f.object.primary_color %>" data-color-target="picker"></hex-color-picker >
        <hex-input class="font-mono focus:outline-none full" color="#<%= f.object.primary_color %>"></hex-input>
        <span class="absolute bottom-px left-px dark:text-gray-300 text-gray-500 w-8 h-[36px] flex border-r border-neutral-200 dark:border-neutral-700 items-center justify-center text-center dark:bg-neutral-700 bg-gray-50 rounded-l-sm">#</span>
      </div>

      <div class="relative">
        <%= f.label :secondary_color, class: "block mb-2 font-medium" %>
        <%= f.hidden_field :secondary_color %>
        <hex-color-picker color="<%= f.object.secondary_color %>" class="w-full h-[200px]" data-color-target="picker"></hex-color-picker >
        <hex-input color="#<%= f.object.secondary_color %>" class="font-mono w-full focus:outline-none" ></hex-input>
        <span class="absolute bottom-px left-px dark:text-gray-300 text-gray-500 w-8 h-[36px] flex border-r border-neutral-200 dark:border-neutral-700 items-center justify-center text-center dark:bg-neutral-700 bg-gray-50 rounded-l-sm">#</span>
      </div>
    </div>
  </div>
<% end %>
