<%= render "railsui/admin/field_layout" do %>

  <% content_for :explainer, flush: true do %>
    <%= heading text: "Color palette", id: "color_palette", tag: "h3", class: "font-semibold text-xl mb-3" %>
    <div class="prose prose-slate prose-sm">
      <p>Rails UI dynamically renders a <code>primary</code> and <code>secondary</code> theme. Your chosen them comes with defaults.</p>

      <p>On top of all the default <%= link_to "Tailwind CSS colors", "https://tailwindcss.com/docs/customizing-colors
", target: :_blank %> a two-tone color palette is at your displosal to modify here or manually.</p>
      <p>Once configured you can customize every color directly via your Tailwind CSS configuration file if you prefer that approach.</p>
      <p>If you modify manually be sure to update your <code>
          railsui.yml</code> config file with the new values to render the design system with the same color palette.</p>

    </div>
  <% end %>

  <% @theme_colors.each do |collection, colors| %>
    <h3 class="font-semibold mb-3"><%= collection.capitalize %> Colors</h3>
    <div class="grid grid-cols-11 gap-2 mb-8">

      <% colors.each do |shade, hex| %>
        <div class="color-item">
          <%= label_tag "#{collection}_#{shade}", "#{shade.capitalize} Color", class: "sr-only" %>

          <%= f.color_field :colors, value: @config.colors[collection][shade], name: "colors[#{collection}][#{shade}]", class: "rui-form-input-color" %>

          <div class="text-left mt-1 leading-none">
            <p class="text-sm font-semibold text-slate-800"><%= shade %></p>
            <code class="font-mono text-xs text-slate-600 selection:bg-indigo-500 selection:text-white"><%= hex %></code>
          </div>

        </div>
      <% end %>
    </div>
  <% end %>

<% end %>
