<ul class="grid grid-cols-2 md:grid-cols-3 gap-6 mb-16">
  <% Railsui::Default::THEMES.each do |key, theme| %>
    <li>
      <% theme_id = key.to_s %>

      <input type="radio" id="configuration_theme_<%= theme_id %>" value="<%= key %>" name="configuration[theme]" class="sr-only peer group" <% if theme_id == "hound" %>checked<% end %>>

      <label data-railsui-configuration-target="theme" for="configuration_theme_<%= theme_id %>" class="bg-white rounded-lg overflow-clip block border border-neutral-300 focus:ring-4 focus:ring-white transition duration-300 dark:bg-neutral-700 dark:border-neutral-600 hover:shadow-xl peer-checked:ring-4 peer-checked:ring-black relative peer-checked:before:content-['Selected']
      peer-checked:before:text-sm
      peer-checked:before:absolute
      peer-checked:before:top-0
      peer-checked:before:left-0
      peer-checked:before:bg-black/95
      dark:peer-checked:before:bg-amber-300
      dark:peer-checked:before:text-neutral-950
      dark:peer-checked:ring-amber-300
      peer-checked:before:backdrop-blur
      peer-checked:before:w-20 peer-checked:before:px-1 peer-checked:before:py-0.5 peer-checked:before:text-white peer-checked:before:font-medium
      peer-checked:before:rounded-br-lg
      peer-checked:before:transition
      peer-checked:before:animate-fade-in
      peer-checked:before:text-center">
        <%= image_tag theme[:thumbnail], alt: "#{theme[:name]} theme" %>
      </label>
      <div class="flex items-center justify-between mt-3">
        <p class="font-semibold text-base"><%= theme[:name] %></p>
        <%= link_to theme[:preview_link], target: :_blank, class: "rui-btn rui-btn-transparent" do %>
          <span class="sr-only">Preview</span>
          <%= icon "eye", class: "size-5 stroke-current text-neutral-500", title: "Preview theme" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
