<div class="border flex items-center justify-between rounded shadow-sm overflow-hidden bg-gradient-to-br from-white to-slate-50 dark:from-slate-700 dark:to-slate-900 dark:border-slate-600">
  <div class="flex-1">
    <div class="flex justify-center items-center">
      <div class="mr-3">
        <% if Railsui.bootstrap? %>
        <%= render_svg "bootstrap", styles: "fill-current text-indigo-800 dark:text-indigo-400 w-12 h-12" %>
        <% else %>
         <%= render_svg "tailwind", styles: "fill-current text-teal-500 w-12 h-12" %>
        <% end %>
      </div>

      <h4 class="font-semibold text-xl"><%= framework_name.humanize %></h4>
    </div>

    <div class="flex justify-center mt-3">
      <div class="bg-emerald-50 uppercase tracking-wide text-emerald-700 font-bold px-3 py-px rounded-full inline-flex items-center text-xs">
        <%= render_svg "paw", styles: "w-6 h-6 fill-current" %>
        <%= theme_name.humanize %>
      </div>
    </div>
  </div>
  <%= image_tag "#{framework_name.parameterize}-#{theme_name.parameterize}-thumbnail.jpg", class: "max-w-md mx-auto border-l dark:border-slate-500" %>
</div>
<%= f.hidden_field :theme, value: Railsui.config.theme %>
