<div class="hidden" data-configuration-target="frameworks">
  <div class="mt-6 pt-6 border-t">
    <% if Railsui.config.theme.present? %>
      <h3 class="font-bold text-2xl mb-3">Active theme</h3>
      <div class="border flex items-center h-16 rounded px-4 shadow-sm">
        <div class="flex items-center flex-1">
          <div class="mr-3">
            <%= render_svg "#{Railsui.config.css_framework}", styles: "fill-current text-indigo-800 w-10 h-10" %>
          </div>

          <h4 class="font-semibold text-lg"><%= Railsui.config.css_framework.humanize %></h4>
        </div>

        <div class="bg-emerald-50 uppercase tracking-wide text-emerald-700 font-bold rounded px-1 inline-flex items-center text-xs">
          <%= render_svg "paw", styles: "w-6 h-6 fill-current" %>
          <%= Railsui.config.theme.humanize %>
        </div>
      </div>
      <%= f.hidden_field :theme, value: Railsui.config.theme %>
    <% else %>
      <h3 class="font-bold text-2xl mb-3">Select a theme</h3>
      <div class="prose prose-sm prose-indigo mb-6">
        <p>A theme acts as a starting point for the design of the app.</p>

        <p>Each theme provides pre-designed static pages, scaffolded resources, UI components, layout patterns, partials, and more. If you choose "None" for your CSS framework selection, Rails UI generates some useful defaults.</p>
      </div>

      <% Railsui::Default::THEMES.each do |framework, themes| %>
        <% f = framework.to_s.parameterize %>

        <div class="mb-10 hidden" data-configuration-target="<%= f %>">
          <h4 class="font-bold text-xl mb-3"><%= f.humanize %></h4>
          <ul class="grid grid-cols-1 lg:grid-cols-2 max-w-3xl gap-6">
            <% themes.each do |theme| %>

              <li>
                <label for="configuration_theme_<%= theme.first %>" class="bg-gray-100 rounded-lg p-6 block" data-configuration-target="theme">
                  <input
                    type="radio"
                    id="configuration_theme_<%= theme.first %>"
                    value="<%= theme.first %>"
                    name="configuration[theme]">
                    <span class="ml-2"><%= theme.last.humanize %></span>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
