<div class="hidden" data-configuration-target="frameworks">
  <%= render "railsui/admin/field_layout" do %>
    <% content_for :explainer, flush: true do %>
      <%= heading text: "Theme", id: "theme", tag: "h3", class: "font-semibold text-xl mb-3" %>
      <% if Railsui.config.theme.present? %>
        <p class="text-slate-700 dark:text-slate-300 lg:text-sm text-base">Your active theme is <%= Railsui.config.theme.humanize %> which uses <%= Railsui.config.css_framework.humanize %>.

          <% if Railsui.bootstrap? %>All colors and theming conventions can be customized in the Bootstrap SCSS files.<% end %>

          <% if Railsui.tailwind? %>All colors and theming conventions can be customized inside the tailwind.config.js file.<% end %>
        </p>
      <% else %>
        <p class="text-slate-700 dark:text-slate-300 text-sm">Select a theme to base your application off of.</p>
      <% end %>
    <% end %>

    <div class="p-6 rounded-lg bg-white dark:bg-slate-800 border border-slate-200 shadow-sm dark:border-slate-700">
      <% if Railsui.config.theme.present? %>
        <%= render "railsui/admin/fields/theme_active", f: f %>
      <% else %>
        <%= render "railsui/admin/fields/theme_setup", f: f %>
      <% end %>
    </div>
  <% end %>
</div>
