<div class="md:flex items-start overflow-hidden border-b border-neutral-200/80 dark:border-neutral-700/80 gap-6">
  <div class="md:pt-16 pt-6 pb-6 md:pb-0 flex-1 md:block flex items-start justify-between">
    <div>
      <p class="text-neutral-500">Active template</p>
      <h3 class="font-bold md:text-2xl text-xl mb-4 tracking-tight"><%= theme_name.humanize %></h3>
    </div>

    <div class="mt-3">
      <% if Railsui::Default::THEMES.key?(theme_key) %>
        <%= link_to Railsui::Default::THEMES[theme_key][:preview_link], target: :_blank, class: "rui-btn rui-btn-white inline-flex items-center gap-2" do %>
          <span>Preview</span>
          <%= icon "arrow-up-right", class: "size-3 text-neutral-500" %>
        <% end %>
      <% else %>
        <p>Template not found.</p>
      <% end %>
    </div>
  </div>

  <%= image_tag "tailwind-#{theme_name.parameterize}-thumbnail.jpg", class: "md:max-w-[460px] h-[260px] object-cover object-top mx-auto  dark:border-neutral-500 w-full rounded-t-md mr-10 shadow-lg" %>
</div>

<%= f.hidden_field :theme, value: Railsui.config.theme %>

<%= render "railsui/admin/fields/color", f: f %>
